<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>CSDN问答社区</title>
        <meta name="author" content="CSDN" />
        <meta name="Copyright" content="CSDN" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link href="/favicon.ico" rel="SHORTCUT ICON" />
        <style type="text/css">
            .center{position:absolute; top:50%; left:50%; font-size:14px; text-align:left;}
            .center h2{margin:0 0 8px 0; font-family:Microsoft YaHei; font-size:20px;}
            .error_404{height:94px; margin:-47px 0 0 -100px; padding:30px 0 0 100px; background:url(/images/logo_404.png) no-repeat 0 0;}
            .error_500{height:94px; margin:-47px 0 0 -115px; padding:30px 0 0 126px; background:url(/images/logo_500.png) no-repeat 0 0;}
        </style>
    </head>
    <body>
        <div class="center error_404">
            <h2>你打开的页面不存在</h2>
            <p>你可以：<a href="/">返回首页</a></p>
        </div>
    </body>
</html>
