/* 正文页 */
.main{padding:0 15px;}
.mainl{width:565px; border-right:1px solid #e6e6e6; padding-top:30px;padding-bottom:40px; padding-left:15px;}
.mainr{ padding-top:30px;}
.article{width:535px;}
.article h2{ font-size:20px; font-weight:bold;}
.ar_source{margin-top:10px; height:22px; line-height:22px; padding-bottom:8px; border-bottom:1px solid #dedede;}
.ar_source span{float:left;color:#666666; }
.art_name{ padding-right:10px; border-right:1px solid #666666;}
.art_date{ padding:0 10px;}
.cont_num{ float:left;}
.cont_num em {float: left;width: 17px;height:22px; background:url(../images/cont_num.gif) 0 3px no-repeat;}
.cont_num span{float:left; padding-left:2px; color:#808080;}
.ar_source .bianjir {float:right;}
.bianjir a{float:left;width:31px;height:20px;padding:0;}
.bianjir_1{border-right:1px #cdcdcd solid;background:url(http://img.caijing.com.cn/tech2014/images/tech_ico.gif) -63px -126px no-repeat;} 
.bianjir_2{background:url(http://img.caijing.com.cn/tech2014/images/tech_ico.gif) -98px -126px no-repeat;} 
.bianjir_1:hover{background:url(http://img.caijing.com.cn/tech2014/images/tech_ico.gif) -133px -126px no-repeat;} 
.bianjir_2:hover{background:url(http://img.caijing.com.cn/tech2014/images/tech_ico.gif) -169px -126px no-repeat;}
#the_content{padding-top:25px;}
#the_content p{ color:#4c4c4c; line-height:22px; padding-bottom:25px;}
#the_content p img { margin:0 auto;}

/* 正文 */
.cjartShare{height:33px;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6; padding-left:10px;}
.ar_keywords{float:left; line-height:33px; height:33px;}
.ar_keywords span{float:left; color:#666666;}
.hmlist_bq{float:left; padding-top:5px;}
.hmlist_bq a{float:left;margin-right:3px;display:inline-block;height:21px;line-height:21px;padding:0 3px;background:#eeeef0; color:#4c4c4c;}
.hmlist_bq a:hover{background:#0069bf;color:#ffffff;text-decoration:none;}
.baidu_fx{float:right; padding-top:3px;}
.ar_about {padding-top:10px; padding-left:5px;}
.ar_about span{ font-size:14px; color:#4c4c4c;}
.ar_about ul{margin:15px 0;}
.ar_about ul li{padding-bottom:5px;}
.ar_about ul li a{color:#b10021;}

/* 评论 */
.hy{ padding:5px 0 8px 0;}
.hy span,.hy span a{color:#c10026;}
span.xzc{ float:right; color:#000; padding:4px 4px 0 0;}
span.xzc a{ color:#000;}
.inp12a{ font-size:12px; border:#999 1px solid; width:570px;}
.pfb{ text-align:right; padding:12px 0 10px 0;}
.pinp{ border:#999 1px solid; padding:1px 0 0 0; font-size:12px; width:130px; }
.pbut{ background:url(http://imghbr.caijing.com.cn/images/pl_c.gif) no-repeat 0 0; width:78px; height:31px; text-align:center; border:0; font-size:14px; line-height:16px; padding-top:3px;}
.pbut1{ background:url(http://imghbr.caijing.com.cn/images/pl_c1.gif) no-repeat 0 0; width:78px; height:31px; color:#7e7e7e; text-align:center; border:0; font-size:14px; line-height:16px; padding-top:3px;}
.pbuta{ background:url(http://imghbr.caijing.com.cn/images/pl_e.gif) no-repeat 0 0; width:34px; height:21px; text-align:center; border:0; font-size:12px;line-height:15px; padding-top:1px;}
.pbutb{ background:url(http://imghbr.caijing.com.cn/images/pl_f.gif) no-repeat 0 0; width:62px; height:22px; text-align:center; border:0; font-size:12px;line-height:16px; padding-top:1px;}
.conav{ border-bottom:#d1d1d1 1px dotted; color:#999; padding:0 0 4px 0;}
.conav a{ color:#666;}
.p8x8{ padding:8px 0 8px 0}
.hy strong{ float:right; font-weight:normal;}
.cob{ border-bottom:#d1d1d1 1px dotted;}
.coym{ border-bottom:#d1d1d1 1px dotted;  text-align:right; padding:8px 0 30px 0;}
h2.contit{font:normal 18px/18px 黑体; padding:22px 0 20px 0; color:#808080}
.hy a{color: #1c1718;}
.tita{border-top:#252324 3px solid; margin-top:10px; padding-top:5px;}
.tita h3{font-size:14px; color:#231f20;}


.com_change{ position:relative; height:29px; margin:14px 0 0; border-bottom:1px solid #a6a6a6;}
.com_change .changetabs { position:absolute; left:9px; top:0;}
.com_change .changetabs li{ position:relative; z-index:1;float:left; height:27px; line-height:26px; color:#404040; border-width:2px 1px 0 1px;border-color:#a6a6a6; border-style:solid;margin-left:-1px; background:#f2f2f2;}
.com_change .changetabs li a{display:block;padding:0 8px; color:#404040; text-decoration:none;}
.com_change .changetabs li a:hover,.com_change .changetabs li.on a{ color:#004081; text-decoration:none;}
.com_change .changetabs li.on{ height:28px; z-index:2;color:#004081; border-color:#486d92 #486d92 #fff #486d92; border-style:solid; border-width:2px 1px 0 1px; background:#fff; font-weight:bold;}
.com_change .changetabs li .tab_sina,.com_change .changetabs li .tab_tencent{width:16px; height:16px; margin-right:5px;background: url("../timage/global.png") no-repeat -228px -870px;}
.com_change .changetabs li .tab_sina{background-position:-228px -870px;}
.com_change .changetabs li .tab_tencent{background-position:-254px -870px;}
.com_change .page{ margin-top:5px;}


/*评论*/
.article-comment .title-head p {
  float: right;
  _display: inline;
  line-height: 30px;
  margin-right: 9px;
}
.article-comment .title-head p span {
  color: #c00;
  font-weight: bold;
  padding: 0 2px;
}
/*模块模块*/
.comment-hot-all .page {
  margin-right: 20px;
}
.comment-list .comment-item {
  padding-bottom: 10px;
  border-bottom: 1px dashed #cccccc;
}
.comment-list .comment-info {
  overflow: hidden;
  _zoom: 1;
  margin-top: 5px;
  line-height: 34px;
}
.comment-list .comment-content .cont {
  line-height: 24px;
  color:#aa0226;
}
.comment-list .username {
  float: left;
  _display: inline;
  color: #333333;
}
.comment-list .username img {
  margin: 0 4px;
  vertical-align: middle;
}
.comment-list .postime,
.comment-list .floor-nums {
  float: right;
  _display: inline;
  color: #666666;
}
.comment-list .operate {
  height: 14px;
  margin: 5px 0 0 0;
  text-align: right;
}
.comment-list .operate .in_a {
  margin-left: 15px; color:#666666;
}
.comment-list .operate .in_a .arrow {
  background: transparent url('images/sprite-ico.png') no-repeat -170px -22px;
  padding: 4px;
}
.comment-list .operate .in_a .nums {
  color: #c00;
}
.comment-list .comment-item-inner {
  background-color: #f3f3f3;
  margin: 5px 0 10px;
  padding: 0 10px 6px 10px;
  border: 1px solid #dedede;
}
.comment-list .comment-item-inner .comment-content .cont {
  line-height: 20px;
  color:#aa0226;
}
.comment-list .comment-item-inner .comment-info {
  line-height: 24px;
}
.comment-list .comment-item-inner .operate {
  margin-top: 5px;
}
/* 底部分页 */
.page-bottom {
  margin: 20px 0 0px 0;
}
/*评论登陆和提交*/
.comment-form {
  background-color: #f4f4f4;
  margin-top: 20px;
}
.comment-form .c-inner {
  padding: 20px 30px 10px 30px;
  border-top: 1px solid #ddd;
}
.comment-form .textarea-wrap {
  position: relative;
  border: 1px solid #d6d6d6;
  resize: none;
}
.comment-form .textarea-wrap .textarea {
  width: 575px;
  padding: 5px;
  height: 150px;
  border: none;
  background-color: #fff;
  overflow: hidden;
  zoom:1;
  resize: none;
}
.comment-form .textarea-wrap .login-warn {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 150px;
  top: 0;
  left: 0;
  color: #666;
}
.comment-form .textarea-wrap .login-warn .info {
  line-height: 150px;
  text-align: center;
}
.comment-form .btn-post {
  width: 63px;
  height: 22px;
  line-height: 18px;
  background: transparent url(images/post.png);
  color: #ffffff;
  border: none;
  float: right;
  _display: inline;
  margin-top: 10px;
  cursor: pointer;
}
.comment-form .btn-post:hover {
  color: #ff0;
}
.comment-form .loginform-user-info {
  margin-top: 10px;
  height: 26px;
  line-height: 22px;
  float: left;
  color: #333;
  width: 510px;
  overflow: hidden;
  zoom:1;
}
.loginform-user-info .username-area {
  float: left;
  _display: inline;
}
.loginform-user-info .seccode-area {
  _display: inline;
  float: right;
}
.loginform-user-info .share-area {
  _display: inline;
  float: right;
  margin-left: 6px;
}

.loginform-user-info .share-area img {
  vertical-align: middle;
}
.seccode-area img {
  vertical-align: middle;
}
.comment-form .loginform-user-info a {
  color: #333;
}
.comment-form .loginform-user-info a:hover {
  color: #c00;
}
.comment-form .loginform-user-info span {
  color: #333;
}

.comment-checking {
  padding: 6px;
  border-width: 1px;
  border-color: #cccccc;
  margin-bottom: 10px;
}

.comment-checking div, .comment-checking span {
  color: #999;
}

.comment-checking legend {
  color: #FF0000;
}

.comment-postweibo {
  cursor: pointer;
  vertical-align: middle;
  margin: 0 4px;
}

.repost-btn,.repost-btn-checked {
  position: relative;
  cursor: pointer;
}

.repost-btn-checked .tick {
  position: absolute;
  width: 11px;
  height: 11px;
  bottom: 0;
  right: 0;
  background: url(../../../apps/comment/images/ico_selected.png);
}

.seccode-area label {
  float: left;
  margin: 0 3px;
}

.label-anonymous {
  margin-left: 12px;
}