a:hover {
  color: #c00;
}
.hr40 {
  height: 40px;
}
.hr20 {
  height: 20px;
}
/* 整体布局 */
.article .column-aside {
  width: 300px;
  float: right;
  _display: inline;
}
.article .column-main {
  width: 650px;
  float: left;
  _display: inline;
}
.article .column-aside {
  width: 300px;
  float: right;
  _display: inline;
}
.article .column-main {
  width: 650px;
  float: left;
  _display: inline;
}
.article .article-main {
  width: 648px;
  border: 1px solid #c8e1f2;
  width: 648px;
  border: 1px solid #c8e1f2;
  border-top-width: 2px;
}
.article .article-main .inner {
  padding: 10px 20px 0 20px;
}

.article .article-main em{
  font-style: italic;
}
/*面包屑*/
.crumb {
  margin: 9px 0;
}
.crumb em {
  padding: 0 4px;
  font-family: SimSun;
}
.crumb a:hover {
  color: #cc0000;
}
.crumb span {
  color: #444444;
}
.article-main .inner {
  background-color: #f8fbfc;
}
.article-main .article-title {
  font-family: Microsoft YaHei, SimHei, Arial;
  font-size: 22px;
  color: #000;
}
.article-main .article-subtitle {
    font-family: Microsoft YaHei, SimHei, Arial;
    font-size: 16px;
    color: #666;
    margin: 10px 0 0;
}
.article-main .describe {
  border: 1px solid #eee;
  background-color: #ffffff;
  padding: 9px;
  line-height: 24px;
  font-size: 14px;
  color: #555;
  text-indent: 2em;
  margin-bottom: 20px;
}
.article-main .article-infos {
  padding: 14px 0 20px;
  color: #666666;
}
.article-main .article-infos a {
  color: #666666;
}
.article-main .article-infos a:hover {
  color: #c00;
}
.article-main .article-infos a span {
  color: #cc0000;
  padding-left: 3px;
}
/* 文章相关信息 */
.article-infos {
  position: relative;
  /*字号控制按钮*/

}
.article-infos .date,
.article-infos .source,
.article-infos .editors {
  margin-right: 24px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 11px;
}
.article-infos .source {
  font-size: 12px;
}
.source a {
  font-size: 12px;
}
.article-infos .editors {
  font-size: 12px;
}
.editor {
  text-align: right;
  background-color: #F8FBFC;
  line-height: 30px;
  color: #999;
}
.editor span {
  font-size: 12px;
  padding-right: 8px;
  color: #666;
}
.article-infos .fontsize {
  position: absolute;
  width: 70px;
  left: 534px;
  top: 14px;
}

.scan-handset .scan-icon {
    background-position: 0 0;
    display: block;
    line-height: 14px;
    margin: 6px auto 0 0;
    padding-left: 18px;
}
.scan-icon, .scan-layer-close a {
    background: url("images/scan_icon.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.scan-layer .scan-pic {
    display: inline;
    float: left;
    padding: 4px;
    background-color: #94C5E5;
}

.scan-img {
    width:132px;
    height:132px;
    background-color: #fff;
}
.scan-layer .scan-pic img {
    margin:5px;
}
.scan-layer {
    height: 155px;
    left: 367px;
    display:none;
    position: absolute;
    top: 32px;
    width: 150px;
    z-index:100;
}

.dropdialog-arrow {
    background: url("images/dropdialog-arrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 6px;
    left: 33%;
    position: relative;
    top: 0;
    width: 11px;
}

.article-infos .scan-handset {
    position: absolute;
    width: 110px;
    left: 414px;
    top: 10px;
}
.article-infos .fontsize .small,
.article-infos .fontsize .big {
  width: 13px;
  height: 11px;
  position: absolute;
  cursor: pointer;
}
.article-infos .fontsize .small {
  font-size: 12px;
  right: 20px;
  top: 4px;
  background: transparent url('images/sprite-ico.png') no-repeat -200px 0;
}

.article-infos .fontsize .big {
  top: 2px;
  font-size: 18px;
  right: 0px;
  background: transparent url('images/sprite-ico.png') no-repeat -220px 0;
}
.article-infos .fontsize .sactive {
  background-position: -150px 0;
}
.article-infos .fontsize .bactive {
  background-position: -170px 0;
}
/* 文章内容 */
.article-content p {
  margin-bottom: 14px;
  text-indent: 2em;
  color: #333333;
  line-height: 1.7;
}
.article-content .mcePageBreak {
    display: none;
}
.article-content a {
  color: #0B3B8C;
}
.article-content a:hover {
  color: #c00;
}
.fontSizeSmall p{
  font-size: 14px;
}
.fontSizeBig p{
  font-size: 16px;
}
.rel-news span {
  color: #666;
}
.article-content .mcePageBreak {
  font-size: 16px;
  font-weight: bold;
  color: #0B3B8C;
}
/*延伸阅读*/
#moreread {
  overflow: hidden;
  _zoom: 1;
  padding-bottom: 15px;
}
#moreread ul li {
  line-height: 28px;
}
#moreread ul li a {
  font-size: 14px;
}
#moreread ul li a:hover {
  color: #c00;
}
#moreread h3,#vote dl dt {
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 7px;
  font-weight: bold;
  color: #333;
}
/*挂件-投票*/
#vote {
  font-size: 14px;
  line-height: 24px;
}
#vote dd,
.widget-vote .btnarea {
  clear: both;
}
#vote dd {
  padding-bottom: 4px;
  overflow: hidden;
  _zoom: 1;
}
#vote label {
  float: left;
  _display: inline;
  margin-right: 4px;
  padding-top: 3px;
}
#vote input {
  margin-right: 3px;
}
#vote .submit {
  background: transparent url(images/vote-submit-btn.png) no-repeat;
  width: 50px;
  height: 24px;
  line-height: 20px;
  color: #fff;
  border: none;
}
/* 分页 */
.article-page .page {
  margin: 0 auto;
}
.article-page .page a,
.article-page .page span {
  padding: 2px 7px;
  margin: 0 4px;
  font-size: 12px;
}
.article-page .page ._now {
  background-color: #2266bb;
  color: #ffffff;
  border-color: #2266bb;
}
.article-page .page a {
  border: 1px solid #cccccc;
  float: left;
  _display: inline;
  height: 17px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.article-page .page a:hover {
  background-color: #2266bb;
  color: #ffffff;
  border-color: #2266bb;
}
.article-page .page .disable {
  color: #cccccc;
}
.article-page .page .disable:hover {
  background-color: transparent;
  border: 1px solid #cccccc;
  color: #cccccc;
}
.article-page .page .now {
  background-color: #2266bb;
  color: #ffffff;
  border-color: #2266bb;
}
.article-page .read-btn .btn,
.article-page .read-btn .btn span {
  background-image: url(images/btn.png);
  color: #ffffff;
}
.article-page .read-btn .btn {
  cursor: pointer;
}
.article-page .read-btn .btn-s-orange {
  height: 24px;
  background-position: -201px -245px;
  padding-left: 4px;
  float: left;
  _display: inline;
  margin-left: 10px;
}
.article-page .read-btn .btn-s-orange span {
  height: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  background-position: right -85px;
  padding-right: 4px;
  padding-left: 2px;
  float: left;
  _display: inline;
}
.article-page .read-btn .btn-s-orange span {
  padding-left: 3px;
  padding-right: 5px;
}
.article-page .read-btn a {
  padding: 0;
  border: none;
}
.article-page .read-btn a:hover {
  background-color: transparent;
}
.article-page .read-btn a:hover span {
  color: #ff0;
}
.article-page .read-btn a span {
  margin: 0;
  padding-top: 0;
}
/*分页导航*/
.article-menu {
  border: 1px solid #ddd;
  overflow: hidden;
  _zoom: 1;
}
.article-menu .m-head {
  height: 30px;
  background: transparent url(images/article-menu-bar.jpg) repeat-x 0 0;
}
.article-menu .m-head .title {
  height: 29px;
  width: 92px;
  margin: 0 auto;
  font-weight: bold;
  color: #666;
  font-size: 14px;
  line-height: 29px;
}
.article-menu .menu {
  background-color: #ffffff;
  padding: 9px;
  overflow: hidden;
  _zoom: 1;
}
.article-menu .menu li {
  width: 50%;
  line-height: 24px;
  height:24px;
  float: left;
  _display: inline;
  overflow: hidden;
  zoom:1;
}
.article-menu .menu li span {
  margin-left: 11px;
  color: #333333;
}
.article-menu .menu li a:hover {
  color: #cc0000;
}
.article-menu .menu li.now-tit a{
  color: #c00;
}
/* 文章-专栏作家 */
.article-author .thumb {
  float: left;
  _display: inline;
  margin-right: 9px;
}
.article-author .title {
  font-size: 12px;
}
.article-author .summary {
  line-height: 18px;
  height: 60px;
  overflow: hidden;
  _zoom: 1;
  margin-top: 4px;
  font-size: 12px;
}
.article-author ._inner {
  overflow: hidden;
  _zoom: 1;
  background-color: #ffffff;
  padding: 10px;
}
.article-author .author {
  overflow: hidden;
  _zoom: 1;
  width: 310px;
  float: left;
  _display: inline;
}
.article-author .author .thumb {
  width: 80px;
  height: 80px;
  background: transparent url(images/author-photo.png);
}
.article-author .author .title {
  font-weight: bold;
}
.article-author .author span {
  color: #999999;
}
.article-author .author .summary {
  color: #666666;
  margin-top: 9px;
}
.article-author .author-list {
  overflow: hidden;
  _zoom: 1;
  float: right;
  _display: inline;
  width: 250px;
}
.article-author .author-list .item {
  height: 26px;
  overflow: hidden;
  _zoom: 1;
}
.article-author .author-list .item .title {
  line-height: 24px;
  color: #0B3B8C;
  font-size: 12px;
}
.article-author .author-list .item .title:hover {
  color: #cc0000;
}
.article-author .author-list .item .date {
  color: #cccccc;
  margin-left: 6px;
}
.article-author .author-list .ico {
  float: left;
  _display: inline;
  text-align: center;
  width: 14px;
  height: 24px;
  margin-right: 6px;
  background: transparent url('images/sprite-ico.png') no-repeat 4px -152px;
  color: #fff;
}
.article-author .author-list .n1,
.article-author .author-list .n2,
.article-author .author-list .n3 {
  background-position: 0 0;
}
.article-author .author-list .ico {
  margin-right: 0;
  margin-top: 4px;
}
.ie6 .article-author .ie6inner {
  overflow: hidden;
  _zoom: 1;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  padding: 10px;
}

/*心情*/
.article-mood ._inner {
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px 5px;
  background-color: #ffffff;
  overflow: hidden;
  _zoom: 1;
}
.article-mood .item {
  position: relative;
  text-align: center;
  line-height: 24px;
  width: 40px;
  display: inline-block;
  +display: inline;
  _display: inline;
  zoom: 1;
  margin: 0 24px;
}
.article-mood .mood-plus{
  position: absolute;
  font-weight: bold;
  color: #f30;
  font-family:Arial, Helvetica, sans-serif;
}
.article-mood .item .progress {
  position: relative;
  width: 20px;
  height: 100px;
  background: transparent url(images/mood-progress.png);
  margin: 0 auto;
  text-align: left;
}
.article-mood .item .progress .per {
  width: 18px;
  background: #cc0000 url(images/mood-ico.png) 0 0;
  position: absolute;
  bottom: 0;
  text-align: left;
}
.article-mood .item .progress .bdper {
  border: 1px solid #f30;
}
.article-mood ul.ov {
  text-align: center;
}
/*分享与复制*/
.copy-share {
  padding: 10px 0;
  background-color: #f8fbfc;
  overflow: hidden;
  _zoom: 1;
}
.copy-share .copy {
  float: left;
  _display: inline;
  margin-left: 9px;
  margin-top: 5px;
}
.copy-share .copy .c-ico,
.copy-share .copy .t-ico,
.copy-share .copy .s-ico {
  background: transparent url('images/sprite-ico.png') no-repeat;
  color: #333333;
  padding-left: 18px;
  float: left;
  _display: inline;
  margin-right: 14px;
}
.copy-share .copy .c-ico:hover,
.copy-share .copy .t-ico:hover,
.copy-share .copy .s-ico:hover {
  color: #c00;
}
.copy-share .copy .c-ico {
  background-position: -60px -70px;
}
.copy-share .copy .t-ico {
  background-position: -60px -120px;
}
.copy-share .copy .s-ico {
  background-position: -283px -186px;
}
.copy-share .agree {
  background: transparent url(images/agree.png);
  width: 80px;
  height: 24px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  display: block;
  color: #333333;
}
.copy-share .share {
  float: right;
  _display: inline;
  margin-right: 9px;
  margin-top: 5px;
  overflow: hidden;
  _zoom:1;
}

.copy-share .share .bshare-custom{
  float: left;
}
.basehr {
  height: 9px;
}
.copy-share {
  padding-top: 6px;
}
/*今日推荐*/
.mod-list .list .item {
  height: 24px;
  overflow: hidden;
  _zoom: 1;
}
.mod-list .list .item .title {
  line-height: 24px;
  color: #333333;
  font-size: 12px;
}
.mod-list .list .item .title:hover {
  color: #cc0000;
}
.mod-list .list .item .date {
  color: #cccccc;
  margin-left: 6px;
}
.mod-list .list .ico {
  float: left;
  _display: inline;
  text-align: center;
  width: 14px;
  height: 24px;
  margin-right: 6px;
  background: transparent url('images/sprite-ico.png') no-repeat 4px -152px;
  color: #ffffff;
}
.mod-list .list .n1,
.mod-list .list .n2,
.mod-list .list .n3 {
  background-position: 0 0;
}
.mod-list .list .ico {
  margin-top: 3px;
  margin-right: 2px;
}
.mod-list .list-rank .ico {
  float: left;
  _display: inline;
  text-align: center;
  width: 14px;
  height: 24px;
  margin-right: 6px;
  background: transparent url('images/sprite-ico.png') no-repeat -280px -118px;
  color: #ffffff;
}
.mod-list .list-rank .n1,
.mod-list .list-rank .n2,
.mod-list .list-rank .n3 {
  background-position: -280px -69px;
}
.mod-list .list-rank .ico {
  line-height: 16px;
  margin-top: 4px;
  margin-right: 9px;
}
.mod-list .tab-head {
  float: right;
  _display: inline;
}
.mod-list .tab-head li {
  float: left;
  _display: inline;
}
.mod-list .tab-head li a {
  float: left;
  _display: inline;
  color: #333;
  line-height: 30px;
  height: 30px;
  padding: 0 10px;
  border-left: 1px solid #ddd;
}
.mod-list .tab-head li .tabactive {
  background-color: #FFF;
}
/*推荐视频、推荐图片、新闻排行*/
.mod-imglist .m-main {
  overflow: hidden;
  _zoom: 1;
}
.mod-imglist .v-pic {
  width: 120px;
  margin-right: 9px;
  float: left;
  _display: inline;
  margin: 0 10px;
}
.mod-imglist .v-pic .title {
  height: 44px;
  line-height: 20px;
  margin-top: 4px;
  overflow: hidden;
  _zoom: 1;
}
.mod-imglist .v-pic .title a {
  color: #333333;
  font-size: 12px;
}
.mod-imglist .v-pic .title a:hover {
  color: #cc0000;
}
.mod-imglist .v-pic .thumb {
  position: relative;
}
.mod-imglist .v-pic .thumb .opa,
.mod-imglist .v-pic .thumb .ico,
.mod-imglist .v-pic .thumb .info {
  position: absolute;
}
.mod-imglist .v-pic .thumb .opa {
  height: 20px;
  background-color: #000;
  bottom: 0;
  width: 100%;
  opacity: .5;
  filter: alpha(opacity=50);
}
.mod-imglist .v-pic .thumb .ico {
  background: transparent url('images/sprite-ico.png') no-repeat -108px -169px;
  width: 16px;
  height: 13px;
  bottom: 4px;
  left: 4px;
}
.mod-imglist .v-pic .thumb .info {
  color: #fff;
  bottom: 3px;
  right: 5px;
  font-size: 12px;
}
.mod-imglist .h-pic .thumb {
  float: left;
  _display: inline;
  margin-right: 9px;
}
.mod-imglist .h-pic .title {
  font-size: 16px;
}
.mod-imglist .h-pic .summary {
  line-height: 20px;
  height: 60px;
  overflow: hidden;
  _zoom: 1;
  margin-top: 4px;
  font-size: 14px;
}
.mod-imglist .h-pic .title {
  font-weight: bold;
}
.mod-imglist .h-pic .title:hover {
  color: #c00;
}
.ie6 .mod-imglist .v-pic .thumb {
  height: 90px;
}
.ie6 .comment-video .v-pic .thumb {
  height: 77px;
}
/*内容中图片缩放*/
.article-content img{
/*   width: 500px;
  visibility: hidden;
  opacity:0; */
  /*fliter:alpha(opacity=0);*/
}
.image_zoom {
  border: 10px solid #ededed;
  border-radius: 4px;
  position: absolute;
}
.out_cursor {
  cursor: url(cursor/zoomout.cur);
}
.in_cursor {
  cursor: url(cursor/zoomin.cur);
}
.view-origin{
  font-size: 12px;
}
.view-origin:hover{
  color: #c00;
}
/*@end 内容中图片缩放*/

/*相关阅读*/
.rel-news .hd {
  line-height: 20px;
  font-size: 14px;
  padding-bottom: 5px;
}
.rel-news .hd a {
  margin-right: 3px;
  color: #0B3B8C;
}
.rel-news .hd a:hover {
  color: #c00;
}
.rel-news .hd strong {
  float: left;
  _display: inline;
  color: #666;
}
.rel-news .list .item {
  height: 28px;
  overflow: hidden;
  _zoom: 1;
}
.rel-news .list .item .title {
  line-height: 24px;
  color: #0B3B8C;
  font-size: 14px;
}
.rel-news .list .item .title:hover {
  color: #cc0000;
}
.rel-news .list .item .date {
  color: #999;
  margin-left: 6px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 9px;
}
.rel-news .list .ico {
  float: left;
  _display: inline;
  text-align: center;
  width: 14px;
  height: 24px;
  margin-right: 6px;
  background: transparent url('images/sprite-ico.png') no-repeat 4px -148px;
  color: #ffffff;
}
.rel-news .list .n1,
.rel-news .list .n2,
.rel-news .list .n3 {
  background-position: 0 0;
}
.rel-news .list .ico {
  margin-right: 0;
  margin-top: 0px;
}
.rel-news .rel-title {
  float: left;
}
.rel-news .keywords {
  float: right;
}

.topblank {
  margin-top: 20px;
}

.bshare-image2share span img {
    opacity: 100;
    visibility: visible;
    width: auto;
}