.loginform-left-box {width: 216px; padding:0 32px 12px 12px; font-size:14px; border-right:1px #e3e3e3 dashed;float:left;}
.loginform-login-title {background:url('images/loginform/login-title.png'); width:184px; height:26px; margin:10px 6px;}
.loginform-login-error {width: 206px;height: 26px; line-height:24px; top:8px; left:12px;padding-left:26px; position: absolute;border:1px #ffa586 solid; background:url("images/loginform/warnimg.png") no-repeat scroll 10px 5px #FFF7C2}
.loginform-left-box td {line-height:32px;}
.loginform-login-input-text { width: 150px; padding: 0 5px; height: 24px; font-size: 14px;vertical-align:middle; border: 1px solid #c9c9c9 }
.loginform-login-btn {background:url('images/loginform/btn-bg.png'); width:60px; height:24px; border:#CCC 1px solid;}
.loginform-remember {font-size:12px;}
.loginform-img_mar {vertical-align:middle;}
.loginform-ch-yzm {font-size:12px;}

.loginform-bottom-box {width:360px; min-height:40px; line-height:40px; background:#f4f4f4; padding:0 12px; position: absolute;bottom: 0; left: 0; vertical-align:middle;}
.loginform-bottom-box {_height:40px;}
.loginform-bottom-box span {vertical-align:middle;}
.loginform-bottom-box .loginform-bottom-text {float:left;padding-right:6px;}
.loginform-bottom-box .loginform-bottom-imgbox {_display: block;*font-size: 35px;font-family:Arial; padding:0 2px;}
.loginform-bottom-box img {vertical-align:middle;}

.loginform-right-box {float:left; padding: 60px 14px;}
.loginform-forgetpass {display:block;padding:8px;}
.loginform-register {background:url('images/loginform/register.png'); width:90px; height:30px;}