html{overflow-y:scroll;}body{margin:0;padding:0;font:12px/1.5 '微软雅黑',Arial,sans-serif;position:relative;}div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0;margin:0;}table,td,tr,th{font-size:12px;}ol,ul{list-style:none;}li{list-style-type:none;}img{vertical-align:top;border:0;}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:normal;}address,cite,code,em,th,i{font-weight:normal;font-style:normal;}.hx a,.hx em,.fB{font-weight:bold;}.clearfix{*zoom:1}.clearfix:after{content:'';display:table;clear:both}a{text-decoration:none;}input{ outline:none;}

/**/
body{ background:#E7E7E7;}
#content,#top,#header,#head_logo,.indexm,.footer{ clear:both; overflow:hidden;}
#header,#top .top,#head_logo,.footer{ width:940px; margin:0px auto 0px;}

/*940*/
#top{ height:37px; margin:0px auto 0px; width:100%; background:#323030;}
#top .top{ height:37px;}
#top .top a{ display:inline-block; border-right:1px solid #2D2B2B; font:normal 14px/37px Arial, Helvetica, sans-serif,"微软雅黑"; color:#fff; padding-left:20px; padding-right:20px;font-family:'Microsoft YaHei';}
#top .top a:hover{ background:#2b2a2a;}


/*广告*/
#header .hd_ad{ text-align:center; margin:0px auto 0; clear:both; padding-top:10px; padding-bottom:10px;}

/**/
#content{ margin:0px auto 0px; background:url(../images/bg.jpg) center top repeat-y; width:100%; overflow:visible}
#header{ padding-bottom:10px; overflow:visible}
#head_logo{ overflow:visible; border-top:6px solid #2C2527; height:85px;}
#head_logo dd{ padding:0 0 0 18px; float:left;}
#head_logo dd a{ display:block; background:url(../images/logo.jpg) no-repeat; width:280px; overflow:hidden; height:83px;}
#head_logo dd a h1{ display:block; text-indent:-100em; height:83px; line-height:83px;}
#head_logo dt{ padding:10px 10px 0 0; float:right;}

.topshare{ clear:both; text-align:right;}
.topshare i{ background:url(../images/share.png) no-repeat; width:16px; height:16px; position:relative; display:inline-block; margin-left:5px; margin-right:2px; cursor:pointer;}
.topshare .in{ background-position:0px 0px;}
.topshare .wx{ background-position:-23px 0px;}
.topshare .sina{ background-position:-46px 0px;}
.topshare .qqwb{ background-position:-69px 0px;}

.topshare .wx .eb{ display:none; width:134px; height:140px; background:url(../images/eb.png) no-repeat; position:absolute; top:18px; left:-59px;}

.topsearch{ clear:both; padding-top:18px; overflow:hidden;}
.topsearch input{ vertical-align:middle; font:normal 12px '';}
.topsearch .seachtxt{ margin-right:5px; width:195px; padding-left:5px; height:19px; border:1px solid #ACAFB5;}
.topsearch .seachbtn{}
.nav{ height:35px; background:#323030; box-shadow:0px 5px 5px #999;}
.nav a{ display:inline-block; height:35px; font:normal 16px/35px ''; color:#fff; margin-left:75px; margin-right:30px;font-family:'Microsoft YaHei';}
.nav a:hover{ color:#c3c2c2;}

/**/
.footer{ margin-top:5px;font-family:'Microsoft YaHei';}
.footer dt{ float:left; padding:20px 10px 30px 0px;}
.footer dd{ float:left; padding:14px 0 30px 16px; color:#929292;}
.footer dd a{ color:#1a1a1a; font:normal 14px '';font-family:'Microsoft YaHei';}
.footer dd p{ line-height:20px; clear:both; display:block;font-family:'Microsoft YaHei';}