#douban_ra {color:#333;font-size:12px; text-align:left; margin:30px 0}
#douban_ra li img {width:121px; border:0}
#douban_ra li a {background:none; color:#eee; text-decoration:none}
#douban_ra li a:hover{color:#fff}
#douban_ra li {padding:0; list-style:none; height:121px; overflow:hidden;position:relative; margin: 15px 0}
#douban_ra .overimg_back1,
#douban_ra .overimg_word1,
#douban_ra .overimg_back2,
#douban_ra .overimg_word2 {position:absolute; width:121px; height:20px; top: 101px; left:0}

#douban_ra .overimg_back1,
#douban_ra .overimg_back2 {background: #000; opacity:0.5; filter:alpha(opacity=50)}

#douban_ra .overimg_title {line-height:15px; font-size:12px; width:115px; margin:3px; overflow:hidden}

#douban_ra .overimg_back1, 
#douban_ra .overimg_word1 {top:0}

#douban_ra .dbbottom {background:url(/pics/greyline.gif) no-repeat top right; text-align:right; width:121px}
#douban_ra .dbbottom a {color:#777}
#douban_ra .dbbottom a:hover {color:#333;background:none}
