
/*body{_background-image:url(about:blank);_background-attachment:fixed;}*/
html{_background-image:url(about:blank);_background-attachment:fixed;}
#hx_share20110711 { position:fixed;left:-202px;top:200px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+200)+'px'); z-index:100000;}
#share_panel0711 {float:left; width:190px; border:1px solid #81060E; background:#FFF;padding:5px; height:104px; overflow:hidden;}
#share_panel0711 div { width:190px; height:104px; overflow:hidden;}
#share_panel0711 ul {margin:0; padding:0;}
#share_panel0711 ul li {margin:0; padding:0; list-style:none;font-size:12px;width:95px; float:left;height: auto;}
#share_panel0711 ul li a { display:block; width:68px; border:1px solid #FFF; height:18px; padding-top:6px;padding-left:25px; background-image:url(http://img.hexun.com/share/share_icon2.gif); background-repeat:no-repeat; text-decoration:none; color:#666;line-height:normal;}
#share_panel0711 ul li a:hover {border:1px solid #E5E5E5; background-color:#F2F2F2;}
#share_panel0711 ul li a.hx0711 { background-position:5px 0;}
#share_panel0711 ul li a.sh0711 { background-position:5px -22px;}
#share_panel0711 ul li a.sina0711 { background-position:5px -44px;}
#share_panel0711 ul li a.rr0711 { background-position:5px -66px;}
#share_panel0711 ul li a.qqwb0711 { background-position:5px -88px;}
#share_panel0711 ul li a.db0711 { background-position:5px -110px;}
#share_panel0711 ul li a.kx0711 { background-position:5px -132px;}
#share_panel0711 ul li a.sj0711 { background-position:5px -154px;}
#share_panel0711 ul li a.qqkj0711 { background-position:5px -178px;}
#share_opt0711 { float:left; width:21px; padding-top:20px;}
#share_opt0711 span { display:block;width:21px;height:77px; background:url(http://img.hexun.com/share/share_opt_2.gif?v2) no-repeat 0 -234px; cursor:pointer; float:left;}
#share_opt0711 span.open{ background-position:0 -156px;}


