/* CSS Document */

body{background:#E6EEFC url(../images/001/bg.gif) repeat-x!important;}
.f999{color:#999;}.sbluetxt{color:#A2B1CD;}.bluetxt{color:#0B42A6;}.black{color:#000;}
a.a6a7fa4{color:#6A7FA4;}

a{color:#0B42A6;}

.nav{color:#C0D1ED;}
.nav a{color:#0B42A6;}
#homepop{background:url(../images/001/myindex2.gif) no-repeat left center;}

.titbg{width:800px;height:170px;background:url(../images/001/titbg.jpg) no-repeat;}
.titbg h1{color:#0B42A6;padding:44px 0 0 25px;}
.titbg h2{color:#0B42A6;}.titbg h2 a{color:#0B42A6;}

.main{width:800px;margin:0 auto;}
.main .mainL{float:left;width:550px;padding:0 25px;_overflow:hidden;}
.mainR{float:right;overflow:hidden;width:199px;padding:1px 1px 1px 0;}
.settingL,.friendsL{float:left;overflow:hidden;width:572px;padding:19px 14px 0 14px;overflow:hidden;}
.endcomment .endtex1,.main .mainL .fxiang .inp1{background:#f3f3f3 url(../images/001/inpbg1.gif) repeat-x;border:1px solid #cacaca;}

.marketbg, .stocodbg{top:310px;}

.main .mainL,.main .mainR{margin-top:0px;}

.mainbg{background:url(../images/001/mainbg.gif) repeat-y;}
.main .mainL{background:url(../images/001/maintop.gif) no-repeat left top;}
.main .mainR{background:url(../images/001/maintop.gif) no-repeat right top;}

.main .mainL .fxiang{color:#999;background:url(../images/001/maintopzi.gif) no-repeat 0 21px;}
.main .mainL .fxiang h2 strong{font-family:Constantia,Georgia;font-size:30px;font-weight:normal;color:#666;}

.ins_img{color:#0B42A6;}

.wapL{float:left;overflow:hidden;padding:0 25px 25px 25px;width:550px;font-family:Arial;}
.wapR{float:right;overflow:hidden;width:182px;padding:1px 1px 1px 17px;}

/*icon.gif*/
.main .mainL .fxiang .btn1{border:none;background:url(../images/001/icon.gif) repeat-x 0 0;width:65px;height:22px;cursor:pointer;}
.marketbg .btn2,.stocodbg .btn2,#mystoselect .mystobtn,.mainR .btn2{background:url(../images/001/icon.gif) no-repeat -129px -58px;}
.nr_con .btn3,.endnr .endnr_C .btn3{background:url(../images/001/icon.gif) no-repeat 0 -80px;}
.comnr .btn3{background:url(../images/001/icon.gif) no-repeat -122px -80px;}
#gotop{background:url(../images/001/icon.gif) no-repeat -190px -68px;}
#gotop .btn4{background:url(../images/001/icon.gif) no-repeat -50px -80px;}
.mainR .inp2,#mystoselect .mystoinp,#blacklist .mystoinp{background:url(../images/001/icon.gif) no-repeat 0 -58px;}
.mainR .mob_con dt{background:url(../images/001/icon.gif) no-repeat -191px -49px;color:#6A7FA4;}
.mainR .Rnav_con li.biao{background:url(../images/001/icon.gif) no-repeat 0 -23px;color:#0B42A6;}
.tarenint dd.tarenint_dd2 .addbtn1,.endjgz{background:url(../images/001/icon.gif) no-repeat 0 -103px;}
.addbtn2{background:url(../images/001/icon.gif) no-repeat -80px -103px;}
.serbtn1{background:url(../images/001/icon.gif) no-repeat 0 -127px;}
.enduserp_yi span{background:#fff url(../images/001/icon.gif) no-repeat -41px -129px;}

.comnr .btn5,.nr_con .btn5{background:url(../images/common/btn43_23.gif) no-repeat;color:#0B42A6;}

.blogbg11{color:#6A7FA4;}.blogbg22,.blogbg33,.blogbg44{color:#6A7FA4;}
.mainR .user_con .li2,.mainR .user_con .li3{background:url(../images/001/userbg1.gif) no-repeat left center;}

.iconimg{display:block;width:13px;height:13px;background:url(../images/001/iconopen.gif) no-repeat;cursor:pointer;overflow:hidden;}

.mainR .Rnav_con li{background:url(../images/001/Rline.gif) no-repeat 15px bottom;color:#0B42A6;}

.enduserp_yi span{border:1px solid #C4D3F0;}
.enduserp_yi span a{color:#6A7FA4;}
.tit_about span,.tit_about2 span{color:#0B42A6;}

.settingL,.wapL,.friendsL{background:url(../images/001/maintop.gif) no-repeat left top;}
.settingR,.wapR,.friendsR{background:url(../images/001/maintop.gif) no-repeat right top;}

.invite_ico{border:1px solid #C4D3F0;}

#mainbgB{background:url(../images/001/mainbgB.gif) no-repeat;width:800px; margin:0 auto;height:2px; overflow:hidden; font-size:0; line-height:0;}
.nr_line{border-top:1px dashed #BDBDBD;height:1px;line-height:0;font-size:0;overflow:hidden;}
.mainR_line{height:1px;line-height:0;font-size:0;overflow:hidden; width:170px; margin:0 auto;}
.user_con .mainR_line2{border-top:1px solid #C4D3F0;height:1px;line-height:0;font-size:0; margin:10px 0;width:170px;}
.nr_tan h3 a{color:#6A7FA4;}.nr_tan h3 span{float:right;color:#bdbdbd;}.nr_tan h3 span a{margin:0 5px;}
/*∏ˆ»À…Ë÷√*/
#settingLtit .btnOver{color:#555;}#settingLtit .btnOut{color:#6A7FA4;}
#mystoselect .tjstobtn{color:#0B42A6;}

.preview_big h3 span{color:#6A7FA4;}

.endcomment .endbtn1{background:url(../images/001/icon2.gif) no-repeat;}
.wapL .wapL_con .wapbtn1{background:url(../images/001/icon2.gif) no-repeat -43px 0;}
.fribtn1,.fribtn2,.fribtn3,.fribtn4{background:url(../images/001/icon2.gif) no-repeat;}
.fribtn1{background-position:-120px 0;}.fribtn2{background-position:0 -47px;}.fribtn3{background-position:0 -25px;}.fribtn4{background-position:-100px -25px;}

.mainR .user_con dd,.mainR .theme_con p,.mainR .stock_con p,.mainL .fxiang h3,.tarenint dd a.tarena14,.wapL .wapL_con2 dt a,#friCon1_2R p a{color:#0B42A6;}

.mainR .theme_con li.over,.mainR .stock_con li.over{padding-left:17px;background:#CCD9F1 url(../images/common/iicon.gif) no-repeat;}
.mainR .theme_con li.over{background-position:2px 6px;*background-position:2px 4px;}.mainR .stock_con li.over{background-position:2px -63px;*background-position:2px -65px;}

.nr_zhuan .nr_zhuan_con dd a,.mainR .mob_con dl a,.mainR .theme_con li.over span a,.mainR .Rnav_con li span,.mainR .theme_con li,.mainR .theme_con li a,.mainR .theme_con p a,.mainR .stock_con p a,.mainR .stock_con li,.mainR .stock_con li a,.mainR .stock_con li.over span a,.mainR .stock_con p a,.mainR .att_con p a,.tarenint dd.tarenint_dd2 span a,.mainR .rec_con a,.gzwR a,.gzw.over a.cancelgz,#friCon1_2 span,#friCon1_2 span a,#setCon1_7 table td strong,.h4_msnS a,.wapL .wapL_con a,#setCon1_3 dt span,#setCon1_7 p span,.wapR dd,.tit_at a,.smsnr_R dd a,.comnr h3 a,.comnr_RN_show a,.comnr_R a,.comnr_C span a,#friCon1_2R dd,#friCon1_2R dd a,.activebg dt a,.Rnav_conDL a{color:#6A7FA4;}

.mainR .user_con dd span{color:#999;}
#footer{width:800px;margin:0 auto;line-height:66px;text-align:center;color:#0B42A6;}#footer a{color:#0B42A6;}#footer font{color:#0B42A6;margin:0 8px;}

.mainR h2,.phb{color:#0B42A6;}

.Rnav_conDL dd { background:url(../images/001/Rline.gif) no-repeat 0 bottom; color:#0B42A6;}


/* 0831 top À—À˜*/
.navR .inp2{background:url(../images/001/icon.gif) no-repeat 0 -58px;_background:url(../images/001/icon.gif) no-repeat 0 -58px fixed;vertical-align:middle; margin-top:-1px!important;margin-top:0px;width:124px; height:19px;  padding:2px 0 0 5px; border:0px; overflow:hidden; line-height:17px;}
.navR .btn2{background:url(../images/001/icon.gif) no-repeat -129px -58px;width:41px; vertical-align:middle; margin-top:-1px!important;margin-top:0px;height:21px; border:0px; margin-left:-6px; cursor:pointer;}
.toogle_nav{ background:url(../images/001/myindex2.gif) no-repeat 60px center; position:relative;height:21px; line-height:21px; margin-top:3px; width:71px;}
.toogle_nav_hover{background:#fff url(../images/001/myindex2.gif) no-repeat 60px center; position:relative; border:1px solid #ccc; height:21px; line-height:21px; margin-top:3px;  z-index:999; width:71px;}

/*0927 ‘§≤‚*/
.mainR .predict_con ul li{background:url(../images/001/Rline.gif) no-repeat  bottom; }