.varea{padding:5px 0 15px 0; width:360px; border-top:dashed 1px #cdcdcd; border-bottom:dashed 1px #cdcdcd;}
.vxq{clear:both; padding-top:10px; height:20px;}
.w430{width:430px;}
.w180{width:170px;}
.w130{width:130px;}
.w230{width:230px;}
.pt8{padding-top:8px;}
.h50{height:50px;}
.votp{float:left; width:45px; }
.vts{float:left; width:250px; text-align:right; padding-top:20px;}
.vf1{background:#ffff99; border-bottom:solid 1px #ffcc33; color:#666; padding:1px 3px;}
.vjrtp{ clear:both; text-align:right; margin-top:-15px;}
.vl1{ clear:both; line-height:25px}
.vl2{ width:500px; border-top:dashed 1px #cdcdcd; margin-top:10px; padding:10px 0 0 20px;}
.tpbg1{width:160px; height:10px; overflow:hidden; background:url(../images/vote/v1.gif) left no-repeat #efefef; margin-top:6px; }
.tpbg2{width:160px; height:10px; overflow:hidden; background:url(../images/vote/v2.gif) left no-repeat #efefef; margin-top:6px; }
.tpbg3{width:160px; height:10px; overflow:hidden; background:url(../images/vote/v3.gif) left no-repeat #efefef; margin-top:6px; }
.tpbg4{width:160px; height:10px; overflow:hidden; background:url(../images/vote/v4.gif) left no-repeat #efefef; margin-top:6px; }
.tpbg5{width:160px; height:10px; overflow:hidden; background:url(../images/vote/v5.gif) left no-repeat #efefef; margin-top:6px; }
.tpbg6{width:160px; height:10px; overflow:hidden; background:url(../images/vote/v6.gif) left no-repeat #efefef; margin-top:6px; }
.tpbg7{width:160px; height:10px; overflow:hidden; background:url(../images/vote/v7.gif) left no-repeat #efefef; margin-top:6px; }
.tpbg8{width:160px; height:10px; overflow:hidden; background:url(../images/vote/v8.gif) left no-repeat #efefef; margin-top:6px; }
.tpbg9{width:160px; height:10px; overflow:hidden; background:url(../images/vote/v9.gif) left no-repeat #efefef; margin-top:6px; }
.tpbg10{width:160px; height:10px; overflow:hidden; background:url(../images/vote/v10.gif) left no-repeat #efefef; margin-top:6px; }
.vbg1{ background:url(../images/vote/vbg1.gif) repeat-x left top; height:10px; }
.vbg2{background:url(../images/vote/vbg2.gif)  repeat-x left top; height:10px;}
.vbg3{background:url(../images/vote/vbg3.gif)  repeat-x left top; height:10px; }
.vbg4{background:url(../images/vote/vbg4.gif)  repeat-x left top; height:10px;}
.vbg5{background:url(../images/vote/vbg5.gif)  repeat-x left top; height:10px; }
.vbg6{background:url(../images/vote/vbg6.gif)  repeat-x left top; height:10px;}
.vbg7{background:url(../images/vote/vbg7.gif)  repeat-x left top; height:10px; }
.vbg9{background:url(../images/vote/vbg9.gif)  repeat-x left top; height:10px;}
.vbg10{background:url(../images/vote/vbg10.gif)  repeat-x left top; height:10px; }
.vbg8{background:url(../images/vote/vbg8.gif) left repeat-x; height:10px;}
.bqarea_w{width:587px; border:solid 2px #f7f7f7; margin:10px 0 3px 25px;}
.bqarea_n{width:555px; border:solid 1px #ccc; padding:10px 15px;}
.bqarea_n ul.bq{list-style:none; float:left; width:25%;}
.bqarea_n ul.bq li{line-height:25px; display:block;}
.bqarea_n ul.qhy{list-style:none; float:left; width:20%;}
.bqarea_n ul.qhy li{line-height:30px; display:block;}
.l{float:left;}.r{float:right; clear:right;}.c{clear:both;}
.l input{ margin-top:2px }
.tal{text-align:left;}.tar{text-align:right;}.tac{text-align:center;}
.c0,a.c0{color:#000; font-family:Arial;}
.c6,a.c6{color:#666; font-family:Arial;}
.c9,a.c9{color:#999; font-family:Arial;}
.cc,a.cc{color:#ccc; font-family:Arial;}
.cd,a.cd{color:#ddd; font-family:Arial;}
.ce,a.ce{color:#eee; font-family:Arial;}a.ce:hover{color:#fff; font-family:Arial;}
.co,a.co{color:#f90; font-family:Arial;}
.cr,a.cr{color:#f00; font-family:Arial;}
.cf,a.cf{color:#fff; text-decoration:none; font-family:Arial;}a.cf:hover{color:#fff; text-decoration:underline; font-family:Arial;}
.sl,a.sl{color:#369; font-family:Arial;}a.sl:hover{color:#36c; font-family:Arial;}
.cl,a.cl{color:#3c0; font-family:Arial;}a.cl:hover{color:#36c; font-family:Arial;}
.sl2,a.sl2{color:#369; text-decoration:none; font-family:Arial;}a.sl2:hover{color:#36c; text-decoration:underline; font-family:Arial;}
a.sl2_r{display:block; padding:0 5px; color:#369; text-decoration:none;}a.sl2_r:hover{color:#fff; background:#369;}
.ql,a.ql{color:#36f; font-family:Arial;}a.ql:hover{color:#369; font-family:Arial;}
.ql2,a.ql2{color:#8692A2; text-decoration:none; font-family:Arial;}a.ql2:hover{color:#369; font-family:Arial;}
.qh,a.qh{color:#c33; font-family:Arial;}a.qh:hover{color:#c36; font-family:Arial;}
.gb,a.gb{color:#B2BACE; font-weight:bold; text-decoration:none;}a.gb:hover{color:#369; font-weight:bold; text-decoration:none;}
.gbh,a.gbh{color:#D01E3B; font-weight:bold; text-decoration:none;}
.gbj,a.gbj{color:#fc0; font-weight:bold; text-decoration:none;}
a.c_ql{color:#B9C1D5; text-decoration:none; font-weight:bold;}
.b1c{border:1px solid #ccc;}
.m30{margin:30px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.m15{margin:15px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt30{margin-top:30px;}
.ml10{margin-left:6px;}
.ml12{margin-left:12px;}
.ml20{margin-left:20px;}
.m0_10{margin:0 10px;}
.m0_15{margin:0 15px;}
.m0_20{margin:0 20px;}
.m0_20x{margin:-10px 0 5px 10px;}
.m0_25{margin:0 25px;}

.w65{width:65px;}
.w80{width:80px;}
.w100{width:100px;}
.w120{width:120px;}
.w265{width:265px;}
.w300{width:300px;}
/*投票最终页*/
.vote .nr_shuo { margin-bottom:10px }
.voteone .nr_shuo{ color:#000}
.voteone .btn{background:url(../images/common/vote.jpg) no-repeat;height:26px; width:63px; border:none}
.voteone p{ margin:15px 0; color:#555; line-height:20px}
.voteone .votebtn{text-align:right; padding-right:60px; color:#000}
.vote p { line-height:25px; height:25px; color:#555; font-family: "新宋体"; }
.vote p span { color:#000; }
.vote_img { background-position:0 -129px; padding-left:15px }
#myvote{line-height:25px}
.folvote ul{line-height:25px; color:#555; }

.nr_zhuan .zhuan_vote{ text-align:left!important;}
.nr_zhuan .zhuan_vote h2{padding:5px 0px; }
.nr_zhuan p{ padding-top:4px; padding-left:5px; padding-bottom:0px!important; }
.nr_shuo h2{ padding:5px 0px 0px 0px; }
.nr_shuo p{ height:20px; padding-top:5px; }

/*vedio*/
.vediobg{ background:url(../images/common/marketbg.gif) no-repeat left top; }
.vediobg { position:absolute; width:356px; padding:1px 0px 0px 15px; z-index:999; display:none;left:32%;top:37%; border-right:1px solid #757575 }
.vediobg .vediop1 { height:26px; line-height:26px; text-align:left; font-weight:normal; padding:0 10px 0 3px; color:#000; }
.vediobg .vediop1 span { color:#5B74A0; font-weight:bold; float:right; cursor:pointer; font-family:"宋体"; }
.vediobg .vediop2{padding:15px 0 6px 5px; height:23px; overflow:hidden; color:#555}
.vediobg .vediop3{padding:0 0 10px 5px; height:21px; overflow:hidden; }
.vediobg .vediop2 span{ color:#0b42a6}
.vediobg .inp2 { border:none; height:17px; overflow:hidden; padding:4px 0 0 5px; width:283px;vertical-align:middle; float:left}
.vediobg .btn2 { border:0 none; cursor:pointer; height:21px; margin-left:-8px; width:55px; float:left }
.vediobg h4 { height:1px; line-height:0; font-size:0; overflow:hidden; margin-left:-4px; }
.vediobg h4{ background:url(../images/common/marketbg.gif) no-repeat right bottom; }
.vediobg .btn2{ background:url(../images/common/btn_tj.gif) no-repeat 0 -25px; }
.vediobg .inp2 { background:url(../images/common/marketinp.gif) no-repeat; }

/*vote*/
.votebg{ background:url(../images/common/marketbg.gif) no-repeat left top; }
.votebg { position:absolute; width:455px; padding:1px 1px 0px 15px; z-index:1000; display:none;left:39%;top:37%; }
.votebg .votep1 { height:26px; line-height:26px; text-align:left; font-weight:normal; padding:0 10px 0 3px; color:#000; }
.votebg .votep1 span { color:#5B74A0; font-weight:bold; float:right; cursor:pointer; font-family:"宋体"; }
.votebg .votep2{padding:10px 0 0px 0px; height:23px; overflow:hidden; width:425px;}
.votebg .voteL{ width:75px; text-align:right; padding-left:10px; height:19px; padding-top:3px; float:left}
.votebg .f14{ font-size:14px;}
.votebg .voteR{ width:320px; padding-left:1px; height:22px; float:left}
.votebg h4 { height:1px; line-height:0; font-size:0; overflow:hidden; margin-left:-5px; }
.votebg h4{ background:url(../images/common/marketbg.gif) no-repeat right bottom; }
.votebg .algR{ text-align:right; color:#0b42a6; }
.vote_input{ width:317px; height:19px; background:#f9f9f9; border:1px solid #cacaca; color:#555; line-height:19px; padding-left:3px;}
.votebg .btn2 { border:0 none; cursor:pointer; height:21px;  width:55px; float:left }
.votebg .btn2{ background:url(../images/common/btn_tj.gif) no-repeat 0 -25px; }
.vote_describe{ display:none;padding-left:85px;}
.vote_describe textarea{width:317px; height:38px; background:#f9f9f9; border:1px solid #cacaca; color:#555; line-height:19px; padding-left:3px;}
.votebg .btn_g{ background:url(../images/common/pageicon.gif) no-repeat left top; width:65px; height:21px; border:none; text-align:center; color:#0b42a6; line-height:21px;}
.voteR .arrow_up{ background:url(../images/common/myindex2_1.gif) no-repeat right center; padding-right:12px;}
.voteR .arrow_down{ background:url(../images/common/myindex2.gif) no-repeat right center;padding-right:12px;}
#imgUpVoteDiv{ color:#555}
