/* @charset "utf-8";
CSS Document */
p{font-size:13px;color:#666666;}
ul{list-style:none;}
h1,h2,h3,h4,h5 { margin: 0px;}
a:link,a:visited{color:#0066CC;text-decoration:none;}
a:active,a:hover{color:#cc0000;text-decoration:none;}
h4 a:link,h4 a:visited{color:#0066cc;text-decoration:none;}
h4 a:active,h4 a:hover{color:#cc0000;text-decoration:underline;}
#menubar a:link,#menubar a:visited{color:#003366;text-decoration:none;}
#menubar a:active,#menubar a:hover{color:#cc0000;text-decoration:none;}
.taglable a:link,.taglable a:visited{color:#000;text-decoration:none;}
.taglable a:active,.taglable a:hover{color:#cc0000;text-decoration:none;}
.caption a:link,.caption a:visited{color:#990000;text-decoration:none;}
.caption a:active,.caption a:hover{color:#cc0000;text-decoration:none;}



.toptool{height:2px!important;height:0px;width:1000px;font-size:12px;color:#666666;}
.toptool a:link, .toptool a:visited{color:#000;text-decoration:none;}
.toptool a:active, .toptool a:hover{color:#cc0000;text-decoration:none;}
.toplogin{margin:5px 20px 0px 0px;padding-top:5px;*padding-top:0px;*margin:5px 20px 0px 0px;}
body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: url("../../images/bg/bg-gray.png") repeat-x #fff;
	margin: 0; /* 最好将 body 元素的边距和填充设置为 0 以覆盖不同的浏览器默认值 */
	padding: 0;
	text-align: center; /* 在 IE 5* 浏览器中，这会将容器居中。文本随后将在 #container 选择器中设置为默认左对齐 */
	color: #000000;
}
.twoCol #container { 
	width: 1002px;  /* 使用比最大宽度 (800px) 小 20px 的宽度可显示浏览器界面元素，并避免出现水平滚动条 */
	background: #FFFFFF;
	margin: 0 auto; /* 自动边距（与宽度一起）会将页面居中 */
	border: 1px solid #666;
	text-align: left; /* 这将覆盖 body 元素上的“text-align: center”。 */
} 
.twoCol #header { 
	background: url("../../Images/bg/topbg.jpg"); 
	padding: 0px;  
	height:100px;
} 
.twoCol #menubar {
	background: url("../../Images/bg/menubarblue.png") #DDDDDD; 
	padding: 0px;
	height:58px;
	font-size:13px;
	
}
.twoCol #sidebar1 {
	float: left; /* 由于此元素是浮动的，因此必须指定宽度 */
	width: 250px!important; /* 在符合标准的浏览器中或者在 Internet Explorer 中的标准模式下，此 div 的实际宽度除了包括宽度外，还包括填充和边框 */
	width: 246px;
	background:url("../../Images/bg/sidebarbg_blue.jpg") #99ccff; 
	padding: 0px ;
	height:100%;
}
/*#sidebar1 h2{color:#000;font-size:14px;background:url("../../images/bg/sidebarh2.png");height:35px;padding:10px 0px 0px 10px;margin:0px;}*/
#sidebar1 h2{color:#000;font-size:14px;background:url("../../images/bg/sidebarh22.jpg") repeat-x;height:27px;padding:8px 0px 0px 10px;margin:0px;}
#sidebar1 ul{color:#000;font-size:13px;padding:0px 0px 0px 5px;margin:0px;}
#sidebar1 h5{color:#000;font-size:13px;padding:0px 0px 0px 20px;margin:0px;border-bottom:1px solid #fff;height:20px;}

.twoCol #mainContent { 
	margin: 0 0 0 250px!important; /* 此 div 元素的左边距会在页面的左下方创建栏 — 无论 sidebar1 div 中包含多少内容，都将保留栏空白。如果您希望在 #sidebar1 中的内容结束时，用 #mainContent div 的文本填充 #sidebar1 空白，则可以删除此边距。 */
	margin:0 0 0 246px;
	padding: 0 0px; /* 请记住，填充是 div 方块内部的空间，边距则是 div 方块外部的空间 */
	
} 
.main1{width:378px;width:370px!important;margin:0px!important;margin:0px;padding:0px; float:left;}
.main2{width:375px;margin:0px ; float:left;}
.main{width:750px;margin:0px!important;margin:0px 0 0 2px; float:left;}
.main3{width:375px;margin:5px 0px 0px 0px ;padding:0px; float:left;height:300px;}
.main4{width:375px;margin:0px ;padding:0px; float:left;height:260px;}

.main1 h2{color:#000000;font-size:14px;background:url("../../images/bg/mainh21.png") repeat-x;width:350px;height:27px;padding:8px 0px 0px 25px;margin:0px 0px 0px 0px;*margin:0px 0px 0px 0px;}

.main2 h2{color:#000000;font-size:14px;background:url("../../images/bg/bgr_08.png") repeat-x;width:365px;height:34px;padding:10px 0px 0px 10px;}
.main3 h2{color:#000000;font-size:14px;background:url("../../images/bg/mainh21.png") repeat-x;width:365px;height:24px;padding:10px 0px 0px 10px;}
.main4 h2{color:#000000;font-size:14px;background:url("../../images/bg/mainh21.png") repeat-x;width:365px;height:24px;padding:10px 0px 0px 10px;}
.path{color:#000000;font-size:13px;background:url("../../images/bg/pathbg111.png");height:26px;padding:8px 0px 0px 30px;margin:0px;}
.pathadmin{color:#000000;font-size:13px;background:url("../../images/bg/pathbg11.png");height:26px;padding:8px 0px 0px 30px;margin:0px;}



.twoCol #footer { 
	padding: 0 10px 0 20px; /* 此填充会将它上面 div 中的所有元素左对齐。 */
	background:url("../../images/bg/footbg2.png") #DDDDDD; 
	height:340px;
	clear:both;
} 
.twoCol #footer p {
	margin: 0; /* 将脚注中第一个元素的边距设置为零将避免出现可能的边距重叠（即 div 之间出现的空白）*/
	padding: 10px 0; /* 就像边距会产生空白一样，此元素上的填充也将产生空白，但不会出现边距重叠问题 */
}
.fltrt { /* 此类可用来使页面中的元素向右浮动。浮动元素必须位于页面上要与之相邻的元素之前。 */
	float: right;
	margin-left: 8px;
}
.fltlft { /* 此类可用来使页面上的元素向左浮动 */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* 此类应当放在 div 或 break 元素上，而且该元素应当是完全包含浮动的容器关闭之前的最后一个元素 */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}



.line{height:10px;width:100%;background:url("../../images/bg/line.png") no-repeat;}
.banner{margin:3px 0px;}
.bgimg {background:url("../../images/bg/bgimg360.png");width:360px;height:209px;padding:3px 2px 0px 2px ;margin:0px 0px 0 10px;}
.login{width:175px;height:106px;margin-top:10px;padding:0px;background:url("../../images/bg/loginbg.jpg");}
.loginbox{font-size:13px;}
.logininput{font-size:12px;background:url("../../images/bg/logininput_bg.jpg") #efefef;border:1px solid #ccc;;}
.bt_gray{width:45px;height:20px;background:url("../../images/bg/bt_gray.gif") no-repeat;border:0px;font-size:12px;color:#000;text-align:center;line-height:20px;cursor:hand;margin-top:3px;}
.bt_red{width:45px;height:20px;background:url("../../images/bg/bt_red.gif") no-repeat;border:0px;font-size:12px;color:#fff;text-align:center;line-height:20px;margin-top:3px;}
.bt_red1{width:45px;height:20px;background:url("../../images/bg/bt_reds.gif") no-repeat;border:0px;font-size:12px;color:#fff;text-align:center;line-height:20px;font-weight:bold;}
.bt_gray120{width:120px;height:22px;background:url("../../images/bg/bt_gray120.gif") no-repeat;border:0px;font-size:12px;color:#000;text-align:center;line-height:22px;}
.bt_redb{width:100px;height:35px;background:url("../../images/bg/btredbg.png") no-repeat;border:0px;font-size:14px;color:#fff;font-weight:bold;text-align:center;line-height:20px;margin-top:3px;}

/*带发布日期 无图文三级LIST*/
.list{margin:0px 0px;font-size:13px;}
.list h4{color:#990000;font-size:13px;margin:10px;padding:0px;}
.list ul li{list-style:inside disc;font-size:13px;line-height:26px;margin:0px;padding:0px;width:600px;}
.datetime{font-size:11px;color:#666666;margin-left:20px;}
.list td{}
.listdatetime{position:relative;font-size:11px;float:right\9;color:#666666;margin:0px 20px 0px 20px;line-height:24px;}


/*左边栏LIST*/
.list1{margin:0px 0px;}
.list1 ul{margin:5px 5px 5px 10px ;padding:0px;}
.list1 p{color:#333;font-size:13px;margin:0px 10px;padding:0px;}
.list1 h4{color:#990000;font-size:14px;margin:10px;padding:0px;}
.list1 ul li{list-style:inside disc;font-size:13px;line-height:20px;margin:0px;padding:0px;}

/*首页 上文 下list*/
.list2{margin:0px;padding:0px;clear:both;}
.list2 ul{margin:0px 5px 0px 0px ;padding:0px;}
.list2 p{color:#333;font-size:13px;margin:0px 5px;padding:0px;}
.list2 h4{color:#990000;font-size:14px;margin:10px 5px 10px 5px;padding:0px;}
.list2 ul li{color:#333;font-size:13px;line-height:20px;list-style:none;margin:0px;padding:0px;}

/*左图文375 右LIST-375*/
.list3{margin:5px 0px 0px 0px ;background:url("../../images/bg/colbg2.gif") repeat-y;height:310px;padding:0px;}
.list3 h2{color:#000000;font-size:14px;background:url("../../images/bg/colbg1.png") repeat-x;width:720px;height:22px;padding:13px 0px 0px 30px;margin:0px 0px 10px 0px;}
.list3 p{color:#666;font-size:13px;margin:0px;padding:0px;line-height:20px;}
.list3 h4{color:#990000;font-size:14px;margin:5px 5px 5px 10px;padding:0px;}
.list3 ul{margin:0px 0px 0px 6px ;padding:0px 0px 0px 5px!important;padding:0px;width:360px!important;width:355px;float:left;}
.list3 ul li{color:#333;font-size:13px;list-style:none;margin:0px;padding:0px;line-height:20px;}
.line1{height:15px;width:750px;background:url("../../images/bg/colbg3.png") no-repeat;}

/*LIST-750*/
.list8{margin:5px 0px 0px 0px ;background:url("../../images/bg/colbg2.gif") repeat-y;height:270px;padding:0px;}
.list8 h2{color:#000000;font-size:14px;background:url("../../images/bg/colbg1.png") repeat-x;width:720px;height:22px;padding:13px 0px 0px 30px;margin:0px 0px 10px 0px;}
.list8 p{color:#666;font-size:13px;margin:0px;padding:0px;line-height:20px;}
.list8 h4{color:#990000;font-size:14px;margin:5px 5px 5px 10px;padding:0px;}
.list8 ul{margin:0px 0px 0px 6px ;padding:0px 0px 0px 5px!important;padding:0px;width:600px!important;width:600px;float:left;}
.list8 ul li{color:#333;font-size:13px;list-style:none;margin:0px;padding:0px;line-height:20px;}
.line1{height:15px;width:750px;background:url("../../images/bg/colbg3.png") no-repeat;}


/*图文750 无LIST*/
.list4{margin:0px 10px 5px 15px!important;margin:0px 10px 5px 10px;border-bottom:1px dotted #ccc;height:120px;}
.list4 ul{padding:0px;margin:0px;}
.list4 ul li{list-style:none;margin:2px 0px;padding:0px;}
.list4 p{color:#333;font-size:13px;margin:0px 5px;padding:0px;line-height:20px;}
.list4 h4{color:#990000;font-size:14px;margin:5px 5px 5px 5px;padding:0px;}

/*左list-375 右list-375*/
.list5{margin:0px 0px 0px 2px;background:url("../../images/bg/col2bg2.png") repeat-y ;float:left;width:370px!important;width:370px;padding:0px;}
.list5 h2{color:#000000;font-size:14px;background:url("../../images/bg/col2bg1.png");width:340px!important;width:340px;height:22px;padding:13px 0px 0px 30px;margin:0px 0px 10px 0px;}
.list5 ul{margin:5px 5px 5px 5px ;padding:0px;width:355px;}
.list5 ul li{list-style:none;font-size:13px;line-height:20px;margin:0px;padding:0px;}
.list5 .line{height:15px!important;height:10px;width:100%;background:url("../../images/bg/col2bg3.png") no-repeat;clear:both;padding:0px;margin:0px;}

/*专题 图文750
.listzt{margin:0px 10px 0px 15px;background:url("../../images/bg/col2bg2zt.png") repeat-y ;float:left;width:420px!important;width:420px;padding:0px;}
.listzt h2{color:#000000;font-size:14px;background:url("../../images/bg/col2bg1zt.png");width:390px!important;width:390px;height:22px;padding:13px 0px 0px 30px;margin:0px 0px 10px 0px;}
.listzt ul{margin:5px 5px 5px 5px ;padding:0px;width:405px;}
.listzt ul li{list-style:none;font-size:13px;line-height:20px;margin:0px;padding:0px;}
.listzt .line{height:15px!important;height:10px;width:100%;background:url("../../images/bg/col2bg3zt.png") no-repeat;clear:both;padding:0px;margin:0px;}*/
.listzt{margin:0px 10px 5px 15px!important;margin:0px 10px 5px 10px;}
.listzt ul{padding:0px;margin:0px;}
.listzt ul li{list-style:none;margin:2px 0px;padding:0px;}
.listzt p{color:#333;font-size:13px;margin:0px 5px;padding:0px;line-height:20px;}
.listzt h4{color:#990000;font-size:14px;margin:5px 5px 5px 5px;padding:0px;}



/*无框左右list-375*/
.list7{margin:0px 0px 0px 2px;float:left;width:370px!important;width:370px;padding:0px;}
.list7 h2{color:#000000;font-size:14px;width:340px!important;width:340px;height:22px;padding:13px 0px 0px 30px;margin:0px 0px 10px 0px;}
.list7 ul{margin:5px 5px 5px 5px ;padding:0px;width:355px;}
.list7 ul li{list-style:none;font-size:13px;line-height:20px;margin:0px;padding:0px;}
.list7 .line{height:15px!important;height:10px;width:100%;background:url("../../images/bg/col2bg3.png") no-repeat;clear:both;padding:0px;margin:0px;}

/*无框list-650*/
.list9{margin:0px 0px 0px 2px;width:600px!important;width:600px;padding:0px;}
.list9 h2{color:#000000;font-size:14px;height:22px;padding:13px 0px 0px 20px;margin:0px 0px 10px 0px;border-bottom:1px dotted #ccc;}
.list9 ul{margin:5px 5px 5px 5px ;padding:0px;width:600px;}
.list9 ul li{list-style:none;font-size:13px;line-height:20px;margin:0px;padding:0px;}
.list9 .line{height:15px!important;height:10px;width:100%;background:url("../../images/bg/col2bg3.png") no-repeat;clear:both;padding:0px;margin:0px;}


/*上图文750 下LIST-750*/
.list6{margin:10px 0px 0px 0px ;background:url("");height:740px;padding:0px;}
.list6 h2{color:#000000;font-size:14px;background:url("");width:720px;height:22px;padding:13px 0px 0px 30px;margin:0px 0px 10px 0px;}
.list6 h4{color:#990000;font-size:14px;margin:5px 5px 5px 10px;padding:0px;}
.list6 p{color:#666;font-size:13px;margin:0px;padding:0px;line-height:20px;}
.list6 ul{margin:0px 0px 0px 5px ;padding:0px 0px 0px 5px!important;padding:0px;width:730px;}
.list6 ul li{color:#333;font-size:13px;list-style:none;margin:0px;padding:0px;line-height:20px;}

.list_top10{background:url("../../images/bg/sidebarbg.png");margin:0px;padding:10px 0px;}
.list_top10 ul{margin:0px;padding:0px;}
.list_top10 ul li{list-style:none;font-size:13px;line-height:20px;margin:0px;padding:0px 0px 0px 20px;}
.list_top10 ul li{list-style:none;font-size:13px;line-height:20px;margin:0px;*padding:0px 0px 0px 6px;}

.num1{background:url("../../images/bg/nmbg.png") 0 0 no-repeat    ;}
.num2{background:url(../../images/bg/nmbg.png) -0px -24px no-repeat    ;}
.num3{background:url(../../images/bg/nmbg.png) -0px -48px no-repeat    ;}
.num4{background:url(../../images/bg/nmbg.png) -0px -72px no-repeat    ;}
.num5{background:url(../../images/bg/nmbg.png) -0px -96px no-repeat    ;}
.num6{background:url(../../images/bg/nmbg.png) -0px -120px no-repeat    ;}
.num7{background:url(../../images/bg/nmbg.png) -0px -144px no-repeat    ;}
.num8{background:url(../../images/bg/nmbg.png) -0px -168px no-repeat    ;}
.num9{background:url(../../images/bg/nmbg.png) -0px -192px no-repeat    ;}
.num10{background:url(../../images/bg/nmbg.png) -0px -216px no-repeat    ;}


/*文章 article*/
.article{margin:10px 20px;font-size:13px;}
.article h1{font-size:24px;font-family:黑体,Verdana, Arial, Helvetica, sans-serif;line-height:40px;}
.article h4{font-size:16px;font-family:黑体,Verdana, Arial, Helvetica, sans-serif;line-height:26px;}
.article p{font-size:14px;color:#333;line-height:26px;text-indent:2em;}
.article img{border:1px solid #ccc;margin:5px  10px 5px 10px;}
.article .summary{font-size:13px;color:#333;line-height:20px;margin:0px;padding:0px;font-weight:bold;}
.article .tag{font-size:13px;color:#333;margin:0px;padding:0px;font-weight:bold;}
.article .datetime{font-size:11px;color:#666666;margin:0px;padding:0px;}


/*回应留言*/
.response{
margin:20px 0px 10px 0px;
width:740px;
font-size:12px;
}
/*.response table{margin:1px 10px 1px 10px;}*/
.responseTitle{color:#000;font-weight:bold;}
.responseImg{text-align:center;width:60px;height:50px;padding-top:5px;}
.responseText{color:#333;}
.responseNotes{ color:#666;}
.bt{border:0;color:#963;text-decoration:underline;background-color:#efefef;cursor:hand;float:right;}

.response_textarea{
margin:20px 20px 10px 20px;
border:1px solid #999;
background-color:#efefef;
width:auto;
font-size:12px;
padding:5px 0px 5px 20px;}

.response a{color:#963; text-decoration:underline;}
.response a:visited{ color:#963; text-decoration:underline;}
.response a:hover{color:#000;background-color:#FFFFFF;text-decoration: none; }
.response a:active{ color:#963; text-decoration:underline;}

/*commentreply*/


.reply_first1 { font-size:12px;padding:5px 0 5px 0;background:#ffffff; width:740px}
.reply_second1{ margin-left:40px;padding:5px 0 5px 0;background:#ffffef;width:700px}
.reply_third1{margin-left:40px;padding:5px 0 5px 0;background:#fff;width:660px}

.reply a{padding-left:14px;background:url(../images/bg/reply1.gif) no-repeat;color:#963;text-decoration:none;}
.reply a:hover{padding-left:14px;background:url(../images/bg/reply2.gif) no-repeat;color:#963;text-decoration:underline;}
.reply a:active{padding-left:14px;background:url(../images/bg/reply2.gif) no-repeat;color:#963;text-decoration:underline;}
.reply a:visited{padding-left:14px;background:url(../images/bg/reply2.gif) no-repeat;color:#963;text-decoration:none;}

.reply_hr td{border-bottom:1px solid #963; }
.reply_hr1 td{border-bottom:1px dotted #dbd6bf; }
.reply_hr table td{border:0px;}

.replycontent{white-space:normal;word-break:break-all; word-wrap:break-word; width:540px;overflow:auto;}
.reply_hide {background:#efefef;color:#DBDBDB;}
.replyusername{font-weight:bold;color:#333;font-family:Verdana}
.replybt_td{width:140px;float:right;}

.redword{color: #990000;	font-weight: bold;}
.graytext{color:#DBDBDB;}


fieldset
{
    width:660px;
    -moz-border-radius:8px;
    padding:5px;
    font-size:13px;
}
fieldset legend
{
  
   text-align:left;   
   font-size:14px;
   font-weight:bold;
   color:#000;
  
   padding:0 10px;
   padding-bottom:10px;
   vertical-align:top;
}

/*index slide img*/
 .pics
        {
            height: 205px;
            width: 366px;
            padding: 0;
            margin: 0 0 0 10px;
            overflow: hidden;
           
        }
        .pics a img
        {
            height: 199px;
            width: 360px;
            padding: 0px;
            border: 3px solid #efefef;            
            top: 0;
            left: 0;
            
        }
        .pics a img
        {
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
        }
        .slider
        {
            margin-right: 10px;
            float: right;
        }
        .slider ul li
        {
            font-size: 10px;
            font-weight: bold;
            color: #ccc;
            border: 1px solid #ccc;
            background: #fff;
            padding: 0px 3px;
            margin:1px 0px 0 3px;
            float: left;
        }  

/*onecol*/     
        
.oneCol #container { 
	width: 1002px;  /* 使用比最大宽度 (800px) 小 20px 的宽度可显示浏览器界面元素，并避免出现水平滚动条 */
	background: #FFFFFF;
	margin: 0 auto; /* 自动边距（与宽度一起）会将页面居中 */
	border: 1px solid #000000;
	text-align: left; /* 这将覆盖 body 元素上的“text-align: center”。 */
} 
.oneCol #header { 
	background: #DDDDDD; 
	padding: 0px;  
	height:100px;
} 
.oneCol #menubar {
	background: url("../../Images/bg/bgr_03.png") #DDDDDD; 
	padding: 0px;
	height:78px;
	font-size:13px;
}
.oneCol #mainContent { 
	margin:0px;
	padding:0px; 
	background: #FFFFFF;
	width:1000px;
}
.oneCol .path{color:#000000;font-size:13px;background:url("../../images/bg/pathbg.png");height:31px;padding:13px 0px 0px 30px;margin:0px;}
.admin{margin:0px auto; width:700px;}      

.group{font-size:12px;color:#000;}
.bt_gray120{width:120px;height:22px;background:url(../../images/bg/bt_gray120.gif) no-repeat;border:0px;font-size:12px;color:#000;text-align:center;line-height:22px;}


.document-div{width:750px;margin:0px!important;float:left;margin:0px 0 0 2px; }
.document{margin:20px;font-size:12px;}
.document h4{padding:5px 0px;font-size:14px;border-bottom:1px dotted #ccc;}
.document h5{margin:5px 0px;color:#666;}

.pagination{padding:5px 40px;}



.pagination { font-size: 11px;  font-family:Verdana,Times New Roman;  }
        
.pagination a {
    text-decoration: none;
	border: solid 1px #0066CC;
	color: #0066CC;
	background: #fff;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0px 6px 2px 6px;
    margin-right: 5px;
	margin-bottom: 5px;
	width:20;
	background: #fff;
}

.pagination .current {
    background: #0066CC;
    color: #fff;
	border: solid 1px #fff;
	padding: 0px 6px 2px 6px;
	width:20;
}

.pagination .current.prev, .pagination .current.next{
	/*color:#999;
	border-color:#999;
	background:#fff ;*/ font-size: 12px;
	border:0;width:80;height:26px;line-height:20px;background:url(../../images/bg/pagebtbg.gif) no-repeat;color:#333;text-align:center;padding:2px 12px 0px 12px;
}
.pagination .prev, .pagination .next{
	 font-size: 12px;
	border:0;width:80;line-height:20px;background:url(../../images/bg/pagebtbg.gif) no-repeat;color:#0066CC;text-align:center;padding:2px 12px 0px 12px;
}
.pagination .ellipse
{
    background:#0066CC ;border:0;
}
