/*公用*/
body {
color:#333;background:#FFF;font-family:"verdana","宋体","Arial";font-size:10pt;line-height:1.8em; background:#666666;
}
#home {
    background:#fff;
    overflow:auto;
    border:solid 1px #fff;
}
/*段落*/
.postBody p,.postCon p {
    margin:7px 0;
    line-height:24px;
}
h1 {
    margin:0;
}
h3 {
    font-size:15px;
    font-weight:bold;
}
/*超链接*/
a {
    color:#464646;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
a:visited,a:hover {
    color:#464646;
}
ul {
    list-style:none;
    margin:0;
    padding:0;
}
image {
    border:none;
}
#header {
    padding:20px;
}
/*博客标题*/
#blogTitle,#blogTitle a {
    font-weight:bold;
    color:#666;
}
/*子标题*/
.subtitle {
    padding-left:30px;
    font-size:14px;
    color:#999;
    font-weight:normal;
    margin:10px 0;
}
/*导航栏*/
#navigator {
border-radius: 4px;
    font-size:16px;
    height:48px;
    background:#666666;
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
}
#navList li {
    /*border:solid 1px #80BB01;
    */
margin:0;
    line-height:48px;
    display:inline-block;
    float:left;
}
#navList li:hover {
    /*border:solid 1px #BFE866;
    */
background:#888;
}
#navList li a {
    padding:0 30px;
    text-decoration:none;
    line-height:48px;
    border:0;
    color:#fff;
    display:-moz-inline-box;
    display:inline-block;
}
.blogStats {
    margin:0;
    line-height:48px;
    display:inline-block;
    float:right;
}
#main {
    padding:20px;
}
/*左边*/
#sideBarMain {
 width:200px;float:left;border-right:1px solid #666;margin-right:20px;
}
#sideBarMain a {
    color:#666;
}
#leftcontentcontainer {
    color:#666;
}
.newsItem {
    color:#666;
}
/*公告*/
#profile_block {
    margin-top:0px;
    line-height:24px;
    text-align:left;
}
/*主面板*/
#mainContent{float:right;margin-left:-250px;width:100%;}
/*每日文章列表*/
.day {
    background:#fff;
    padding:0;
    /*border-bottom:solid 5px #489BF0;
    */
margin:0 0 20px 0;
}
/*博客标题*/
.postTitle a {
    color:#464646;
}
.postTitle {
    padding-bottom:10px;
    font-size:20px;
    font-weight:bold;
    color:#464646;
}
.dayTitle {
    display:none;
}
/*摘要*/
.c_b_p_desc {
    padding:10px;
    line-height:24px;
    color:#888;
}
.c_b_p_desc a {
    color:#888;
}
.c_b_p_desc a:hover {
    text-decoration:none;
    border-bottom-width:1px;
    border-bottom-style:dotted;
}
/*右侧图片*/
.desc_img {
    margin-left:10px;
    border:solid 1px #fff;
    box-shadow:0 0 10px #aaa;
}
.forFlow{margin:0 16px 0 220px;}
/*博文页*/
#topics .post {
    background:#fff;
}
.postCon {
    padding:10px 20px 0 20px;
}
.postDesc {
    margin:0 30px;
    margin-bottom:2px;
    padding:8px 0px;
    font-size:12px;
    color:#aaa;
    background:#fff;
    text-align:right;
}

#cnblogs_post_body a{text-decoration: underline;}

.postDesc a {
    color:#AAA;
}
.postBody {
    padding:0;
}
/*google搜索框*/
#google_q,#q {
    height:26px;
    width:120px;
    border:solid 1px #aaa;
    box-shadow:inset 0 0 5px #aaa;
}
/*按钮*/

.btn_my_zzk {
    border:none;
    height:30px;
    width:80px;
    padding:1px;
    font-size:14px;
    font-weight:bold;
    cursor:pointer;
    position:relative;
    vertical-align:middle;
    display:inline-block;
    background:#666666;
    color:#fff;
 border-radius: 4px;
}
.btn_my_zzk:hover {
    background:#888;
}
/*评论按钮*/

#btn_comment_submit {
    border:none;
    height:48px;
    width:120px;
 border-radius: 4px;
}
/*评论按钮*/
.comment_btn {
    font-family:'Microsoft Yahei';
    border:none;
    height:48px;
    width:120px;
    font-size:18px;
    cursor:pointer;
    position:relative;
    vertical-align:middle;
    display:inline-block;
    background:#666666;
    color:#fff;
 border-radius: 4px;
}
#btn_comment_submit:hover {
    background:#888;
 border-radius: 4px;
}
/*评论标题*/
.postTitle,.entrylistPosttitle,.feedback_area_title{border-bottom:1px solid #ddd;font-size:14px;font-weight:bold;margin:20px 0 10px;}
.feedbackListSubtitle {
    font-size:12px;
    color:#888;
}
.feedbackListSubtitle a {
    color:#888;
}
div.commentform textarea {    width:450px;height:300px;ont-size:13px;}
/*评论条目*/
.feedbackItem{padding:8px;border-bottom:1px dotted #ccc;}
/************************************分类页****************************************/
.entrylist {
    padding:10px 20px;
    background:#fff;
}
.entrylistItem {
    margin:10px 0;
    padding:10px;
}
.entrylistPosttitle {
    font-size:18px;
    font-weight:bold;
    padding-left:30px;
}
.entrylistPostSummary {
    padding:10px;
}
.entrylistItemPostDesc {
    font-size:12px;
    color:#999;
    padding-left:40px;
}
/*尾部*/

#footer {
    font-size:12px;
    margin:20px;
    padding:12px;
    text-align:center;
    background:#666666;
    color:#DDD;
    font-size:14px;
    border-radius: 4px;
}