body {  font-family: "宋体"; font-size: 12px}
td {  font-size: 12px; color: #000000}
p {  line-height: 140%}
.l12 {  line-height: 80%}
.l14 {  line-height: 140%}
.l16 {  line-height: 160%}

.imgb {border-color:#6E6F71;} 
.imgw {border-color:#EBF2FC;} 
.imgy {border-color:#7C91B8;} 

.ftitle {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #505771; LINE-HEIGHT: 40px
}
.fbody {
	FONT-SIZE: 14px; COLOR: #2C436F; LINE-HEIGHT: 140%
}
.fsubtitle {
	COLOR: #4D586E; LINE-HEIGHT: 140%
}
.fwriter {
	COLOR: #DD0300; LINE-HEIGHT: 30px
}
/* 以上属于通用样式 */

a:link {  color: #000000; text-decoration: none}
a:visited {  color: #444444; text-decoration: none}
a:hover {  color: #663300; text-decoration: underline}

a.awht:link {  color: #ffffff; text-decoration: none}
a.awht:visited {  color: #ffffff; text-decoration: none}
a.awht:hover {  color: #FFFFCC; text-decoration: underline}

a.abl:link {  color: #2C3449; text-decoration: none}
a.abl:visited {  color: #2C3449; text-decoration: none}
a.abl:hover {  color: #000000; text-decoration: underline}

a.abl2:link {  color: #4362BB; text-decoration: none}
a.abl2:visited {  color: #810081; text-decoration: none}
a.abl2:hover {  color: #000000; text-decoration: underline}

a.abl3:link {  color: #0B5CB7; text-decoration: none}
a.abl3:visited {  color: #0B5CB7; text-decoration: none}
a.abl3:hover {  color: #000000; text-decoration: underline}

.t14l14 { line-height: 150% ; font-size: 14px}
.t13l14 { line-height: 140% ; font-size: 13px}
.t12l14wht { line-height: 140%; font-size: 13px; color: #ffffff}
.t10l14bl { line-height: 140%; font-size: 10px; color: #6666CC}
.t16l14 {
	line-height: 140%;
	font-size: 16px;
	font-weight: bold;
	color: #314C7F;
}

.t12l14gray { font-size: 12px; line-height: 140%; color: #555553 }
.t12l12green {
font-size: 12px; line-height: 120%; color: #06674F
}
.t12l14bl {
font-size: 12px; line-height: 140%; color: #51576F
}
.t14l14bl {
	line-height: 140%;
	font-size: 14px;
	color: #4478EB;

}
.t14l14bl2 {
	line-height: 140%;
	font-size: 14px;
	color: #2F3670;

}
.t12l14bl3 {
	line-height: 160%;
	font-size: 12px;
	color: #0B5CB7;

}

