body {  font-family: "宋体"; font-size: 12px}
td {  font-size: 12px; color: #000}
p {  line-height: 140%}

a:link {color: #036; text-decoration: none}
a:visited {color: #036; text-decoration: none}
a:hover {color: #000; text-decoration: underline}

.imgblack{border-color:#000;} 
.imgblue{border-color:#DBE7FD;}

.td01{ border-bottom:#D3E4F4 1px solid; border-left:#D3E4F4 1px solid ; border-right:#D3E4F4 1px solid; border-top:#D3E4F4 1px solid}
.td02{ border-top:#D3E4F4 1px solid; border-bottom:#D3E4F4 1px solid; }
.td03{border-bottom:#D3E4F4 1px solid;}
.td04{ border-bottom:#f1f1f1 1px solid; border-left:#f1f1f1 1px solid ; border-right:#f1f1f1 1px solid; border-top:#f1f1f1 1px solid}
.td05 {border-right:#BBD4FD 1px solid}
.td06{border-bottom:#BBD4FD 3px solid; border-top:#BBD4FD 1px solid}

.table01 a:link {  color: #5B94ED; text-decoration: none}
.table01 a:visited {  color: #5B94ED; text-decoration: none}
.table01 a:hover {  color: #336; text-decoration:none}
.table01 td {font-size: 12px;color: #5B94ED;background-image: url(images/wbc_pic/dot_01.gif);background-repeat: repeat-x;
	background-position: bottom;height: 24px;}
	
.twb1402{ color:#2369D8; font-size:14px}
.table02 a:link { font-size:14px;  color: #336; text-decoration: none}
.table02 a:visited {  font-size:14px; color: #336; text-decoration: none}
.table02 a:hover {  font-size:14px; color: #336; text-decoration:underline}
.table02 td {font-size: 14px;background-image: url(images/wbc_pic/dot_02.gif);background-repeat: repeat-x;
	background-position: bottom;height: 28px;}


.l14 {  line-height: 140%}
.l16 {  line-height: 160%}
.twb12{color:#336}
.twb14{ color:#336; font-size:14px}

.ftitle {	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #141414; LINE-HEIGHT: 40px}


.fbody {	FONT-SIZE: 14; COLOR: #336; LINE-HEIGHT: 160%;}


.fsubtitle {	COLOR: #4D586E; LINE-HEIGHT: 140%}
.fwriter {	COLOR: #DD0300; LINE-HEIGHT: 30px}

.twhite01{ color:#FFF}
.twhite02{ color:#FFF; font-size:14px}
.tblue141{color:#5A77A1; font-size:14px;}
.tgray121{color:#8A8A8A; line-height:140%;letter-spacing:1px}
.twbred01{color:#F00}
.input1 {height: 19px;width: 205px;BACKGROUND-COLOR: #fff;border: 1px solid #D5D5D5;}
.input2 {height: 65px;width:265px;BACKGROUND-COLOR: #fff;border: 1px solid #D5D5D5;}
.input3 {height: 16px;width:99px;BACKGROUND-COLOR: #fff;border: 0px solid #fff;}

a.abl:link { font-size:14px; color: #2C3449; text-decoration: none}
a.abl:visited { font-size:14px; color: #2C3449; text-decoration: none}
a.abl:hover { font-size:14px; color: #000000; text-decoration: underline}
/* 以上属于通用样式 */

