@charset "utf-8";
#chs_bannerArea a{text-decoration:none;outline:none;color:#000;}
#chs_bannerArea a:hover{color:#f0891a;}
#chs_bannerArea {position: relative;}

#chs_banners {min-width:900px; overflow:hidden; margin:0 auto;}
#chs_banners .banner{ min-width:900px; text-align:center;}
#chs_banners .banner a{ display:inline-block;}

#chs_takeTurns{width:100%;min-width:900px;height:30px;position:absolute;bottom:0;left:0;}
#chs_takeTurns .turnsIcon{padding:0px;margin-top:5px;text-align:right;}
#chs_takeTurns .turnsIcon a{background: #fff;opacity: 0.35;filter:alpha(opacity=35);margin-right:3px;display: inline-block;line-height: 20px;width:21px;HEIGHT:20px;text-align:center;}
#chs_takeTurns .turnsIcon a.hover{opacity: 0.85;filter:alpha(opacity=85);}
