.wp.wmff_wxs {
width:411px;}
.wmff_wxyunwp .wp.bm{background: white;}
.wmff_wxyunwp .wmffzidkk {
width: 958px;
height: 542px;
background: url(wmfzaa.png) repeat-x 0px 0px;
padding-top: 50px;
margin: 0 auto;
}
.wmff_wxyunzb {
float: left;
width: 450px;
padding-left: 10px;
}
.wmff_wxyunzb img{width: 430px;
height: 430px;}
.wmff_wxyunyb {
float: left;
width:480px;
height:528px;
background:url(ip_bg.jpg) no-repeat;

}

.wmff_wxyunyb .wmff_zksjjjs {
position: relative;
left: 19px;
top: 83px;
width: 200px;
height: 300px;
z-index: 1;
}
.wmff_wxyunyb .wmff_zksjjjs img{
width: 200px;
height: 300px;
}
.wmff_wxyunyb .slidebar {
margin-top: -29px;
}
#nv .wmff_wxyunnav {
float: right;
display: inline;
margin-top: 5px;
}

.wmff_wxyunzb .wmffzbbs {
padding-left: 20px;
}

 #wmff_wxyunbottompf {     z-index:999; position:fixed; bottom:0; left:10px; _position:absolute;  /* for IE6 */ _top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight);  /* for IE6 */  overflow:visible;  } #wmff_wxyunbottompy {  position: fixed;right: 10px; z-index:999;  bottom:0;   _position:absolute; /* for IE6 */ _top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight);  /* for IE6 */ overflow:visible;  } #wmff_wxyunbottompo {  position: fixed;left:45%; z-index:999;  bottom:0;   _position:absolute;/* for IE6 */
 _top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); /* for IE6 */ overflow:visible; }