.header-container{
    width: 1000px;
}
.content-container{
	width: 1000px;
}
.footer-container{
    width: 1000px;
}
.content-list.default .content-container {
    width: 1000px;

}
.content-list{
	background: #F5F5F5;
}
.content-list.long {


}
.content-list.long .content-container{
	padding: 0px;
}
/*文章内容*/
.main-container {
    padding: 60px 60px 90px 60px;
    width: 579px;
    float: left;
    position: relative;
}
.long .main-container{
    float: none;
    padding: 0 ;
    width:1000px;
    border: none;
}
.default .main-container{
    /*box-shadow: 3px 3px 3px #ddd;*/
	border-right: 1px solid #e2e2e2;
}
.main-container .main-mate {
    position: absolute;
    left: 60px;
    top: 20px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    background: #de3226;
	padding: 0 10px;
}
.main-container .main-mate a,
.main-container .main-mate span {
    color: #FFFFFF;
    font-size: 16px;
}

.article-view .article-header {
    padding-bottom: 10px;
    /*border-bottom: 1px dashed #eeeeee;*/
}

.article-view .article-header h1 {
    color: #141414;
    font-size: 26px;
    line-height: 34px;
    font-weight: bold;
    letter-spacing: -1px;
}

.article-view .article-header p {
    font-size: 16px;
    color: #6B6A6A;
    line-height: 25px;
    padding: 6px 0;
}

.article-info {
    border-bottom: 1px solid #eeeeee;
    overflow: hidden;
    padding-bottom: 5px;

}

.article-info .info-s {
    position: relative;
    padding:0px;
    line-height: 29px;

}

.article-info .info-s .ui-icon {
    width: 13px;
    height: 18px;
    background: url("../image/ico.png") no-repeat 0 -135px;
    position: absolute;
    left: 0;
    top: 14px;
}

.article-info .info-s .author {
    color: #000000;
    margin-right: 5px;
}

.article-info .info-s .date {
    color: #bbbbbb;
}
.article-info .info-s .comment-num{
    color: #bbbbbb;
    margin-left: 5px;
    cursor: pointer;
}
.article-info .info-s .comment-num a{color: #bbbbbb;}
.article-info .info-s .comment-num .ui-icon{
    position: static;
    width: 14px;
    vertical-align: -5px;
    height: 16px;
    background: url("../image/ico.png") no-repeat -152px -346px;
}
.article-info p .tags {
    display: inline-block;
    margin: 4px 2px 8px 0;
    line-height: 21px;
    height: 21px;
    background: #818181;
    padding: 0 12px;
    color: #FFFFFF;
    float: left;
}
.article-info p .tags:hover{
    background: #DE3226;
    text-decoration: none;
}

/**/
.article-main {
    padding-top: 15px;

}

.article-main .article-img {
    margin-bottom: 30px;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 15px;
}
.article-main .article-img img{
    max-width: 100%;
    margin: 0 auto;
}
.article-main .article-img p {
    text-align: right;
    color: #aaaaaa;
    line-height: 20px;
    padding-top: 15px;
}

.article-main .article-content {
    padding-bottom: 10px;
    position: relative;
    font-size: 16px;
    line-height: 24px;
}
.article-main .article-content.big-size {
    font-size: 17px;
    line-height: 31px;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.article-main .article-content ul
{margin: 10px 0 10px 20px; list-style:disc;}
.article-main .article-content ol
{margin: 10px 0 10px 20px; list-style:decimal;}
.article-main .article-content  li {font-size: 15px;
    /*display: block;*/
    line-height: 30px;
}
.article-main .article-content p {
    font-size: 100%;
    line-height: 1.8;
    color: #0E0E0E;
    margin-bottom: 19px;
}
.article-main .article-content iframe{
	height: 350px;
	width: 579px;
}
.article-main .article-content i,
.article-main .article-content em{
    font-style: italic;
}
.article-main .article-content p a {
	color: #6C899D;
}
.article-main .article-content img{
    max-width: 100%;
    margin: 0 auto;
}
.article-main .article-content h3 {
    font-size: 120%;
    font-weight: bold;
    line-height:1.5;
    margin-bottom: 30px;
}
.article-main .article-content h4 {
    font-size: 110%;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 30px;
}
.set-size{float: right}
.set-size a{color: #666666; font-family: "Consolas";}
.set-size a span{
	color: #6C899D;
}
/*引文*/
.article-main .article-content blockquote {
    border-left: 5px solid #8d8d8d;
    padding: 0 10px 0 15px;
    font-size: 16px;
    margin-bottom: 19px;

}

.article-main .article-content blockquote p {
    font-size: 15px;
    color: #252525;
    line-height: 24px;
    margin: 0;
}

/*抽文*/
.content-text-focus {
    padding: 35px 0 35px 35px;
    position: relative;
    width: 175px;
}

.content-text-focus .ui-icon {
    position: absolute;
    width: 40px;
    height: 18px;
    background-image: url("../image/ico.png");
    background-repeat: no-repeat;
    left: 35px;
}

.content-text-focus .up-arrow {
    background-position: -106px -266px;

    bottom: 10px;
}

.content-text-focus .down-arrow {
    background-position: -106px -243px;

    top: 10px;
}

.content-text-focus.align-right {
    float: right;

}

.content-text-focus.align-left {
    float: left;

}

.content-text-focus .content-text-caption {

}

.content-text-focus .content-text-caption p {
    margin: 0;
    font-size: 20px;
    color: #000;
    line-height: 28px;
    width: 100%;

}

/*插图*/
.img-focus{}
.img-focus.align-left{
    float: left;
    padding-right: 30px;
}
.img-focus.align-center{
    margin: 0 auto;
}
.img-focus.align-right{
    float: right;
    padding-right: 30px;
}
.content-img-focus {
    display: block;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    /*border-top: 1px solid #f35b41;*/
    position: relative;
    /*padding-top: 10px;*/
    max-width: 588px;

    margin: 0 auto;

}

.content-img-focus.align-left {
    float: left;
    padding-right: 30px;
}

.content-img-focus.align-right {
    float: right;
    padding-right: 30px;
}

.content-img-focus img {
    display: block;
    height: auto;
    max-width: 100%;
}

.content-img-focus figcaption {
    font-weight: normal;
    clear: both;
    color: #b5b5b6;
    font-size: 12px;
    margin-top: 0;
    padding-top: .5em;
    text-align: right;
    display: block;
}

.content-img-focus.align-left figcaption,
.content-img-focus.align-right figcaption {
    text-align: right;
}
/**/
.article-source{
    padding: 15px 0;
}
.article-source p{
    color: #666666;
    line-height: 20px;
    font-style: italic;
}
.article-source em{
    font-style: italic;
    color: #AAAAAA;
    line-height: 20px;
}
/**/
.article-footer {
    padding: 10px;
    /*border-top: 2px solid #dddddd;*/
    background-color: #F7F7F7;

}

.article-footer .article-author {
    /*float: left;*/
    overflow: hidden;
	position: relative;
    margin-bottom: 10px;
}
.article-footer .article-author.item-1{
    border-top: 1px solid #dddddd;
    padding-top: 10px;
}
.article-footer .article-author .author-avatar {
    float: left;
    width: 60px;
    height: 60px;
}

.article-footer .article-author .author-main {
    margin-left: 70px;

}

.article-footer .article-author .author-main .author-name {
    color: #141414;
    line-height: 18px;
    display: inline-block;
}

.article-footer .article-author .author-main .author-mate {
    color: #141414;
    line-height: 18px;
}
/*.article-footer .article-author .author-main .vip{*/
    /*width: 18px;*/
    /*height: 16px;*/
    /*background: url("../image/ico.png") no-repeat -51px -275px;*/
    /*display: inline-block;*/
    /*vertical-align: -1px;*/

/*}*/
.article-footer .article-author .author-main p {
    color: #757575;
    line-height: 20px;
    margin-top: 5px;
    padding-right: 10px;
}
.article-footer .article-author .follow-set{
	color: #333333;
	position: absolute;
	right: 10px;
	top: 0px;
}
.article-footer .article-author .follow-set a,
.article-footer .article-author .follow-set span{
	display: inline-block;
	color: #333333;
	border: 1px solid #cccccc;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
	line-height: 20px;
	padding:0 5px;
	background: #ffffff;
	margin: 0 3px;
}
.article-footer .article-author .follow-set a .jm-icon,
.article-footer .article-author .follow-set span .jm-icon{
	margin-right: 2px;
}
.article-footer .article-author .follow-set a:hover{
	background: #f3473a;
	color: #ffffff;
}
.article-footer .article-author .follow-set a:hover .icon-pm{
	background-position: -103px -43px;
}
.article-footer .article-author .follow-set a:hover .icon-rss{
	background-position: -103px -63px;
}
.article-footer .article-author .author-main .comment {
    display: inline-block;
}

.article-footer .article-author .author-main .comment .ui-icon {
    background-position: -106px -293px;
}

.article-footer .article-author .author-main .collect {
    display: inline-block;
}

.article-footer .article-author .author-main .collect .ui-icon {
    background-position: -126px -293px;
}
/*版权*/
.article-copr{
	margin: 10px 0;
}
.article-copr .copr-left{
	/*background: #fafafa;*/
	float: left;
}
.article-copr .copr-left span{
	font-size:20px;
	line-height: 40px;
	color: #666;
}
.article-copr .copr-right{
	margin-left: 90px;
}
.article-copr .copr-right p{
	font-size: 14px;
	line-height: 20px;
	color: #666
}
/*今日推荐*/
.today-news{
    overflow: hidden;
}
.today-news .title-view {
    border-top:1px solid #dddddd;
    height: 28px;
    line-height: 28px;
    color: #808080;
    font-size: 13px;
    margin-bottom: 5px;
}
.today-news .title-view .title-box{ width: 150px; line-height: 28px;  float: left;}
/*.today-news .title-view .title-box .after{*/
    /*right: -24px;*/
    /*border-color:  #8c8b8b transparent transparent;*/
    /*border-width: 24px 24px 0px 0px;*/
/*}*/
.today-news li{
    margin-bottom: 10px;
    overflow: hidden;
    line-height: 20px;
}

.today-news li a{
    font-size: 14px;
    float: left;
}
.today-news li a i{
    font-size: 14px;
    font-weight: bold;
}
.today-news li span{
    float: right;
    font-size: 12px;
    color: #999;
}
/*相关文章*/
.re-article {
    margin-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.re-article .title-view {
    border-bottom: 1px solid #dddddd;
    height: 28px;
    line-height: 28px;
    color: #808080;
    font-size: 13px;
    margin-bottom: 10px;
}

.re-article .title-view .title-box {
    width: 150px;
    line-height: 28px;
    float: left;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

/*.re-article .title-view .title-box .after{*/
/*right: -24px;*/
/*border-color:  #8c8b8b transparent transparent;*/
/*border-width: 24px 24px 0px 0px;*/
/*}*/
.article-box{
    position: relative;
    left: 0;
    top: 0;
    width: 614px;
}
.long .article-box{
    margin: 30px 0 0 15px;
    width: 985px;
}
.re-article .news-view {
    width: 184px;
    float: left;
    margin-right: 14px;
}
.re-article .news-view:hover{
    background: #f4f3f0;
}
.long .re-article .news-view{
    width: 475px;
    margin-right: 17px;
    position: relative;
    margin-bottom: 15px;
}
.long .re-article .news-view .box{position: absolute;
    background: url('../image/bj.png') repeat scroll 0% 0% transparent;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;}
.long .re-article .news-view .title-box{
    position: absolute;
    top: 100px;
    z-index: 99;
    margin: 0 80px;
    width: 315px;
    text-align: center;
}
.long .re-article .news-view .title-box .news-header  {
    width: 100%;

}
.long .re-article .news-view .title-box .title-border{width: 50px; height: 5px; overflow: hidden; background: #ff460d; margin: 0 auto}
.long .re-article .news-view .title-box .news-header h3 a{ font-size:26px;  color: #ffffff; line-height: 32px; text-align: center}
.long .re-article .news-view .title-box .news-footer p a{ color: #ffffff}
.re-article .news-view .news-img {
}
.re-article .news-view .news-img img{
    width: 100%;
}
.re-article .news-view .news-header {
    padding: 9px 5px;
}

.re-article .news-view .news-header a {
    font-size: 13px;
    line-height: 18px;
    color: #252525;
}

.re-article .news-view .news-footer {
    padding: 9px 5px;
    height: 16px;
}

.re-article .news-view .news-footer p {
    line-height: 16px;
    position: relative;
}

.re-article .news-view .news-footer p .ui-icon {
    width: 13px;
    height: 16px;
    background: url("../image/ico.png") no-repeat -19px -135px;
    position: absolute;
    left: 0;
    top: 0;
}

/*评论*/
/*评论*/
.comment-view {

}

.comment-view h3 {
    line-height: 24px;
    height: 24px;
    color: #333;
}
.comment-view h3 .title-box{
	width: 150px;
	line-height: 24px;
	float: left;
	font-size: 16px;
	font-weight: bold;
	color: #666;
	position: absolute}


/*评论框*/
.pl-box {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
	margin-bottom: 20px;
}
.long .pl-box textarea{
    width: 582px;
}
.pl-box textarea {
    border: 1px solid #dcdcdc;
    width: 561px;
    padding: 3px 8px 5px;

    height: 64px;
    margin-bottom: 8px;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .04);
    line-height: 20px;
    font-size: 13px;
    resize: none;
}
.pl-box .result-tips{
    float: left;
    color: #808080;
}
.pl-box .result-tips span{
    font-weight: 700;
    font-size: 22px;
    font-style: italic;
    font-family: Constantia, Georgia;
}
.pl-box .result-tips span.error-tips{
    color: #E44443;
}
.pl-box button {
    width: 48px;
    height: 21px;
    color: #FFFFFF;
    background: #f3473a;
    float: right;
}
.pl-box button.locked{
    background: #e8e8e8;
	color: #666666;
}
.pl-box button.locked:hover{
    color: #FFFFFF;
    background: #f3473a;
}
/*回复框*/
.report-view{
    margin:10px 0 10px 80px;
    border-radius: 3px;
    padding: 10px 20px 0px;
    position: relative;
    display: none;
    background: #F5F5F5;
}
.report-view .report-arrow{
    position: absolute;
    right: 0;
    z-index: 0;
    margin: -18px 0 0;
    width: 22px;
    cursor: default;
}
.report-view .report-arrow span,
.report-view .report-arrow em{
    font-family: "SimSun";
    overflow: hidden;
    font-size: 12px;
    line-height: 1.231;
    display: block;
    height: 12px;
    color: #f5f5f5;

}
.report-view .report-arrow span {
    margin: -11px 0 0;
    color: #f5f5f5;
}
.report-box {
    overflow: hidden;
    padding-bottom: 10px;
    /*border-bottom: 1px solid #eeeeee;*/
}
/*.reply-view .report-box textarea{*/
    /*width:501px;*/
/*}*/
.report-box textarea {
    resize: none;
    overflow: hidden;
    margin: 0px 0px 5px;
    padding: 5px 0px 0px 2px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 12px;
    word-wrap: break-word;
    outline: none;
    height: 24px;
	line-height: 18px;
	min-height: 24px;
    width: 99%;
    vertical-align: middle;
    color: #000000;
    -webkit-box-shadow: 0px 1px 1px 0px #eaeaea inset;
    -moz-box-shadow: 0px 1px 1px 0px #eaeaea inset;
    box-shadow: 0px 1px 1px 0px #eaeaea inset;
    height: 20px\9;
    padding: 8px 0 0 2px\9;
}

.report-box button {
    width: 48px;
    height: 21px;
    color: #FFFFFF;
    background: #f3473a;
    float: right;
}

/**/
.jm-comments {

}
.loading{
    text-align: center;
    line-height: 50px;
}
.loading img{
    display: block;
    vertical-align: middle;
    width: 32px;
    margin: 0 auto;
}
.jm-comments dt {
    font-size: 14px;
    color: #231815;
    line-height: 30px;
    padding: 0 20px;
}
.jm-comments .comment-post02 {
    border-top: 1px dashed #d7d7d7;
   margin-bottom: 10px;
}
.jm-comments .comment-post02:first-of-type{border: none}
.jm-comments .comment-post {
    border-top: 1px solid #d7d7d7;
}

.jm-comments dd .more-comments {
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    color: #ffffff;
    background: #4b0100;
    margin: 20px auto;
}

.post-self {
    padding: 18px 0 0 0;
}

.jm-avatar {
    float: left;
    width: 60px;
    height: 60px;
}

.jm-avatar img {
    height: 60px;
    width: 60px;
}

.jm-avatar {
    font-size: 13px;
    line-height: 24px;
    color: #252525;
}

.comment-body {
    margin-left: 80px;
}
/*.comment-body .vip{*/
    /*width: 18px;*/
    /*height: 16px;*/
    /*background: url("../image/ico.png") no-repeat -51px -275px;*/
    /*display: inline-block;*/
    /*vertical-align: -1px;*/
/*}*/
.comment-body .comment-header a {
    color: #4b0100;
    line-height: 24px;
    font-size: 14px;
}

.comment-body .comment-main {
    padding: 5px 0;
    /*height: 90px;*/
}

.comment-body .comment-main p {
    font-size: 13px;
    line-height: 20px;
    color: #000;
    word-wrap: break-word;
}
.comment-body .comment-footer {
    line-height: 30px;
    height: 30px;

}

.comment-body .comment-footer span {
    float: right;
    color: #595757;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
}
.comment-body .comment-footer .show-arrow,
.comment-body .comment-footer .hide-arrow{
    padding-top: 2px;
}
.comment-body .comment-footer .show-arrow .icon-arrow{
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url("../image/jiantou.png") no-repeat -11px 0;
}
.comment-body .comment-footer .hide-arrow .icon-arrow{
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url("../image/jiantou.png") no-repeat 0 0;
}
.comment-body .comment-footer .comment{
    position: relative;
}
.comment-body .comment-footer .more-reply{
    /*position: absolute;*/
    width: 20px;
    height: 21px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAVCAYAAABG1c6oAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAE+SURBVDiNrZMvSwRBGIefHVZPDIrhsFsNBwdiMBkELcsEo8HoJcXmBzHeJ7iw745gEc4imAyGi6JBi2jx/6kwBvdkmLvT3fEemPD+Znj4DbsTWWsJwYhUgedE6xc3V4GyWaAFzPh7cWCzQ6AOvPn7pRoakQpwkMuugW6w0IhMAAIs5tET8BkkNCKTQAasOrFNtO67cmStxYgoYAWoDHFuAWtedgPsAO/5fJFo3YmyNB0HmsBGkba/0AV2FbAwAhl8325fAWMjkP0QA/5T2QOOSjiaQM0V+pwmWp8VtRmRO7+hz6YRqQ3IhzH3pzBfQQwS3gOvJRxVnP93kLCRaN0qajMiJ8BSb1b0f+XHEu0APtwhytJ0GWg7WQe4LSGsA9O9IQamvAPz+QpCAefAZajA41glWl8B28DDP2VtYP0LXMVRslPFGs0AAAAASUVORK5CYII=") no-repeat 0 0;
    display: inline-block;

}
.comment-body .comment-footer span a {
    color: #595757;
}

.comment-body .comment-footer span a:hover {
    color: #ae2b04;
}

.comment-body .comment-footer .date {
    float: left;
    color: #999999;
    margin: 0;
}
.comment-body .author-name,
.comment-body .user-name{
    color: #0099FF;
}
.comment-body .reply-to{
    margin: 0 5px;
    color: #CCCCCC;
}
.comment-body .delete,
.comment-body .report {
    display: none;
}
.comment-body .report{
    position: relative;
}
.comment-body:hover .delete,
.comment-body:hover .report {
    display: inline-block;
}

/*回复列表*/
.jm-comments .comment-post ul {

}
.jm-comments .comment-post ul .jm-avatar{
    width: 40px;
    height: 40px;
}
.jm-comments .comment-post ul .jm-avatar img{
    width: 40px;
    height: 40px;
}
.jm-comments .comment-post ul .comment-body{
    margin-left: 0px;
}
.jm-comments .comment-post ul .show-all{
    width: 80px;
    display: block;
    margin: 0 auto;
    line-height: 24px;
    cursor: pointer;
    color: #f35b41;
}
.jm-comments .comment-post ul li {
    padding: 0;
}
.jm-comments .comment-post ul li .report-box{
    margin:0 0 0 50px;
}
.jm-comments .comment-post ul li:last-of-type {
    border-bottom: none;
}
/*举报*/
.ju-bao{margin-right: 10px;position: relative; display: none}
.btn-view .delete{margin-right: 10px;display: none;cursor: pointer}
.ju-bao-box{border: 1px solid #dad9da;
    position: absolute; right: 0;top: 20px;width: 350px;padding: 20px;background: #f5f1ee;z-index: 99;display: none;
}
.ju-bao-box .pull-left{padding-top: 4px;margin-right: 10px;}
.ju-bao-box .input-group .radio{float: left;
    margin: 0 5px 0 0;
    padding-top: 4px;}
.ju-bao-box .input-group .radio input{margin-top: 2px;}
.ju-bao-box .input-group button{
    display: block;
    margin: 0 auto;
}
/*文章右栏*/
.main-right-side {
    width: 260px;
    margin-left: 716px;
    padding-top: 20px;
}
.main-right-side .tj-mate {
    position: relative;
    width: 143px;
    height: 28px;
	font-weight: bold;
    line-height: 28px;
	margin:10px 0 10px 0 ;
}
.main-right-side .tj-mate a,
.main-right-side .tj-mate span {
    color: #000000;
    font-size: 16px;
}

/*.main-right-side .tj-mate .after {*/
    /*right: 50%;*/
    /*border-color: #de3226 transparent transparent transparent;*/
    /*border-width: 56px 28px 28px 0;*/

/*}*/

/*新闻模块*/
.main-right-side .news-view {
    /*border-bottom: 1px solid #e3e3e3;*/
    padding-bottom: 16px;
    margin-bottom: 14px;
}
.main-right-side .news-view:hover{
    background: #f4f3f0;
}
.main-right-side .news-view .news-img {

}

.main-right-side .news-view .news-img img {
    width: 100%;
}

.main-right-side .news-view .news-header {
    padding: 11px 5px 9px;
}

.main-right-side .news-view .news-header a {
    font-size: 18px;
    line-height: 24px;
    color: #141414;
    font-weight: bold;
}

.main-right-side .news-view .news-main {
    padding: 2px 0px 25px 0;
}

.main-right-side .news-view .news-main p {
    font-size: 13px;
    line-height: 20px;
    color: #595757;
}

.main-right-side .news-view .news-footer {
    height: 16px;
}

.main-right-side .news-view .news-footer p {
    position: relative;
    line-height: 15px;
}

.main-right-side .news-view .news-footer p .ui-icon {
    width: 15px;
    height: 15px;
    background: url("../image/ico.png") no-repeat 0 -135px;
    position: absolute;
    top: 0;
    left: 0;
}

.main-right-side .news-view .news-footer .date {
    color: #bbbbbb;
}

/*榜单*/
.tagdk-top10 {
    overflow: hidden;
    padding: 25px 0px;
}

.tagdk-top10 ul {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

}

.tagdk-top10 ul li {
    margin: 0 auto;
    padding: 8px 0 11px 0;
    display: block;
    font-size: 13px;
    line-height: 18px;
    border-bottom: 1px solid #e3e3e3;
    color: #ffffff
}
.tagdk-top10 ul li:last-of-type{border: none}

.tagdk-top10 ul li a {
    color: #252525
}

.tagdk-top10-title {
    margin: 0 auto 30px;
}

.tagdk-top10-title-left {
    width: 160px;
    float: left;
    position: relative;
}

.tagdk-top10-title-left .after {
    right: -8px;
    border-color: #f3473a transparent transparent transparent;
    border-width: 28px 28px 0 0;
}

.tagdk-top10-title-left-box {
    width: 140px;
    height: 28px;
    background: #f3473a;
    float: left;
    color: #ffffff;
    line-height: 28px;
    text-align: center;
    font-size: 16px;

}

.tag-top10-title-date {
    float: right
}

.summary-info-date {
    color: #b1afaf;
    line-height: 30px;
}

/*分享*/
.active-set{
	text-align: center;
    margin-bottom: 10px;
}
.active-set .share-view{
	position: static;
	width: 100%;
}
.active-set .share-view a{
	/*background: #de3226;*/
	margin: 0 7px 10px;
}
.share-view {
    width: 40px;
    position: absolute;
    left: -119px;
    top: 0;
    z-index: 9;
    background: transparent;
    font-family: "Microsoft YaHei";
}
.long .share-view {
    left: -255px;
}
.share-view .share-title{
    width: 30px;
    height: 30px;
    padding: 5px;
    background: #727171;
    margin-bottom: 10px;
    color: #ffffff;
	border-radius: 50%;
}
.share-view .share-title .ui-icon {
    width: 30px;
    height: 30px;
    background-image: url("../image/share.png");
    background-repeat: no-repeat;
    background-position: -181px 0;
}


.share-view a {
    display: inline-block;
    width:28px;
    height:28px;
    padding: 5px;
    background: #727171;
    margin-bottom: 7px;
	border-radius: 50%;
	vertical-align: middle;
}
.share-view a span{
    display: none;
    color: #FFFFFF;
    font-family: Constantia, Georgia;
    text-align: center;
    line-height: 30px;
}
.share-view a:hover span{
    display:inline-block;
}
.share-view .jm_unlike:hover i,
.share-view .jm-collection:hover i,
.share-view .jm_like:hover i{
    display: none;
}
.share-view a .ui-icon {
    width: 30px;
    height: 30px;
    background-image: url("../image/share.png");
    background-repeat: no-repeat;


}
.share-view a .ui-weibo{
    background-position:2px -1px ;
}
.share-view a .ui-qq{
    background-position: -55px 0;
}
.share-view a .ui-tencent-weibo{
    background-position: -27px 0;
}
.share-view a .ui-qzone{
    background-position: -114px -1px;
}
.share-view a .ui-weixin{
    background-position: -82px 0;
}
.share-view a .ui-collection{
    background-position: -141px 1px;
}
.share-view a .ui-unlike{
    background-position:-264px 1px;
}
.share-view a .ui-like{
    background-position:-227px 0;
}
.share-view .jm-collection:hover {
    background: #666666;
}
.share-view .jm-collection:active {
    background: #666666;
}
.share-view .jm_sina:hover{
    background-color: #d52b2a;
}
.share-view .ui-qq:hover{
    background-color: #3572c3;
}
.share-view .jm_qq_weibo:hover{
    background-color: #71C5F2;
}
.share-view .jm_qzone:hover{
    background-color: #ffa709;
}
.share-view .jm_weixin:hover{
    background-color: #55a947;
}
.share-view .jm_unlike:hover{
    background: #666666;
}
.share-view .jm_like:hover{
    background: #666666;
}
.share-view .jm_like{
    /*margin-top: 5px;*/
}
.share-view  a.clicked{
    background: #de3226;
    cursor: default;
}
/*长篇*/
/*.long {*/
    /*float: none;*/
    /*width: 960px;*/
    /*border: none;*/
/*}*/

.long .article-img {
    position: relative;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 20px;
}
.long .article-img img{
    max-width: 100%;
    margin: 0 auto;
}
.long .article-img-box{position: absolute; background:url("../image/bj.png") repeat; width: 100%; height: 100%; top: 0; left: 0;}
.long .article-img p {
    text-align: right;
    color: #aaaaaa;
    line-height: 26px;
}
.long .article-img .article-header {
    padding-bottom: 10px;
    /*border-bottom: 1px dashed #eeeeee;*/
    position: absolute;
    top: 120px;
    z-index: 99;
    padding: 0 185px;
}

.long .article-img .article-header h1 {
    color: #ffffff;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 0 0 2px rgba(0,0,0,0.3);
}

.long .article-img .article-header p {
    font-size: 18px;
    color: #ffffff;
    padding: 6px 0;
    text-align: left;
    margin-top: 30px;
    line-height: 26px;
    text-shadow: 0 0 2px rgba(0,0,0,0.3);
}
.long .article-img .article-header .info{ color: #ffffff; width: 270px; margin: 0 auto; padding-top: 25px}
.long .article-img .article-header .info span{width: 120px; text-align: center; display: inline-block; padding-right: 10px}
.long .article-img .article-header .info span .time{width: 30px; height: 30px; margin: 0 auto; background: url("../image/time.png"); border: none; background-size: 30px 30px;display: block}
.long .article-img .article-header .info span .map{width: 30px; height: 30px; margin: 0 auto; background: url("../image/wz.png"); border: none; background-size: 30px 30px;display: block}
.long .article-img .article-header .info span em{ width: 100%; text-align: center; display: inline-block; text-align: center; font-size: 14px;text-shadow: 0 0 2px rgba(0,0,0,0.3);}
.long .article-img .article-header .author{}
.long .article-img .article-header .author a{color: #ffffff; margin-top: -15px; width: 172px; display: inline-block; text-align: center; font-size: 14px;text-shadow: 0 0 2px rgba(0,0,0,0.3);}
.long .article-img .article-header span i{display: none}
.long .article-img .article-header span em.lan{border-bottom: 1px solid #ffffff; height: 6px;display: inline-block; width: 225px; color: #ffffff; font-size: 14px}
.long .article-view{
    width: 600px;
    margin: 0 auto;
}

.long .content-text-focus {
    width: 230px;
}

.long .content-text-focus.align-right {
    padding-right: 100px;
    margin-right: -220px;
}

.long .content-text-focus.align-left {
    padding-left: 100px;
    margin-left: -220px;
}
.long .content-img-focus.align-left{
    /*padding-left: 100px;*/
    margin-left: -200px;
    padding-right: 20px;
}
.long .content-img-focus.align-right{
    /*padding-right: 100px;*/
    margin-right: -230px;
    padding-left: 20px;
}
.img-focus{}
.img-focus.align-left{
    margin-left: -230px;
    padding-right: 20px;
}
.img-focus.aling-center{
    /*margin: 0 auto;*/
}
.img-focus.align-right{
    margin-right: -230px;
    padding-left: 20px;
}


.long .article-view .article-main .article-footer {

}

.long .re-article {
    width:100%;
    margin: 30px auto 0
}
.long .re-article .title-view .title-box {
    width: 150px;
    line-height: 28px;
    margin: 0 auto;
    display: block;
    float: none;
    color: #ffffff;
    text-align: center;
    background: #ff460d;
}
.long .comment-view {
    width: 600px;
    margin: 0 auto
}
/*.vip{ font-family: georgia, 'times new roman', times, serif; color: #F3473A}*/
/*预告片*/
.content.collect{
 }
.collect-view{
    position: relative;
    padding-bottom: 200px;
}
.collect-header{
    background: url("../image/r-1_02.png") no-repeat 0 0;
    width: 397px;
    height: 160px;
    position: relative;
    left: -100px;
    top: -20px;
    padding: 40px 235px 0;
}
.collect-header h3{
    font-size: 32px;
    color: #FFFFFF;
    line-height: 35px;
    margin-bottom: 10px;
    font-weight: bold;
}
.collect-header p{
    font-size: 13px;
    line-height: 30px;
    color: #f5f5f5;
    font-weight: bold;
}
.collect-main{
    width: 550px;
    margin-left: 100px;
}
.collect-main p{
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    margin-bottom: 25px;
}
.collect-input{
    width: 550px;
    margin-left: 100px;
}
.collect-input p{
    line-height: 24px;
    color: #666666;
}
.collect-input h3{
    line-height: 30px;
}
.collect-input textarea{
    width: 538px;
    border: 1px solid #d8d8d8;
    height: 108px;
    resize: vertical;
    padding: 5px;
}
.collect-input button{
    background: #ff9000;
    border: 1px solid #ff9000;
    color: #FFFFFF;
    width: 110px;
    height: 40px;
    margin: 20px auto;
    display: block;
}
.collect-view .f-bg{
    position: absolute;
    width: 330px;
    height: 110px;
    bottom: -30px;
    right: -73px;
    background: url("../image/r-1_02.png") no-repeat 0 -278px;
}
.collect-view .logo-fix{
    position: absolute;
    right: -213px;
    top: 0;
    width: 160px;
    height: 110px;
    background: url("../image/r-1_02.png") no-repeat -357px -279px;
}
/*广告位*/
.t-ad{
    width: 1000px;
    margin: 0 auto;

}
.t-ad iframe{
    padding-bottom: 10px;
}
.ad-view iframe{
    padding-bottom: 10px;

}
.ad-view {
    /*border-bottom: 3px solid #333333;*/
    /*margin-bottom: 10px;*/
}
