.jm_weixin_win {
	width:360px;
	height:360px;
	position:fixed;
	top:50px;
	left:50px;
	background:#fff;
	border:1px solid rgba(0, 0, 0, 0.3);
	z-index:9999;
	box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
	border-radius:6px;
}
.jm_weixin_header {
	padding:9px 15px;
	border-bottom:1px solid #eee;
	font-family:'微软雅黑';
	font-size:24px;
	text-align:right;
	overflow:auto;
	zoom:1;
	line-height:20px;
}
.jm_weixin_win .jm_weixin_header h3 {
	float:left;
    margin: 0 0 0 74px;

}
.jm_winxin_close {
	font-size:16px;
	font-weight:normal;
	cursor:pointer;
	color:#ddd;
}
.jm_webchat {
	padding-top:15px;
	height:251px;
	text-align:center;
}
.jm_webchat img{
    margin: 0 auto;
}
.jm_weixin_footer {
	border-top:1px solid #ddd;
	padding:10px;
	font-size:12px;
}