
.wscn-cm-thread {
    font-family: "Microsoft YaHei";
    color: #999;
}

.wscn-cm-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 3px;
}

.wscn-cm-reply-box {
    padding-top: 10px;
    position: relative;
}

.wscn-cm-reply-box > .wscn-cm-avatar {
    position: absolute;
    top: 10px;
    left: 0;
}

.wscn-cm-reply-box > form {
    display: block;
    border-radius: 5px;
    padding-left: 70px;
    resize: vertical;
}

.wscn-cm-reply-box > form .input {
    display: block;
    border: 1px solid #969696;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
}

.wscn-cm-reply-box > form .input:focus {
    border: 1px solid #1395e5;
}

.wscn-cm-reply-box > form .submit {
    display: block;
    margin: 15px 0 5px;
    float: right;
    color: #fff;
    background: #0078d2;
    text-align: center;
    width: 90px;
    height: 32px;
}

.wscn-cm-reply-box > form .submit:hover {
    text-align: center;
    border: 1px solid #0082e6;
    background: #0082e6;
}

.wscn-cm-reply-box:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.wscn-cm-title {
    font-size: 14px;
    margin-top: 30px;
}

.wscn-cm-sort {
    float: right;
    text-align: right;
}

.wscn-cm-sort a {
    display: inline-block;
    margin-left: 10px;
}

.wscn-cm-sort a:hover {
    color: #0078d2;
}

.wscn-cm-current {
    color: #0078d2;
}

.wscn-cm-comments {
    padding: 0;
    padding-bottom: 25px;
}

.wscn-cm-comment {
    height: auto;
    clear: both;
    padding-top: 10px;
    margin-top: 7px;
    border-top: 1px solid #ddd;
    position: relative;
}

.wscn-cm-comment:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.wscn-cm-comment-body {
    padding-left: 65px;
}

.wscn-cm-comment > .wscn-cm-avatar {
    position: absolute;
    top: 10px;
    left: 0;
}

.wscn-cm-username {
    font-size: 12px;
    color: #0078d2;
}

.wscn-cm-comment-content {
    color: #333;
    font-size: 14px;
    line-height: 1.6em;
    margin: 10px 0;
    word-break: break-all;
}

.wscn-cm-comment-time {
    color: #969696;
    font-size: 12px;
    line-height: 24px;
}

.wscn-cm-comment-footer {
}

.wscn-cm-comment-actions {
    float: right;
    /*width: 280px;*/
    text-align: right;
}

.wscn-cm-comment-actions a {
    color: #666;
    /*width: 50px;*/
    margin-left: 15px;
    display: inline-block;
    font-size: 12px;
    line-height: 24px;
}

.wscn-cm-comment-actions a:hover {
    color: #0078d2;
    text-decoration: none;
}

a.wscn-cm-comment-voted {
    color: #0078d2;
}

a.wscn-cm-comment-voted:hover {
    color: #0078d2;
}
.wscn-cm-comment-actions .wscn-cm-comment-report{ 
    visibility: hidden;
}

.wscn-cm-comment :hover .wscn-cm-comment-actions .wscn-cm-comment-report {
    visibility:visible ; 
}
.wscn-cm-comments-more {
    margin-left: 145px;
    height: auto;
    clear: both;
    padding-top: 10px;
    margin-top: 7px;
    border-top: 1px solid #ddd;
    position: relative;
}
.wscn-cm-off-line {
    width: 100%;
    border-top: 1px solid #000;
}
.wscn-cm-paginator {
    float: right;
    padding: 20px 0;
}

.wscn-cm-paginator a {
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #428bca;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.wscn-cm-paginator a:hover {
    background: #EEE;
    color: #2a6496;
    text-decoration: none;
}

.wscn-cm-paginator span {
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    border: 1px solid #ddd;
    color: #428bca;
    margin-left: -1px;
}

.wscn-cm-paginator .current {
    color: #2a6496;
    background: #EEE;
}

.wscn-cm-step1 {
    margin-left: 65px;
}

.wscn-cm-step2 {
    margin-left: 105px;
}

.wscn-cm-step3 {
    margin-left: 145px;
}

.wscn-cm-step1 > .wscn-cm-comment-body {
    padding-left: 40px;
}

.wscn-cm-step2 > .wscn-cm-comment-body {
    padding-left: 40px;
}

.wscn-cm-step3 > .wscn-cm-comment-body {
    padding-left: 40px;
}

.wscn-cm-step1 > .wscn-cm-avatar img {
    width: 30px;
    height: 30px;
}

.wscn-cm-step2 > .wscn-cm-avatar img {
    width: 30px;
    height: 30px;
}

.wscn-cm-step3 > .wscn-cm-avatar img {
    width: 30px;
    height: 30px;
}

.wscn-cm-loading{
    width: 90px;
    height: 32px;
    position: absolute;
    right: 0px;
    margin-top:15px; 
    display: none;
    overflow: hidden;
}

.wscn-cm-loading>img{
    position: absolute;
    left: -20px;
    top: 12px;
}

.wscn-cm-show .wscn-cm-newpost {
    width: 4px;
    height: 40px;
    top:15px;
    position: absolute;
    background: #0078d2;
    border-radius: 10px;
}
.wscn-cm-reply-box .captcha-box{
    display: none;
}
.wscn-cm-show .wscn-cm-avatar{
    left: 10px;
    -webkit-transition: all 0.6s ease;
       -moz-transition: all 0.6s ease;
        -ms-transition: all 0.6s ease;
           -transition: all 0.6s ease;
}

.wscn-cm-reply-box .captcha-p{
    position: absolute;
    margin-top: 23px;
    font-size: 16px;
    color: #949ca8;
    line-height: 16px;
}
.wscn-cm-reply-box .captcha{
    position: absolute;
    background: #e9eef5;
    border: 1px solid #bcc6d0;
    font-size: 16px;
    color: #000;
    margin-top: 15px;
    height: 30px;
    border-radius: 4px;
    width: 90px;
    left:130px;
    padding-right: 20px;
    resize: none;
}
.wscn-cm-reply-box .captcha-img{
    position: absolute;
    left: 230px;
    margin-top: 15px;
    height: 30px;
    width: 70px;
}
.wscn-cm-reply-box .change-captcha{
    font-size: 12px;
    position: absolute;
    margin-top: 23px;
    line-height: 12px;
    color: #0078d2;
    left: 310px;
}
.wscn-cm-thread .captcha-box>i{
    font-size: 14px;
    position: absolute;
    left: 205px;
    margin-top: 24px;
}
.wscn-cm-thread .captcha-box>.fa-check-circle{
    color: #2cc65c;
}
.wscn-cm-thread .captcha-box>.fa-times-circle{
    color: #ff4646;
}
.wscn-cm-thread .modal{
    opacity: 1;
    top: 20%;
    left: 15%;
}
.wscn-cm-thread .modal-content{
    width: 200px;
}
.wscn-cm-thread .btn-default{
    float: left;
    background: #0078d2;
    color: #fff;
}
.wscn-cm-thread .btn-default:hover,
.wscn-cm-thread .btn-primary:hover{
    background: #0082e6;
    color: #fff;
}
.wscn-cm-thread .modal-title{
    text-align: center;
}

/*评论loading效果*/
.disqus-loader{
    -webkit-animation:disqus-embed-spinner .7s infinite linear;
       -moz-animation:disqus-embed-spinner .7s infinite linear;
        -ms-animation:disqus-embed-spinner .7s infinite linear;
            animation:disqus-embed-spinner .7s infinite linear;
}
@-webkit-keyframes disqus-embed-spinner{
    0%{-webkit-transform:rotate(0deg)}
    100%{-webkit-transform:rotate(360deg)}
}
@-moz-keyframes disqus-embed-spinner{
    0%{-moz-transform:rotate(0deg)}
    100%{-moz-transform:rotate(360deg)}
}
@-ms-keyframes disqus-embed-spinner{
    0%{-ms-transform:rotate(0deg)}
    100%{-ms-transform:rotate(360deg)}
}
@keyframes disqus-embed-spinner{
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
}
         
.wscn-cm-thread .cannot-submit{
    position: absolute;
    right: 0px;
    bottom: 5px;
    font-size: 26px;
    height: 32px;
    width: 90px;
    text-align: center;
    line-height: 32px;
    display: none;
}
/*删除评论*/
.wscn-cm-comment-actions .wscn-cm-comment-delete{
    display: none;
    visibility: hidden;
}
.wscn-cm-comment :hover .wscn-cm-comment-actions .wscn-cm-comment-delete {
    visibility:visible ; 
}
.wscn-cm-comment-content-deleted{
    color: #CCC;
}
.wscn-cm-comments .wscn-cm-owner .wscn-cm-comment-delete {
    display: inline-block !important;  
}