/**
 * @package WordPress
 * @subpackage Drochilli_Theme
 */
.wp-pagenavi {
	color: #393939;
	font: 16px/20px Arial;
	#margin: 10px auto;
	overflow: hidden;
	text-align: right;
	width: 100%;
}

	.wp-pagenavi .pages {
		display: none;
	}

	.wp-pagenavi a {
		color: #393939;
		height: 30px;
		margin: 7px 3px 0 3px;
		text-decoration:none;
		text-align: center;
		padding:0 5px;
	}

	.wp-pagenavi a.page {
		text-align: center;
		border:solid 1px #000;
		line-height:30px;
	}

	.wp-pagenavi a.hanzi,a.first,a.last {
		text-align: center;
		border:solid 1px #000;
		line-height:30px;
	}
		
	.wp-pagenavi .current {
		background: #666;
		color: #fff;
		margin: 7px 3px 0 3px;
		padding: 0 5px;
		border:solid 1px #666;
		text-align: center;
		text-decoration: none;
	}

	.extend {
		#display: none;
	}