@charset "UTF-8";

/* 

	���ߣ��޺�

	Email��master@honk.cc

	QQ��7509451

 */

.wrap{width:960px;margin:0 10px 10px;}





.col1, .col2, .col3, .col4, .col5, .news_sort {

    float: left;

    margin-right: 10px;

}

.layout-cols2 .col1 {

    width: 680px;

    overflow:hidden;

}

.layout-cols2 .col2 {

    width: 270px;

    margin-right: 0;

    overflow:hidden;

}

.layout-cols3 .col1 {

    width: 280px;

}

.layout-cols3 .col2 {

    width: 310px;

}

.layout-cols3 .col3 {

    width: 300px;

    margin-right: 0;

}

.layout-cols2, .layout-cols3 {

    margin-bottom: 0 !important;

}

.layout-col2ultra .col1 {

    width: 280px;

    overflow:hidden;

}

.layout-col2ultra .col2,

.layout-col2ultra .col2 .span2 {

    width: 620px;

    margin-right: 0;

}

.layout-col2ultra .col2 .col1 {

    width: 310px;

}

.layout-col2ultra .col2 .col2 {

    width: 300px;

}

.layout-col2ultra .col2 .span2 {

    clear: both;

    margin-bottom: 10px;

}

.box{

	border:1px solid #99BBDD;

	margin-bottom:10px;

}

.box_1 ul{

	padding:5px;

}

.box .center_box li{

	line-height:25px;

	font-size:14px;

}

.box .center_box li span{

	float:right;

	font-size:12px;

	color:#A8A8A8;

}

.box .down_box li{

	line-height:25px;

	font-size:12px;

}

.box .down_box li span{

	padding-right:5px;

	padding-left:5px;

}

.box .down_box li span a{

	color:#275c91;

}

.box_bt {

	background: url(../images/old/title_icon.gif) no-repeat 10px 12px  #f6f6f6;

	padding:4px;

	padding-left:24px;

	font-size:14px;

	font-weight:bold;

	margin:5px 7px 4px 7px;

	color:#275C91;

}

.box_bt a:link{

	color:#275C91;

}

.box_bt a:visited{

	color:#275C91;

}

.box_bt a:hover{

	color:#275C91;

	text-decoration:underline;

}

.box_text{

	color:#8C8C8C;

	text-indent:24px;

	line-height:21px;

	margin:0px 7px;

	background:url(../images/old/title_bg.gif) repeat-x bottom;

	padding-bottom:6px;

}

.box_title{

	background:url(../images/old/news_bg.gif);

    position: relative;

    height: 28px;

}

.box_title h3 {

    height: 26px;

    line-height: 26px;

    margin: 1px 1px 0;

    padding: 0 10px;

    font-weight: bold;

    font-size: 120%;

    color: #275c91;

}

.box_title span {

	float:right;

	padding-top:5px;

	padding-right:5px;

}

.box .left_box li{

	line-height:24px;

}

.box .hot_box li{

	background:url(../images/old/nav_icon.gif) no-repeat 5px 10px;

	padding-left:14px;

	line-height:27px;

}

.box .hot_box li a:link{

	color:#2C6AA9;

}

.box .hot_box li a:visited{

	color:#2C6AA9;  

}

.box .hot_box li a:hover{

	color:#2C6AA9;

	text-decoration:underline;

}

.box .tj_box li{

	background:url(../images/old/title_bg.gif) repeat-x bottom;

	padding:5px 7px 0px 10px;

	color:#A3A3A3;

	clear:both;

	height:100px;

	overflow:hidden;

}

.box .tj_box li span{

	float:left; padding-right:10px;

	}

.box .zz_box li{

	padding:7px 7px;

	color:#A3A3A3;

	clear:both;

	height:175px;

	overflow:hidden;

}

.box .zz_box li span{

	float:left; padding-right:10px;

	}

.box .pl_box li{

	border-bottom:1px solid #ccc;

    padding:5px 5px 3px 5px;

	color:#666666;

}

.box .pl_box li span{

	color:#999999;

	}

.box .pl_box li h6{

	text-align:left;

	padding-bottom:6px;

	text-indent:24px;

	color:#FF3300;

	}

.box .pl_box li a.vo{

	color:#2C6AA9;

	}

.ad_left{

	margin-bottom:10px;

}

.box .cy_box li{

	background:url(../images/old/title_bg.gif) repeat-x bottom;

	padding:10px 5px;

}

.box .cy_box li h4{

	font-size:14px;

	color:#2C2C2C;

	font-weight:bold;

	padding-bottom:5px;

}

.box .cy_box li a:link{

	color:#2C6AA9;

}

.box .cy_box li a:visited{

	color:#2C6AA9;

}

.box .cy_box li a:hover{

	color:#2C6AA9;

	text-decoration:underline;

}

.box .sc_box li{

	background:url(../images/old/title_bg.gif) repeat-x bottom;

	padding:11px;

	line-height:21px;

}

.box .sc_box li span{

	float:left; padding-right:10px;

	}

.box .sc_box li span b{

	display:block;

	text-align:center;

	padding-top:5px;

}

.box .sc_box li a:link{

	color:#2C6AA9;

}

.box .sc_box li a:visited{

	color:#2C6AA9;

}

.box .sc_box li a:hover{

	color:#2C6AA9;

	text-decoration:underline;

}

.box .tab h3,

.box .tab ul.tabitem,

.box .tab ul.tabitem li {

    float: left;

	font-size:12px;

}

.box .tab ul.tabitem {

    line-height: 2.3;

}

.box .tab ul.tabitem li {

    margin: 0 -1px -1px 0;

    position: relative;

}

.box .tab ul.tabitem a {

    display: block;

    padding: 0 5px;

}

.box .tab ul.tabitem a:link,

.box .tab ul.tabitem a:visited {

    color: #275c91;

}

.box .tab ul.tabitem a.current,

.box .tab ul.tabitem a:hover {

    border: solid #99bbdd;

    border-width: 0 1px;

    padding: 0 4px;

    background: #fff;

}

html:first-child .box .tab ul.tabitem a.current,

html:first-child .box .tab ul.tabitem a:hover {

    position: relative;

    padding-bottom: 1px;

}





.cztopbg{

    background-image: url(../images/old/cztopbg.jpg);

    background-repeat: no-repeat;

    background-position: center top;

    padding-top: 50px;

}



.f14{

    font-size:12px;

    white-space:nowrap;

    text-overflow:ellipsis;

    overflow: hidden;

}



/* Note

==========================================================*/

.note {

    margin: 0 15px 10px;

	color:#666666;

}

.note span{

	float:right;

}

.disable {

    display: none;

}

/* ad-loop, search, topinfo, recommendinfo

==========================================================*/

.wrap .ad-loop {

    width: 278px;

    height: 194px;

    border: 1px solid #99bbdd;

    overflow: hidden;

    margin-bottom: 10px;

}

.search {

    float: right;

    width: 588px;

    height: 66px;

    border: 1px solid #99bbdd;

    margin-bottom: 10px;

    background: #f5fafe;

	padding:7px 10px 5px 20px;

}

.input{

	border:1px solid #8FA6BC;

	height:20px;

	line-height:20px;

	width:490px;

	margin-right:15px;

}

.input_pos{

	float:left;

}

.hot_line{

	clear:both;

	padding-top:3px;

}

.hot_line a:link{

	color:#DD8700;

}

.hot_line a:visited{

	color:#DD8700;

}

.hot_line a:hover{

	color:#DD8700;

	text-decoration:underline;

}

.menu_1,.menu_2,.menu_3,.menu_4,.menu_5,.menu_6,.menu_7,.menu_8,.menu_9,.menu_10,.menu_11{

	position:relative; margin-bottom:-1px;left:13px;

	height:5px; width:7px;

	overflow:hidden;

	background:url(../images/old/icon_1.gif) no-repeat;

}

.menu_2{

	left:51px;

}

.menu_3{

	left:92px;

}

.menu_4{

	left:130px;

}

.menu_5{

	left:172px;

}

.menu_6{

	left:210px;

}

.menu_7{

	left:258px;

}

.menu_8{

	left:314px;

}

.menu_9{

	left:365px;

}

.menu_10{

	left:414px;

}

.menu_11{

	left:456px;

}



.menu{

	word-spacing:0;

	color:#B1B1B1;

}

.menu a:link,.menu a:visited{

	color:#B1B1B1;

	margin:0px 5px;

}	

	

a.menu_gg:link, a.menu_gg:visited {

	color:#000;

}



	

.btn_sc{

	border:none;

	background:url(../images/old/btn.gif);

	width:76px;

	height:23px;

	color:#FFFFFF;

	line-height:23px;

	text-align:center;

	font-weight:bold;

}

.topinfo {

    height: 106px;

    margin-bottom: 10px;

    overflow: hidden;

    background: url(../images/old/bg.png) no-repeat 0 -30px;

}

.topinfo h3 {

    color: #275c91;

    font-size: 120%;

    font-weight: bold;

    white-space: nowrap;

    margin: 10px 75px 10px 15px;

}

.topinfo p {

    margin: 0 15px;

}

.topinfo a:link, .topinfo a:visited {

    color: #275c91;

}



.wrap .recommendinfo {

    width: 298px;

    height: 104px;

    margin-bottom: 10px;

    border: 1px solid #99bbdd;

}

.recommendinfo h3 {

    float: left;

    display: inline;

    width: 30px;

    height: 102px;

    margin: 1px 5px 1px 1px;

    line-height: 1.7;

    color: #275c91;

    background: #d7e7f7;

    font-size: 120%;

    font-weight: bold;

}

.recommendinfo h3 span {

    display: block;

    text-align: center;

    margin: 0 5px;

}

.recommendinfo ul {

    float: left;

    margin: 3px 0 0 0;

    width: 250px;

    font-size: 120%;

    line-height: 1.7;

}

.recommendinfo li {

    clear: both;

}

.recommendinfo .date {

    float: right;

    line-height: 2;

    font-size: 80%;

	font-size:9px;

	color:#999999;

}



.weizhi{

	border:1px solid #B0C7DD;

	background:#E1EFFB;

	padding:0px 15px;

	height:30px;

	line-height:30px;

	margin:0px 10px 10px 10px;

	position:relative;

}

.weizhi span{

	position:absolute;

	right:10px;

}

.searchtxt{

	border:1px solid #8FA6BC;

	height:16px;

	line-height:16px;

}

#news{

	background:#F5FAFF;

	border:1px solid #99BBDD;

	padding:30px 18px 20px 18px;

	color:#4A4A4A;

    margin-bottom:10px

}

a.v_red:link{

	color:#BF001F;

	text-decoration:none;

}

a.v_red:visited{

	color:#BF001F;

	text-decoration:none;

}

a.v_red:hover{

	color:#BF001F;

	text-decoration:underline;

}

.ding_box{

	padding:0px 0px 25px 170px;

	height:62px;

}

.ding{

	width:58px;

	height:62px;

	text-align:center;

	display:block;

	margin-right:100px;

	float:left;

}

.ding_bg{

	background:url(../images/old/ding_bg.gif);

}

.back_bg{

	background:url(../images/old/back_bg.gif);

}

.ding b{

	color:#FFFFFF;

	font-size:20px;

	display:block;

	padding:5px 0px;

}

.pagebreak{

	text-align:center;

	margin-bottom:20px;

	line-height:25px;

	}

.pagebreak a{

	margin: 5px 2px;

	color:#666666;

	border:1px solid #CCCCCC;

	padding: 4px 5px 1px 5px;

}

.pagebreak strong{

	margin: 5px 2px;

	color: #1E90FF;

	font-weight:normal;

	padding: 4px 5px 1px 5px;

	margin-bottom:5px;

	border:1px solid #CCCCCC;

	background:#DCDCDC;

}



.news_sort{

	border:1px solid #99BBDD;

	width:678px;

	margin-bottom:10px;

}

.news_sort .news_title{

	background:url(../images/old/news_bg.gif) repeat-x;

	height:28px;

	line-height:28px;

	padding-left:15px;

	font-size:14px;

	font-weight:bold;

	color:#204E7D;

	padding-right:15px;

}

.news_sort .news_title span{

	float:right;

	font-size:12px;

	font-weight:normal;

}

.news_sort ul{

	padding:5px 10px;

}

.news_sort ul li{

	line-height:23px;

	font-size:14px;

}

.news_sort ul li span{

	float:right;

	font-size:12px;

	color:#AAAAAA;

}	



.content{

	font-size:14px;

	color:#2A2A2A;

	line-height:25px;

	margin:15px 0px 35px 0px;

}

.content p{

	text-indent:2em;

    margin-bottom:10px;

}

.content img{

	border:1px solid #666666;

	max-width:510px;

}

.content .logo{

	border:0;

}

.content tbody td{

	padding:8px;

}

.content a{color:#0841D6;}



.times{

	text-align:center;

	color:#666666;

	padding:15px 0px;

	border-bottom: 1px solid #E1E4E6;

}



.xg{

	line-height:24px;

	border-top: 1px solid #E1E4E6;

	padding:5px;

	margin-bottom:10px;

	border-bottom: 1px solid #E1E4E6;

	height: 30px;

}

.xg li{

	width:50%;

	float:left;

}

.pl{

	border:1px solid #DADCDD;

	background:#fff;

}

.pl_title{

	height:30px;

	line-height:30px;

	padding-left:15px;

	padding-right:15px;

	font-size:14px;

	font-weight:bold;

	background:url(../images/old/pl_bg.gif) repeat-x;

}

.pl_title span{

	float:right;

	font-size:12px;

	font-weight:normal;

	color:#949494;

}

.pl_title b{

	color:#E8581F;

}

.pl_rec_list{

	line-height:25px;

	text-align:center;

	height:90px;

	border-bottom: 1px dashed #E6E6E6;

}

.pl_rec_list li{

	width:290px;

	text-align:center;

	float:left;

	font-size:14px;

    white-space:nowrap;

    overflow:hidden;

}

.pl_rec_list li a:link,

.pl_rec_list li a:visited{

	text-decoration:none;

}

.pl_rec_list li a:hover{

	color:#204E7D;

	text-decoration:underline;

}

.pl_list{

	margin:15px 20px;

	line-height:25px;

	border-bottom:1px solid #E6E6E6;

	padding-left:5px;

	padding-bottom:10px;

}

.float_right{

	float:right;

}

.float_left{

	float:left;

}

.zz{

	color:#204E7D;

}

.btn{

	color:#FFFFFF;

	background:#5D8BBA;

	height:22px;

	text-align:center;

	line-height:22px;

	border-top:1px solid #6499CE;

	border-left:1px solid #6499CE;

	border-right:1px solid #255789;

	border-bottom:1px solid #255789;

}

.bor{

	padding:10px 0px;

}

.bor textarea{display:block;width:99%;}

.news_list ul{

	border-bottom:1px solid #ccc;

	padding-bottom:10px;

	margin-bottom:15px;

	}

.news_list ul .list_title{

	color:#204E7D;

	font-weight:bold;

	background:url(../images/old/list_title.gif) no-repeat 7px 7px;

	padding-left:23px;

	font-size:14px;

}

.news_list ul .list_title .date{

	font-size:12px;

	float:right;

	color:#787878;

	font-weight:normal;

}

.news_list ul .ot span{

        margin-right:50px;

}

.news_list ul .text{

	line-height:23px;

	text-indent:24px;

	padding:13px 0px;

	color:#878787;

}

.news_list ul .text span {

	margin-right:10px;}

.red{

	color:#FF0000;

}

.blue{

	color:#1FA51C;

}

.fsource{

	color:#666;

}

.news_list a:link{

	color:#204E7D;

	text-decoration:none;

}

.news_list a:visited{

	color:#204E7D;

	text-decoration:none;

}

.news_list a:hover{

	color:#204E7D;

	text-decoration:underline;

}

.right_bot{

	margin-bottom:10px;

}

.right_bot iframe{

    display:block;margin:0 auto;

}





.right_box{

	border:1px solid #99BBDD;

}

.right_title{

	background:#D7E7F7;

	border-bottom:1px solid #99BBDD;

	height:27px;

	line-height:27px;

	font-size:14px; 

	font-weight:bold;

	color:#313131;

	padding-left:10px;

}

.right_box ul{

	padding:5px;

	padding-left:10px;

}

.right_box ul li{

	line-height:25px;

}

.line{

	margin:0px 10px 10px 10px;

}

.box_line .bv{

	border-bottom:1px solid #E8E8E8; padding-bottom:5px; margin-bottom:5px;

}

.box_line a{

	line-height:28px;

	padding-left:9px;

}

.v-tab {

    width: 71px;

    float: left;

    display: inline;

    overflow: hidden;

    margin: -2px 1px -6px -5px !important;

    margin: -5px 1px -6px -5px;

}

.infopublish ul.left_box li {

    line-height: 1.89; 

}



.v-tab li {

    float: left;

}

.v-tab li a {

    float: left;

    width: 70px;

    height: 29px;

    line-height: 29px;

    text-align: center;

    background: #ebf7e9;

    border: solid #7bce74;

    border-width: 0 1px 1px 0;

}

.v-tab li a:link,

.v-tab li a:visited {

    color: #2e7428;

}

.v-tab li a.current,

.v-tab li a:hover,

.v-tab li a:active {

    background: #fff;

    border-right: 0;

    font-weight: bold;

    padding-right: 1px;

}











.infopublish {

    border-color: #7bce74;

}

.infopublish .box_title {

    background: none;

}

.infopublish .box_title h3 {

    height: 30px;

    line-height: 30px;

    margin: 1px 1px 0;

    color: #fff;

    background: url(../images/old/nav.png) repeat-x 0 -390px;

}	

	



.text_tag {

	background: #FFFFFF;

	border: 1px dashed #CAE5FF;


	margin: 10px auto;

	padding:5px 10px;

    overflow:hidden;

    zoom:1;

}



.text_tag h5 {

	clear: left;

	color: #000000;

	display: block;

	float: left;

	font-size:12px;

	padding-top:3px;

}



.text_tag span {

	float: right;

	font: 12px/24px Tahoma;

}









.pages{

	text-align:right;

	padding-bottom:15px;

	padding-right:20px;

	}

.pages a:link{

	display:inline;

	border:1px solid #D9D9D9;

	color:#001A9F;

	padding:2px 5px;

	margin:0px 3px;

}

.pages a:visited{

	display:inline;

	border:1px solid #D9D9D9;

	color:#001A9F;

	padding:2px 5px;

	margin:0px 3px;

}

.pages a:hover{

	display:inline;

	border:1px solid #8BCCEC;

	color:#000000;

	background:#E8F3FD;

	padding:2px 5px;

	margin:0px 3px;

}

.pages .click{

	display:inline;

	border:1px solid #ff831e;

	color:#000000;

	background:#ffebd9;

	padding:2px 5px;

	margin:0px 3px;

}



.pages2 td{font-size:13px;padding:0 2px;}

.pages2 td b{font-weight:bold;}

.pages2 td a{border:none;}



.pl_list ul{

	border-bottom:1px dashed #d7d7d7;

}

.pl_list ul .title{

	color:#1F0087;

	margin-top:10px;

}

.pl_list ul .content{

	margin:10px;

	text-indent:2em;

}

.pl_list ul .op{

	color:#d7d7d7;

}

.pl_list ul li span{

	float:right;

	color:#d7d7d7;

}





.box_xg{

	border:1px solid #B8CDE3;

	margin-bottom:10px;

}

.box_xg .title_xg{

	background:#B8CDE3;

	color:#003770;

	line-height:26px;

	height:26px;

	padding-left:15px;

	border:1px solid #fff;

	font-weight:bold;

}

.box_xg ul{

	padding:6px;

	overflow:hidden;

	height:1%;

}



.box_xg ul li{

	display:block;

	float:left;

	width:50%;

	*width:49%;

	text-indent:12px;

	height:24px;

	line-height:24px;

	overflow:hidden;

	font-size:14px;

}



.review-block {

    border: 1px solid #cccccc;

    border-left-width: 2px;

    padding: 2px 5px;

    background: #fff;

    color: #666;

}

* html .review-block {

  zoom:1;

}

.review-block dl, .review-block dt, .review-block dd {

    margin: 0;

    padding: 0;

}

.review-block dl {

    padding: 2px 0;

}

.review-block dt {

    color: #cccccc;

    margin-bottom: 5px;

}







.box_xgimg{

	border:1px solid #B8CDE3;

	margin-bottom:10px;

    background:#fff;

}

.box_xgimg .title_xg{

	background:#B8CDE3;

	color:#003770;

	line-height:26px;

	height:26px;

	padding-left:15px;

	border:1px solid #fff;

	font-weight:bold;

}

.box_xgimg ul{

	padding:10px 10px 10px 20px;

	overflow:hidden;

	zoom:1;

}

.title_xg span{font-size:14px;font-weight:bold;}

.title_xg span a.currON{ color:#FF0000;}

.box_xgimg ul li{

	float:left;

	width:130px;

	margin:0 20px 0 0;

}

.box_xgimg ul li img{

	border:1px solid #ccc;

	width:121px;

	height:91px;

	padding:2px;

}





.right_img{

	border:1px solid #99BBDD;

	margin-bottom:10px;

	padding:0;

}

.right_title{

	background:#D7E7F7;

	border-bottom:1px solid #99BBDD;

	height:27px;

	line-height:27px;

	font-size:14px; 

	font-weight:bold;

	color:#313131;

	padding-left:10px;

}

.right_img ul{

	width:268px;

  	height:280px;

	padding:0px;

	padding-left:0px;

	overflow:hidden;

}

.right_img ul li{

	line-height:18px;

	float:left;

	margin:2px;

	padding:0;

	width:126px;

	text-align:center;

}

.right_img ul li img{

	width:120px;

	height:90px;

	padding:2px;

	border:1px solid #ccc;

}

.img_hr{border-top:1px solid #000000;margin-top:3px;width:130px;height:1px;line-height:1px;}





.zz_zf,.zz_ft{

	list-style-type:none;

	height:92px;

	overflow:hidden;

	background:#f2f6fc;

	border-bottom:1px dotted #C3D9FF; 

}

.zz_zf_img{

	float:left;

	margin:8px 0px 8px 8px;

}

.zz_ft{

	height:153px;

	line-height:20px;

	text-align:center;

}

.zz_ft_img{

	margin:8px 8px 0px 0px;

}

.zz_ft img{

	border:1px solid #CCCCCC;

	width:260px;

	height:120px;

	margin:5px 5px 2px 5px;

}

.zz_ft span{

	width:100%;	

}

.zz_zf img{

	border:1px solid #CCCCCC;

	width:64px;

	height:74px;

}

.zz_zf p{

	width:184px;

	height:64px;

	float:left;

	padding:4px;

	line-height:20px;

	margin-left:8px;

}

.zz_zf_tit{

	width:99%;

	font-weight:bold;

}

#hotht{

	font-size:14px;

}



.shoucang{

	margin: 5px auto;

	float:center;

	text-align:center;

	height:20px;

	line-height:20px;

}





.comimg{

	width:265px;

	overflow:hidden;

	clear:both;

	padding-left:5px;

	margin-top:10px;

}

.comimg img{

	width:265px;

	height:80px;

	border:0px;

}

.combok{

	background:#FFFFFF;

	width:250px;

	list-style-type:none;

	clear:both;

	overflow:hidden;

	margin:6px 5px;

}

.combok li{

	width:100%;

	height:24px;

	overflow:hidden;

	line-height:24px;

	text-indent:0px;

}

.combok li a{

	color:#333333;

}

.othzt{padding:10px;border:1px solid #EEEEEE;}

.othzt ul{overflow:hidden;zoom:1;}

.othzt ul li{width:300px;float:left;padding:0 5px;margin:3px 1px;height:104px;line-height:20px;overflow:hidden;}

.othzt ul li img{width:120px;height:90px;float:left;margin:5px;border:1px solid #666;}

.othzt ul li p{float:left;width:150px;}



.pageul{overflow:hidden;zoom:1;}

.pageul li{float:left;margin-right:3px;}

.pageul li.thisclass {float:left;border:1px solid #8BCCEC;color:#001A9F;padding:2px 5px;background:#E8F3FD;}

.pageul a:link,.pageul a:visited{float:left;border:1px solid #D9D9D9;color:#001A9F;padding:2px 5px;background:#fff;}

.pageul a:hover,.pageul a:active,

.pageul a.now:link,.pageul a.now:active{border-color:#8BCCEC;background:#E8F3FD;text-decoration:none;}





h1.article-heading{color: #363737;font-size:22px;text-align:center;}



.fs-small{font-size:14px;}

.fs-big{font-size:16px;}

#sfont,#bfont{cursor:pointer;}



.cont-summary{font-size:12px !important;background:#fff;border:1px solid #ddd;margin:10px 0;padding:10px;}



#search_list .keyword{background:#ff0;}







