/*----BackToTop---*/
.box-wrapper {
	color: #999;
	position: fixed;
	bottom: 15px;
	left: 50%;
	margin-left: 495px;
	line-height: 25px;
}
.box-wrapper .qrcode {
	margin-left:-15px;
	text-align:center;
}

.box-wrapper .qrcode p {
	line-height:12px;
}

#goTopBox {
	background: url("../img/sprites_common.png") -468px -251px no-repeat;
	background-color: #ffffff;
	border: 1px solid #999;
	padding-left: 23px;
	width: 30px;
	height: 25px;
	cursor: pointer;

    border-radius:3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}
#goTopBox:hover {
	background: url("../img/sprites_common.png") -468px -268px no-repeat;
	background-color: #ffffff;
	border: 1px solid #31abff;
	color: #31abff;
}
/*----SupportBox---*/
.support-box {
	background: url("../img/sprites_common.png") -468px -288px no-repeat;
	background-color: #ffffff;
	border: 1px solid #999;
	padding-left: 23px;
	margin-top: 3px;
	width: 30px;
	height: 25px;
	cursor: pointer;

    border-radius:3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}
.support-box:hover {
	background: url("../img/sprites_common.png") -468px -310px no-repeat;
	background-color: #ffffff;
	border: 1px solid #31abff;
	color: #31abff;
}
#dialog-support .form-wrapper {
	padding: 0px;
}
#dialog-support input {
	margin: 5px;
	padding: 0px;
}
#dialog-support textarea {
	margin: 5px;
	padding: 0px;
	width: 360px;
}
.share-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button:focus {
	border: 1px solid #79B7E7;
}
