.wrap648 {border: #d9d9d9 1px solid; padding-bottom: 16px; margin-top: 10px; width: 650px; float: left;}
.wrap630 {
	margin: 0px auto; width: 630px
}
.flist{height:20px; margin-top:10px; margin-left:10px; clear:both}
.flist a,.flist strong{ border:1px solid #cccccc; padding:3px 5px; }
.list_time_edit {
	border-bottom: #ccc 1px dotted; padding-bottom: 15px; margin-top: 10px
}
.list_time_edit li,.news_tit,.list_item li,.news_tabs {
	background: url(../images/army.png) no-repeat
}

.list_olitem {
	background: url(../images/nav_lin.png) no-repeat
}
.list_time_edit li,.list_time_edit,.list_item li,.list_olitem li {
	width: 100%; float: left
}

.list_time_edit li {
	line-height: 21px; margin-top: 6px; background-position: -950px -287px; height: 21px; overflow: hidden
}
.list_time_edit a {
	float: left; margin-left: 15px; font-size: 14px
}
.list_time_edit span {
	font-family: arial, helvetica, sans-serif; float: right; color: #666; font-size: 12px
}
.cur_one {
	background: url(../images/slogo.jpg) no-repeat;color:#666666; border-bottom: #d9d9d9 1px solid; padding-left: 103px; height: 24px; color: #676767; overflow: hidden; padding-top: 11px
}

.cur_one a {
	margin: 0px 5px;
	color:#144CA1
}

.wrap300 {
	width: 300px; float: right
}
.list_rad {
	text-align: center; margin-top: 10px
}
.list_rad img {
	vertical-align: middle
}
.news_tit,.news_tabs {
	border-bottom: #d8dfe9 1px; border-left: #d8dfe9 1px solid; margin-top: 10px; background-position: 0px -346px; height: 28px; overflow: hidden; border-top: #d8dfe9 1px solid; border-right: #d8dfe9 1px solid
}
.news_tit {
	line-height: 29px; text-indent: 10px; color: #1c2c58; font-size: 14px; font-weight: normal
}
.news_list,.list_photo,.add_border,.list_olitem  {
	zoom: 1; overflow: hidden
}
.news_list,.list_photo,.add_border  {
	border-bottom: #d8dfe9 1px solid; border-left: #d8dfe9 1px solid; padding-bottom: 7px; background: #f3f8ff; border-top: #d8dfe9 1px; border-right: #d8dfe9 1px solid
}
.news_list h3 {
	text-overflow: ellipsis; white-space: nowrap; overflow: hidden
}
.list_olitem li {
	text-overflow: ellipsis; white-space: nowrap; overflow: hidden
}
.foot_picone span {
	text-overflow: ellipsis; white-space: nowrap; overflow: hidden
}
#links_t{
	text-indent: -999em; overflow: hidden
}

.list_item,.news_list h3 {
	margin: 0px auto; width: 285px
}
.news_list h3 {
	text-align: center; line-height: 22px; margin-top: 8px; height: 21px; font-size: 14px
}
.list_item li {
	line-height: 17px; margin-top: 6px; text-indent: 12px; background-position: -955px -343px; height: 17px; overflow: hidden
}
.news_list a {
	color: #0b3b8c
}
.news_list a:hover {
	color: #c00000
}
.divshare code:hover {
	color: #c00000
}
.list_photo {
	padding-left: 1px
}
.list_photo a {
	text-align: center; line-height: 1.6; margin: 10px 4px 0px; width: 140px; background: #f3f8ff; float: left; height: 120px; overflow: hidden
}
.list_photo img{
	margin: 0px auto 4px; width: 140px; display: block; height: 99px
}
.news_tabs,.add_border ,#links_t,#links_main {border: #ccc 1px solid;}

.news_tabs,#links_t{border-bottom-style: none;}
.add_border,#links_main  {
	
    border-top-style: none;

}

.news_tabs h2 {
	padding: 7px 0 0 10px; float: left;
}
.news_tab_tit {
	float: right; margin-right: -1px
}
.news_tab_tit li {
	text-align: center; line-height: 29px; width: 54px; float: left; height: 28px; overflow: hidden; cursor: pointer
}
.news_tab_tit li.current {
	border-left: #e1e1e1 1px solid; width: 52px; background: #f9f9f9; font-weight: bold; border-right: #e1e1e1 1px solid
}
.list_olitem {
	margin: 4px auto 0px; width: 278px; background-position: -369px -552px
}
.list_olitem li {
	line-height: 17px; margin-top: 4px; text-indent: 20px; height: 17px
}
#links_t,#links_main{
	margin: 10px auto 0px; width: 958px
}


#links_t {
	background: url(../images/news.png) no-repeat
}
.video_btit h2 {
	background: url(../images/news.png) no-repeat
}
#links_t {
	height: 31px
}
#links_main {
	padding-bottom: 0px; line-height: 2; margin-top: 0px; padding-left: 10px; width: 948px; padding-right: 0px; padding-top: 5px
}
#links_main a {
	display: inline-block; white-space: nowrap; margin-right: 15px
}


.fr {
	float: right
}

.pic_listwo a {
	text-align: center; line-height: 1.6; margin: 20px 5px 0px 21px; width: 186px; background: #fff; float: left; height: 154px; overflow: hidden
}
.pic_listwo img {
	border: #ccc 1px solid;  padding-bottom: 2px; margin: 0px auto 3px; padding-left: 2px; width: 180px; padding-right: 2px; display: block; height: 125px; padding-top: 2px
}

#ss {
	border: #ccc 1px solid;  padding-bottom: 5px; margin: 10px auto; padding-left: 5px; width: 610px; padding-right: 5px; overflow: hidden; padding-top: 5px
}
#s_in {
	padding-bottom: 2px; padding-left: 2px; width: 600px; padding-right: 2px; overflow: hidden; padding-top: 2px
}
#s_k {
	line-height: 21px; margin-top: 5px; padding-left: 5px; width: 550px; height: 21px
}
.s_t {
	border: #ccc 1px solid; padding-bottom: 0px; padding-left: 5px; width: 520px; padding-right: 5px; font: 14px/29px arial; background: #ffffff; float: left; height: 29px; color: #666; margin-right: 5px;  padding-top: 0px
}
.search_con_botton {
	border-bottom: 0px; text-align: center; border-left: 0px; width: 60px; font: 700 14px/30px arial; background: #0b3b8c; float: left; height: 29px; color: #fff; border-top: 0px; cursor: pointer; border-right: 0px
}
#tab2 {
	margin: 0px auto; width: 960px; overflow: hidden
}
#links_t {
	width: 958px; background: url(../images/bg_news.gif) no-repeat 0px -463px; height: 35px
}
#links_t ul {
	padding-left: 200px
}
#links_t ul li {
	text-align: center; border-left: #ccc 1px solid; line-height: 30px; width: 80px; float: left; height: 30px; border-right: #ccc 1px solid
}
#links_t ul li.hover {
	border-bottom: #fff 1px solid; font-weight: bold
}
#links a {
	padding-bottom: 5px; padding-left: 0px; width: 67px; padding-right: 0px; display: block; float: left; padding-top: 5px
}
