
#news_main:after{display: block; height: 0px; clear: both; content: ' '}
#nav {
	margin: auto; width: 960px; line-height: 30px; height:30px; overflow: hidden; background:none;
}
#nav a {
	padding: 0px 3px; color:#333333; float:none
}
#nav a:hover,#nav a.hover {
	background-color:#144CA1; color: #F2F9FF; text-decoration: none
}
#nav_l {
	width: 700px; float: left;
}
#nav_r {
	width: 210px; float: right;
}
#nav_l_1 {
	float: left;
}
#nav_l_1 a {
	color: #000099;
}
#nav_r_1 {
	padding: 0px 5px; width: 290px; float: right;
}
#home {
	width: 100px; height: 29px; text-indent: -1000px; float: left; display: block;
}
#ad { margin: 5px auto;width: 960px;}
#main {
	margin: auto; width: 960px; overflow: hidden;
}
#news_nav {
	background: url("../images/slogo.jpg") no-repeat; width: 650px; color:#666666;  line-height: 35px; height:35px; overflow: hidden;
}
#news_nav a {
	color: rgb(0, 0, 153);
}

#news_l {
	width: 650px; overflow: hidden; float: left;
}
#news_r {
	width: 300px; overflow: hidden; margin-left: 10px; float: left;
}
#news {
border:1px solid #D3DBE6;border-top:2px solid #003794;
}
#news_t {
	width: 590px; text-align: center; overflow: hidden; margin-top: 7px; margin-bottom: 3px; margin-left: 30px;
}
#news_t h1 {
	height: 60px; text-align: center; color: #D00002; line-height: 60px; overflow: hidden; font-family: 黑体; font-size: 20px; border-bottom: 1px solid #E5E5E5;
}
#news_t h1 a {
	color: #D00002;
}
#news_t p {
	margin: 0px; padding: 0px;
}
.bt_ad {
    text-align: center;
    width: 590px;
}
#news_time {
	width: 600px; text-align: center; color:#7E807D; overflow: hidden; float: left;
}
#news_t p span a {
	color: rgb(204, 0, 0);
}

#news_ad1 {
	width: 300px; overflow: hidden; margin-top: 10px;
}
#news_main {
	width: 578px; color:#000000; line-height: 2; overflow: hidden;padding:0 35px; margin-top:20px; font-size: 14px;
}

#links_t {
	background: url("../images/bg_news.gif") no-repeat 0px -463px; width: 960px; height: 35px;
}
#links_t ul {
	margin: 0px; padding: 0px 0px 0px 200px;
}
#links_t ul li {
	list-style: none; width: 80px; height: 30px; text-align: center; line-height: 30px; border-right-color: rgb(204, 204, 204); border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; float: left;
}
#links_t ul li.hover {
	font-weight: bold; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}

#footer {
	margin: auto; padding: 5px 0px; width: 960px; text-align: center; color: rgb(51, 51, 51); font-size: 12px;
}
#footer { line-height:24px;}
#footer a {
	color: rgb(51, 51, 51); font-size: 12px; text-decoration: none;
}
#footer p {
	margin: 0px; padding: 5px;
}
.wrap_l290{float:left;width:290px}
.wrap_l290 h6 a{color:#c00;text-decoration:underline;font-weight:normal;margin:0 5px}
.wrap_r300{float:right;width:300px;height:250px;margin-top:10px}
.news_pic_bottom{ text-align:center; width:400px; padding-left:180px;}
#news_other{margin-top:15px;padding-left:10px;width: 590px; margin-left:20px}
#news_other h6{height:33px;line-height:37px;overflow:hidden;font-size:14px;margin: 0;}
.news_itemboxone h3 a{color:#013299}
#news_other li a:hover,.news_itemboxone h3 a:hover,.top_list_photo a,.add_othera a:hover,.list_photo a:hover{color:#f00}
#news_other li,.news_itemtwo li,.list_itemone li{background:url(../images/army.png) no-repeat}
#news_other li,.news_itemtwo li,.list_itemone li{background-position:-957px -284px;height:25px;line-height:25px;overflow:hidden;color:#656668}
#news_other li a{font-size:14px;margin:0 15px 0 10px}
#news_other li a,.news_itemtwo a{color:#0D488C}
#hot_news {
	border: 1px solid rgb(204, 204, 204); width: 648px; overflow: hidden; margin-top: 5px;
}
#news_xgt {
	margin: 5px auto auto; padding: 8px 5px 5px; width: 620px; overflow: hidden; border-top-color: rgb(200, 216, 242); border-top-width: 1px; border-top-style: solid;
}
#news_xgt_p {
	width: 150px; overflow: hidden; margin-right: 5px; float: left;
}
#news_xgt_p img {
	border: 1px solid rgb(225, 225, 225);
}
#news_xgt_p p {
	margin: 2px 0px 0px; padding: 0px; width: 150px; height: 21px; line-height: 21px; overflow: hidden;
}
#news_xgt_p p a {
	color: rgb(14, 71, 140);
}

#top_s {
	width: 300px; overflow: hidden; margin-bottom: 10px;
}
.top_ss {
	font: 12px/25px arial; margin: 0px 5px 0px 0px; padding: 0px 5px; border: 1px solid rgb(204, 204, 204); width: 223px; height: 25px; color: rgb(102, 102, 102); float: left; font-size-adjust: none; font-stretch: normal;
}
.top_s_botton {
	background: rgb(42, 87, 169); font: 700 12px/27px arial; margin: 0px; padding: 0px; border: 0px currentcolor; width: 60px; height: 26px; text-align: center; color: rgb(255, 255, 255); float: left; cursor: pointer; font-size-adjust: none; font-stretch: normal;
}

.hr10 {
	margin-top: 10px;
}
.bdsharebuttonbox {
	 float: right; 
}
.lup {
	line-height: 20px; float: left;
}
.shareandup {
	padding: 5px 0px; width: 600px; margin-bottom: 10px; margin-left: 20px; border-top:1px dotted #DBDCD7; border-bottom:1px dotted #DBDCD7;
}
