@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	/* src: local('Ubuntu'),
		url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/_xyN3apAT_yRRDeqB3sPRg.woff)
		format('woff') */
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	border: 0;
	font-family: /*'Comic Sans MS',*/inherit;
	font-size: 98%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline
}

html {
	font-size: 98%;
	overflow-y: scroll;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none
}

body,article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
	display: block
}

ol,ul {
	list-style: none
}

table {
	border-collapse: separate;
	border-spacing: 0
}

caption,th,td {
	font-weight: normal;
	text-align: left;
	padding: 2px
}

blockquote:before,blockquote:after,q:before,q:after {
	content: ""
}

blockquote,q {
	quotes: "" ""
}

a:focus {
	outline: thin dotted
}

a:hover,a:active {
	outline: 0
}

a img {
	border: 0
}

body,button,input,select,textarea {
	color: #404040;
	font-family: 'Ubuntu';
	line-height: 1.5
}

h1,h2,h3,h4,h5,h6 {
	clear: both;
	display: block;
	font-weight: bold
}

h1 {
	font-size: 2rem;
	margin-before: 0.67rem;
	margin-after: 0.67rem;
	margin-start: 0;
	margin-end: 0
}

h2 {
	font-size: 1.5rem;
	margin-before: 0.83rem;
	margin-after: 0.83rem;
	margin-start: 0;
	margin-end: 0
}

h3 {
	font-size: 1.17rem;
	margin-before: 1rem;
	margin-after: 1rem;
	margin-start: 0;
	margin-end: 0
}

h4 {
	margin-before: 1.33rem;
	margin-after: 1.33rem;
	margin-start: 0;
	margin-end: 0
}

h5 {
	font-size: .83rem;
	margin-before: 1.67rem;
	margin-after: 1.67rem;
	margin-start: 0;
	margin-end: 0
}

h6 {
	font-size: .67rem;
	margin-before: 2.33rem;
	margin-after: 2.33rem;
	margin-start: 0;
	margin-end: 0
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5rem
}

p {
	margin-bottom: 1.5rem
}

ul,ol {
	margin: 0 0 1.5rem 3rem
}

ul {
	list-style: circle
}

ol {
	list-style: decimal
}

ul ul,ol ol,ul ol,ol ul {
	margin-bottom: 0;
	margin-left: 1.5rem
}

dt {
	font-weight: bold
}

dd {
	margin: 0 1.5rem 1.5rem
}

b,strong {
	font-weight: bold
}

dfn,cite,em,i {
	font-style: italic
}

blockquote {
	quotes: none;
	border-left: 5px solid #888;
	font-style: italic;
	padding-left: 1rem;
	margin: 1rem
}

address {
	margin: 0 0 1.5rem
}

pre {
	background-color: #f5f5f5;
	color: #333;
	border: 2px solid #bbb;
	padding: 0 7px;
	margin: 10px 0;
	overflow: auto;
	width: auto;
	max-height: 400px;
	word-wrap: normal
}

pre,code,kbd,tt,var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono",
		monospace
}

abbr,acronym {
	border-bottom: 1px dotted #666;
	cursor: help
}

mark,ins {
	background: yellow;
	text-decoration: none
}

sup,sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	bottom: 1ex
}

sub {
	top: .5ex
}

small {
	font-size: 75%
}

big {
	font-size: 125%
}

figure {
	margin: 0
}

table {
	margin: 0 0 1.5rem;
	width: 100%
}

th {
	font-weight: bold
}

button,input,select,textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline; *
	vertical-align: middle
}

button,input {
	line-height: normal; *
	overflow: visible
}

button,html input[type="button"],input[type="reset"],input[type="submit"]
	{
	border: 1px solid #ccc;
	color: #fff;
	cursor: pointer;
	background: #969696;
	-webkit-appearance: button;
	font-size: 1rem;
	line-height: 0.6;
	padding: 1rem 1rem 1rem
}

button:hover,html input[type="button"]:hover,input[type="reset"]:hover,input[type="submit"]:hover
	{
	border-color: #ccc #bbb #aaa #bbb;
	font-color: #000000;
	background: #C0C0C0
}

button:focus,html input[type="button"]:focus,input[type="reset"]:focus,input[type="submit"]:focus,input[type="checkbox"],input[type="radio"]
	{
	box-sizing: border-box;
	padding: 0
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

button::-moz-focus-inner,input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input[type=text],input[type=email],input[type=password],textarea {
	color: #666;
	border: 1px solid #ccc
}

input[type=text]:focus,input[type=email]:focus,input[type=password]:focus,textarea:focus
	{
	color: #111
}

input[type=text],input[type=email],input[type=password] {
	padding: 3px
}

textarea {
	overflow: auto;
	padding-left: 3px;
	vertical-align: top;
	width: 98%
}

a {
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s
}

a,a:visited {
	color: #444
}

a:hover,a:focus,a:active {
	color: #3279BB
}

a.more-link:link,a.more-link:visited {
	background: #474747;
	border: 1px solid #3279BB;
	color: #fff;
	float: right;
	margin: 0;
	padding: 0px;
	text-decoration: none
}

a.more-link:hover {
	border-left: 0px solid #3279BB;
	border-right: 0px solid #3279BB;
	border-top: 0px solid #3279BB;
	border-bottom: 0px solid #3279BB
}

.nav-previous a:link,.nav-previous a:visited {
	# background: #474747;
	border: 0px solid #3279BB;
	color: #242424;
	margin: 0;
	padding: 0px;
	text-decoration: none
}

.nav-previous a:hover {
	border-right: 0px solid #3279BB;
	border-left: 0px solid #3279BB;
	border-top: 0px solid #3279BB;
	border-bottom: 0px solid #3279BB;
	color: #3279BB
}

.nav-next a:link,.nav-next a:visited {
	# background: #474747;
	border: 0px solid #3279BB;
	color: #242424;
	margin: 0;
	padding: 0px;
	text-decoration: none
}

.nav-next a:hover {
	border-left: 0px solid #3279BB;
	border-right: 0px solid #3279BB;
	border-top: 0px solid #3279BB;
	border-bottom: 0px solid #3279BB;
	color: #3279BB
}

.alignleft {
	display: inline;
	float: left;
	margin-right: 0.4em
}

.alignright {
	display: inline;
	float: right;
	margin-left: 0.4em
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto
}

.assistive-text {
	clip: rect(1px, 1px, 1px, 1px);
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important
}

.site {
	padding: 0 24px;
	background-color: #fff;
	-moz-box-shadow: 0 0 30px -10px #000;
	-webkit-box-shadow: 0 0 30px -10px #000;
	box-shadow: 0 0 30px -10px #000
}

.site-header {
	margin-top: 20px
}

/* 网站标题链接样式 */
.site-title a {
	color: #4B4B4B;
}

/* 网站标题链接鼠标悬停样式 */
.site-title a:hover {
	/* text-shadow: 0 0 5px #646464;  */
	color: #4B4B4B /* #3498db */
}

hgroup {
	padding: 10px 0;
	text-align: center
}

/* 网站标题样式 */
.site-title {
	font-weight: bolder;
	font-family: '华文行楷';
	font-size: 3.4rem;
	text-align:left
}

/* 网站描述（副标题）样式 */
.site-description {
	font-weight: lighter;
	color: #969696;
	text-align:left
}

/* 导航栏样式 */
.main-navigation {
	font-family: '黑体';
	font-size: 1.2rem;
	color: #808080;
	display: block;
	float: left;
	width: 100%;
	margin: 0 auto;
	text-transform: uppercase;
	margin-bottom: 20px;
	border-top: solid;
	border-bottom: solid;
}

/* 导航栏链接样式 */
.main-navigation a {
	color: #808080; /*#444; */
	font-weight: bolder;
	display: block;
	line-height: 40px;
	text-decoration: none;
	padding: 0 15px
}

.main-navigation ul {
	list-style: none;
	margin: 0
}

.main-navigation li {
	float: left;
	position: relative
}

.main-navigation ul ul:hover>a,.main-navigation li:hover>a {
	background: #444;
	color: #FFF
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	display: none;
	position: absolute;
	top: 40px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999
}

.main-navigation ul ul ul {
	left: 100%;
	top: 0
}

.main-navigation ul ul a {
	background: #f1f2f4;
	line-height: 1rem;
	width: 200px;
	height: auto;
	padding: 10px
}

.main-navigation ul ul li {
	min-width: 180px
}

.main-navigation ul ul a:hover {
	color: #fff
}

.main-navigation ul li:hover>ul {
	display: block
}

li.current_page_item>a,li.current-menu-item>a {
	background: #444 !important;
	color: #FFF
}

.menu-toggle {
	border: 1px solid #336895;
	box-shadow: inset 0 1px 0 #8dc2f0;
	background: linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -o-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -moz-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -webkit-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	background: -ms-linear-gradient(bottom, #4889C2 0%, #5BA7E9 100%);
	cursor: pointer;
	color: white;
	font-weight: bold;
	font-size: 1.5rem;
	text-shadow: 0 -1px 0 #336895;
	margin: 5px 20px;
	display: inline-block;
	padding: 0px 1.5rem
}

.menu-toggle:hover {
	background: linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -o-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -moz-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -webkit-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -ms-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%)
}

.menu-toggle.toggled-on {
	background: linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -o-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -moz-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -webkit-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	background: -ms-linear-gradient(bottom, #5BA7E9 0%, #4889C2 100%);
	box-shadow: inset 0 0 2px rgba(0, 0, 0, .3), 0 1px 0 white
}

.main-small-navigation .menu {
	display: none;
	border-top: solid;
	border-bottom: solid
}

.main-small-navigation {
	margin-top: 1.714285714rem;
	text-align: center;
	margin-bottom: 1.714285714rem
}

.main-small-navigation a {
	padding: 0 15px;
	color: #444;
	display: block;
	line-height: 30px;
	text-decoration: none
}

.main-small-navigation ul {
	list-style: none;
	margin: 0px 2rem
}

.main-small-navigation li {
	text-align: left
}

.main-small-navigation li a {
	text-decoration: none
}

.main-small-navigation li a:hover {
	background: #444;
	color: #FFF
}

.sticky {
	
}

.byline {
	display: none
}

.single .byline,.group-blog .byline {
	display: inline
}

.page-links {
	clear: both;
	margin: 1rem 0rem;
	text-align: center
}

.page-links a {
	text-decoration: none;
}

.blog .format-aside .entry-title,.archive .format-aside .entry-title {
	display: none
}

.site-header img,.entry-content img,.comment-content img,.widget img {
	max-width: 100%
}

.site-header img,.entry-content img,.comment-content img[height],img[class
	*="align"],img[class *="wp-image-"] {
	height: auto
}

.site-header img,.entry-content img,img.size-full {
	max-width: 100%
}

.entry-content img.wp-smiley,.comment-content img.wp-smiley {
	display: inline;
	background: none;
	float: none;
	border: none;
	margin: 0;
	padding: 0
}

.wp-caption {
	background: none;
	max-width: 100%;
	padding-bottom: 10px;
	position: relative
}

.wp-caption img[class *="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%
}

.wp-caption-text {
	text-align: left;
}

.wp-caption .wp-caption-text {
	margin: 0.8075rem 0;
	text-align: left;
	position: absolute;
	left: 5%;
	right: 5%;
	padding: 5px;
	background: #000;
	color: #969696;
	opacity: 0.8 !important;
	bottom: 3%
}

.site-content .gallery {
	margin-bottom: 1.5rem
}

.gallery-caption {
	
}

.site-content .gallery a img {
	border: none;
	height: auto;
	max-width: 90%
}

.site-content .gallery dd {
	margin: 0
}

.site-content .gallery-columns-4 .gallery-item {
	
}

.site-content .gallery-columns-4 .gallery-item img {
	
}

embed,iframe,object {
	max-width: 100%
}

.site-content .site-navigation {
	margin: 0 0 1.5rem;
	overflow: hidden
}

.site-navigation {
	background:#FCFCFC;
}

.nav-previous {
	float: left;
	width: 50%
}

.nav-next {
	float: right;
	text-align: right;
	width: 50%
}

#primary {
	padding-left: 0;
}

#secondary {
	padding-right: 0;
}

#secondary h1 {
	font-size:16px;
}

#sidebar-footer .c4:first-child {
	padding-left: 0;
}

#sidebar-footer .c4:last-child {
	padding-right: 0;
}

/* 文章标题样式 */
.entry-header {

}

.entry-title {
	text-align: left;
	font-size: 16px; / *1.5rem;*/
	font-family:'Lucida Console';
	margin-bottom:6px;
}

.entry-meta {
	clear: both;
	font-size: .80rem;
}

.entry-content,.entry-summary {
	margin: 0.9rem 0 0;
	overflow: hidden
}

.entry-content p {
	text-align: justify
}

.entry-content img {
	padding: 5px;
	border: 1px solid #bbb;
	-moz-box-shadow: 0px 0px 4px #EEE;
	-webkit-box-shadow: 0px 0px 4px #EEE;
	box-shadow: 0px 0px 4px #EEE
}

.hentry {
	position: relative;
	border: 1px solid #bbb;
	margin-bottom: 10px;
	padding: 5px 5px 5px 5px;
	background-color: #fff
}

[class ^="comment-form-"],[class *=" comment-form-"] {
	overflow: hidden;
}

#respond {
	border-top: 1px dotted #AAA;
	margin-top: -1px
}

#respond p {
	margin: .5rem 0;
}

/* 评论标题样式*/
.comments-title,#reply-title {
	font-size: 1.16rem;
	padding: 0.857rem 0 0.428rem 0;
	font-weight: bold;
	color: #4B4B4B;
	font-size: 1.2rem;
	font-family:'黑体';
}

.commentlist {
	margin: 0;
	padding: 0;
	clear: both
}

.commentlist ol {
	margin-bottom: 10px
}

.commentlist li {
	margin: 10px 0 0 0;
	padding: 5px 10px;
	list-style: none
}

.comment-content {
/*	margin: 20px 0px 0px 0px */
	margin: 0px 0px 0px 0px
}

.odd,.even,.byuser {
	margin: 5px
}

.even {
	background-color: #fcfcfc;
	border: 1px dashed #808080
}

.odd {
	background-color: #fcfcfc;
	border: 1px dashed #808080
}

.byuser {
	background-color: #ffffff;
	border: 1px dashed #808080
}

.comment-author {
	font-weight: bold
}

.comment-meta {
	
}

.reply {
	text-align: right;
	padding-right: 2px
}

.comment-meta a,.url,.comment-reply-link {
	text-decoration: none
}

.avatar {
	float: right;
	padding: 2px;
	border: 1px solid #bbb
}

.comment-author cite {
	color: #969696;
	font-style: normal;
	font-weight: bold
}

time, .icon-user, .author, .author a, .fn, .comment-author icon-calendar, .div icon-calendar {
	color: #969696;
}

.comment-author .says {
	color: #969696;
	font-style: italic
}

.comment-notes {
	margin-bottom: 0.75rem
}

.form-allowed-tags {
	display: none
}

.form-submit {
	position: relative;
	clear: both;
	float: right;
	margin: 9px 4px
}

.children {
	margin-left: 10px
}

#respond label {
	max-width: 100%;
	float: left;
}

#respond .required {
	color: red
}

#author,#email,#url,#comment {
	display: block;
	border: 1px solid #bbb;
	padding: 0.375rem;
	width: 100%;
	font-size: 1rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 100%;
	float: right
}

.page-title {
	margin: 5px;
	font-size: 1.2rem;
	font-family:'黑体';
}

.page-header {
	border: solid 1px #bbb;
	margin-bottom: 5px
}

.taxonomy-description {
	margin: 0.5rem;
	font-style: italic
}

.comment-content a {
	word-wrap: break-word
}

/* 评论内容背景颜色 */
.bypostauthor {
	background-color: rgb(255, 255, 255);
}

.widget {
	margin: 0 0 1.5rem;
	border: 1px solid #bbb;
	padding: 5px;
	background: rgb(255, 255, 255)
}

.widget-title {
	margin: 0px 6px;
	font-size: 1.5rem
}

.widget select {
	max-width: 100%
}

#searchsubmit {
	display: none
}

/* 网站底部样式 */
.site-info {
	text-align: center;
	margin-bottom: 5px;
	font-size: 1.05rem
}

.widget a,.navigation a:hover,.navigation a,.site-info a,.main-navigation a,.site-title a:hover,.site-title a,.entry-meta a,.entry-title a
	{
	text-decoration: none
}

.navigation {
	background: white;
	display: block;
	overflow: hidden;
	border: 1px solid #bbb;
	width: 100%;
	height: auto;
	padding: 10px 20px 10px !important;
	clear: both !important
}

.page-numbers {
	padding: 6px 9px 5px 9px;
	margin: 0 5px;
	background: #3279BB;
	color: #fff
}

.navigation a {
	background: #555;
	color: #fff;
	text-decoration: none
}

.navigation a:hover {
	background: #3279BB
}

#breadcrumbs {
	font-size: .9rem;
	background: #F9F9F9; /* #F6F8F2; */
	margin-bottom: 10px;
	border: 1px solid #bbb;
	padding: 4px;
}

#breadcrumbs a:link, #breadcrumbs a:visited  {
	font-size: .9rem;
	color: #808080;
	font-weight: bold;
	text-decoration: none
}

#breadcrumbs a:hover{
	font-size: .9rem;
	color: #3279BB;
	font-weight: bold;
}

.row:before,.row:after,.clearfix:before,.clearfix:after {
	content: '';
	display: table
}

.row:after,.clearfix:after {
	clear: both
}

.row,.clearfix {
	zoom: 1
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box
}

.grid {
	margin: 0 auto;
	max-width: 1600px;
	width: 96%
}

img {
	max-width: 100%;
	height: auto;
}

.wfull {
	width: 100%;
	max-width: 100%
}

.w320 {
	max-width: 320px
}

.w640 {
	max-width: 640px
}

.w960 {
	max-width: 960px
}

.row {
	width: 100%;
	margin-bottom: 20px
}

.row .row {
	width: auto;
	margin: 0 -20px
}

.c1 {
	width: 8.33%
}

.c2 {
	width: 16.66%
}

.c3 {
	width: 25%
}

.c4 {
	width: 29.33%
}

.c5 {
	width: 41.66%
}

.c6 {
	width: 50%
}

.c7 {
	width: 58.33%
}

.c8 {
	width: 70.66%
}

.c9 {
	width: 75%
}

.c10 {
	width: 83.33%
}

.c11 {
	width: 91.66%
}

.c12 {
	width: 100%
}

.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c10,.c11,.c12 {
	min-height: 1px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	position: relative
}

.s1 {
	margin-left: 8.33%
}

.s2 {
	margin-left: 16.66%
}

.s3 {
	margin-left: 25%
}

.s4 {
	margin-left: 33.33%
}

.s5 {
	margin-left: 41.66%
}

.s6 {
	margin-left: 50%
}

.s7 {
	margin-left: 58.33%
}

.s8 {
	margin-left: 66.66%
}

.s9 {
	margin-left: 75%
}

.s10 {
	margin-left: 83.33%
}

.s11 {
	margin-left: 91.66%
}

.end {
	float: right !important
}

@media only screen and (max-width:960px) {
	.row .row .c1,.row .row .c2,.row .row .c3,.row .row .c4,.row .row .c5,.row .row .c6,.row .row .c7,.row .row .c8,.row .row .c9,.row .row .c10,.row .row .c11,.row .row .c12
		{
		width: 100%;
		margin-bottom: 20px
	}
	.row .row>div:last-child {
		margin-bottom: 0 !important
	}
}

@media handheld , only screen and (max-width:768px) , only screen and
	(max-device-width:768px) and (orientation:portrait) {
	.row {
		margin-bottom: 0 !important
	}
	.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c10,.c11,.c12 {
		width: 100%;
		margin-right: 0;
		margin-left: 0;
		margin-bottom: 20px
	}
}

@media screen and (min-width:0px) and (max-width:240px) {
	html {
		font-size: 55%
	}
	.main-small-navigation a {
		line-height: 16px
	}
	.site {
		padding: 0 10px
	}
	#sidebar-footer .c4,#secondary,#primary {
		padding: 0
	}
}

@media screen and (min-width:240px) and (max-width:320px) {
	html {
		font-size: 75%
	}
	.main-small-navigation a {
		line-height: 20px
	}
	.site {
		padding: 0 10px
	}
	#sidebar-footer .c4,#secondary,#primary {
		padding: 0
	}
}

@media screen and (min-width:320px) and (max-width:480px) {
	html {
		font-size: 85%
	}
	.main-small-navigation a {
		line-height: 27px
	}
	#sidebar-footer .c4,#secondary,#primary {
		padding: 0
	}
}

@media screen and (min-width:480px) and (max-width:768px) {
	html {
		font-size: 90%
	}
	.main-small-navigation a {
		line-height: 36px
	}
	#sidebar-footer .c4,#secondary,#primary {
		padding: 0
	}
}

#toTop {
	width: auto;
	border: 1px solid #bbb;
	background: #FFF none 0px 50%;
	text-align: center;
	padding: 5px;
	position: fixed;
	bottom: 10px;
	right: 20px;
	cursor: pointer;
	display: none;
	color: #000;
	font-size: .9rem
}