/* Font Family - Based on Body Class */
/* Web Safe Font Family - Copied over form Octopress - http://octopress.org/ */
/* line 5, ../scss/modules/_fonts.scss */
body.jsj_code_highlight-source_code_pro .jsj_code_highlight-container pre,
body.jsj_code_highlight-source_code_pro .jsj_code_highlight-container pre code {
  font-family: 'Source Code Pro', Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}

/* line 10, ../scss/modules/_fonts.scss */
body.jsj_code_highlight-inconsolta .jsj_code_highlight-container pre,
body.jsj_code_highlight-inconsolta .jsj_code_highlight-container pre code {
  font-family: 'Inconsolata', Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}

/* line 15, ../scss/modules/_fonts.scss */
body.jsj_code_highlight-droid_sans_mono .jsj_code_highlight-container pre,
body.jsj_code_highlight-droid_sans_mono .jsj_code_highlight-container pre code {
  font-family: 'Droid Sans Mono', Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}

/* line 20, ../scss/modules/_fonts.scss */
body.jsj_code_highlight-deja_vu_sans_mono .jsj_code_highlight-container pre,
body.jsj_code_highlight-deja_vu_sans_mono .jsj_code_highlight-container pre code {
  font-family: 'DejaVuSansMono', Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}

/* line 25, ../scss/modules/_fonts.scss */
body.jsj_code_highlight-web_fonts .jsj_code_highlight-container pre,
body.jsj_code_highlight-web_fonts .jsj_code_highlight-container pre code {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}

/* line 1, ../scss/modules/_table.scss */
.jsj_code_highlight-container.jsj_code_highlight-table_container {
  overflow-y: hidden;
  overflow-x: auto;
  margin-bottom: 1.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 7, ../scss/modules/_table.scss */
.jsj_code_highlight-container.jsj_code_highlight-table_container table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  vertical-align: baseline;
  padding: 0.75em;
  font-size: 0.87em;
  line-height: 1.2em;
}
/* line 18, ../scss/modules/_table.scss */
.jsj_code_highlight-container.jsj_code_highlight-table_container table pre {
  padding: 0;
  border: 0;
  margin: 0;
  background: none;
  overflow: auto;
  vertical-align: baseline;
  white-space: pre;
  word-wrap: normal;
}
/* line 27, ../scss/modules/_table.scss */
.jsj_code_highlight-container.jsj_code_highlight-table_container table pre code {
  border: 0;
  background: none;
  overflow: auto;
  overflow-y: hidden;
  display: block;
  padding: 0.8em;
}
/* line 38, ../scss/modules/_table.scss */
.jsj_code_highlight-container.jsj_code_highlight-table_container table td,
.jsj_code_highlight-container.jsj_code_highlight-table_container table th,
.jsj_code_highlight-container.jsj_code_highlight-table_container table tr {
  border: 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
}
/* line 44, ../scss/modules/_table.scss */
.jsj_code_highlight-container.jsj_code_highlight-table_container table tr.code {
  margin: 0;
  padding: 0;
  border: 0;
}
/* line 49, ../scss/modules/_table.scss */
.jsj_code_highlight-container.jsj_code_highlight-table_container table td.code {
  margin: 0;
  border: 0;
}
/* line 53, ../scss/modules/_table.scss */
.jsj_code_highlight-container.jsj_code_highlight-table_container table td.gutter {
  margin: 0;
  border: 0;
  padding: 0;
  text-align: right;
  overflow: hidden;
  width: 1px;
}
/* line 60, ../scss/modules/_table.scss */
.jsj_code_highlight-container.jsj_code_highlight-table_container table td.gutter pre {
  display: inline-block;
  overflow: hidden;
  padding: 0.75em;
  padding-top: 0.81em;
}

/* line 1, ../scss/modules/_div.scss */
.jsj_code_highlight-container.jsj_code_highlight-div_container {
  overflow-y: hidden;
  overflow-x: auto;
  margin-bottom: 1.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 8, ../scss/modules/_div.scss */
.jsj_code_highlight-container.jsj_code_highlight-div_container pre {
  padding: 0;
  border: 0;
  margin: 0;
  background: none;
  overflow: auto;
  vertical-align: baseline;
  white-space: pre;
  word-wrap: normal;
  padding: 0.75em;
  font-size: 0.87em;
  line-height: 1.2em;
}
/* line 20, ../scss/modules/_div.scss */
.jsj_code_highlight-container.jsj_code_highlight-div_container pre code {
  border: 0;
  background: none;
  overflow: auto;
  overflow-y: hidden;
  display: block;
  padding: 0 0.4em;
}

/*
 * Instead of adding these CSS rules
 * to the <pre> element, add them
 * to the container specified by the
 * plugin, in order to avoid conflicts
 * and support both line numbers and 
 * lack of line numbers.
 *
 */
/* line 14, ../scss/modules/_theme-specific.scss */
body.jsj_code_highlight-solarized_dark .jsj_code_highlight-container {
  color: #839496;
  background: #002b36;
}
/* line 21, ../scss/modules/_theme-specific.scss */
body.jsj_code_highlight-github .jsj_code_highlight-container {
  color: #333;
  background: #f8f8ff;
}
/* line 28, ../scss/modules/_theme-specific.scss */
body.jsj_code_highlight-tomorrow .jsj_code_highlight-container {
  color: #4d4d4c;
  background: #F5F9FC;
}
/* line 35, ../scss/modules/_theme-specific.scss */
body.jsj_code_highlight-monokai_sublime .jsj_code_highlight-container {
  color: #839496;
  background: #23241f;
}

/*
 * Only include these CSS rules if specified 
 * by the user in the WP Options.
 *
 */
/* line 10, ../scss/modules/_theme-specific-extra.scss */
body.jsj_code_highlight-include_additional_styles.jsj_code_highlight-solarized_dark .jsj_code_highlight-container {
  background: #002b36 url("../images/noise.png") repeat;
}
/* line 14, ../scss/modules/_theme-specific-extra.scss */
body.jsj_code_highlight-include_additional_styles.jsj_code_highlight-solarized_dark .jsj_code_highlight-container .gutter {
  background: rgba(255, 255, 255, 0.08);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
}
/* line 24, ../scss/modules/_theme-specific-extra.scss */
body.jsj_code_highlight-include_additional_styles.jsj_code_highlight-github .jsj_code_highlight-container {
  background: ghostwhite url("../images/noise.png") repeat;
  -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 2px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 2px;
}
/* line 29, ../scss/modules/_theme-specific-extra.scss */
body.jsj_code_highlight-include_additional_styles.jsj_code_highlight-github .jsj_code_highlight-container .gutter {
  color: #BEBEBE;
  background: rgba(255, 255, 255, 0.08);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
}
/* line 39, ../scss/modules/_theme-specific-extra.scss */
body.jsj_code_highlight-include_additional_styles.jsj_code_highlight-tomorrow .jsj_code_highlight-container {
  background: #f5f9fc url("../images/noise.png") repeat;
  -webkit-box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 2px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 2px;
}
/* line 44, ../scss/modules/_theme-specific-extra.scss */
body.jsj_code_highlight-include_additional_styles.jsj_code_highlight-tomorrow .jsj_code_highlight-container .gutter {
  color: #A5A5A5;
  background: rgba(255, 255, 255, 0.08);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
}
/* line 54, ../scss/modules/_theme-specific-extra.scss */
body.jsj_code_highlight-include_additional_styles.jsj_code_highlight-monokai_sublime .jsj_code_highlight-container {
  background: #23241f url("../images/noise.png") repeat;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 3px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 3px;
}
/* line 59, ../scss/modules/_theme-specific-extra.scss */
body.jsj_code_highlight-include_additional_styles.jsj_code_highlight-monokai_sublime .jsj_code_highlight-container .gutter {
  background: rgba(255, 255, 255, 0.08);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
}
