@charset "gb2312";
/* CSS Document */
/*html { filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); }*/
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.content1 {
	line-height: 270%;
}

.second A{
color:#333333;
font-size:12px;
text-decoration: none;
line-height:180%;
padding-left:8px;
}

.second A:hover{
color:#990000;
font-size:12px;
text-decoration: none;
line-height:180%;
padding-left:8px;
}
.second {
color:#666666;
font-size:12px;
text-decoration: none;
line-height:180%;
padding-left:8px;
}


.TitleBoxII {
	color:#333333;
	font-size:14px;
	text-decoration: none;
	line-height:190%;
	padding-left:8px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}

.aTab A{
  line-height:160%; 
  font-size:13px; 
  text-decoration: none;
  color:#333333;
}

.aTab A:hover{
  line-height:160%; 
  font-size:13px; 
  text-decoration: none;
  color:#990000;
}


.aTabF14 A{
  line-height:160%; 
  font-size:13px; 
  text-decoration: none;
  color:#333333;
  padding-left:4px;
}
.aTab {
  line-height:160%; 
  font-size:13px; 
  text-decoration: none;
  color:#333333;
  padding-left:4px;
}
.TitleBoxU {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.TitleBoxII .main A{
color:#333333;
font-size:14px;
text-decoration: none;
line-height:190%;
padding-left:4px;
}

.TitleBoxII .main A:hover{
color:#990000;
font-size:14px;
text-decoration: none;
line-height:190%;
padding-left:4px;
}

.TitleBoxU .main A{
color:#333333;
font-size:14px;
text-decoration: none;
padding-left:4px;
}
.TitleBoxU .main A:hover{
color:#990000;
font-size:14px;
text-decoration: none;
padding-left:4px;
}
.TitleBoxU .main{
color:#333333;
font-size:13px;
text-decoration: none;
line-height:190%;
padding-left:4px;
}

.TitleBoxU .second A{
color:#333333;
font-size:12px;
text-decoration: none;
line-height:180%;
padding-left:4px;
}

.TitleBoxU .second A:hover{
color:#990000;
font-size:12px;
text-decoration: none;
line-height:180%;
padding-left:4px;
}

.TitleBoxU .second {
color:#666666;
font-size:12px;
text-decoration: none;
line-height:180%;
padding-left:4px;
}

.TitleText {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

.TitleBoxFull {
	border: 1px solid #CCC;
	height:25px;
}

.TitleText {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}
.TitleTextW {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
}
 A.TitleText{
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}

A.TitleTextR {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #990000;
}
A.pubR {
	font-family: "宋体";
	font-size: 12px;
	text-decoration: none;
	color: #990000;
}

A.pubBu {
	font-family: "宋体";
	font-size: 12px;
	text-decoration: none;
	color: #003366;
}
A.more {
	font-family: "宋体";
	font-size: 12px;
	text-decoration: none;
	color: #000;
}

A.moreW {
	font-family: "宋体";
	font-size: 12px;
	text-decoration: none;
	color: #FFFFFF;
}
.blankA {
 height:4px;
 font: 0px/0px sans-serif;
 clear: both;
 display: block
 /* overflow:hidden;*/
  }

#city {
	font-size: 14px;
	color: #FFFFFF;
}
#city A{
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
}
#mainmenu {
	text-decoration: none;
	color: #000000;
	font-size: 14px;
}
#mainmenu A {
	text-decoration: none;
	color: #000000;
	font-size: 14px;
}
#topmenu {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 13px;
}
#topmenu A {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 13px;
}

.f11 {
	font-size: 11px;
	text-decoration: none;
}
.f12 {
	font-size: 12px;
	text-decoration: none;
}
.topfont {
	text-decoration: none;
}

.topfont .title{
    font-size: 12px;
	text-decoration: none;
}
.topfont .inputbox{
	font-size: 12px;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	background-color: #FFFFFF;
}

.topfont .fw {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 12px;
}
.topfont .fw A {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 12px;
}

.topfont .link {
	text-decoration: none;
	color: #333333;
	font-size: 12px;
}

.topfont .link A {
	text-decoration: none;
	color: #333333;
	font-size: 12px;
}

.topfont .foot {
	text-decoration: none;
	color: #333333;
	font-size: 12px;
}

.topfont .foot A {
	text-decoration: none;
	color: #333333;
	font-size: 12px;
}

hr {
	border: 1px dashed #E3E3E3;
	line-height: 200%;
}

.ListBoxFull .main A{
	color:#0262ac;
	font-size:14px;
	text-decoration: none;
	line-height:190%;
	padding-left:4px;
}

.ListBoxFull .main {
	color:#666;
	font-size:14px;
	text-decoration: none;
	line-height:190%;
	padding-left:4px;
}

.ListBoxFull {
	color:#333333;
	font-size:14px;
	text-decoration: none;
	line-height:190%;
	padding-left:4px;
	border: 1px solid #CCC;
}
.hr2 {
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: dashed;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
 font: 0px/0px sans-serif;
 clear: both;
 display: block
}

.viewbox .actbox2{
	width:470px;
	text-align:center;
	float:right;
	padding-top:20px;
	padding-right:10px;
}

.viewbox .actbox2 ul li{
	display:inline;
	padding-left:22px;
	background-image:url(../images/actbox-ico.gif);
	background-repeat:no-repeat;
	margin-right:10px;
}