span.about_general { font-size:12px;}
i,em { font-style:normal;}
.text_info p em, .text_info em {  font-style:normal;}
.homepage_list .left .listed_news .news p em { font-style: normal;}
table.last_content td.text { width:360px;}
.presentation_full .qcon_notice {margin-right:160px; margin-top:-8px;}
#content .static_pages .left .contribute_join .or {top: 60px;}

/*customizations*/

h1,h2,h3,h4{font-family: Arial, sans-serif;}
ol li{border:none;}
h1.general{font-size: 22px;font-weight: bold}
.text_info h3{line-height: 36px}
.text_info h4{line-height: 32px}
.related_sponsors h3{line-height: 1.2}
#content .static_pages .left h3{font-size: 18px;}
#content .static_pages .left .border_box table.core td.c1,#content .static_pages .left .border_box table.core td.c2{font-size: 12px}


.tab_article .txxt h2{font-family: Arial, sans-serif;font-size: 14px;font-weight: bold;}
.tab_article .txxt{float: left}
.tab_article{margin: 5px 0 10px 0}
.tab_article img{border:1px solid #999;width: 85px;height: 85px}


.text_content_container ul{margin: 0 0 15px 10px;}

.widget_div ul.books li .one_book p,ul.tabs li{font-size:12px}
.homepage_grid .grid.presentations_type .news > div .video_details p a:not(.video_box),.homepage_grid .grid.interviews_type .news > div .video_details p a:not(.video_box){font-size:12px}
.homepage_grid .grid.presentations_type .news > div .video_details p span,.homepage_grid .grid.interviews_type .news > div .video_details p span{font-size:12px}
.homepage_list > .tabs li a{font-size:14px}
/*.logo p{display:none}*/
.logo p{font-size: 12px;}

.breadcrumbs{font-size:12px}

.widget_div ul.books li .one_book p{font-size:14px}

.homepage_list .left .listed_news .news p{font-size:14px}
.homepage_list .left .listed_news .news h2{font-size:16px;font-weight: bold;margin: 0 0 2px 0;}

.homepage_list .left .listed_news .news{margin: 0 0 10px 0;}

.ebook_list h2{font-size:16px}
h2.itemtitle{min-height: 24px;}
.text_info{font-family: Arial, sans-serif; font-size:14px}
.text_info p{font-size:14px;line-height: 1.5;margin: 0 0 15px 0;}
blockquote{margin: 0 0 10px 0;}

.text_info p em, .text_info em{font-size:14px}

ul.tabs li{font-size:14px}

.tag_page_content .tab_content .this_is.list p{font-size:14px}
.tag_page_content h2{font-size:16px}

.general_green{font-size: 20px;}

.homepage_list{margin:0;}

.related_sponsors p.title{margin: 0 0 8px 0;}
.related_sponsors .related_editorial{min-height: 150px;}

.news_in_tabs .panes > div h3{margin: 0 0 10px 1px;height: 18px;overflow: hidden;font-weight: normal;}


.homepage_grid .grid .news > div h3{font-size: 14px;margin:0;font-weight: bold}
.homepage_grid .grid .news > div > span{font-size: 12px;}


.grid.articles_type div span{text-align: right}
/*layout on articles/homepage/grid*/
.homepage_grid .grid .news > div > span{max-height:14px;}
.homepage_grid .grid .news.full_width .gbanner{padding-left:10px;}

#footer {padding:0 0 15px 0;margin: 8px 0 8px 0;}
.our_events .communities{margin:20px 0 0 0;}
ul.footerMenu li{width:145px;}
ul.footerMenu{margin:30px 10px 10px 0;}
ul.footerTxt1{margin:30px 20px 10px 30px;}
ul.footerTxt1 li strong { font-weight:bold; font-weight:bold; font-size:13px; margin-bottom:25px; margin-top:10px;text-transform:none;}

div.ftxt3{margin:30px 0px 10px 20px;}
.our_events{margin: 30px 0px 0px 0px;}
.communities fieldset{margin-top:-12px;}


.homepage_list .left .listed_news .news{font-size:14px}
.widget_div ul.books li .one_book p{font-size:14px}

.homepage_list .left .listed_news .news p{font-size:14px}
.homepage_list .left .listed_news .news h2{font-weight: bold;font-size:20px}

.homepage_grid .grid .news > div h3 a img{border: 1px solid #888;height: 60px; width:60px }

.widget_div ul.books li .one_book p{font-size: 12px}

.widget_div h2,.homepage_grid h2{font-size: 20px;font-weight: bold}

/*.homepage_grid .grid.interviews_type .news > div .video_details,.homepage_grid .grid.presentations_type .news > div .video_details{padding: 10px 10px 2px;}*/

/*.homepage_grid .grid.interviews_type .news > div .video_details .interviewTitle,.homepage_grid .grid.presentations_type .news > div .video_details .presentationTitle{height: 40px}*/
.homepage_grid .home_banner.mgtop{margin-top:0}

.comments_counts{margin: -3px 0 0 7px;}

/*custom header banner start*/
.top_explain { width:400px;}
ul.menu li a.main { width:103px; }
ul.menu { width:620px; }
.search_cls { margin:0px 206px 0 0; }
/*custom header banner end*/

ul.submenu > li {
    padding: 0px 15px 0px 0px;
}
