@charset "utf-8";
/* CSS Document */
/****************文章页***********************/
#imain .content .ctleft h1{padding-top:20px;padding-bottom:20px;line-height:38px;font-size:25px; font-weight:bold;color:#00a99d; border-bottom:1px #b2b2b2 dotted;}
#imain .content .ctleft h1 a{padding-top:20px;padding-bottom:20px;line-height:38px;font-size:25px; font-weight:bold;color:#00a99d;}
#imain .content .ctleft #maintext h1,#imain .content .ctleft #maintext h2,#imain .content .ctleft #maintext h3{padding-top:23px;padding-bottom:10px;line-height:30px;font-size:20px; font-weight:bold;color:#0b57ab; border-bottom:none;}
#imain .content .ctleft #maintext h4,#imain .content .ctleft #maintext h5,#imain .content .ctleft #maintext h6{padding-top:23px;padding-bottom:10px;line-height:30px;font-size:18px; font-weight:bold;color:#0b57ab; border-bottom:none;}
#imain div.article{ padding:20px 10px; overflow:hidden;}
/*导读*/
#imain div.article  div.intro{border:1px #cce2fd dotted; padding:8px; background:#f6fbfe; overflow:hidden;}
#imain div.article 	div.intro p span.introkeywords{color:red; float:left; width:50px; font-size:14px;}
#imain div.article 	div.intro p span.introinfo{ float:left; width:480px;font-size:14px;}
#imain div.article  div.intro p.keywords1 a{color:#039;  padding-right:20px;font-size:14px;}

/*专家*/
#imain div.article .ExperInfo{ padding:25px 0 5px 0; border-bottom:1px #bbb dotted;overflow:hidden;}
#imain div.article .ExperPic{ float:left; margin-right:15px; }
#imain div.article .ExperPic img{ width:69px; height:88px; padding:5px; border:1px #ccc solid;}
#imain div.article .ExperDesc{float:left; width:475px; padding-bottom:10px;}
#imain div.article .ExperDesc{ height:80px; overflow:hidden;color:#666;}
#imain div.article  .ExperLink {text-align:right;}
#imain div.article .ExperLink a{color:#f00; }

 /*文章头部相关信息*/
#imain div.article .articleinfo{ overflow:hidden;}
#imain div.article .s_function {color: #666;width: 100%;padding-bottom:5px; }
#imain div.article .s_function2 {color: #666;width: 100%;}
#imain div.article .s_function span{margin-right:10px;}
#imain div.article .s_function a{padding:0 4px;}
#imain div.article .small_function {float: right;text-align: right;padding:10px 10px 0 0 ;}
#imain div.article .small_function li{ display:inline; padding-left:19px;}
#imain div.article .small_function li.li_1{ background:url(/template/images/article_icon_email.gif) no-repeat left bottom;}
#imain div.article .small_function li.li_2{ background:url(/template/images/article_icon_print.gif) no-repeat left bottom;}
#imain div.article .change_font {float: right; width:100px; padding:10px 0 0 18px; background:url(/template/images/article_icon_font.gif) no-repeat left 15px;}
#imain div.article .meta_infor { background: none repeat scroll 0 0 #F6FBFE;border: 1px dashed #CCE2FD;clear: both;color: #666666;    font-size: 12px;    margin-top: 10px;    padding: 8px;    text-align: left;    width: 96%;}
#imain div.article .meta_infor p { line-height: 20px;}
#imain div.article .f_red_12px {color: #CC0000;}
#imain div.article .scontent_english{ border:1px #cce2fd dotted;background:#f6fbfe; padding:0 5px; margin-top:10px;}
#imain div.article #lblComment a{color:#039; }
/*正文*/
#imain div.article .maintext span{font-size:16px;}
#imain div.article .maintext p span{font-size:16px;}
#imain div.article .maintext p em{font-size:16px;}
#imain div.article .maintext ul li span{font-size:16px;}
#imain div.article .maintext ol li span{font-size:16px;}
#imain div.article .maintext{padding:20px 0;font-size:16px;line-height:180%; border-bottom:1px dotted #ccc;overflow:hidden;}
#imain div.article .maintext p{ padding:5px 0; font-size:16px; line-height:180%;}
#imain div.article .maintext p a{color:#36f; font-size:16px;}
#imain div.article .maintext a{color:#36f; font-size:16px;}
#imain div.article .maintext a:hover{color:#36f; text-decoration:underline;}
#imain div.article .maintext a font{ font-size:16px;}
#imain div.article .maintext a span{ font-size:16px;}
#imain div.article .maintext ul li{ font-size:16px;line-height:180%; list-style:disc inside;padding-left:20px; margin-left:10px;}
#imain div.article .maintext ol li{ font-size:16px;line-height:180%; list-style:decimal inside;padding-left:20px;margin-left:10px;}
#imain div.article .maintext strong{ font-size:16px;line-height:180%;}
#imain div.article .maintext h3,.maintext h4{ font-size:16px;line-height:180%;}
#imain div.article .maintext h6{padding:5px 0; font-size:16px;}
#imain div.article .maintext table{ margin:0 auto;}
span.Title_blue{color:#00a99d; font-weight:bold;font-size:16px;}
#imain div.article p.Copyright{color:#555; text-align:center; padding-top:25px;font-size:12px;}
.textad{color:#222; font-weight:bold;}
.textad a{color:#039; font-weight:normal;}
.textad img{ float: left; width:40px; height:40px; margin:0 5px 40px 0;}
#imain div.article .maintext .textad a{color:#039;}
/*未登录正文不显示部分*/
.disarticle{ width:970px; margin:0 auto;}
.dishow{width:598px;margin:1000px auto 0 auto; float:left; border:1px #b2b2b2 solid;padding:20px ; background:#fff;}

/*分享*/
#ckepop{ float:left;width:150px;}
#ckepop  li{float:left; padding-right:5px;}
#ckepop  li a.jiathis_button_tqq{  display:block; background:url(/template/images/spriteGlobal.png) 0  -514px no-repeat; width:20px; height:22px; }
#ckepop  li a.jiathis_button_tsina{ display:block;background:url(/template/images/spriteGlobal.png) -23px -514px no-repeat; width:20px; height:22px;}
#ckepop  li a.jiathis_button_t163{ display:block;background:url(/template/images/spriteGlobal.png) -45px -514px no-repeat; width:20px; height:22px;}
#ckepop  li a.jiathis_button_tsohu{ display:block;background:url(/template/images/spriteGlobal.png) -67px -514px no-repeat; width:20px; height:22px;}
/*相关阅读*/
#imain  .related_read{margin-bottom:15px;}
#imain  h3.related_title{padding-bottom:10px; background:url(/template/images/index_rtitle.gif) 0 -168px no-repeat; height:28px; padding-left:30px; color:#fff; font-size:14px; line-height:28px;}
#imain  ul.relatedart{width:598; padding-bottom:20px; }
#imain  ul.relatedart li{ float:left;width:280px; padding-left:10px;}
#imain  ul.relatedart li span{display:block; float:left; width:20px; height:20px; background:url(/template/images/spriteGlobal.png) -518px -586px no-repeat;}
#imain  ul.relatedart li a{ display:block;float:left;width:230px; height:21px;overflow:hidden;}
/*相关评论*/
#imain  .comment{clear:both;padding:40px 0 20px  0;}
#comments_tag .related_title{margin:20px 0 10px 0; background:url(/template/images/index_rtitle.gif) 0 -168px no-repeat; height:28px; padding-left:30px; color:#fff; font-size:14px; line-height:28px;}

/*********************************白皮书详情页**************************************/
#imain  .wpleft{width:730px; float:left; border:1px #bbb solid;background:#fff; padding:0 20px 20px 20px;}
#imain .wpleft h2{font-size:25px; font-weight:bold;color:#00a99d; border-bottom:1px #b2b2b2 dotted; padding-top:20px;padding-bottom:20px;line-height:38px;}
#imain .wpleft .wpinfo{padding:10px;}
#imain .wpleft .wpinfo p{ float:left}
#imain .wpleft .wpinfo .wp_r{float:right}
#imain .wpleft .wpinfo .wp_r #ckepop{width:80px;}
#imain .wpleft .wptext{padding:0 10px;}
#imain .wpleft .wptext h6{ padding:10px 0;}
#imain .wpleft .wptext p{ padding-bottom:10px; line-height:22px;}
#imain .wpleft .wptext ol{ list-style:decimal;list-style-position:outside; padding-left:18px;}
#imain .wpleft .wptext ul{  text-indent:2em;list-style:disc; list-style-position:inside;}
#imain .wpleft .downall a{display:block; background:url(/template/images/downbg_03.jpg) no-repeat; width:112px; margin:30px auto; padding-left:60px; font-size:18px; color:#fff; font-weight:bold;line-height:40px; }

#imain  .wpright{width:181px; float:right; border:1px #aad3e5 solid;background:#fff;}
#imain  .wpright .wpright_inner{ border:2px #e8f2f7 solid;width:157px; background:#fff;padding:10px;_padding:10px;}
#imain  .wpright .wpright_inner h6{ color:#039; font-size:14px; padding-bottom:10px;}
#imain  .wpright .wpright_inner p{line-height:30px;}
#imain  .wpright .wpright_inner p span{color:#999}

/*********************************软件下载详情页**************************************/
#imain .softinfo{ padding:20px 0;}
#imain .softinfo .softinner{ padding:10px;}
#imain .softinfo h3{ background:url(/template/images/index_rtitle.gif) -1px  -168px no-repeat; line-height:28px; padding:0 0 10px 30px;color:#fff;font-size:14px;}
#imain .softinfo p{ padding:5px 0;}
#imain .softinfo p span{ display:block;  float:left;width:50px;}
#imain .softinfo p span.softinfo_detail{color:#666;width:225px;height:21px; overflow:hidden; }
#imain .softinfo p span.tag{ width:60px;font-weight:bold;}
#imain .softinfo .softinner2{ padding:10px;}
#imain .softinfo .softinner2 p{ text-indent:2em}
#imain .softdown a{ display:block; width:112px; margin:0 auto; }

/*********************************专家答疑详情页**************************************/
.artinfo .exttitle{ font-size:16px; font-weight:bold; text-align:center;}
.artinfo .exttime{ text-align:center; padding:10px 0 20px;}
.artinfo .exttime .timegray{color:red}
.maintext .seemore { text-align:center; padding:20px 0;}

/*********************************技术手册详情页inner*************************************/
#imain div.guide { padding:20px 0 20px 10px;border-bottom:1px #999 dotted;}
#imain div.guide div.mipic{ float:left; margin-right:15px; }
#imain div.guide div.mipic img{ width:130px; height:178px; padding:5px; border:1px #7a7a7a solid;}
#imain div.guide div.news{float:left; width:420px;}
#imain div.guide div.news  h4{color:#039; font-weight:bold; line-height:28px;}
#imain div.guide div.news .newsinfo{ color:#666;}
#imain div.guide div.news a img{ display:block; width:172px; height:40px; margin:15px auto;}
/*新闻列表*/
#imain  #guinfolist{ padding:20px 10px 5px 10px;}
#imain  #guinfolist .detailed{border-bottom:1px #999 dotted; padding-bottom:30px;}
#imain  #guinfolist .detailed  h2{ font-size:14px;color:#222;border-bottom:none; padding-top:20px; line-height:30px;}
#imain  #guinfolist .detailed  p{ color:#333; padding-bottom:20px;}
#imain  #guinfolist .MidTitle4 a{color:#039; padding-left:30px; background:url(/template/images/sprite1.jpg) 5px center no-repeat;}
#imain  #guinfolist .dian{display:none;}
#imain  #guinfolist img{width:172px; margin:20px auto; display:block; text-align:center;}

/*********************************电子杂志内页**************************************/
/*左侧*/
#imain .ezinectleft{width:655px; float:left; border:1px #b2b2b2 solid; background:#fff; padding:0 20px 20px 20px;}
#imain .ezinectleft h2{font-size:25px; font-weight:bold;color:#00a99d; border-bottom:1px #b2b2b2 dotted; line-height:80px;}
#imain .ezinectleft .ezinebg{ background:url(/template/images/e-zine-2_03.jpg) 118px 46px no-repeat;}
#imain .ezinectleft .ebook_text{ width:385px; margin:0 auto; padding:55px 0;}
#imain .ezinectleft .ezineshare{  padding:10px 20px; border-bottom:1px #ccc dotted; margin:10px 0;}
#imain .ezinectleft .ezine{  padding-bottom:10px ;border-bottom:1px #b2b2b2 dotted; margin-bottom:20px;}
#imain .ezinectleft .dbclick{ text-align:center; color:#00a99d; font-weight:bold;}
#imain .ezinectleft .leftshare{ float:left; padding-top:10px;}
#imain .ezinectleft .rightdown{ float:right; }
#imain .ezinectleft .rightdown a{ display:block; color:#fff; padding-left:55px; font-size:18px; font-weight:bold; line-height:40px;}
#imain .line1{width:590px; margin:0 auto; }
#imain .line1 .txt3{margin:20px 0 10px 0; background:url(/template/images/index_rtitle.gif) 0 -168px no-repeat; height:28px; padding-left:30px; color:#fff; font-size:14px; line-height:28px;}
/*右侧*/
#imain .ezinectright{ width:262px; float:right; background:#f0f0f0; padding-top:10px;}
#imain .thistext{ padding-bottom:10px;}
#imain .thistext  h3{ background:url(/template/images/ezineicon.png) -7px -66px no-repeat; font-size:16px; padding-left:25px; color:#fff; line-height:36px;}
#imain .thistext dl{ width:235px; margin:0 auto;padding-bottom:20px; background:#fff; border:1px #ccc solid; border-top:none; border-bottom:none;}
#imain .thistext dl.lastdl{ border-bottom:1px #ccc solid; }
#imain .thistext dl dt{ background:url(/template/images/ezineicon.png) -19px -106px no-repeat; font-size:14px; font-weight:bold;padding-left:30px;color:#00655d; margin-bottom:20px; line-height:31px;}
#imain .thistext dl dd{ padding-left:30px;}
#imain .thistext dl dd a{ display:block;  width:180px; }
/*往期回顾轮播图结构*/
#imain .oldezine { margin:10px 0 20px 0;}
#imain .oldezine  h3{ background:url(/template/images/ezineicon.png) -7px -66px no-repeat; font-size:16px; padding-left:25px; color:#fff; line-height:36px;}
#imain .oldezine .old{ height:270px; width:215px; margin:0 auto; background:#fff; padding:20px 10px; border:1px #ccc solid; border-top:none;}
/*往期回顾轮播图内容*/
#container {width:154px;padding:10px;margin:0 auto;position:relative;z-index:0;}
#example {width:600px;height:350px;position:relative;}
#ribbon {	position:absolute;top:-3px;left:-15px;	z-index:500;}
#frame {position:absolute;z-index:0;width:172px;height:253px;top:4px;left:2px;}
#slides {position:absolute;	top:15px;left:4px;	z-index:100;}
#slides .next,#slides .prev {position:absolute;top:75px;left:-28px;width:24px;height:43px;display:block;z-index:101;}
.slides_container {width:154px;height:216px;overflow:hidden;position:relative; margin-left:7px;}
#slides .next {left:173px;}
.pagination {margin:26px auto 0;width:100px;}
.pagination li {float:left;margin:0 1px;}
.pagination li a {display:block;width:12px;height:0;padding-top:12px;background-image:url(/template/images/pagination.png);background-position:0 0;float:left;overflow:hidden;}
.pagination li.current a {background-position:0 -12px;}

/*设置查看内容文件大小*/
#font16{font-size:16px;}
#font14{font-size:14px;}
#font12{font-size:12px;}
.font16{ background:#d3d3d3;}

/*左右对齐带边框层*/
.LeftSideBar {float:left; border: #999999 1px solid; margin: 6px 10px 6px 2px; width:71px; height:91px}
.RightSideBar{float:right; border:#999999 1px solid; margin: 6px 10px 6px 2px; width:71px; height:91px}
/*文章正文中下方相关名称文章列表*/
#imain div.article .maintext .showcontent_nibox{ background:url(/template/images/gradient_short.gif) no-repeat left top; padding-top:12px;  margin:16px 0 20px 0;}
#imain div.article .maintext .showcontent_nibox ul{ list-style:none; padding:0; margin:0;}
#imain div.article .maintext .showcontent_nibox ul span{ line-height:21px;font-size: 16px; background:url(/template/images/siteMap_bullet_section_first.gif) no-repeat left center; padding-left:12px;}
#imain div.article .maintext .showcontent_nibox li{list-style:none; background:url(/template/images/siteMap_bullet_item.gif) no-repeat left center;padding-left:18px; margin-left:0px;}
#imain div.article .maintext .showcontent_nibox li a{line-height:21px;}