@charset "utf-8";
/* CSS Document */

/*默认样式*/
body,div,table,tr,td,p,a,span,img,em,i,ul,ol,li,form,input.label{ margin:0; padding:0; font-size:14px; font-family:"微软雅黑"; color:#333; line-height:21px;}
h1,h2,h3,h4,h5,h6{margin:0; padding:0; font-size:16px; font-family:"微软雅黑"; color:#333; line-height:21px;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-size:16px;}
font,strong{font-size:14px; font-family:"微软雅黑";line-height:21px;}
ul,ol	{ list-style:none;}
.clear	{ clear:both; padding:0; margin:0; height:0; overflow:hidden;line-height:0; }
img		{ border:none;}
html	{ -webkit-text-size-adjust:none;}
a		{ text-decoration:none;}
a:hover	{ text-decoration:underline}
a:focus	{ outline:none; -moz-outline:none;}
body	{ background:#ccc;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .clearfix { zoom: 1; }

/*回顶部样式 position:absolute固定坐标|fixed固定屏幕位置*/
.scrolltop{position:fixed;display:none;width:33px;height:33px;left:50%;bottom:50px;margin-left:500px;
background:url(http://img.techtarget.com.cn/template/images/component/scrolltop.png) no-repeat 0 0;}
.scrolltop:hover{background-position:0 -34px;}
.pvstat {width:1px; height:1px;overflow:hidden;display:none;} /*统计*/

/*********************************页头**************************************/
/*top*/
#top{ width:100%; height:22px; background:#3c3c3c;border-bottom:1px #666666 dotted ;}
#top .top_inner{ width:970px; margin:0 auto;}
#top ul.login{float:left; width:700px;}
#top ul.login li{float:left;color:#fff;}
#top ul.login li a{ color:#fff;}
#top ul.login li.rss{ float:left;}
#top ul.login li.rss span{ display:block; float:left; width:14px; height:11px; margin-top:5px; background:url(/template/images/spriteGlobal.png) no-repeat -327px -22px  ;}
#top ul.login li.rss a{ display:block; float:left;}
#top p.toplogo{ float:right;}
#top p.toplogo  a{color:#999;}
/*header*/
#header{ width:100%; height:88px; background:url(/template/images/spriteBackground.png) center top no-repeat #3c3c3c;}
#header .header_inner{ width:970px; margin:0 auto;}
#header .databaselogo{ float:left; padding-top:29px;}
#header .databaselogo img{width:300px; height:35px;}
#header .techtargetlogo{ float:right; }
#header .techtargetlogo a{ display:block;width:180px; height:64px; margin-top:14px; background:url(/template/images/spriteGlobal.png) 0 -162px no-repeat ;}
/*nav*/
#nav{  width:100%; height:45px; background:url(/template/images/nav-bg_11.gif) repeat-x;}
#nav .mainnav{ width:970px; margin:0 auto;}
#nav  ul{ float:left; width:740px; }
#nav  ul li{ float:left;}
#nav  ul li a{ display:block; background:url(/template/images/navline_14.gif) right center no-repeat;color:#fff; padding:0 15px; font-weight:bold; font-size:13px;line-height:45px;}
#nav  ul li.lastli a{ background:none;}
/*search*/
#nav  .form1{ float:right; padding-top:10px; width:215px;}
#nav  .form1 input#BtnSearch{ float:left; width:32px; height:25px;color:#fff;border-radius: 0 0 0 0; border:0; background: url(/template/images/spriteGlobal.png) no-repeat scroll -60px -49px transparent;  }
#nav  .form1 input#q{float:left; text-indent:10px;border-radius:10px 0 0 10px;color:#e37d00; width:178px; height:24px; border:0; line-height:24px;}
/*********************************页头结束**************************************/

/*********************************页尾**************************************/
/*footernav*/
#footernav{  clear:both; width:100%; height:45px; background:url(/template/images/nav-bg_11.gif) repeat-x;}
#footernav .footer_nav{ width:970px; margin:0 auto;}
#footernav  ul{ float:left; width:740px; }
#footernav  ul li{ float:left;}
#footernav  ul li a{ display:block; background:url(/template/images/navline_14.gif) right center no-repeat;color:#fff; padding:0 9px; font-weight:bold;font-size:13px;line-height:45px;}
#footernav  ul li.lastli a { background:none;}
/*footersearch*/
#footernav  .form1{ float:right; padding-top:10px; width:215px;}
#footernav  .form1 input#btnSearch2{ float:left; width:32px; height:25px;color:#fff;border-radius: 0 0 0 0; border:0; background: url(/template/images/spriteGlobal.png) no-repeat scroll -60px -49px transparent;  }
#footernav  .form1 input#q2{float:left; text-indent:10px;border-radius:10px 0 0 10px;color:#e37d00; width:178px; height:24px; border:0; line-height:24px;}


/*footer*/
#footer{width:970px; margin:0 auto; padding:20px 0; text-align:center;}
#footer ul{ text-align:center;}
#footer ul li{  display:inline;}
#footer .weball{font-weight:bold; font-size:13px; padding-bottom:5px;; }
#footer p{ clear:both;}
/*********************************页尾结束**************************************/

/*********************************imain**************************************/
/*banner*/
#imain{ width:100%;  background:url(/template/images/spriteBackground.png) #ccc center -90px no-repeat;}
#imain .banner{ width:970px; margin:0 auto; padding-top:20px; padding-bottom:20px;}
#imain .banner p{ color:#999; font-size:10px; text-align:center; line-height:12px;}
.leaderboard img{ width:970px; height:90px; border:0;}
/*content*/
#imain .content{ width:970px; margin:0  auto; margin-bottom:40px; overflow:hidden;}
#imain .content .posit{ line-height:30px; }
#imain .content .posit span{margin:0 5px;}
/*contentleft*/
#imain .ctleft{width:598px; float:left; border:1px #b2b2b2 solid; background:#fff; padding:0 20px 20px 20px; overflow:hidden;}
#imain .ctleft h2{font-size:25px; font-weight:bold;color:#00a99d; border-bottom:1px #b2b2b2 dotted; line-height:80px;}
/*contentright*/
#imain .ctright{ width:320px; float:right; background:#f0f0f0; padding-top:10px;overflow:hidden;}
#imain .ctright .rightop{ background:url(http://img.techtarget.com.cn/ad/infocenter.gif) no-repeat left center; height:42px;}
/*********************************新闻（topiclist话题列表页、tips技巧、software软件下载）**************************************/
/*今日推荐*/
#imain .tnews{ padding:18px 0 15px 0;*padding-top:14px;_padding-top:12px; border-bottom:1px #b2b2b2 solid;}
#imain .tnews .tuijian span.icon{ display:block; float:left; margin-top:5px; height:15px; width:10px; background:url(/template/images/spriteGlobal.png) no-repeat -178px -83px;}
#imain .tnews .tuijian p{ float:left; padding-left:10px; font-size:14px;height:20px;width:500px; overflow:hidden; }
#imain .tnews .tuijian  a{font-size:16px; color:#003399; font-weight:bold;}
#imain .tnews .tuijian span.todayns{color:#e7361e; font-size:16px; padding-right:5px; font-weight:normal;}
#imain .tnews p.tdinner{ clear:both; padding-left:20px; color:#7a7a7a; }
/*新闻列表*/
#imain  ul.newslist { padding-top:4px;*padding-top:0;}
#imain  ul.newslist  li{ padding:20px 0 20px 0; border-bottom:1px #999 dotted;}
#imain  ul.newslist  .listtitle{ height:25px; overflow:hidden;}
#imain  ul.newslist  .listtitle span{ float:right; display:block; padding-right :10px; color:#7a7a7a; font-weight:normal;}
#imain  ul.newslist  .listtitle a{color:#003399;float:left; font-size:16px;font-weight:bold;}
#imain  ul.newslist  .listtitle h2{ border:none;overflow:hidden; height:25px; }
#imain  ul.newslist  li p{ clear:both; color:#333; }

/*********************************话题*************************************/
p.keywords a{color:#ee7601; padding:0 35px 0 0;  line-height:30px;}
p.keywords{border-bottom:1px #ccc dotted; overflow:hidden;}
#imain .topiclist{padding-bottom:14px;}
#imain .topiclist li{ padding-top:15px;}
#imain .topiclist h5{ background:url(/template/images/index_rtitle.gif) -1px -167px no-repeat;padding-left:25px; color:#fff; font-size:14px;height:28px; overflow:hidden; line-height:28px; }
#imain .topiclist p{ padding:9px 10px ; text-indent:2em;}
#imain .topiclist .listmore{padding:0 10px; }
#imain .topiclist .listmore ul li{float:left;width:270px; padding-top:5px; }
#imain .topiclist .listmore ul li span{display:block; float:left; background:url(/template/images/spriteGlobal.png) no-repeat -515px -588px;  width:15px; height:21px;}
#imain .topiclist .listmore ul li  a{display:block;float:left; padding-left:10px;color:#039; line-height:20px;  }

/*********************************话题二级页面*************************************/
#imain .choose{padding:15px 0;}
#imain .chooselist{ float:left;width:217px;}
#imain .chooselist li{ width:207px; font-weight:bold;height:40px; padding-left:10px; line-height:40px; }
#imain .chooseinner{float:left; width:374px; }
#imain .chooseinner .chnews{width:370px;}
#imain .chooseinner .chnews li{border-bottom:1px #999 dotted; padding-bottom:14px;margin-bottom:13px;}
#imain .chooseinner .chnews h4{width:370px; height:30px; overflow:hidden;}
#imain .chooseinner .chnews h4 a{ color:#039; font-size:14px; line-height:30px;}
#imain .chooseinner .chnews p.p1{width:370px; }
#imain .chooseinner .chnews p.p2{padding-top:5px;color:#aaa;}
#imain .chooseinner .chnews p.p2 span.textcolor{color:#00a99d;padding-right:30px;}
#imain .chooseinner .chnews p.p2 span a{color:#00a99d;}
#imain .chooseinner  p.moretopic{ text-align:center; padding:15px 0 15px 0; clear:both;}
#imain .chooseinner  p.moretopic a{color:#f6a01e; text-decoration:underline; font-size:14px;}
.chooselist .sd01 { font-weight: bold; cursor:pointer; background: url(/template/images/s02.png) left center no-repeat;}
.chooselist .sd02 {background:url(/template/images/s01.png) left center no-repeat; cursor:pointer;}

/*********************************技巧**************************************/
/*重点推荐*/
#imain .inews{ padding:18px 0 15px 0; border-bottom:1px #b2b2b2 solid;}
#imain .inews .tuijian span.icon{ display:block; float:left; margin-top:5px; height:15px; width:10px; background:url(/template/images/spriteGlobal.png) no-repeat -178px -83px;}
#imain .inews .tuijian p{ float:left; padding-left:10px; font-size:14px;height:20px;width:500px; overflow:hidden; }
#imain .inews .tuijian  a{font-size:16px; color:#003399; font-weight:bold;}
#imain .inews .tuijian span.todayns{color:#e7361e; font-size:16px; padding-right:5px; font-weight:normal;}
#imain .inews p.tdinner{ clear:both; padding-left:20px; color:#7a7a7a; }

/*********************************深度专题(技术手册)**************************************/
/*专题列表*/
#imain ul.milist{ padding:0px 0 14px 0;*padding-bottom:0px;}
#imain ul.milist li{ padding:22px 0;overflow:hidden;border-bottom:1px #999 dotted;}
#imain ul.milist div.mipic{ float:left; margin-right:15px; }
#imain ul.milist div.mipic img{ width:120px; height:168px; padding:5px; border:1px #7a7a7a solid;}
#imain ul.milist div.news{float:left; width:420px;}
#imain ul.milist div.news h4{ height:30px;overflow:hidden;}
#imain ul.milist div.news h4 .newstitle{color:#f00; font-size:16px;}
#imain ul.milist div.news h4 a{ font-size:16px; color:#039; line-height:30px;}
#imain ul.milist div.news .newsinfo{ height:85px; overflow:hidden;color:#666;}
#imain ul.milist div.news .more {text-align:right;padding-top:40px;}
#imain ul.milist div.news .more a{color:#f00; }

/*热点推荐(原网站样式)*/
#TopArea {border: #d8d8d8 1px solid;border-top: #d8d8d8 2px solid; margin-bottom: 8px;margin-top:3px; width: 598px; display:none;}
.QQnav {background: #fafafa; width: 100%; line-height: 28px; border-bottom: #d8d8d8 1px solid; height: 28px}
#TopArea .QQnav .QQh2{font-size: 14px; text-indent:17px;float: left;margin-top:0;color:#B71515; line-height:30px; border-bottom:none; }
.QQnavbar{float: right; overflow: hidden; width: 86px; margin-right: 18px; padding-top: 6px; zoom: 1; height: 22px; _display: inline}
.QQnavbar li {list-style:none;margin-top: 5px; background: url(/template/new/images/QQsplit.png) no-repeat -165px -112px; float: left;margin-left: 3px; width: 6px; cursor: pointer; height: 6px; _display: inline}
.QQnavbar li .active {background: url(/template/new/images/QQsplit.png) no-repeat -165px -86px}
.QQbed { padding:5px 0 0 19px;width: 579px; }
.QQbed li {float: left; width: 150px;position:relative;}
#QQpre {background: url(/template/new/images/QQsplit.png) no-repeat -151px -60px; float: left; width: 20px; cursor: pointer; margin-right: 8px; height: 15px; _display: inline}
#QQnext {background: url(/template/new/images/QQsplit.png) no-repeat -151px -131px; float: right; width: 20px; cursor: pointer; height: 15px}
#QQMarquee {overflow: hidden; width:592px; zoom: 1; height: 235px;left:-10px;position:relative;}
#QQMarqueeCoutent{height: 240px;}
#QQMarqueeCoutent img {width:120px;height:168px; border: #ccc 1px solid;margin-top:10px;}
#QQMarqueeCoutent .link {display: block; margin-left: 0px; width: 120px; text-align:center;font-size:12px;height:35px; overflow:hidden;line-height:22px;}
#QQMarqueeCoutent a:link,#QQMarqueeCoutent a:visited {font-family:"新宋体";font-size:12px;font-weight:bold;color: #4c4a70;margin-top:3px;text-align:left;line-height:18px; text-decoration: none}
#QQMarqueeCoutent a:hover {text-decoration: underline}
#QQMarqueeCoutent a:active { text-decoration: underline}

/*********************************电子杂志**************************************/
#imain ul.ezlist{ padding-bottom:5px; }
#imain ul.ezlist li{ padding:23px 0;*padding:21px 0;overflow:hidden;border-bottom:1px #999 dotted;}
#imain ul.ezlist div.mipic{ float:left; margin-right:15px; }
#imain ul.ezlist div.mipic img{ width:120px; height:168px; padding:5px; border:1px #7a7a7a solid;}
#imain ul.ezlist div.news{float:left; width:420px;}
#imain ul.ezlist div.news h4{ height:30px;overflow:hidden;}
#imain ul.ezlist div.news h4 a{ font-size:14px; color:#039; line-height:30px;}
#imain ul.ezlist div.news .newsinfo{ height:85px; overflow:hidden;color:#666;}
#imain ul.ezlist div.news .more {padding-top:35px;}
#imain ul.ezlist div.news .more a{color:#f00; display:block; text-align:center; float:left;width:85px; height:28px; margin:0 20px; background:url(/template/images/spriteGlobal.png) 0 -430px no-repeat; line-height:28px; }
#imain td a.edown{ display:block; width:122px; margin:0 auto; background:url(/template/images/downbg_03.jpg) no-repeat; color:#fff; padding-left:50px; font-size:18px; font-weight:bold; line-height:40px;}

/*********************************技术手册内容页(book内容页)*************************************/
#imain  div.guideinner{padding:30px 0;}
#imain  div.guideinner  div.intro{border:1px #aaa dotted; padding:10px; background:#F6FBFE;}
#imain  div.guideinner  div.intro p span{color:red;}
#imain  div.guideinner  div.intro p.infomation{ height:42px; overflow:hidden;}
#imain  div.guideinner  div.intro p.keywords1 a{color:#00a99d;  padding-right:20px;}
#imain  div.guideinner  div.detail{padding:25px 0 ;}
#imain  div.guideinner  div.detail div.detailpic{width:120;  text-align:center; float:left;padding:5px;margin:0 20px 5px 0;}
#imain  div.guideinner  div.detail div.detailtext h4{color:#039; font-size:14px; line-height:30px;}
#imain  div.guideinner  div.detbtn{text-align:center;}
#imain  div.guideinner  div.detbtn img{  padding: 0 30px;}

/*********************************专家答疑*************************************/
#imain ul.explist{ padding:8px 0 20px 0;}
#imain ul.explist li{ padding-top:20px;padding-bottom:20px;*padding:23px 0;_padding:20px 0;overflow:hidden; border-bottom:1px #999 dotted;}
#imain ul.explist div.mipic{ float:left; margin-right:15px; }
#imain ul.explist div.mipic img{ width:69px; height:88px; padding:5px; border:1px #7a7a7a solid;}
#imain ul.explist div.news{float:left; width:420px; padding-bottom:15px;}
#imain ul.explist div.news .newsinfo{ height:83px; overflow:hidden;color:#666;}
#imain ul.explist div.news .more {text-align:left;}
#imain ul.explist div.news .more a{color:#f00; }
#imain ul.explist  p.morenews span{ display:block; float:left; width:25px; height:25px; background:url(/template/images/spriteGlobal.png) -510px -586px no-repeat;}
#imain ul.explist  p.morenews{ color:#039; font-weight:bold; width:600px;height:25px; overflow:hidden; line-height:25px;}

/*********************************专家答疑列表页*************************************/
#imain div.experts { padding:20px 0 20px 10px;border-bottom:1px #999 dotted;}
#imain div.experts div.mipic{ float:left; margin-right:15px; }
#imain div.experts div.mipic img{ width:69px; height:88px; padding:5px; border:1px #7a7a7a solid;}
#imain div.experts div.news{float:left; width:420px; padding-bottom:15px;}
#imain div.experts div.news .newsinfo{ height:80px; overflow:hidden;color:#666;}
/*新闻列表*/
#imain  ul.expinfolist  li{ padding:20px 10px 5px 10px;}
#imain  ul.expinfolist  .exlisttitle{ height:25px; overflow:hidden;}
#imain  ul.expinfolist  .exlisttitle span{ float:right; display:block; padding-right :10px; color:#7a7a7a; font-weight:normal;}
#imain  ul.expinfolist  .exlisttitle a{color:#003399;display:block;float:left; font-size:14px;width:450px; overflow:hidden; font-weight:bold;}
#imain  ul.expinfolist  li p{ color:#333;  height:42px; overflow:hidden;}

/*********************************人物专访*************************************/
#imain ul.ivlist{padding:0 0 2px 0;}
#imain ul.ivlist li{ padding-top:20px;*padding-top:16px;overflow:hidden; }
#imain ul.ivlist div.mipic{ float:left; margin-right:15px; }
#imain ul.ivlist div.mipic img{ width:90px; height:120px; padding:5px; border:1px #7a7a7a solid;}
#imain ul.ivlist div.news{float:left; width:420px;}
#imain ul.ivlist div.news h4{ height:30px;overflow:hidden;}
#imain ul.ivlist div.news h4 a{ font-size:14px; color:#039; line-height:30px;}
#imain ul.ivlist div.news .newsinfo{ height:85px; overflow:hidden;color:#666;}
#imain ul.ivlist div.news .more {text-align:right;padding-top:40px;}
#imain ul.ivlist div.news .more a{color:#f00; }

/*********************************书摘下载**************************************/
#imain ul.bklist{ padding:0 0 29px 0;*padding-bottom:14px;}
#imain ul.bklist li{ clear:both; padding:20px 0;overflow:hidden;border-bottom:1px #999 dotted;}
#imain ul.bklist div.mipic{ float:left; margin-right:15px; }
#imain ul.bklist div.mipic img{ width:120px; height:168px; padding:5px; border:1px #7a7a7a solid;}
#imain ul.bklist div.news{float:left; width:420px;}
#imain ul.bklist div.news h4{ height:30px;overflow:hidden;}
#imain ul.bklist div.news h4 a{ font-size:14px; color:#039; line-height:30px;}
#imain ul.bklist div.news .newsinfo{ height:85px; overflow:hidden;color:#666;}
#imain ul.bklist div.news .more {text-align:right;padding-top:40px;}
#imain ul.bklist div.news .more a{color:#f00; }

/*********************************白皮书**************************************/
#imain  ul.wplist { padding-bottom:13px;}
#imain  ul.wplist  li{ padding:25px 0;border-bottom:1px #999 dotted;}
#imain  ul.wplist  h4{ height:25px; overflow:hidden;width:470px; overflow:hidden;}
#imain  ul.wplist  h4 a{color:#003399;font-size:16px; font-weight:bold;}
#imain  ul.wplist  h4 .newstitle{color:#f00; font-size:16px;}
#imain  ul.wplist  li p.source span.source1{ float:left;display:block;color:#aaa;width:200px;}
#imain  ul.wplist  li p.source a{ float:right;display:block; width:40px; margin-right:20px; height:20px; line-height:20px; padding-left:30px; background:url(/template/images/spriteGlobal.png) 10px -325px no-repeat;border:1px #eee solid;}
#imain  ul.wplist  li p.wpinfo{ color:#333; margin-top:10px;  height:42px; overflow:hidden;}

/*********************************list**************************************/
#imain  .ctleft ul.allnewslist{ padding-top:4px;*padding-top:0;}
#imain  .ctleft ul.allnewslist  li{ padding:20px 0 10px 0; border-bottom:1px #999 dotted;}
#imain  .ctleft ul.allnewslist  .listtitle{ height:35px;overflow:hidden;font-size:25px; font-weight:bold; border-bottom:0px #b2b2b2 dotted; line-height:35px;}
#imain  .ctleft ul.allnewslist  .listtitle span{ float:right; display:block; padding-right :10px; color:#7a7a7a; font-weight:normal;}
#imain  .ctleft ul.allnewslist   .listtitle a{color:#003399;font-size:20px;width:450px;font-weight:bold; line-height:35px;}
#imain  ul.allnewslist  .allistinfo{color:#999; padding:3px 0;}
#imain  ul.allnewslist  li p{ clear:both; color:#222; font-size:14px; padding:5px 0; text-indent:2em;}
#imain  ul.allnewslist  .infokey{color:#666; padding-top:10px;}
#imain  ul.allnewslist  .infokey a{ padding:0 5px;color:#777; background:#eee; margin:0 2px;}
#imain  ul.allnewslist  .infokey a:hover{background:#00a99d;color:#fff; text-decoration:none;} 

/*********************************公共部分**************************************/
/*分页页码列表*/
#imain .page { text-align:center; padding:19px 0; clear:both;}
#imain .page p{ display:inline; padding:0 10px;}
#imain .page p span{ font-weight:bold;}
#imain .page ul,#imain .page ul li{display:inline;}
#imain .page ul li a:link{ color:#2e6ab1;border:1px #9aafe5 solid; padding:3px 5px;}
#imain .page ul li a:visited{padding:3px 5px;  color:#f00;border:1px #fff solid; }
#imain .page ul li a:hover{color:#2e6ab1;border:1px #fff solid; padding:3px 5px;text-decoration:underline;  }
#imain .page ul li input{ margin:7px 0 0 10px;color:#2e6ab1; width:16px;border:1px #9aafe5 solid;  text-align:center;padding:0 5px 3px 5px; line-height:20px;}



/*特别推荐*/
#imain .hot{ width:298px;margin:0 auto; margin-bottom:15px;}
#imain .hot h3{ background:url(/template/images/index_rtitle.gif) -4px 0 no-repeat; font-size:14px; padding:0  15px 0 50px; color:#fff;line-height:33px; }
#imain .hot div.hot_inner{ padding:10px 10px 15px 10px ; background:#fff; border:1px #b1b1b1 solid; border-top:none;}
#imain .hot h4{height:30px; overflow:hidden; }
#imain .hot h4 a{color:#039; font-size:14px; line-height:30px;}
#imain .hot p{ padding-bottom:10px; height:80px; overflow:hidden;}
/*厂商动态 */ 
#imain .firm  { width:298px; margin:0 auto; padding-bottom:10px; } 
#imain .firm  h3{ background:url(/template/images/index_rtitle.gif) -3px -48px no-repeat; font-size:14px; padding-left:20px;padding-right:15px; color:#fff;line-height:28px; }
#imain .firm ul{ padding:5px 15px 15px 15px;background:#fff; border:1px #bbb solid; border-top:none;}
#imain .firm ul li span.listst{ float:left;display:block;width:20px;height:20px;background:url(/template/images/spriteGlobal.png) -515px -586px   no-repeat;  }
#imain .firm ul li h4{ float:left; height:21px;width:220px; overflow:hidden;  padding:3px 0 0 7px; line-height:21px; }
#imain .firm ul h4 a{color:#039;font-size:14px; }
#imain .firm ul li p{height:42px; overflow:hidden;line-height:21px; }

/*热门技术手册、技巧、热门软件下载、深度专题、分析推荐*/
#imain .conrightips  { width:298px; margin:0 auto;margin-bottom:15px;} 
#imain .conrightips h3{ background:url(/template/images/index_rtitle.gif) -3px -48px no-repeat; font-size:14px; padding-left:20px;color:#fff;line-height:28px; }
#imain .conrightips h3 a{ font-size:14px; color:#fff;line-height:28px; text-decoration:none;}
#imain .conrightips ul{ padding:5px 15px 15px 15px;;background:#fff; border:1px #bbb solid; border-top:none;}
#imain .conrightips ul h4{ height:22px; overflow:hidden; margin-top:10px;}
#imain .conrightips ul h4 a{color:#039; font-size:15px;}
#imain .conrightips ul li p{height:42px; overflow:hidden;line-height:21px; }


/*二维码*/
.erweima{background:#fff; border:1px #bbb solid; border-top:none; text-align:center;}
.erweima img{width:283px; padding:0 0 15px:}
/*微博*/

/*最新技巧排行*/
#imain .newtips  { width:298px; margin:0 auto;margin-bottom:15px;} 
#imain .newtips  h3{ background:url(/template/images/index_rtitle.gif) -3px -48px no-repeat; font-size:14px; padding-left:20px;color:#fff;line-height:28px; }
#imain .newtips ol{ padding:5px 15px 15px 15px;;background:#fff; border:1px #bbb solid; border-top:none;}
#imain .newtips ol li a{line-height:25px; }
#imain .newtips ol li{height:25px; overflow:hidden; line-height:25px;}
#imain .newtips ol li span{ padding-right:10px;color:#F90;}

/*infocenter*/
.RightDiv{width:300px; margin:0 auto;margin-bottom:15px;}
.RightDiv h2 a{background:url(/template/images/index_rtitle.gif) -3px -97px no-repeat; font-size:14px; padding-left:20px;color:#1c978b; display:block;line-height:33px;}
.RightDiv .RightPart { padding:5px 15px 20px 15px;;background:#fff; border:1px #bbb solid; border-top:none;}
.RightDiv .RightPart .RightTitle2{ height:21px; overflow:hidden;padding-bottom:2px; font-weight:bold; margin-top:10px;}
.RightDiv .RightPart .RightTitle2 a{color:#039;}
.eyes{ display:none;}
.RightDiv .RightPart .RightDesc{height:42px; overflow:hidden;line-height:21px; }

.RightDiv ul{padding:5px 15px 13px 15px;;background:#fff; border:1px #bbb solid; border-top:none;}
.RightDiv ul h3{ height:22px; overflow:hidden; margin-top:10px;}
.RightDiv ul h3 a{color:#039; font-size:15px;}
.RightDiv ul li p{height:42px; overflow:hidden;line-height:21px; }

/*****************原网站样式*********************/
/*登录窗口样式*/
.prompt {
	background:url(/template/new/images/prompt_bg.png);
	background-image:url('/template/new/images/prompt_bg.png');
	width:390px; height:270px; text-align:left;
}
.prompt h1 {display:inline; font-weight: bold; font-size:14px; float:left; margin:12px 0px 0px 20px; COLOR: #334f67; text-align: left}
.prompt .desc {clear:both; font-size:13px; margin:8px 0px 10px 5px;}
.prompt .desc A{font-size:13px;}
.prompt .title {font-weight:bold; font-size: 13px; margin: 3px 0px 3px 5px; COLOR: #334f67; line-height: 18px; text-align: left}
.prompt .bottom {background:url(/template/new/images/bottom.gif) no-repeat; float:left; margin:2px ; width:88px; CURSOR:pointer; COLOR:#fff; BORDER-TOP-STYLE:none; BORDER-RIGHT-STYLE:none; BORDER-LEFT-STYLE:none; position:relative; height:30px; BORDER-BOTTOM-STYLE:none}
.prompt  .reg{clear:both; font-size:13px; margin: 0px 0px 0px 40px; width: 345px; padding-top:10px; border-top:#c3c7c6 1px solid;}
.prompt .reg A:link { COLOR:#fd6c01; position:relative; TEXT-DECORATION:underline }
.prompt .reg A:visited { COLOR:#fd6c01; position:relative; TEXT-DECORATION:underline}

/*友好提示层样式*/
.over{width:970px; margin:0 auto; text-align:center; filter:alpha(opacity=10); -moz-opacity:0.22;opacity: 0.22; position:relative;}/*覆盖后的样式*/
.overo{	position:relative; height:100%; width:970px; left:0px; top:0px; margin:0px auto; text-align:center;}/*不覆盖的样式*/
#alertlayer{width:300px;height:100px;float:left;margin:50px auto auto 150px;background-color:#FFFFFF;position: absolute;left: 30px;top: 50px;border: 1px solid #757f89;}
.txtmsg{margin:5px;padding:10px 5px 20px 30px;background-color:#f6faff; border:1px solid #dadee4; border-top-width:4px; height:35px; background-position: 10px 8px;background-repeat:no-repeat; line-height:20px;}
#close{text-align:right;}

/*====================文本框===================== */
input.check{position:relative;}
input.Ok{position:relative; width:210px; height:18px; padding:2px 8px 0 3px; border:1px solid #A7A6AA; background:#FFF url(/template/new/images/component/input_ok.gif) top right no-repeat;}
input.OkShort{position:relative; width:140px; height:18px; padding:2px 8px 0 3px; border:1px solid #A7A6AA; background:#FFF url(/template/new/images/component/input_ok.gif) top right no-repeat;}

input.WarningShort{position:relative; width:140px; height:18px; padding:2px 8px 0 3px; border:1px solid #A7A6AA; background:#FFF url(/template/new/images/component/input_warning.gif) bottom right no-repeat;}
input.Warning{position:relative; width:210px; height:18px; padding:2px 8px 0 3px; border:1px solid #A7A6AA; background:#FFF url(/template/new/images/component/input_warning.gif) bottom right no-repeat;}

input.ErrorShort{position:relative; width:140px; height:18px; padding:2px 8px 0 3px; border:1px solid #A7A6AA; background:#FFF url(/template/new/images/component/input_error.gif) bottom right no-repeat;}
input.Error{position:relative; width:210px; height:18px; padding:2px 8px 0 3px; border:1px solid #A7A6AA; background:#FFF url(/template/new/images/component/input_error.gif) bottom right no-repeat;}

input.Normal{position:relative; width:210px; height:18px; padding:2px 8px 0 3px; border:1px solid #c4c7c8; background-color:#FFF;background-image:none;}
input.NormalShort{position:relative; width:140px; height:18px; padding:2px 8px 0 3px; border:1px solid #c4c7c8; background-color:#FFF;background-image:none;}

input.Password{position:relative; width:210px; height:18px; padding:2px 8px 0 3px; border:1px solid #A7A6AA; background-color:#FFF;background-image:none;}
/*====================注册消息===================== */
.msg_Normal {line-height:19px;}
.msg_Warning {border: #1A8EF1 1px solid; background: url(/template/new/images/component/msg_warning.gif) #fff5d8 no-repeat 4px 2px; COLOR:#1A8EF1; line-height:19px;padding-left:23px; width:85%;}
.msg_Error { border-right:#FF6600 1px solid; background-position: 2px 2px; border-top: #FF6600 1px solid; padding-left:20px; background-IMAGE: url(/template/new/images/component/msg_error.gif); border-left: #FF6600 1px solid; padding-top: 4px; border-bottom: #FF6600 1px solid; background-REPEAT: no-repeat; line-height:19px; background-COLOR: #FFF7F7; width:85%;}
.class_error{border: #ff7300 1px solid; background: url(/template/new/images/component/msg_error.gif) #fff5d8 no-repeat 4px 2px;   COLOR:#ff0000; line-height:19px; margin-left:20px; padding-left:23px; width:65%;}
.msg_ok {border-right: #00CC00 1px solid; background-position: 2px 2px; border-top: #00CC00 1px solid; padding-left: 20px; background-IMAGE: url(/template/new/images/component/msg_ok.gif); border-left: #00CC00 1px solid; padding-top: 4px; border-bottom: #00CC00 1px solid; background-REPEAT: no-repeat; line-height:19px; background-COLOR: #F0FFF0; width:85%;}

/*友情链接*/
.ex_links_wrap{ width:970px; font-size:12px; margin:15px auto;  border:1px #bbb solid;}
.ex_links_left{ float:left; width:80px; text-align:center; font-weight:bold; color:#454545; line-height:18px; padding-top:10px;}
.ex_links_right{ float:right; color:#333; line-height:18px; padding:8px 8px 15px 8px; text-align:left; width:870px;}
.ex_links_right a:link,.ex_links_right a:visited{color:#333; text-decoration:none;}
.ex_links_right a:hover{ color:#807e7e; text-decoration:underline;}



/*whatis内容样式*/
#over{ width:970px; margin:0 auto; padding-top:20px;}
#LeftEdit{ float:left; width:598px; margin:0 6px 0 0; border:1px #b2b2b2 solid; background:#fff; padding:20px; }/*word.aspx*/
#RightEdit{float:right; width:298px; margin:0 auto; vertical-align:top; overflow:hidden; background:#fff; padding:10px; background:#eee;}
#sousuo{float:left; background-color:#efefef;border: 1px solid #cccccc; padding-bottom:15px;}
#sous{width:598px;float:left;background-color:#efefef;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #bababa;margin-bottom: 6px;padding-bottom: 6px;}
#sous .matter{width:200px;float:left;font-weight:bold;margin-left:3px;margin-top:6px;color:#4e7092;margin-bottom:6px;text-align:left;font-size:14px;font-family:Verdana, "宋体";}
#sousuo .sous_t{width:400px;float:left;margin-top:6px;margin-left:90px;margin-bottom: 6px;}
#sousuo .ss-bganniu{float:left;width:70px;font-weight: bold;margin-top:2px;}
#sousuo .ss-anniu {font-size: 12px;color: #000000;background-color: #cfcfcf;height: 20px;width: 55px;border: 1px solid #000000;} 
#sousuo .sosbg{width:575px;float:left;border: 1px solid #a4c2d2;height:30px;background-color:#fff; margin:0 10px 5px;}
.sosbg .engl_t{height:30px;float:left;font-size:14px;font-weight:bold;margin-top:5px;margin-left:4px;width:105px;}
.sosbg .engl_zm{float:left;font-size:12px;margin-top:5px;width:440px;font-family:Verdana, "宋体"; text-align:left;line-height: 26px;word-wrap:break-word;word-break:normal;}
.sosbg .engl_z{height:30px;float:left;font-size:14px;font-weight:bold;margin-top:5px;margin-left:4px;width:105px;text-align:left;}
.sosbg .engl_zp{float:left;font-size:12px;margin-top:5px;width:440px;font-family:Verdana, "宋体"; text-align:left;line-height: 26px;word-wrap:break-word;word-break:normal;}
.sosbg .letter{width:15px;text-align:left;float:left;}
.sosbg .lettword{text-align:left;float:left;}
/*whatis导读*/
#MetaInfo { margin:20px auto; clear:both; width:500px; text-align:left; background:#fcfae3; border:1px dashed #ccc; padding:8px; font-size:12px;}
#MetaInfo p { margin:8px 0;}
#MetaInfo p storage{color:red;}

#content-bg{width:580px;}
#editWork {overflow:hidden; word-wrap:break-word; word-break:normal;text-align:left;background-color:#FFFFFF; margin:0 auto;}
#editWork  .wz{width:580px; margin-left:2px; text-align:left; margin:0 auto;}
#editWork  .wzbt,#MidEdit .wzbt, #editWork  .wzbt h1{width:580px; margin-left:2px; margin-top:6px; text-align:left;font-size:20px;font-family:"宋体";color:#910003;font-weight: bold;}
#editWork  .wzline{width:580px; margin-left:2px; margin-top:6px; text-align:left;}
#content-cent { margin:0 auto; font-size: 14px;line-height: 24px;color: #000000;width:580px;border:solid 1px #ccc; margin:20px 0; padding:30px;}
.txt3{font-size:15px; color:#000000; font-weight:bold; font-family:Verdana, "宋体";}
.txt3 h2{font-size:18px;color:#000000;font-weight:bold;font-family:Verdana, "宋体";width:90%;text-align: center; margin-top:10px;}
#content-cent p{ margin-top:15px;}
#doc_show { margin-left:6px; width:580px; text-align: left; font-size:14px;COLOR: #000000;line-height:130%;}
#LoginAbstract{display:block;}
#ArticleContent{display:none;}
#doc_showw .Title_blue{font-weight: bold;font-size: 12px;color: #0000ff;}
#doc_show .Title_blue {font-weight: bold; font-size: 12px; COLOR: #0000ff}
#doc_show .Copyright {font-size:12px; COLOR: #ff0000; font-family: Verdana, ""; text-align: center}
.line_blank{width:580px; margin-left:2px; text-align:left;}

/* word css begin*/
#doc_show {width: 536px; margin-left:4px; color:#676767;margin-top:10px;float:left;font-size: 12px;line-height: 20px;word-wrap:break-word;word-break:normal;overflow:auto;font-family: Verdana, "宋体";text-align: left;}
.word,.word H1{width:530px; float:left; margin-left:3px; margin-top:3px; text-align:left; font-size:18px; font-weight:bold;}
.wordfont{width:535px;float:left;margin-left:2px;margin-top:6px; padding-bottom:4px;text-align:left;color:#910003;font-weight: bold;border-bottom-width: 1px;border-bottom-style: dotted;border-bottom-color: #666666;}
.line_blank{width:540px; float:left; margin-left:2px; text-align:left;}
#doc_show .Title_blue{font-weight: bold;font-size: 12px;color: #0000ff;}
#editWork_center {width:598px;float:left;overflow: hidden;}
#content-bgword {width: 598px;border: #CCCCCC; background:#fff; }
#content-topword {float: left;width: 598px;margin-top:10px;}
#content-topword  img{width:600px;}
#content-centword {font-size: 12px;line-height: 22px;color: #000000;background:#fff;float: left;width: 598px;border-right: 1px #CCC solid;border-left: 1px #CCC solid;}
#content-bottomword  {float: left;width: 580px;}
#content-bottomword   img{width:600px;}
#doc_showw {width: 580px; margin-left:4px; color:#000;margin-top:10px;float:left;font-size: 12px;line-height: 20px;word-wrap:break-word;word-break:normal;overflow:auto;font-family: Verdana, "宋体";text-align: left;}
#doc_showw .Title_blue{font-weight: bold;font-size: 12px;color: #00a99d;}
#doc_showw a{text-decoration:underline;}
#doc_showw p{ margin-top:10px; padding: 0 5px;}
#doc_showw ul{list-style:disc; padding:0; margin:10px 0 0 4em;}
#doc_showw ul li{list-style:disc;}
#doc_showw ol{list-style:decimal; padding:0; margin:10px 0 0 4em;}
#doc_showw ol li{list-style:decimal;}
.wordw,.wordw H2{width:530px; float:left; margin-left:3px; margin-top:4px; text-align:left; font-size:18px; font-weight:bold;}
.wordfontw{width:592px; float:left; margin: 6px 2px 10px 2px; padding-bottom:4px; text-align:left;border-bottom-width: 1px;border-bottom-style: dotted;border-bottom-color: #666666;}
.line_blankword{width:598px; float:left; margin-left:2px; text-align:left;}
.logoutcon{text-align:center; font-size:14px; margin-top:80px; height:100px;}
.logout_red{color:#FF0000; font-weight:bold; margin-top:10px;}
.log_blank10{ margin-top:10px;}
td.txt0{width:264px; word-break:break-all; font-size:12px; padding-top:4px;}
div.ezine_abs{width:254px; word-break:break-all;font-size:12px; padding-top:4px;word-wrap:break-word;}


/*********更多技巧更新*******/
#over .dbase h3{background:url(/template/images/index_rtitle.gif) -3px -48px no-repeat; font-size:14px; padding-left:20px;padding-right:15px; color:#fff;line-height:28px;}
#over .dbase h3 span{ float:right;}
#over .dbase h3 span a{color:#ddd;line-height:28px;}
#over .dbase ul.dbaseleft{padding:5px 15px 13px 15px;;background:#fff; border:1px #bbb solid; border-top:none;}
#over .dbase ul.dbaseleft h4{ height:22px; overflow:hidden; margin-top:10px;}
#over .dbase ul.dbaseleft h4 a{color:#039;}
#over .dbase ul.dbaseleft li p{height:42px; overflow:hidden;line-height:21px; }
 
/*消息样式开始*/
#mulu1{width:890px;clear:both; float:left;text-align:left;margin:8px 0 8px 4px;}
#mulu{width:895px;clear:both;float:left;text-align:left;padding:2px 35px;background-image: url(/template/images/messagebg.jpg);background-repeat: no-repeat;height:25px;}
#message_sline {float:left;width:886px;margin-top:6px;margin-left:22px;background-color:#FFFFFF;height:9px;}
#message_xline {float:left;width:886px;margin-left:22px;background-color:#FFFFFF;}
#message_lr {background-color:#FFFFFF;float:left;width:884px;margin-left:22px;height:300px; border-right-width: 1px;border-left-width: 1px;border-right-style: solid;border-left-style: solid;border-right-color: #cccccc;border-left-color: #cccccc;}
.msgnotefont{line-height:30px; margin-top:40px; margin-left:40px; width:884px; color:#ff0000;}
/*消息样式结束*/

/*404*/
#overinner{ width:100%; padding-top:20px; background:url(/template/images/spriteBackground.png) #ccc center -90px no-repeat;}
.wrap{ width:960px;height:450px; margin:0px auto 0 auto; text-align:left; font-size:14px; border:4px #999999 solid; margin-bottom:15px; background:#fff;}
	.wrap h2{float:left; font-size:15px; font-weight:bold; text-align:left; margin-left:50px; height:40px;line-height:40px; text-indent:40px; margin-top:10px; margin-bottom:0; padding-top:10px;}
	.wrap p{ text-align:left; margin-left:50px; font-size:12px;}
	.wrap a:link,.wrap a:visited{ color:gray; text-decoration:underline;}
	.wrap a:hover{ color:#ff0000; text-decoration:underline;}
.wrap_title{width:956px;height:22px; background-color:#eaeaea; margin:2px;line-height:22px; color:#666666; text-indent:24px; float:left;}
.wrap_tip{background-color:#ffffcc;height:40px;line-height:40px;width:860px;margin-top:15px;border:1px #cccc66 solid;text-indent:2em;float:left;}
.wrap_link{width:860px;float:left;margin-left:50px;padding-top:20px;}
.wrap_link_l{float:left;width:700px;}
.wrap_link_r{float:left;width:150px;}
.wrap_link_l ul{width:100%;float:left;list-style:none;}
.wrap_link_l ul li{width:165px;float:left;text-indent:16px;height:25px;line-height:25px;list-style:none;background:url('/template/new/images/404_bullet_square_2011615.gif') 4px 5px no-repeat;}	
p.wr_title,p.wr_item{width:150px;margin:0;padding:0;height:25px;line-height:25px;}
p.wr_title{border-bottom:1px #ddd dotted;color:#327E93;}
p.wr_item{background:url(/template/new/images/404_bullet_square_2011615.gif) 4px 5px no-repeat;	text-indent:16px;}
.wrap_back{height:60px;line-height:60px;border-top:1px #ccc dotted;float:left;clear:both;width:700px;margin-left:50px;text-indent:16px;margin-top:15px;}
a.red_button:link,a.red_button:visited{color:Red;}
/*logout*/
#edit_center{width:970px; margin:0 auto;}
#edit_center table{ margin:0 atuo;}

/*infocenter广告位(默认隐藏)*/
#bi_topic {display:none;}
/*隐藏统计代码*/
#Stat{position:absolute; left:-100px; bottom:-100px;}

/*print*/
#overp{padding-top:20px; background:url(/template/images/spriteBackground.png) #ccc center -90px no-repeat;}
.print_location{width:960px;margin:0px auto ;}
.print_wrap{ background:#fff;width:920px;margin:0px auto ; padding:20px; margin-top:5px; border:1px #b2b2b2 solid;  }
.print_wrap h2{ font-size:20px; line-height:40px; text-align:center; padding-bottom:20px;}
.print_wrap h3 ,.print_wrap h4{ text-indent:2em;}
.print_wrap ,.print_wrap  p a,.print_wrap  p span,.print_wrap  font,.print_wrap h3 ,.print_wrap h4 ,.print_wrap strong {font-size:14px; line-height:25px;}
.print_wrap  p,.print_wrap ul,.print_wrap  li{ font-size:14px;color:#555; line-height:25px;padding:3px;}
span.Title_blue{color:#00a99d; font-weight:bold;font-size:16px;}

/*右侧浮动广告层(position:absolute|fixed;)*/
.pop_wrap{position:fixed;top:240px;right:1px; width:140px; padding:5px 5px 15px; background:#fff;  border:#dbdbdb solid 1px; font-family:微软雅黑;}
.pop_wrap .offbtn{ line-height:20px; padding-left:13px; background:url(http://img.techtarget.com.cn/template/images/component/close.png) left 4px no-repeat; font-size:11px; font-family:"宋体";color:#777; position:absolute; z-index:200;top:-18px; right:0px;}
/*.pop_wrap h6{height:30px; font-weight:normal; margin:0 6px; color:#222;line-height:30px;font-size:14px; text-align:center; overflow:hidden;}*/
.pop_wrap h6{height:30px; font-weight:normal; margin:0 6px; color:#222;line-height:30px;font-size:8pt; text-align:center; overflow:hidden;}
.pop_wrap h6 a{ color:#222; font-size:8pt;}
.pop_wrap .pop_pic img{width:126px; padding:1px; border:1px #ccc solid; margin-left:7px;}
.pop_wrap .pop_pic a img{width:126px; padding:1px; border:1px #ccc solid; margin-left:7px;}
.pop_wrap p{ padding:8px 8px 0 10px;height:45px;overflow:hidden;color:#999; font-size:11px}
             
/*打印页面*/
#overp .showcontent_nibox{ background:url(/template/images/gradient_short.gif) no-repeat left top; padding-top:12px;  margin:16px 0 20px 0;}
#overp .showcontent_nibox ul{ list-style:none; padding:0; margin:0;}
#overp .showcontent_nibox ul span{ line-height:21px;font-size: 16px; background:url(/template/images/siteMap_bullet_section_first.gif) no-repeat left center; padding-left:12px;}
#overp .showcontent_nibox li{list-style:none; background:url(/template/images/siteMap_bullet_item.gif) no-repeat left center;padding-left:18px; margin-left:0px;}
#overp .showcontent_nibox li a{line-height:21px;}
