@charset "utf-8";

/*公用*/
body {background-color: #CCCCCC;color: #000000;font-family:微软雅黑,Calibri,Helvetica,Arial,sans-serif;margin: 0 auto;padding: 0; font-size:12px; line-height:180%;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display: block;}
audio, canvas, video {display: inline-block;}
form, fieldset, legend {border: 0 none;margin: 0;padding: 0;}
html {font-size: 100%;overflow-y: scroll;}
h1, h2, h3, h4, h5, h6 {font-weight: bold;line-height: 1;}
h1 {font-size: 2.2em;margin: 0 0 15px;}
h2 {font-size: 1.5em;margin: 0 0 10px;}
h3 {font-size: 1.3em;margin: 0 0 5px;}
h4 {font-size: 1.1em;margin: 0 0 5px;}
h5 {font-size: 1em;margin: 0 0 5px;}
h6 {font-size: 0.9em;margin: 0;}
p {line-height: 1.2em;margin: 0 0 20px;}
blockquote {border-left: 2px solid #EEEEEE;color: #333333;margin: 0 auto 20px;padding: 5px 15px;text-align: justify;width: 80%;}
blockquote small {color: #999999;display: block;float: right;}
hr {border-color: #DDDDDD;border-style: none none solid;border-width: 0 0 1px;display: block;height: 1px;margin: 0 0 20px;padding: 0;}
dl {margin: 0 0 20px;padding: 0;}
dl dt {font-weight: bold;}
dl dd {margin: 5px 15px 20px;}
a {color: #003399;outline: 0 none;text-decoration: none;}
a:visited {color: #003399;}
a:hover, a:active {text-decoration: underline;}
abbr, acronym {border-bottom: 1px dotted #000000;cursor: help;}
address {display: block;margin: 0 20px 20px;}
code, kbd, pre, samp {font-family: consolas,courier,monospace,serif;white-space: pre-line;word-wrap: break-word;}
code {background-color: #FEFEEC;font-size: 13px;padding: 2px 6px;}
kbd, samp {font-weight: bold;}
del {text-decoration: line-through;}
ins {background: none repeat scroll 0 0 #FFFF99;color: #000000;text-decoration: none;}
em, dfn, i, var {font-style: italic;}
mark {background: none repeat scroll 0 0 #FFFF00;color: #000000;font-style: italic;font-weight: bold;}
pre {background-color: #000000;color: #FFFFFF;display: block;line-height: 1.5em;margin: 0 0 20px;padding: 20px;}
q {font-style: italic;quotes: "“" "”" "‘" "’";}
q:after {content: close-quote;}
q:before {content: open-quote;}
small {font-size: 90%;}
strong, b {font-weight: bold;}
sub, sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
table {border-collapse: collapse;border-spacing: 0;color: #333333;margin: 0 0 20px;padding: 0;}
td {vertical-align: top;}
button, input[type="submit"], input[type="button"], input[type="reset"] {background-color: #CCCCCC;border: 1px solid #999999;border-radius: 3px 3px 3px 3px;color: #333333;cursor: pointer;font-size: 0.8em;font-weight: bold;padding: 4px 10px;text-transform: uppercase;}
.header, .article, .articleHeader, .articleBody, .articleFooter, .footer {clear: both;}
.rmore {
    padding:5px 10px 10px 0;
    text-align: right;
	height:auto;
	clear:both;
}
.rmore img{ border:0;}
/********** 头部 **********/
.header {background: none repeat scroll 0 0 #3C3C3C;margin:0 auto;}

/********** 头部注册登录rss样式 **********/
#membershipLinks {float: left; font-size:12px;}
#membershipLinks ul {list-style: none outside none;margin: 0; padding:0;}
#membershipLinks li {border-right: 1px solid #CCCCCC;color: #999999;display: block;float: left;line-height: 1.2em;margin-right: 10px;padding-right: 10px;}
#membershipLinks a {color: #FFFFFF;}
#membershipLinks a:hover {text-decoration: none;}
#membershipLinks li span{color:#cccccc;}
#membershipLinks #mlNetwork {display: none;}
#membershipLinks #mlRss {border-right: 0 none;margin-right: 10px;padding-right: 10px;}
#membershipLinks #mlRss span {background: url("/template/new/images/spriteGlobal.png") no-repeat scroll -327px -22px transparent;display: block;float: left;height: 11px;margin-right: 2px;position: relative;top: 0;width: 11px;}
.universalBar {font-size: 0.7em;}
#header_Panel1{ float:left;}
/**********  logo样式 **********/
.headerLogo {background: url('/template/new/images/spriteBackground.png') no-repeat scroll center 0 transparent; height:auto; display:table; margin:0 auto; width:100%;}
.headerLogoCompress {min-height: 88px;position: relative;}
.headerLogo a {background-image: url('/template/new/images/headerLogo.png');height: 35px;width: 251px;}
.contentCompress, .universalBarCompress, .headerLogoCompress, .headerNavigationCompress,.footerNavigationCompress, .footerCompress, .footerMiscLinksCompress {margin: 0 auto;width: 974px;}

.headerLogo a {background-image: url("/template/new/images/headerLogo.png");height: 35px;width: 315px;}
.headerLogo a {background-color: transparent;background-position: 0 0;background-repeat: no-repeat;display: block;height: 65px;overflow: hidden;position: relative;text-indent: 100%;top: 28px;white-space: nowrap;}
.headerNavigation,.footerNavigation{border:0;padding:7px 0 8px;height:30px;background:#00a99d;background:-moz-linear-gradient(top,#00a99d 0,#00716a 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#00a99d),color-stop(100%,#00716a));background:-webkit-linear-gradient(top,#00a99d 0,#00716a 100%);background:-o-linear-gradient(top,#00a99d 0,#00716a 100%);background:-ms-linear-gradient(top,#00a99d 0,#00716a 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a99d',endColorstr='#00716a',GradientType=0);background:linear-gradient(top,#00a99d 0,#00716a 100%)}
.contentCompress:after, .universalBar:after, .headerNavigationCompress:after,.footerNavigationCompress:after {clear: both;content: ".";display: block;height: 0;visibility: hidden;}
.headerLogo a.headerTechtargetLogo {background: url('/template/new/images/spriteGlobal.png') no-repeat scroll 0 -162px transparent;cursor: pointer;display: block;height: 70px;position: absolute;right: 0;top: 13px;width: 185px; text-indent:10000px;}
/********** 首尾菜单栏样式 **********/
.headerNavigation .mmContent {border-top: 0 none;box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.25);top: 38px;}
ul#topnav ,ul#topnav2{margin: 0; padding: 0;float:left;width:750px;list-style: none;font-size: 1.2em;z-index:999;}
ul#topnav li,ul#topnav2 li {float: left;margin: 0; padding: 0;position: relative;text-align:center;}
ul#topnav li a,ul#topnav2 li a {float: left; text-indent: 0px;height: 34px;line-height:30px;width:100%;text-align:center;}
ul#topnav li .sub ,ul#topnav2 li .sub { background-color: #FFFFFF;border: 2px solid #00716A;position:absolute;	top: 38px; left: 0;padding: 20px 10px 20px;float: left;-moz-border-radius-bottomright: 5px;-khtml-border-radius-bottomright: 5px;-webkit-border-bottom-right-radius: 5px;-moz-border-radius-bottomleft: 5px;-khtml-border-radius-bottomleft: 5px;-webkit-border-bottom-left-radius: 5px;display: none;z-index:999;}
ul#topnav li .row,ul#topnav2 li .row {clear: both; float: left; width: 100%; margin-bottom: 10px;}
/********** .mmNavItem {border-right: 1px solid #333333;display: block;float: left;height: 30px;position: relative;width: 70px; } **********/
 .mmNavItem {border-right: 1px solid #333333;display: block;float: left;height: 30px;position: relative;width: 90px; } 
.mmNavItem .mmNavLink {bottom: 0;color: #FFFFFF;display: inline-block;font-size: 1em;font-weight: bold;left: 0;line-height: 14px;padding: 0 0px 3px;position: absolute;text-decoration: none;top: 0;vertical-align: bottom;white-space: nowrap;word-wrap: normal;}
.mmtemp{ width:110px;}
/********** 首尾菜单栏二级菜单样式 **********/
ul#topnav li .sub ul,ul#topnav2 li .sub ul{list-style: none;margin: 0; padding: 0;width:110px;float: left;}
ul#topnav .sub ul li,ul#topnav2 .sub ul li {width:90px;color: #000;height:21px;border-bottom:1px #efefef solid;padding-top:8px;}
ul#topnav .sub ul li h5,ul#topnav2 .sub ul li h5 {font-size: 13px;margin-bottom: 5px;text-transform: uppercase;}
.sub ul li a:link,.sub ul li a:visited{color: #003399;text-decoration:none;font-size:12px;font-weight:normal;}
.sub ul li a:hover{text-decoration:underline;color:#ff9900;}
.sub ul li h5 a:link,.sub ul li h5 a:visited{color: #00A99D;text-decoration:none;}
.sub ul li h5 a:hover{text-decoration:underline; color:#ff9900;}
.sub  ul.mmContentLinkList{margin-right:10px; width:75px;}

/********** 首尾搜索样式 **********/
.header .navigationSearch,.footer .navigationSearch {float: right; padding-top:3px;}
.header input.navigationSearchBox, .footer input.navigationSearchBox{border: 0 none;border-radius: 10px 0 0 10px;color: #E37D00;float: left;height: 25px;padding: 0 0 0 8px;width: 175px; line-height:25px;}
.header input.navigationSearchSubmitButton, .footer input.navigationSearchSubmitButton{background:url(/template/new/images/spriteGlobal.png) no-repeat -60px -48px;border-radius:0;height:25px;width:33px;padding:0;position:relative;right:0;text-indent:-90px;border:0;overflow:auto}
.header .universalBar ,.footer .universalBar{border-bottom: 1px dotted #666666;font-size: 0.6em;padding: 4px 0 2px 0;}
.header #seoKeyword ,.footer #universalBar{color: #999999;float: right; font-size:12px;}
div#header_Panel1{ padding:0; margin:0;}
#seoKeyword{ line-height:140%;}
/********** 主要内容 **********/
.content {background: url('/template/new/images/spriteBackground.png') no-repeat scroll 50% -90px transparent;clear: both;padding: 10px 0;}
.RightPart{width:298px;margin:0 auto;height:auto;display:table;border:1px #bbb solid;background-color:white; padding-bottom:10px;}
.home .RightPart{width:298px;margin:0 auto;height:auto;display:table;border:1px #bbb solid;background-color:white; padding-bottom:0px;}
.sidebar {float: right;margin-bottom: 20px;width: 318px;background-color:#f0f0f0; }
.article { background-color: #FFFFFF;border: 1px solid #B1B1B1;float: left;margin-bottom: 25px;  height:auto;min-height: 600px; padding: 0 20px 0px;position: relative; width: 602px; display:table;}
.dishow {float: left;font-size: 14px;line-height: 22px; margin: 0 auto;margin-top: 900px;text-align: left;width: 602px;background-color: #FFFFFF;border: 1px solid #B1B1B1;}
.dishow p {padding-top: 8px; padding-left:15px; padding-right:15px; line-height:21px; font-size:13px; color:#666;}
.dishow img{border:0;}
.RightDiv{
	width:310px;
	height:auto;
	display:table;
	margin:0 auto;
	margin-bottom:10px;
	
}
.RightDiv h2{
	background:#ffffff url('/template/new/images/index_rtitle.gif') repeat-x -3px -47px;
	height:30px;
	width:300px;
	margin:0 auto;
	padding:0;
	font-size:14px;
	line-height:30px;
	text-indent:24px;
	color:black;

}
.RightDiv h2.splashHeader{
	background:#ffffff url('/template/new/images/index_rtitle.gif') repeat-x -2px 0px;
	text-indent:48px;
	color:White;
}
.RightDiv h2.splashHeader2{
	background:#ffffff url('/template/new/images/index_rtitle.gif') repeat-x -2px -209px;
	text-indent:48px;
}
div.more{clear:both;text-align:right;width:97%;margin:0;float:left;height:30px;}
/********** footer **********/

#footlogo img{
	padding-top:10px;
	border:0;
}
.footerin {
    background: url("/template/new/images/footbg.gif") repeat-x scroll left top transparent;
    height: 128px;
    margin-top: 6px;
    text-align: left;
    width: 970px;
    margin:0 auto;
}
.footerin #foot_info {
    float: left;
    margin: 20px 0 0 10px;
    width: 830px !important;
}
.footerin #foot_info p {
    padding: 6px 0;
    margin:0;
color:#999;
}
.footerin #foot_info  a, .footerin #foot_info a:visited {
    color: #454545;
    font-weight: bold;
    padding: 0 3px;
}
.copyright a{ color:#999;}
.footerin #foot_info  p.copyright a,.footerin #foot_info  p.copyright a:visited{ color:#999;}
.footerin #foot_info p.fttitle{color:#454545; font-size:14px;}
/*广告样式*/	
.leaderboard{clear: both;height: 90px;margin: 10px auto 25px;width: 970px;}
.leaderboard img{ width:970px; height:90px; border:0;}
.bigAd, .bigAd1, .bigAd2, .cltAd, .leaderboard, .leaderboard2,.textAd,.tlagg,.buttonAd{background: url('/template/new/images/backgroundAds.png') no-repeat scroll 50% 0 transparent;padding-top: 12px;}
.tlagg{margin: 10px auto 20px;width: 640px;float:right;height:70px;}
.tlagg img{ width:640px; height:70px; border:0;}
.bigAd,.textAd,.buttonAd{margin: 10px auto 20px; width: 302px;}
.bigAd img{width:300px;height:250px;border:1px gray solid;}
.textAdin{width:300px;border:1px #bbb solid;height:30px;background:#ffffff url('/template/new/images/spriteGlobal.png') no-repeat scroll  -499px -295px;overflow:hidden}
.textAdin ul{list-style:none;height:26px;padding:0;margin:0}
.textAdin ul li{line-height:26px;background-color:#f0f0f0;padding:0;margin:2px;margin-left:40px;text-indent:10px; list-style:none;height:26px;}
.buttonAd img{width:300px; height:60px;}
.tlaggin img{ width:640px; height:70px;}
.bigAdin img{ width:300px; height:250px;}

/*弹出登录窗口样式(网站通用)*/
.outer_box {display:none;MARGIN-TOP:-148px; LEFT:50%; margin-left:-214px; width:428px; POSITION:absolute; TOP:50%; height:296px;}
.prompt {
	display:block; 
	OVERFLOW:hidden; width:428px; height:296px; TEXT-ALIGN:left; background:none;
	FILTER:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="/template/new/images/comprompt_bg.png" mce_src="/template/new/images/comprompt_bg.png");
	background: url("/template/new/images/prompt_bg.png");

}
.prompt H1 {display:inline; FONT-WEIGHT: bold; FONT-SIZE: 14px; float: left; margin: 18px 0px 0px 20px; COLOR: #334f67; TEXT-ALIGN: left}
.prompt .close {float: right; margin: 7px 18px 0px 0px; POSITION: relative}
.prompt H2 {CLEAR:both; width:340px; height:21px; FONT-WEIGHT:bold; FONT-SIZE: 13px; margin: 10px 0px 10px 28px; COLOR: #334f67; LINE-height: 18px; TEXT-ALIGN: left}
.prompt .title {FONT-WEIGHT:bold; FONT-SIZE: 13px; margin: 3px 0px 3px 5px; COLOR: #334f67; LINE-height: 18px; TEXT-ALIGN: left}
.prompt .bottom {FONT-WEIGHT:bold; FONT-SIZE:14px; BACKGROUND:url("/template/new/images/bottom.gif") no-repeat; float:left; margin-left:2px; width:88px; CURSOR:pointer; COLOR:#fff; BORDER-TOP-STYLE:none; BORDER-RIGHT-STYLE:none; BORDER-LEFT-STYLE:none; POSITION:relative; height:30px; BORDER-BOTTOM-STYLE:none}
.prompt  .reg{CLEAR:both; FONT-SIZE:13px; margin: 0px 0px 0px 40px; width: 345px; PADDING-TOP:10px; BORDER-TOP:#c3c7c6 1px solid;}
.prompt H5 {CLEAR:both; FONT-SIZE:13px; margin: 0px 0px 0px 40px; width: 345px; PADDING-TOP:10px}
.prompt .reg A:link { COLOR:#fd6c01; POSITION:relative; TEXT-DECORATION:underline }
.prompt .reg A:visited { COLOR:#fd6c01; POSITION:relative; TEXT-DECORATION:underline}
.prompt #warn_pwd A:link { COLOR:#fd6c01; POSITION:relative; TEXT-DECORATION:underline }
.prompt #warn_pwd A:visited { COLOR:#fd6c01; POSITION:relative; TEXT-DECORATION:underline}
/*友好提示层样式*/
.over{width:970px; margin:0 auto; text-align:center; filter:alpha(opacity=10); -moz-opacity:0.22;opacity: 0.22; position:relative;}/*覆盖后的样式*/
.overo{	position:relative; height:100%; width:970px; left:0px; top:0px; margin:0px auto; }/*不覆盖的样式*/
#alertlayer{width:300px;height:100px;float:left;margin:50px auto auto 150px;background-color:#FFFFFF;position: absolute;left: 30px;top: 50px;border: 1px solid #757f89;}
.txtmsg{margin:5px;padding:10px 5px 20px 30px;background-color:#f6faff; border:1px solid #dadee4; border-top-width:4px; height:35px;background-image:url('/template/Current/Images/auction_4.gif'); background-position: 10px 8px;background-repeat:no-repeat; line-height:20px;}
#close{text-align:right;}

/*====================文本框===================== */
input.check{POSITION:relative;}
input.Ok{POSITION:relative; width:210px; height:18px; padding:2px 8px 0 3px; border:1px solid #A7A6AA; background:#FFF url(/template/new/images/input_ok.gif) top right no-repeat;}
input.OkShort{POSITION:relative; width:140px; height:18px; padding:2px 8px 0 3px; border:1px solid #A7A6AA; background:#FFF url(/template/new/images/input_ok.gif) top right no-repeat;}

input.WarningShort{POSITION:relative; width:140px; height:18px; padding:2px 8px 0 3px; border:1px solid #A7A6AA; background:#FFF url(/template/new/images/input_warning.gif) bottom right no-repeat;}
input.Warning{POSITION:relative; width:210px; height:18px; padding:2px 8px 0 3px; border:1px solid #A7A6AA; background:#FFF url(/template/new/images/input_warning.gif) bottom right no-repeat;}

input.ErrorShort{POSITION:relative; width:140px; height:18px; padding:2px 8px 0 3px; border:1px solid #A7A6AA; background:#FFF url(/template/new/images/input_error.gif) bottom right no-repeat;}
input.Error{POSITION:relative; width:210px; height:18px; padding:2px 8px 0 3px; border:1px solid #A7A6AA; background:#FFF url(/template/new/images/input_error.gif) bottom right no-repeat;}

input.Normal{POSITION:relative; width:210px; height:18px; padding:2px 8px 0 3px; border:1px solid #c4c7c8; background-color:#FFF;background-image:none;}
input.NormalShort{POSITION:relative; width:140px; height:18px; padding:2px 8px 0 3px; border:1px solid #c4c7c8; background-color:#FFF;background-image:none;}

input.Password{POSITION:relative; width:210px; height:18px; padding:2px 8px 0 3px; border:1px solid #A7A6AA; background-color:#FFF;background-image:none;}
/*====================注册消息===================== */
.msg_Normal {LINE-height:19px;}
.msg_Warning {BORDER: #1A8EF1 1px solid; BACKGROUND: url(/template/new/images/msg_warning.gif) #fff5d8 no-repeat 4px 2px; COLOR:#1A8EF1; LINE-height:19px;padding-left:23px; width:85%;}
.msg_Error { BORDER-RIGHT:#FF6600 1px solid; BACKGROUND-POSITION: 2px 2px; BORDER-TOP: #FF6600 1px solid; padding-left:20px; BACKGROUND-IMAGE: url(/template/new/images/component/msg_error.gif); BORDER-LEFT: #FF6600 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #FF6600 1px solid; BACKGROUND-REPEAT: no-repeat; LINE-height:19px; BACKGROUND-COLOR: #FFF7F7; width:85%;}
.class_error{BORDER: #ff7300 1px solid; BACKGROUND: url(/template/new/images/comcomponent/msg_error.gif) #fff5d8 no-repeat 4px 2px;   COLOR:#ff0000; LINE-height:19px; margin-left:20px; padding-left:23px; width:65%;}
.msg_ok {BORDER-RIGHT: #00CC00 1px solid; BACKGROUND-POSITION: 2px 2px; BORDER-TOP: #00CC00 1px solid; padding-left: 20px; BACKGROUND-IMAGE: url(/template/new/images/component/msg_ok.gif); BORDER-LEFT: #00CC00 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #00CC00 1px solid; BACKGROUND-REPEAT: no-repeat; LINE-height:19px; BACKGROUND-COLOR: #F0FFF0; width:85%;}
/*提示内容*/
.ok{ border:1px solid #485E00; color:#485E00; background:url(/template/new/images/component/msg_ok.gif) 4px 2px no-repeat #F7FFDD; padding-left:23px; line-height:20px; font-size:12px}
.err{ border:1px solid #FF7300; color:#FF0000; background:url(/template/new/images/component/msg_error.gif) 4px 2px no-repeat #FFF5D8; padding-left:23px; line-height:20px; font-size:12px}

.class_hover{ border:1px solid #999999; color:#999999; padding-left:3px; line-height:19px}
.class_finish{ border:1px solid #485E00; color:#485E00; background:url(/template/new/images/component/msg_ok.gif) 4px 2px no-repeat #F7FFDD; padding-left:23px; line-height:19px}
.class_error{ border:1px solid #FF7300; color:#FF0000; background:url(/template/new/images/component/msg_error.gif) 4px 2px no-repeat #FFF5D8; padding-left:23px; line-height:19px}
/*以上为网站通用*/

/*foot 底部内容*/
.ex_links_wrap{ width:966px; height:auto;font-size:12px; margin:0; padding:0; margin-top:5px;margin:0 auto;}
.ex_links{ width:100%; border:#d9d9d9 solid 1px;}
.ex_links_left{ float:left; width:80px; text-align:center; font-weight:bold; color:#454545; line-height:18px; padding-top:10px;}
.ex_links_right{ float:left; color:#807e7e; line-height:18px; padding:8px 0}
.ex_links_right a:link,.ex_links_right a:visited{color:#807e7e; text-decoration:none;}
.ex_links_right a:hover{ color:#807e7e; text-decoration:underline;}

