/*common*/
body{
	color:#3f3f3f;
	font:normal 14px/normal 'Microsoft Yahei', sans-serif;
}
.dialog{
	width:670px;
	margin:0 auto;
	border-radius:10px;
	background:#f3f3f3;
}
.dialog_t{
	color:#bebebe;
	font-size:36px;
	font-weight:bolder;
	padding:20px 30px;
	letter-spacing:2px;
	border-bottom:1px solid #fefefe;
}
.dialog_content{
	padding:40px 50px 20px;
	border-top:1px solid #e1e1e1;
}
.dialog_content table{
	border-collapse:collapse;
}
.dialog_content form{
	padding-right:50px;
	border-right:1px dotted #acacac;
}
.dialog_content form table{margin:0 auto;}
#dialog_register form{
	padding-right:10px;
}
.text-input{
	width:218px;
	height:30px;
	line-height:28px;
	text-indent:8px;
	color:#a2a2a2;
	font-size:14px;
	border:1px solid #c8bfc0;
}

.dialog form td{
	padding-bottom:20px;
}

.dialog form label.Validform_label{
	padding-right:10px;
	white-space:nowrap;
	color:#3f3f3f;
	font-size:14px;
	line-height:30px;
	display:inline-block;
	vertical-align:top;
}
.dialog form td label.checkbox{
	color:#a2a2a2;
	position:relative;
	top:-12px;
	font-size:14px;
}

.dialog form td label input{
	vertical-align:middle;
	margin-right:3px;
	margin-top: -2px;
}
.findback{
	margin-top:-12px;
	float:right;
	color:#004276;
	cursor:pointer;
	font-size:14px;
}

.clause{
	color:#004276;
	cursor:pointer;
	position:relative;
	top:-12px;
	white-space:nowrap;
	font-size:14px;
}

.dialog_btn{
	color:#fff;
	display:inline-block;
	width:97px;
	height:34px;
	border:0;
	margin-right:8px;
	font-size:14px;
	cursor:pointer;
	line-height:32px;
	background:url(dialog/btn.jpg) no-repeat 50% 50%;
}
a.dialog_btn{
	width:132px;
	background:url(dialog/btn1.jpg) no-repeat 50% 50%;
}
.dialog_reg{
	cursor:pointer;
	color:#004276;
	font-size:14px;
	text-decoration:underline;
}

#dialog_qq, #dialog_sina{
	display:inline-block;
	cursor:pointer;
	padding-bottom:20px;
}

.password{
	position:relative;
}
#password{
	position:absolute;
	z-index:100;
	top:0;
	left:0;
}
label.checkbox{
	white-space:nowrap;
}
#verification_code{
	width:65px;
}

#verification_img{
	vertical-align:middle;
	margin:0 5px;
}

.dialog_change{
	cursor:pointer;
	color:#004276;
	font-size:14px;
}

#tk{
	position:absolute;
	display:none;
	width:500px;
	height:500px;
	padding:10px 10px 0;
	overflow-y:scroll;
	border:1px solid #d3d3d3;
	background:#fff;
}

#tk p{
	margin-bottom:10px;
	line-height:22px;
	font-size:14px;
}

#tk span{
	display:block;
	padding-left:24px;
}
#tk em{
	display:block;
	padding-left:52px;
}
/*get back password*/
#dialog_getpwd form{border:0;}
.step{
	margin-bottom: 15px;
	padding:0 25px;
}
.step table td{
	width:33%;
	font-size:14px;
	padding-bottom:6px;
}
.step em{
	background:#f3f3f3;
}
.step em.step1{
	padding-left:25px;
}
.step em.step3{
	padding-right:12px;
}
.step span{
	display:inline-block;
	width:33px;
	height:33px;
	background:#d3d3d3;
	color:#fff;
	font-size:24px;
	text-align:center;
	border-radius:20px;
}

.step .cur_step{
	background:#638fa8;
}
.step1{
	float:left;
}
.step3{
	float:right;
}

.getbackpwd{
	text-align:center;
}
.getbackpwd label{
	padding-right:10px;
}
.getbackpwd p{
	margin-top:20px;
}
/*validform info*/
.Validform_info{
	position:absolute;
	display:none;
	background:#fff;
	padding:2px 10px 3px;
	margin-top:15px;
	font-size:14px;
	border:1px solid #c8bfc0;
}

.Validform_wrong{
	color:#ff4400;
}

.Validform_right{
	color:green;
}
























