@charset "utf-8";
/* CSS Document */
@import 'global.css';
.clear{ clear:both;}
.mt20{ margin-top:20px;}
a{ text-decoration: none;}
body .border{border:1px solid #eaeaea; border-top:2px solid #333;}
.c316690{ color:#316690; font:bold 16px "微软雅黑";padding-top:12px;}
h3{ font:normal 18px "微软雅黑"; padding-left:10px;}

h3 em{ color:#00a2e0;}
a{-moz-transition: all .3s linear;-webkit-transition: all .3s linear;-ms-transition: all .3s linear;transition: all .3s linear;}
/*主体左边*/
/*left*/
.contain .left{width:670px;float:left}
/*焦点图_scroll*/
.scroll{padding:10px;border-bottom:1px solid #ccc;border-right:1px solid #eaeaea;background:#fff;z-index:0;}
.scroll_pic{height:200px;overflow:hidden}
.scroll_pic ul{display:none;} 
.scroll_uleft{width:354px;float:left;}
.scroll_uright{width:270px;float:left;padding-left:19px;}
.splash_title{font-size:22px;line-height:32px;padding:6px 0 14px 0}
.splash_title a{color:#365977}
.splash_title a:hover{color:#ea6103}
.splash_deck{color:#2c2c2c;font-size:14px;line-height:24px;}
.status{padding-top:10px;}
.status ul li{width:112px;float:left;height:121px;overflow:hidden;padding:9px 6px 6px 6px;margin-right:7px;display:inline;background:#f2f2f2}
.status ul .active{background: #223F51 url(images/jiao.jpg) 53px 0 no-repeat ; border-radius:3px}
.status ul .active a span{color:#fff8f8}
.status ul li a{display:block;}
.status ul li a span{display:block;padding:4px 0 0 2px ;font-size:12px;color:#666;line-height:18px;}
/*热门关注_all_hot*/
.all_hot{padding-top:20px}
.hot{height:32px;border-top:1px solid #333;}
.small_hot{height:30px;border:1px solid #e8e8e8;background:#f0f2f5 url(images/hot_logo.jpg) 6px 3px no-repeat;font-size:14px;line-height:30px;}
.hot_h2{float:left;padding-left:38px;color:#000;width:73px;}
.small_hot a{float:left;background:url(images/hot_dian.jpg) left center no-repeat;padding: 0 18px 0 7px;color:#004276} 

/*广告——bananr*/
.banner{width:100%;}
.mt20{ margin-top:20px;}
/*intere*/
.intere{width:668px;border:1px solid #d6dbe1;border-radius:5px;background:#FFF}
.list{padding:0 10px;}
.list li{float:left;padding:20px 0;border-bottom:1px dotted #b3b3b3}
.list_li1{float:left;position:relative}
.list_li1 a img{margin-right:15px;}
.list_li1 a{display:block;}
.list_li1 em{display:block;position:absolute;right:15px;bottom:5px; cursor:pointer;padding: 0 3px;height:18px;line-height:18px;font-size:14px;background:#ea8b17;color:#FFF; font-style:normal}
.list_li2{float:left;width:480px;}
.list_auto2{float:left;padding:0 10px;width:628px;}
.list_title{font-size:18px;line-height:26px;color:#004276;display:block;margin-bottom:5px;}
.list_li2 p{font-size:14px;line-height:22px;color:#3f3f3f;}
.list_div{padding-bottom:5px;font-size:12px;line-height:20px;}
.list_div a{color:#004276;padding-right:12px;}
.list_div span{color:#004276;padding-right:12px;color:#a2a2a2}
.list_div em{color:#a2a2a2;font-style:normal}

.list_reader .list_li1{width:128px;height:177px;background:url(images/inter_bg_reader.jpg) no-repeat;position:relative}
.list_reader em{top:150px;}
.list_reader .list_li2{width:500px;}
.list_reader .list_auto2{width:628px;}

/*专栏开始*/
.column h3{ padding-left:7px;}
.column h3 span{ color:#00a2e0; padding-left:12px;}
.column .i-box{ background:#eff1f4; border:1px solid #eaeaea; border-top:2px solid #333;padding-top:20px;}
.column .i-box .i-box-pic li{ float:left; width:185px; height:65px;margin:20px 20px 12px 15px;}
.i-box .i-box-pic li img{ float:left; width:65px; height:65px; margin-right:20px; background:#666;}
.i-box-pic li a{ font:normal 14px "Microsoft Yahei"; color:#004276;}
.i-box-pic li p a{ font:normal 12px "Microsoft Yahei"; color:#000;}
.i-box .i-box-tab .i-box-tab_ul li{ float:left; padding:2px 10px; text-align:center; background:#e0e9f8; margin-right:2px;cursor: pointer;}
.i-box .i-box-tab .i-box-tab_ul a{ float:right; margin-right:5px; text-decoration:none; color:#fff;background:#06283b;padding:2px 10px;}
.i-box .i-box-tab .i-box-tab_ul .active{ background:#cfddeb; color:#000; font:bold 12px "微软雅黑"; border:1px solid #ddd; border-bottom:0;}
.i-box .i-box-tab div{ clear:both; display:none;overflow:hidden;padding:10px 0; background:#cfddeb;}
.i-box .i-box-tab div li{ float:left; width:80px; margin:7px; text-align:center;}
.i-box .i-box-tab div li:hover{ cursor:pointer;}
/*专栏结束*/
/*特别报道*/
.special{ height:305px; margin-bottom:20px;}
.special .special_text{ padding:20px 10px 0 10px; height:260px;}
.special .special_text div{ float:left; width:313px; height:120px; padding:10px 5px 0 5px;}
.special .special_text div p{ font:bold 14px "Microsoft Yahei"; color:#205987;}
.special .special_text div p a{color:#205987;}
.special .special_text div span{ float:left; display:block; padding-right:5px; background: url(images/picbg.gif) no-repeat; padding-left:4px; width:183px; height:110px;}
.special .special_text div ul{ margin-top:20px;}
.special .special_text div ul li{ float:left; padding-right:10px;}
.special .special_text div ul .share{ background:url(images/share.gif) no-repeat; padding-left:20px;}

/*投资创业*/
.tzcy{ height:270px; background:#eff1f4; border:1px solid #e3ebf4; border-top:2px solid #e3ebf4;}
.tzcy ul{height:89px;margin:20px 0 40px 15px;}
.tzcy ul span{ float:left;}
.tzcy ul li{ float:left; width:117px; margin:0 2px;}
.tzcy ul li .name{ padding-left:40px;}
/*投资创业*/

/*翻页_pages*/
#pages{height:30px;font-size:14px; font-family:"宋体", Geneva, sans-serif;text-align:center;line-height:22px;color:#b2b2b2;clear:both;}
#pages a {display:inline-block;color: #044d99;padding:0 8px;height:23px;line-height:22px;text-align: center;background-color: #f2f4f3;border: 1px solid #d6dbdf;margin: 0 1px;}
#pages a:hover{color:#ea6103}
#pages #prevpage, #pages #nextpage, #pages #firstpage, #pages #lastpage, #pages .a1 {padding: 0px 5px ;vertical-align: bottom;_vertical-align: top;}
#pages .disable {color: #AEAEAB;text-shadow: 0 0;cursor: default;text-decoration: none;}
#pages span.current, #pages span {display: inline-block;padding:0 8px;height:23px;line-height:22px;text-align:center;background-color:#243f50 ;color:white;border: 1px solid #005C6C;margin: 0 1px;}
#pages a.current{display: inline-block;padding:0 8px;height:23px;line-height:22px;text-align:center;background-color:#243f50 ;color:white;border: 1px solid #005C6C;margin: 0 1px;}
#pages .paddleft{background: #F2F4F3;color:#044D99;border:none;padding:2px;}
#pages .jspage{width:40px;}
#pages .jspagebtn{display:none;}
/*blod*/
.blod{height:26px;}

/*会议活动*/
/*meeting*/
.meeting{width:990px;margin:0 auto;font-family:"微软雅黑", Geneva, sans-serif;}
.meting_top{height:26px;font-size:18px;line-height:26px;background:url(images/meeting_bg.jpg) repeat-x;text-align:center}
.meting_top span{padding:0 10px;background:#f7f7f7;color:#2c2c2c}
.meting_top span em{padding-left:6px; font-style:italic; color:#00a2e0; font-family:Tahoma, Geneva, sans-serif}
.meting_bottom{padding-top:15px;}
.met_b1{float:left;width:460px;border-right:1px dotted #646464}
.met_b1_a1{float:left;width:281px;}
.met_b1_a1 img{display:block}
.met_b1 p{float:left;padding-left:10px;width:154px;}
.met_b1_a2{color:#004276;font-size:18px;line-height:24px;display:block}
.met_b1 p span{line-height:22px;padding-top:12px;display:block;font-size:14px;}

.met_b2{padding-left:20px;float:left;width:254px;border-right:1px dotted #646464}
.met_b2 ul li{float:left;width:240px}
.met_b2 ul .met_li{padding-bottom:20px;}
.met_b2_a1{float:left;width:116px;}
.met_b1_a1 img{display:block}
.met_b2 p{float:left;padding-left:10px;width:114px;}
.met_b2_a2{color:#004276;font-size:12px;line-height:16px;display:block}
.met_b2 p span{line-height:16px;padding-top:2px;display:block;font-size:12px;}

.met_b3{padding-left:14px;float:left;width:240px;}
.met_b3 ul li{float:left;width:240px}
.met_b3 ul .met_li{padding-bottom:20px;}
.met_b3 p{float:left;padding-left:10px;width:114px;}
.met_b2_a2{color:#004276;font-size:12px;line-height:16px;display:block}
.met_b3 p span{line-height:16px;padding-top:2px;display:block;font-size:12px;}


/*杂志页面*/
.mag_content{background-color:#fff;padding: 9px 0 0;overflow:hidden;}
.mag{ margin:0 10px 25px; border:1px solid #dfdfdf;}
.mod_title{ border-bottom:1px solid #dfdfdf; height:28px; line-height:28px; background-color:#F5F5F5; border-bottom:1px solid #dfdfdf;}
.mod_title_txt{ float:left; font-size:14px; font-weight:bold; padding:0 12px;}
.mod_title_txt span{ background:url(images/arrow_title.gif) no-repeat right center; padding-right:17px;}
.mag_t_btn{ float:left; padding-top:1px; *padding-top:3px;}
.mag_t_note{ float:left; padding-right:8px;}
.ver_btn a,.mag_t_btn a{ display:inline-block; background:url(images/btn_mag.gif) no-repeat left top; width:70px; height:22px; line-height:20px; padding-top:2px; text-align:center;}
.a_more{ float:right; padding-right:12px;}
.mag_con_left{ float:left; border-right:1px solid #dfdfdf; padding:20px 8px 0 10px; width:637px;}
.mag_con_right{ float:left; border-left:1px solid #dfdfdf; margin-left:-1px; width:312px;}
.mag_pic_con{ padding-bottom:9px; background:url(images/mag_bg.gif) no-repeat center bottom;}
.mag_pic_con img{ padding:4px 3px; border:1px solid #D0CFCD; vertical-align:top;display:block;}
.mag_pic_con_txt a{ color:#5688BB;}
.mag_pic_mod{ float:left; width:141px;}
.mag_pic_con_txt{ text-align:center; line-height:20px;}
.weibo_mag{ padding:8px 0 26px 17px;}
.mag_con_txt{ float:left; padding-left:22px; width:470px;}
.mag_con_txt dt{ font-size:14px; font-weight:bold; margin-bottom:12px;}
.mag_con_txt dd{ line-height:18px;}
.mag_con_note{ margin-bottom:14px;}
.mag_con_note_bot{ margin-bottom:22px;}
.mag_con_txt ul{ line-height:20px; background:url(images/mag_dot.gif) repeat-x left top; padding-top:8px;}
.mag_con_txt .line_through{ color:#EE8A00; text-decoration:underline;}
.mag_list_title{ background:url(images/mag_icon.gif) no-repeat 15px 4px; padding-left:50px; font-weight:bold; border-bottom:1px solid #D4D7D8; height:32px; line-height:32px;}
.mag_list dt{ padding-bottom:8px; background:url(images/mag_bot.gif) no-repeat center bottom;}
.mag_list dl{ width:119px; float:left; text-align:center; padding:22px 3px 0 24px;}
.mag_list dd{ line-height:16px;}
.magazine{ width:990px; overflow:hidden;}
.magazine .mag_con_right{ border-left:none; margin-left:0; width:auto;}
.magazine .mag_con_left{ width:660px;border-right:none;}
.inquiry{ height:32px;overflow: hidden; background:#f5f5f5;padding:10px 0; margin: 0 10px; border:1px solid #dfdfdf;}
.inquiry .magsearch{ background:none; float:left; margin-left:30px;line-height:32px;}
.inquiry .mag_t_btn a{background: url(images/lamag_btn.gif) no-repeat scroll left top; height:30px; width:95px; font-size:14px; line-height: 26px; margin-left:25px; padding-top:2px; letter-spacing:2px;}
.inquiry .magsearch .padd1 input{ border:1px solid #F5F5F5;}
.mag_border{ margin-top:8px; float:right; margin-right: 15px;}
.magazine_con{ margin:10px;}
.magazine_art li{float:left;background: url(images/mag_dot.gif) repeat-x scroll left bottom;width:302px;padding:20px 10px; color:#666;}
.magazine_art .mag_pic_con{ background:none;float: left;}
.mag_art{ float:left; padding-left:10px; width:140px;}
.mag_art .blue_title{ font-size:14px;}
.mag_title{font-size:14px; text-decoration:none; line-height:18px;height:65px;}
.mag_title:hover{ color: #4EAFD0;font-size:14px; text-decoration:none; line-height:18px;}
.mag_art dt{ padding:25px 0 15px;}
.mag_art dd{ line-height:18px;}
.magazine_con .cytop_title li a{ color:#4eafd0;}
.magazine_con .cytop_title li a:hover{ color:#ee8a00;}
.cytop_title{ background:url(images/dot_line.gif) repeat-x left bottom; height:26px; padding-left:4px; margin-bottom:4px;}
.cytop_title li{ float:left; cursor:pointer; font-size:14px; font-weight:bold; color:#979797; padding:0 15px; height:22px; line-height:22px; padding-top:2px;}
.cytop_title .cytop_on{ color:#ee5a00; border:1px solid #dbdbdb; border-bottom:1px solid #fff;}
.magsearch .search.left{width:163px;}
.magsearch .padd1.left{width:35px;padding:7px 11px 0 0;}
.padd {
width:76px;
padding-left: 11px;
padding-top: 4px;
background: url(images/dot_btn.gif) repeat-y scroll left top transparent;
}
.magazine .mag_content .mag_con_left {
padding: 0 8px 15px 10px;
}
.btn_search1 {
background-color: #4EAFD0;
border: 1px solid #DBDBDB;
color: #fff;
cursor: pointer;
line-height:20px;
width: 35px;
}
.blue_1, .blue {
color: rgb(16, 85, 146);
text-decoration: initial;
}

.index_content{
	background-color:#fff;
	width:990px;

	margin:0 auto;
}

/* 文章列表 */
.subnav{padding:9px 0 8px 0;height:26px;line-height:26px;font-size:14px;color:#a2a2a2;border-bottom:1px solid #dcdcdc}
.subnav_p{background:url(images/list_home.png) left 8px no-repeat;height:26px;padding-left:20px;}
.subnav_p a{color:#a2a2a2;font-size:14px;}
.subnav_p a:hover{text-decoration:underline;color:#ea6103}
.div10{border-top:1px solid #fff;height:10px;}
/*专栏作者*/
.list_top_zhuanlan{border-bottom:1px solid #ccc;border-right:1px solid #ccc;background:#fff;padding:20px 40px 12px 10px; position:relative}
.list_top_zhuanlana1{float:left;background:url(images/list_toppic.jpg) no-repeat;width:188px;height:188px;padding:0 4px;}
.list_top_zhuanlana1 img{display:block}
.list_top_zhuanlanp{width:408px;float:left;padding-top:7px;padding-left:15px;line-height:22px;font-size:16px;color:#3f3f3f}
.list_top_zhuanlanp a{display:block;background:url(images/list_toppic001.jpg) no-repeat;height:30px;line-height:30px;font-size:22px;color:#00a2e0;margin-bottom:7px;padding-left:35px;}
.list_top_zhuanlanp a:hover{color:#ea6103;text-decoration:none}
.list_zhuanlan_pic{background:url(images/list_topzl.jpg) no-repeat;width:64px;height:64px;position:absolute;right:0px;top:0px;z-index:1000}
#intere{ border-radius:0 0 5px 5px;border-top:2px solid #000}
#special{border:none}

/*专栏*/
.zhuanlan_page{width:668px;border:1px solid #d6dbe1; border-radius:5px;position:relative;background:#fff;}
.zhuanlan_pageul{padding:3px 10px 0 10px;}
.zhuanlan_pageul li{float:left;width:648px;border-bottom:1px dotted #b3b3b3;padding:30px 0 14px 0;}
.zhuanlan_page_left{float:left;background:url(images/zhuanlan_picbg.jpg) no-repeat;padding:0 4px;width:128px;height:128px;}
.zhuanlan_page_left a img{display:block}
.zhuanlan_page_right{float:left;padding-left:20px;width:472px;}
.zhuanlanp1{font-size:14px;line-height:22px;color:#3f3f3f;padding:4px 5px 9px 0;border-bottom:1px dashed #b3b3b3}
.zhuanlanp1 .name{font-size:20px;float:left; padding:0 10px 0 30px;line-height:24px;color:#00a2e0;margin-bottom:7px;height:24px;background:url(images/zhuanlan_pic001.jpg) no-repeat;}
.zhuanlanp1 .status{ font-size:12px;padding:3px 8px;background:#e0e9f8; color:#4a6177;}
.zhuanlanp1 p{ clear:both; line-height:22px;}
.zhuanlanp1 a:hover{color:#ea6103;text-decoration:none}
.zhuanlanp2{padding-top:12px;line-height:24px;font-size:14px;}
.zhuanlanp2 a{color:#004276;display:block;height:24px;background:url(images/zhuanlan_sanjiaobg.jpg) left center no-repeat;padding-left:12px;}
.zhuanlanp2 a:hover{color:#ea6103;}

/*微信图标*/
.list_div .jiathis_style .jtico_weixin {
background: url(http://www.cyzone.cn/templates/cyzonev1/css/images/weixin_ico.jpg) no-repeat;
}

/*专栏开始*/
.column h3{ padding-left:7px;}
.column h3 span{ color:#00a2e0; padding-left:12px;}
.i-box{ background:#eff1f4; border:1px solid #eaeaea; border-top:2px solid #333;padding-top:20px;}

.i-box ul{height:250px;}
.i-box ul li{float:left;width:80px;margin:7px;text-align:center; position:relative;}
.i-box ul li span.name{width:100%;height:40px;line-height:20px;color:#3f3f3f;display:block;}

.i-box ul li .tips{width:440px;height:180px;background:url(/templates/cyzonev1/images/tips_bg.jpg) repeat-x;border:1px solid #D0DEE9;border-radius:3px;position:absolute;left:-30px;top:-190px;box-shadow: 0px 2px 10px #ccc;display:none; z-index:99999999;}
.tips .tips_horn{position:absolute; bottom:-15px;left:50px; width:22px;height:15px; background:url(/templates/cyzonev1/images/tips_horn.png) no-repeat;}

.i-box li .tips .tips_con{width:400px;height:140px;padding:20px 20px 0 20px;}
.tips_con .tips_fl{float:left;width:70px;height:120px;margin-right:20px;}
.tips_con .tips_fl img{ border-radius:50%;}
.tips_con .tips_fr{float:left;width:310px;height:140px;text-align:left;}
.tips_fr .tips_tit{height:26px;width:100%;overflow:hidden;padding-bottom:3px;border-bottom:1px solid #ebebeb;}
.tips_fr .tips_tit em{font-size:18px;font-style:normal;color:#004175;margin-right:10px;}
.tips_fr ol{width:260px;height:90px;margin-top:5px;}
.tips_fr ol li{width:100%;text-align:left;margin:0;height:30px;line-height:30px;padding-left:20px;background:url(/templates/cyzonev1/images/li_ico.png) no-repeat 4px; overflow:hidden;}
.tips_fr ol li a{color:#2C2C2C;}
.tips_fr .tips_more{float:right;height:40px;line-height:40px;font-size:12px; color:#004175;}
/*专栏结束*/

/**文章**/
.Article{background:#fff;border:1px solid #d6dbe1; border-radius:5px;padding:20px 0 10px;}
.Article .left{width:650px;}
.Article_h3{color:#3f3f3f;line-height:36px;font-size:26px;padding:10px 0 20px 0;display:block;clear:both;}
.article_laiy{height:32px;line-height:32px;font-size:14px;color:#a2a2a2;background:#f5f6f8;padding:0 20px;}
.artivle_a{display:block;padding-left:10px;}
.artivle_a img{display:block}
.Article #text p{padding:15px 20px;line-height:30px;font-size:16px;color:#3f3f3f;}
.Article #text p  img { display:block; margin:0 auto;}
.article_biao{padding:0 10px;font-size:14px; color:#a2a2a2;line-height:16px;height:16px;}
.article_biao a{color:#004276;}
.article_biao a:hover{text-decoration:underline;color:#ea6103}

.article_rel{margin-top:30px;padding:10px;}
.article_rel .rel_tit{height:32px; overflow:hidden;border-bottom:2px solid #05273B;}
.article_rel .rel_tit h3{float:left;line-height:32px; cursor:pointer;font-size:14px;color:#05273B;padding:0 15px;}
.article_rel .rel_tit h3.on{background:#05273B; color:#fff;}
.article_rel .rel_tit a{float:right;line-height:36px; text-decoration:none;}

.article_rel .rel_con{background:#F5F6F8;width:100%; overflow:hidden;}

.article_rel .rel_obj{width:648px;}
.article_rel .rel_obj ul{width:606px;margin-top:10px;overflow:hidden;padding:0 20px;}
.article_rel .rel_obj ul li{ padding:5px 0;margin:5px 0; border-bottom:1px dotted #d4d4d4;}
.article_rel .rel_obj ul li:last-child{ border-bottom:none;}
.article_rel .rel_obj ul li p{height:30px;line-height:30px; clear:both;}
.article_rel .rel_obj a{ text-decoration:none}
.article_rel .rel_obj ul li p .rel_obj_fl{float:left;}
.article_rel .rel_obj ul li p .rel_obj_fl a{font-size:18px;color:#05273B;}
.article_rel .rel_obj ul li p .rel_obj_fl a:hover{color:#ea6103;}
.article_rel .rel_obj ul li p .rel_obj_fr{float:right;}
.article_rel .rel_obj ul li p .rel_obj_fr a{padding:0px 5px;height:24px;line-height:24px;border:1px solid #d4d4d4; border-radius:5px;color:#999;display:inline-block;margin-left:10px;}
.article_rel .rel_obj ul li p .rel_obj_fr a:hover{border:1px solid #05273B; color:#05273B}
.article_rel .rel_obj ul li .rel_obj_info{color:#C6C6C6;font-size:14px;}

.article_fenx{margin-top:10px;background:#f5f6f8;height:32px;line-height:32px;}
.reading{padding:14px 0 0 6px;font-size:18px;line-height:30px;height:30px;font-family:"微软雅黑", Geneva, sans-serif;}
.reading span{font-family:Tahoma, Geneva, sans-serif;color: #00A2E0;padding-left:12px;}
.readling_ul{background:#f5f6f8;padding:10px;border:1px solid #f6f3f3;}
.readling_ul li{background:url(images/zhuanlan_sanjiaobg.jpg) left center no-repeat;padding-left:10px;line-height:30px;height:30px;font-size:14px;}
.readling_ul li a{color:#3f3f3f}
.readling_ul li a:hover{text-decoration:underline;color:#ea6103}
.readling_ul li span{padding-left:14px;color:#a2a2a2;float:right;}
.article_pinl{height:300px;}
.copyform{
	margin-bottom:10px;
}
.copyform span{
	color:#a2a2a2;
}
.copyform em{font-style:italic;}
div #ds-thread {padding:10px;}

.article_title{
	padding:0 20px;
}


.shared_list{
	float:left;
	width:142px;
}

.shared_list a{
	display:inline-block;
	width:22px;
	height:32px;
	vertical-align:top;
	margin-right:3px;
	background:url(images/shareicon.gif) no-repeat 0 5px;
}

a.bds_tsina{
	background:url(images/shareicon.gif) no-repeat 0 5px;
}

a.bds_weixin{
	background:url(images/shareicon.gif) no-repeat 0 -40px;
}
a.bds_tqq{
	background:url(images/shareicon.gif) no-repeat 0 -84px;
}
a.bds_qzone{
	background:url(images/shareicon.gif) no-repeat 0 -129px;
}
a.bds_more{
	background:url(images/shareicon.gif) no-repeat 0 -173px;
}

.cyzonewx_icon{
	display:none;
	position: absolute;
	top: 430px;
	left: 50%;
	margin-left: -350px;
	padding:15px 40px;
	border:1px solid #b5b5b5;
	border-radius:5px;
	background:#fff;
	line-height: 24px;
	font-size: 16px;
	color: #3f3f3f;
	text-align: center;
}

.far_comment{
	float:right;
	color:#a2a2a2;
}

.far_comment a{
	display:inline-block;
	padding-left:22px;
	color:#a2a2a2;
	margin-left:10px;
	text-decoration:none;
	cursor:pointer;
	/*background:url(images/shareicon.gif) no-repeat 0 -267px;*/
        /*background:url(images/shareicon.gif) no-repeat 0 -207px;*/
}
.far_add{background:url(images/shareicon.gif) no-repeat 0 -267px;}
.far_exit{background:url(images/shareicon.gif) no-repeat 0 -207px;}
.comment_add{background:url(images/shareicon.gif) no-repeat 0 -238px;}
.comment_exit{background:url(images/shareicon.gif) no-repeat 0 -299px;}

.far_comment a.comment_count{
	/*background:url(images/shareicon.gif) no-repeat 0 -238px;*/
}
#editor p span{
	display:block;
	font-size:14px;
	color:#000000;
	margin-bottom:10px;
}
#editor .nickname{
	display:inline-block;
	color:#004276;
	font-size:18px;
}

#editor .member_media{
	display: inline-block;
	background: url(/templates/cyzonev1/css/images/tsina.jpg) no-repeat 0 50%;
	width: 21px;
	height: 18px;
}

#editor_news li{
	background: url(images/zhuanlan_sanjiaobg.jpg) left center no-repeat;
	padding:2px 0 2px 10px;
	line-height: 30px;
	height: 30px;
	font-size: 14px;
	color:#2c2c2c;
	list-style:none;
	border:0;
}

#editor_news li a{
	color:#2c2c2c;
}

#editor_news, #editor{
	background:transparent;
	border: 1px solid #eaeaea;
	margin-bottom:20px;
}
#editor_news{border:0;}
#editor_news ul{
	border: 1px solid #eaeaea;
	padding: 5px 10px;
}

/*技术*/
.barjs{width:649px;background:#FFF;border-bottom:1px solid #ccc;border-right:1px solid #ccc;padding:10px;_padding:10px 10px 0 10px;}
.barjs_left{float:left;width:354px;}
.barjs_leftUl{width:354px;height:235px;position:relative;}
.barjs_leftUl li{position:absolute;top:0;left:0;width:354px;height:235px;display:none}
.barjs_leftUl li a{display:block;width:354px;height:199px;}
.barjs_leftUl li a img{display:block}
.barjs_leftUl li p{background:#2a2d2f;color:#FFF;padding-left:12px;height:36px;line-height:36px;}
.barjs_right{float:left;width:295px;}
.barjs_rightUl{width:295px;height:234px;}
.barjs_rightUl li{width:277px;padding:1px 10px 1px 8px;height:56px;border-bottom:1px solid #FFF;float:left;background:#ebecee;line-height:28px;font-size:16px}
/*.barjs_rightUl li a{color:#3f3f3f;display:block;padding-left:20px;}*/
/*垂直居中改后*/
.barjs_rightUl li span {display:inline-block;height:100%;vertical-align:middle; }
.barjs_rightUl li a{color:#3f3f3f;display:inline-block;padding-left:20px;vertical-align:middle;}
/*垂直居中改后—end*/
.barjs_rightUl li a:hover{text-decoration:underline;color:#ea6103}
.barjs_rightUl .barjs_rightLi{background:url(images/js_navbj.jpg) repeat-x;}
.barjs_rightUl .barjs_rightLi a{background:url(images/js_navsj.jpg) left center no-repeat;color:#004276}
#tzkd_middl{border-bottom:none;}
.starUp{border-bottom:1px dotted #A7A7A7;line-height:24px;font-size:14px;padding-bottom:10px;color:#2c2c2c}
.starUp a{font-size:16px;color:#004276;display:block}
.starUp a:hover{text-decoration:underline;color:#ea6103;}
.book_contentUl{border: 1px solid #EAEAEA;padding:0px 10px;border-top: none;}
.book_contentUl li{float:left;width:278px;padding:20px 0;border-bottom:1px dotted #A7A7A7}
.book_contentUlA1{float:left;width:90px;height:137px;background:url(images/js_right_bg.jpg) no-repeat;padding:0 5px 0 4px;}
.book_contentUlp{padding-top:10px;padding-left:10px;float:left;width:158px;font-size:14px;line-height:22px;}
.book_contentUlp a{color:#004276;}
.book_contentUlp a:hover{text-decoration:underline;color:#ea6103;}
/*管理*/
.new_latest{padding:10px 10px 0 0;background:#f0f2f5;border:1px solid #eaeaea;border-top:2px solid #333;}
.new_latestUl{*padding-bottom:10px !important;_padding-bottom:0}
.new_latestUl li{float:left;width:319px;padding-left:10px;margin-bottom:10px; position:relative;}
.new_latestUlDiv{border:1px solid #eaeaea;padding:30px 10px 10px 20px;background:#f7f7f7;}
.new_latestUlDiv p{
	line-height: 20px;
	font-size: 14px;
	background: url(images/manger_sj.jpg) left center  no-repeat;
	padding: 5px 0 5px 14px;
	overflow:hidden;
	white-space: nowrap;
}
.new_latestUlDiv p a{color:#3f3f3f}
.new_latestUlDiv p a:hover{text-decoration:underline;color:#ea6103;}
.new_latestUlP{position:absolute;width:80px;padding-bottom:4px;height:20px;top:6px;left:5px;background:url(images/manger_pic.jpg) no-repeat; text-align:center;font-size:14px;line-height:20px;color:#fff}
.new_latestUlP a{color:#fff}
/*焦点*/
.colum_ul_li2{border-bottom:1px dotted #A8A8A8;}
.colum_p01{line-height:24px;font-size:14px;padding-top:2px;float:left}
.columSpan01{display:block;width:160px;color:#666;}
.columSpan02{color:#3f3f3f;display:block;width:132px;}
.columSpan02width{width:160px;}

.columSpan011{display:block;width:186px;color:#666;}
.columSpan022width{width:188px;}

.columSpan02 a{color:#004276}
.columSpan02 a:hover{text-decoration:underline;color:#ea6103}
.colum_left01{background:url(images/jiandian_rightbg.jpg) no-repeat;width:120px;height:100px;padding:0 4px;float:left}
.colum_right01{float:left;padding-left:10px;width:132px;}
.colum_creat01{color: #00A2E0;float:left;font-size:16px;line-height:18px;width:132px;}
.colum_p01{float:left;width:132px;font-size: 14px;line-height: 24px;padding-top: 2px;}
.colum_creatSpan01{color:#666;display:block;width:132px;}
.colum_creatSpan02{color:#3F3F3F;display:block;width:132px}
.colum_creatSpan02 a{color: #004276;}
.colum_creatSpan02 a:hover{text-decoration:underline;color:#ea6103}
.event_content{
	border: 1px solid #eaeaea;
	padding: 10px;
	border-top: none;
}

/*article share*/
.sharedMore{
	float:right;
}
.shared .share{
	float:left;
	width:130px;
	padding-top:4px;
}

.bdshare{
	position:relative;
}

.bdshare a:hover{
	cursor:pointer;
	text-decoration:none;
}

.bdshare ul{
	position:absolute;
	display:none;
	background-color:#fff;
	word-break:keep-all;
	border:1px solid #ddd;
	top:-32px;
	right:0;
	white-space: nowrap;
	line-height:20px;
	z-index:10000;
}
.bdshare ul.show{
	display:block;
}
.bdshare ul li a{
	display:block;
	padding:3px 10px;
	width:auto;
	line-height:24px;
	height:auto;
	background:none;
	margin:0;
}
.bdshare ul li a:hover{
	background-color:#0086BE;
	color:#fff;
}

.sharedbutton{
	text-align:center;
}

/*download*/
.listtop_lr{
	background-color: #fff;
	padding: 20px;
}
.listtop_lr .left{
	width:630px;
}
.listtop_lr .article_list .list_top {
	padding: 0 0 6px;
}
.article_list li {
	padding: 18px 0;
	border-bottom:1px dotted #bcbcbc;
}
.wzbt {
	float: left;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	width: 450px;
}
.time {
	float: right;
}
.author {
	float: right;
	margin: 0 15px 0 0;
}
.listtop_lr .article_list .subtitle {
	line-height: 20px;
	padding-left: 0;
}
.author a, .wzbt a {
	color: #105592;
	text-decoration: none;
}

.article_list{
	padding-bottom:20px;
}

.backToTop, #feedback a{
	display: none;
	width: 48px;
	height:48px;
	color: #105590;
	font-size: 14px;
	text-align: center;
	text-indent:-9999px;
	position: fixed;
	_position: absolute;
	left: 50%;
	bottom: 120px;
	_bottom: "auto";
	cursor: pointer;
	background: url(images/top.jpg) no-repeat scroll center top #e0e0e0;
	margin-left: 495px;
	padding:0;
	font-size:16px;
}
#feedback a.live{
	display:block;
	bottom:220px;
	text-decoration:none;
	_top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop +(documentElement.clientHeight-this.clientHeight)/2 : document.body.scrollTop +(document.body.clientHeight-this.clientHeight)/2);
	background:url(images/video.png) no-repeat scroll center top #e0e0e0;
}
#feedback a{
	display:block;
	bottom:170px;
	text-decoration:none;
	_top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop +(documentElement.clientHeight-this.clientHeight)/2 : document.body.scrollTop +(document.body.clientHeight-this.clientHeight)/2);
	background:url(images/feedback.jpg) no-repeat scroll center top #e0e0e0;
}
#feedback a:hover{
	color:#fff;
	text-indent:0;
	background:#1c3a4b;
}
.backToTop:hover{
	color:#fff;
	text-indent:0;
	background:#1c3a4b;
}
/*video start*/
.video{ height:161px; background:#edf0f3; border:1px solid #d8dde2;}
.video p{ float:left; width:250px; background:url(images/video.gif) no-repeat 18px 15px; padding-left:40px; font: bold 18px "Microsoft Yahei"; padding-top:10px; height:30px;}
.video p em{ color:#00a2e0;}
.video p .more{ float:right;padding:5px 10px 0 0; color:#c0c1c2; text-decoration:underline; font:normal 12px "Microsoft Yahei";}
.video .videomove{ clear:both; position:relative; margin-top:0px;}
.video .videomove div{ float:left; width:120px; margin:10px;}
.video .videomove div li{ position:relative; width:120px; height:90px;}
.video .videomove div li a{ position:absolute; top:0; left:0; display:none; width:120px; height:90px; background:#000; fitel:alpha(opacity:50); opacity:0.5;}
.video .videomove div ul .link{ background:url(images/play_btn.gif) no-repeat 5px 25px; font:bold 14px "Microsoft Yahei"; padding: 20px 0 0 20px;}
/*video end*/
/*huodong start*/
.huodong .hdli{ border-bottom:1px dashed #CCC; margin:5px 0; overflow:hidden;padding:5px 0;}
.huodong .hdli h4{ color:#004276; font:normal 16px "Microsoft Yahei"; margin-top:10px;}
.huodong .hdli p.desc{color:#2c2c2c;line-height:22px;padding:5px 0;}
.huodong .hdli p{font: normal 14px/normal "Microsoft Yahei", sans-serif; color:#a2a2a2;}
.huodong .hdli h4 a{ float:none;}
.huodong .hdli span{font-size:14px;color:#a2a2a2;display:block;line-height:22px;padding:5px 0;}
.huodong .hdli p a{font-size:12px;}
.huodong .hdli a{ float:right;color:#0a4274}
.huodong .huodongmore{ display:block; background:url(images/huodong_morebg.gif) repeat-x; height:30px; line-height:30px; text-align:center; font-size:16px; margin-top:8px; color:#FFF;}
.huodong .huodongmore:hover{ background:url(images/pic_morebg.gif) repeat-x; text-decoration:none;}
/*huodong end*/
/*weixin*/
.wx{ height:130px; background:#edf0f3; border:1px solid #d8dde2;}
.wx .wx_left{ float:left; width:160px; position:relative; margin-left:10px;}
.wx .wx_left #text{ width:150px; height:25px; line-height:25px; border:1px solid #CCC; margin:20px 5px 10px 5px;}
.wx .wx_left span{ position:absolute;top:37px; left:10px; color:#d1d1d1;}
.wx .wx_left #submit{ width:150px; height:30px; border:none; margin-left:5px; background: url(images/page_btn.gif) no-repeat;}
.wx .wx_left #submit:hover{ cursor:pointer;}
.wx .wx_img{ float:right; margin:20px 10px 0 0;}
/*weixin*/
/*hot_column*/
.hot_column{ width:300px;}
.hot_column h2{ font:normal 18px "Microsoft Yahei"; line-height:30px;padding-left:10px;}
.hot_column h2 em{ color:#00a2e0;letter-spacing:-1px;}
.hot_column .column_li, .kuailiyu .column_li{ padding:10px;}
.hot_column .column_li ul{ padding-top:5px;}
.hot_column .column_li li, .kuailiyu .column_li li{overflow:hidden; line-height:20px;margin-bottom:10px;background: url(http://tpl0.cyzone.cn/templates/cyzonev1/css/images/tzkd_sj.jpg) no-repeat 0 4px;
padding-left: 12px;}
.hot_column .column_li li span{ font-size:12px; display:inline-block; width:20px; height:20px; font-weight:normal; line-height:20px; text-align:center; padding-right:10px;}
.hot_column .column_li li .num{ font:normal 12px/20px 'Microsoft Yahei';display:block; display:inline-block; background:url(images/pailie_bg.jpg) no-repeat 0 1px; color:#FFF; width:20px; height:20px; line-height:20px; text-align:center;}
.hot_column .column_li li a, .kuailiyu .column_li li a{ float:left; font-size:14px; font-weight:normal;}
/*hot_column*/
/*toubao*/
.toubao li{ border:1px solid #eaeaea; border-top:none;}
.toubao li img{ width:298px;display:block;}
/*toubao*/
/*kuailiyu开始*/
.kuailiyu h3, .fuhuaqi h3, .cxj h2{margin-bottom:3px;}
/*kuailiyu结束*/
/*tzkd*/
.tzkd .tzkd_text{ border:1px solid #eaeaea; border-top:0; height:310px;}
.tzkd .tzkd_text img{ float:left; margin:10px;}
.tzkd .tzkd_text p{ font:bold 16px "Microsoft Yahei"; color:#316690; padding-top:20px;}
.tzkd .tzkd_text .tzkd_pictext{ width:280px; height:100px; border-bottom:1px dashed #CCC; margin-left:8px;}
.tzkd .tzkd_ul{ clear:both; width:280px; margin-left:8px; border-bottom:1px dashed #CCC; padding:3px 0;}
.tzkd .tzkd_ul li{ background:url(images/jt.gif) no-repeat 10px 5px; padding-left:20px; line-height:20px;}
.tzkd .tzkd_text .pic{ width:280px;}
.tzkd .tzkd_text .pic ul{ margin:5px 0;}
.tzkd .tzkd_text .pic li{ float:left; width:135px; margin-right:5px;}
/*tzkd*/ 
/*ask*/
.ask{ background:#fff url(images/askbg.gif) repeat-x;border:5px solid #e2ebf4; padding:0 5px;}
.ask h2{ font:normal 18px "Microsoft Yahei"; background:url(images/help_left.jpg) no-repeat 10px 0; height:35px; padding: 0 0 5px 50px;margin: 10px 0 5px; border-bottom:1px dashed #CCC;}
.ask .asklink{ float:right; font-size:12px; font-weight:normal; padding:0 5px; background:url(images/ask_btn.gif) no-repeat 0 0; color:#FFF; display:inline-block; width:60px; height:19px;}
.ask .ask_li{border-bottom:1px dashed #CCC;margin:5px 0;padding:5px 0;}
.ask .ask_li .asktitle{ font:normal normal 16px/22px "Microsoft Yahei"; background:url(images/ask-icon.png) no-repeat; padding:0 0 0 40px; margin-left:10px;}
.ask .ask_li .asktitle a{color:#164e7d;}
.ask .ask_li .ansower{ background: url(images/ansower_bg.png) no-repeat;font-size:14px; padding-left:40px; margin-left:10px; margin-top:10px;}
/*ask*/
/*fuhuaqi*/
.fuhuaqi q{font-size:14px;line-height:24px;}
.fuhuaqi h3 em{ color:#00a2e0;}
.fuhuaqi ul{ width:280px; border-bottom:1px dashed #CCC; margin:0 10px; overflow:hidden;padding:8px 0;}
.fuhuaqi ul li img{ float: right; margin:0 0 0 11px;padding:0 3px 10px;}
.fuhuaqi ul  p{font-size:14px;}
.fuhuaqi ul .fuhuaqititle{ font-size:16px; color:#316690;padding-bottom:5px;}
.fuhuaqi ul .fuhuaqititle a{color:#33668e;}
.fuhuaqi ul .link{ background:url(images/ask_btn.gif) no-repeat; display:block; color:#FFF; width:60px; height:19px;float:right; margin:5px 0 0;font-size:12px; line-height:19px; text-align:center;}
/*fuhuaqi*/
/*chuangxinji*/
.cxj h2{font:normal 18px "Microsoft Yahei";padding-left:10px;}
.cxj h2 em{ color:#00a2e0; padding-left:90px; font-size:17px;letter-spacing: -1px;}
.cxj ul{ overflow:hidden;width:275px; border-bottom:1px dashed #CCC; margin:0 10px;padding:10px 0;}
.cxj ul img{ float:left;background:url(images/tz123.jpg) no-repeat 50% 100%;padding:0 3px 10px;margin-right:10px;}
.cxj ul p{ font-size:14px; color:#585858;line-height:22px;font-weight:normal;}
.cxj ul p a{color:#316690;font-size:16px;}
/*chuangxinji*/
/*tag*/
.tag{ height:30px; line-height:30px; margin:10px 0 5px 0; padding-left:10px;}
.tag h4{ float:left; padding-right:10px;}
.tag ul li{ float: left;}
.tag ul li a{ padding:5px 10px; background:#e0e9f8; margin-right:3px;}
.tag ul li a:hover{background:#00a2e0; color:#FFF;}
.tag ul li .tagactive{ background:#00a2e0; color:#FFF;}
/*tag*/

/*media*/
#media{
	background:url(images/icon0.jpg) no-repeat 0 0;
	height:41px;
	padding:0 30px;
}
#media a{
	position:relative;
	display:inline-block;
	width:30px;
	height:40px;
}
#media a img{display:none;position:absolute;top:40px;left:-30px;}

#text a{
	color:#004276;
}

/*new pages*/

/*清浮动*/
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom:1;/*ie6,7*/}
.page{width:670px;height:40px;overflow:hidden;}

.page .active{ background:#07283b; cursor:pointer}
.page .disable{ background:#ebebeb;}
.prev{ float:left;}
.next{ float:right;}
.prev , .next{width:40px;height:40px;position:relative; overflow:hidden; border-radius:20px;}
.cap{width:40px;height:40px;display:block; border-radius:50%;}

.prev .cap{position:absolute;left:0;top:0;background:url(../images/left.png) 12px 13px no-repeat;}
.next .cap{position:absolute;right:0;top:0;background:url(../images/right.png) 15px 13px no-repeat;}
.prev .title{float:left; padding-left:40px;}
.next .title{float:right; padding-right:40px;}
.title{width:50px;height:40px;display:none; border-radius:20px; line-height:40px;color:#fff; font-size:16px;}