div{text-align:left;line-height:140%}
img{border:medium none;_max-width:100%}
li,ul{list-style-position:outside;list-style-type:none;margin:0;padding:0}
dd,dl,dt{margin:0;padding:0;text-indent:0}
hr.clearFloat,hr.clearfloat{clear:both;float:none;position:static;display:block;margin:0;visibility:hidden;height:0}
input,option,select{font-size:14px}
input.p_input{width:40px}
div.clearFloat,div.clearfloat{clear:both}
#fullbody,.fullbody{width:999px;margin:0 auto;position:relative;background:#FFF1E0}
#adcodes{top:3000px;position:absolute}
#adcontainer{width:999px;margin:0 auto;position:relative}

.skyscraper{position:relative}
#pageheader{height:65px;width:970px;margin:0 auto;}
#page-title,#section-page-title,.masthead{display:inline;position:relative;float:left;_margin-left:10px;width:550px}
#page-title h1{display:inline;font-size:25px;font-weight:700;padding:0;margin:0;line-height:100%}
#page-title h1 img{float:left;_margin:5px 0 0 5px;}
#page-title h1 span{display:block;float:left;color:#777;font-size:25px;margin:10px 0 0 20px;line-height:100%}
#page-title h1 span.channel{color:#000;font-weight:600;margin-top:20px}
#section-page-title h1{display:inline;font-size:28px;line-height:40px;color:#A7A599}
#page-title .bar{font-family:arial;line-height:100%;margin:0 0 0 5px;font-size:12px;color:#777}
a.storytime:link,a.storytime:visited{color:#9b164f;font-family:arial,SimSun;font-weight:700;display:block}
a.storytime:active,a.storytime:hover{color:#2e6e9e;font-family:arial,SimSun;font-weight:700;display:block}
.pagediv{clear:both}
.colright{float:right;_margin-right:15px;display:inline}
.logged-in,.logged-out{text-align:right;line-height:100%;font-size:12px}
#ft-login{margin-top:5px}
#ft-login a{padding-left:8px}
.searchbox{text-align:right;font-size:12px;font-family:SimSun;margin:18px 8px 0 0}
#searchForm span{position:relative;top:-9px;background:url(http://s.ftimg.net/img/menu_open.gif) right top no-repeat;margin-right:3px;cursor:pointer;z-index:999;height:16px}
#searchForm span div{display:none;position:absolute;top:0;left:0;border:1px solid #ccc;background:#FFF;width:250px;font-size:14px;padding:5px;cursor:default}
#searchForm span div a{font-weight:700}
#searchForm span div a:visited{color:#2e6e9e}
#searchForm span.on div{display:block}
#searchForm span.on div b{display:block;margin-top:8px}
#searchform{display:inline}
#searchtxt{border:1px solid #D3D3D3;display:inline;float:left;font-size:14px;height:18px;margin:0;padding:4px;vertical-align:top;width:110px}
.memberinfo{margin:2px 0 0;font-size:12px;line-height:120%;height:55px;width:300px;overflow:hidden}
.membertitle{float:left;background:transparent url(http://s.ftimg.net/img/m.gif) no-repeat scroll 8px 5px;height:57px}
.membertitle a,.membertitle a:hover,.membertitle a:link,.membertitle a:visited{display:block;margin:40px 15px 0 5px;color:#000;font-weight:700}
.membercontent{float:left;margin-top:5px}
.membercontent a{display:block;white-space:nowrap;background:transparent url(http://s.ftimg.net/img/bullet.gif) no-repeat scroll left 50%;padding-left:10px}
.membercontent a:link,.membercontent a:visited{color:#000}
.membercontent a:active,.membercontent a:hover{color:#2e6e9e}
.close-info{cursor:pointer;float:right;margin:3px 3px 0 0;display:none}
.searchType{float:left;margin-right:5px;font-size:12px}
.searchType li{clear:left;float:left;line-height:14px;height:14px;vertical-align:top}
.searchType input{float:none;margin:-3px 2px -3px 0;padding:0;vertical-align:middle;height:13px}
.searchType label{display:inline;height:14px;margin:0;font-size:12px}
.search_btn{font-size:14px;padding:5px}
.calendarInput{width:120px}
.calendarBtn{font-size:14px;background:#4781AA;padding:2px 2px 0;color:#FFF;font-weight:700}
#closeso{float:right;cursor:pointer}
#skylines{clear:both;width:969px;margin:48px auto  2px;float:none;height:72px;overflow:visible}
.skyline-x{float:left;width:320px;display:inline}
.skyline-center{float:left;width:645px;display:inline}
.skyline-y{float:right;width:320px;display:inline;height:72px;}
.skyline-y div{margin:7px 0 0 25px}
#skylines .memberbelt{position:relative;overflow:visible}
#skylines .memberbelt img{position:absolute;width:68px;height:68px;top:-8px;right:-7px}
#skylines .skyline-y a{float:none;display:block;line-height:170%;font-size:12px}
#skylines.xcentred{padding-left:18.6em}
#skylines.xxcentred{padding-left:19.4em}
#skylines img{display:inline;float:left;margin:-12px 6px 0 0;max-height:84px;height:84px}
#skylines .skyline-x.clean:hover img{-webkit-transform:scale(1.06,1.06);-webkit-transform-origin:center bottom;-webkit-transition:all 200ms ease-out}
#skylines img.right{display:inline;float:right;margin:0 0 0 6px}
#skylines a{float:left;color:#000}
#skylines a:hover{color:#2e6e9e;TEXT-DECORATION: underline}
#skylines p{display:inline}
#skylines p span{display:block;font-size:14px;line-height:20px;margin-top:.5em;height:60px;overflow:hidden}
#skylines p a,#skylines ul a{float:none}
#skylines .skyline-z{margin:12px 0 0;padding:0;float:right;width:320px;overflow:hidden}
#skylines .skyline-z img{margin:0 5px 0 0}
#skylines .skyline-z span{margin:5px 5px 0 0;display:block;float:right;width:185px;padding:0}
#skylines .skyline-a{margin:12px 0 0;padding:0;float:left;width:320px;overflow:hidden}
#skylines .skyline-a img{margin:0 5px}
#skylines .skyline-a span{margin:5px 5px 0 0;display:block;width:180px;padding:0;float:left}
#navigation li li a,#navigation li.on .subnav li li a,.nojs #navigation li a,.nojs #navigation li.on .subnav li a{visibility:visible}
.nojs #navigation .subnav .subnav{display:none}
.nojs #navigation li{margin:0 7px}
.nojs #navigation li.topnav{padding-left:0;padding-right:54px;margin-left:0;margin-right:0}
.nojs #navigation li.topnav.first-child{margin-left:0;padding-left:14px}
.msie7 #navigation{float:none}
#navigation.basic li:hover .subnav{display:none}
#navigation.basic li.on:hover .subnav{display:block}
#navigation.basic li.on:hover .subnav .subnav{display:none}
#navigation li a{visibility:hidden}
#navigation{position:relative;clear:left;border-top:8px solid #c8161d;border-bottom:12px solid #FFF;padding:4px 0 0;width:969px;margin:0 auto 24px;background-color:#fff;z-index:9;height:29px}
#navigation li{float:left;margin:0;display:inline;font-size:14px;height:24px}
#navigation li.first-child{margin-left:12px}
#navigation li a{float:left;position:relative;padding:0 0 0 4px;color:#000;height:24px;line-height:24px}
#navigation li a span{padding-right:3px}
#navigation li.nosub a em{right:-5px;width:5px}
#navigation li a em{display:block;position:absolute;right:-15px;top:0;margin-bottom:5px;padding:0;height:24px;width:15px;cursor:pointer}
#navigation li a.on{background:#c8161d left -240px no-repeat;color:#fff;padding-bottom:5px}
#navigation li a.on em{background:#fff right -180px no-repeat}
#navigation li.nosub a.on em{background:#c8161d right -240px no-repeat;padding-bottom:5px}
#navigation li a:hover{background:#e4eef5 left top no-repeat}
#navigation li.navopen a,#navigation li.navopen a:hover{background:#4781AA left -60px no-repeat;color:#fff;border-bottom:2px solid #4781AA}
#navigation li a:hover em{background:right top no-repeat}
#navigation li a:hover em:hover{background:#fff right -60px no-repeat}
#navigation li.navopen a em,#navigation li.navopen a:hover em{background:#fff right -180px no-repeat;border-bottom:2px solid #4781AA}
#navigation li.nosub a:hover em{background:#e4eef5 right -120px no-repeat}
#navigation li.navopen .subnav{display:block}
#navigation>li.first-child>.subnav{margin-left:16px}
#navigation>li.on>.subnav{margin-left:0}
#navigation li.navopen .subnav a{border-bottom:0 none}
#navigation li.navopen .subnav .subnav{display:none}
#navigation li ul{display:none;position:absolute;top:30px;margin-left:0;border:2px solid #4781AA;border-bottom:0 none;padding:0;width:214px;background:#fff;z-index:2}
.nojs #navigation li ul{top:28px}
#navigation li ul li{display:block;float:none;clear:left;margin:0;border-top:1px solid #dfded8;padding:0;font-size:12px;line-height:13px;background:#fff none;height:auto}
#navigation li .subnav li.last-child{border-bottom:2px solid #4781AA;margin-bottom:-4px}
#navigation li.on .subnav li.last-child{border-bottom:0 none;margin-bottom:0}
#navigation li .subnav .subnav li.last-child{border-bottom:2px solid #a7a59b;margin-bottom:-4px}
#navigation li ul li a{float:none;display:block;padding:10px 13px;height:auto;line-height:14px}
#navigation li.navopen ul li a{background:#fff none;color:#777}
#navigation li.navopen ul li a:hover{background:#efeeeb none;color:#777;border-bottom:0 none}
#navigation li ul li.first-child,#navigation li ul li.first-child a{border-top:0;margin-left:0}
#navigation .on a:hover,#navigation .on em{background-color:#d6080c}
#navigation .on .subnav{display:block;visibility:visible;padding:0;_background-color:#a7a59b;left:0;width:969px;top:32px;border:0 none;position:absolute;z-index:1;margin-left:0}
#navigation .on .subnav li{float:left;clear:none;background-color:#fff;color:#fff;border:0 none;margin:0;position:relative}
#navigation .on a{margin-left:-3px;margin-right:0;padding-left:7px;padding-right:0}
#navigation .on li a{color:#fff;width:auto;padding:5px 22px 5px 9px;margin:0}
#navigation .on li.rss{float:right}
#navigation .on li.tools{float:right;width:auto}
#navigation .on li.tools .subnav{margin-left:-163px}
#navigation .on li.tools.long .subnav{margin-left:-140px}
#navigation .on li.tools .subnav li.dummy-child{right:-2px;left:auto}
#navigation li.on li.nosub a:hover.rss{background-image:url(http://s.ftimg.net/img/rss_link_nav.gif)}
#navigation .on li.tools .subnav li.section a{color:#2e6e9e}
#navigation li.on a:hover{background:#d6080c left -240px no-repeat}
#navigation li.on a:hover em{background:#a7a59b right -240px no-repeat}
#navigation li.on li a{background:#a7a59b right -279px no-repeat;color:#fff}
#navigation li.on li a:hover{background:#74736c right -303px no-repeat;color:#fff}
#navigation li.on li.on a{background:#4780ab right -327px no-repeat;color:#fff}
#navigation li.on li.rss a{padding:5px 8px 0 2px}
#navigation li.on li.rss a:hover{background-color:#d6080c}
#navigation li.on li li a,#navigation li.on li li a:hover,#navigation li.on li.on li a,#navigation li.on li.on li a:hover{background:#fff none}
#navigation li.on li.on{padding-bottom:0}
#navigation .on .subnav .subnav li.dummy-child{position:absolute;top:-23px;left:-2px;border:2px solid #a7a59b;border-bottom:0 none;padding:0 3px;height:21px;z-index:2}
#navigation .on .subnav .subnav li.dummy-child a,#navigation .on .subnav .subnav li.dummy-child a:hover{padding:4px 17px 2px 4px;background:#fff right -352px no-repeat}
#navigation .on .subnav .subnav li.dummy-child a:hover,#navigation .on .subnav .subnav li.dummy-child:hover,#navigation .on .subnav .subnav li.dummy-child:hover a{background-color:#fff}
#navigation .on .subnav .subnav{display:none;width:214px;top:21px;background-color:#fff;border:2px solid #a7a59b;padding:0}
#navigation .on .subnav li.hover .subnav,#navigation .on .subnav li:hover .subnav{display:block}
.editor #navigation .on .subnav li.hover .subnav,.editor #navigation .on .subnav li:hover .subnav{display:none}
#navigation .on .subnav .subnav li{float:none;clear:left;font-weight:400;padding:4px 2px;margin:0;border-top:1px solid #dfded8}
#navigation .on .subnav .subnav li.first-child{border-top:0 none}
#navigation .on .subnav .subnav li a{color:#777;padding:5px}
#navigation .on .subnav .subnav li a:hover,#navigation .on .subnav .subnav li.hover,#navigation .on .subnav .subnav li.hover a,#navigation .on .subnav .subnav li:hover,#navigation .on .subnav .subnav li:hover a{color:#777;background-color:#efeeeb}
#navigation .on .subnav .subnav li.dummy-child,#navigation .on .subnav .subnav li.dummy-child a{background-color:#fff}
#navigation .on .subnav .subnav li a:hover{padding:5px;border:0 none}
#navigation .on .nodisp,#navigation .subnav li.nosub.hover .subnav,#navigation .subnav li.nosub:hover .subnav{display:none}
#navigation .subnav .bl,#navigation .subnav .br,#navigation .subnav .tl,#navigation .subnav .tr{position:absolute;height:5px;width:5px;z-index:2}
#navigation .on .subnav .tr,#navigation .subnav .tr{right:-2px;top:-2px;background:#fff -5px 0 no-repeat}
#navigation .subnav li.hover .tr,#navigation .subnav li:hover .tr{background-position:-5px -10px}
#navigation .last-child .subnav .tr,#navigation .on .last-child .subnav .tr{display:none}
#navigation .last-child .subnav .tl,#navigation .on .last-child .subnav .tl{top:-2px;left:-2px;background:#fff 0 0 no-repeat}
#navigation .last-child .subnav li.hover .tl,#navigation .last-child .subnav li:hover .tl{background-position:0 -10px}
#navigation .on .subnav .bl,#navigation .subnav .bl{bottom:-4px;left:-2px;background:transparent 0 -5px no-repeat}
#navigation .on .subnav .br,#navigation .subnav .br{right:-2px;bottom:-4px;background:transparent -5px -5px no-repeat}
#navigation .on .subnav .subnav .bl,#navigation .on .subnav .subnav .br,#navigation .subnav .subnav .bl,#navigation .subnav .subnav .br{bottom:-2px}
#navigation .subnav li.hover .bl,#navigation .subnav li:hover .bl{background-position:0 -15px}
#navigation .subnav li.hover .br,#navigation .subnav li:hover .br{background-position:-5px -15px}
.msie #navigation li .subnav li.last-child{position:relative;z-index:2}
.msie #navigation .subnav li.last-child .bl,.msie #navigation .subnav li.last-child .br{bottom:-2px}
#navigation .on .subnav .bl,#navigation .on .subnav .br,#navigation .on .subnav .subnav .tr,#navigation .on .subnav .tl,#navigation .on .subnav .tr{display:none}
#navigation .on .subnav .subnav .bl{display:block;background-position:0 -23px}
#navigation .on .subnav .subnav .br{display:block;background-position:-5px -23px}
#navigation .on .subnav .subnav li:hover .bl{background-position:0 -28px}
#navigation .on .subnav .subnav li:hover .br{background-position:-5px -28px}
#navigation .on .subnav .subnav li.on .bl{background-position:0 -33px}
#navigation .on .subnav .subnav li.on .br{background-position:-5px -33px}
#navigation .on .subnav .subnav .dummy-child .tl{display:block;background:#fff 0 -20px no-repeat;width:2px;height:2px;top:0;left:0}
#navigation .on .subnav .subnav .dummy-child .tr{display:block;background-position:-8px -20px;width:2px;height:2px;top:0;right:0}
#navigation .on .subnav .subnav .dummy-child .bl,#navigation .on .subnav .subnav .dummy-child .br{display:none}
#navigation .last-child .subnav .tl,#navigation .on .last-child .subnav .tl,#navigation .on .subnav .bl,#navigation .on .subnav .br,#navigation .on .subnav .subnav .dummy-child .tl,#navigation .on .subnav .tr,#navigation .subnav .bl,#navigation .subnav .br,#navigation .subnav .tr{background-image:url(/images/navigation_subnav.gif)}
#navigation .on .subnav .subnav li.dummy-child a,#navigation .on .subnav .subnav li.dummy-child a:hover,#navigation li a.on,#navigation li a.on em,#navigation li a:hover,#navigation li a:hover em,#navigation li a:hover em:hover,#navigation li.navopen a,#navigation li.navopen a em,#navigation li.navopen a:hover,#navigation li.navopen a:hover em,#navigation li.nosub a.on em,#navigation li.nosub a:hover em,#navigation li.on a:hover,#navigation li.on a:hover em,#navigation li.on li a,#navigation li.on li a:hover,#navigation li.on li.on a{background-image:url(/images/nav_ft.gif)}
#navigation li.on li.nosub a,#navigation li.on li.nosub a:hover{background-image:none;padding-right:10px}
#navigation .on .subnav .subnav li.on,#navigation .on .subnav .subnav li.on a{background-color:#4780AB;color:#fff;background-image:none}
#navigation .on .subnav .subnav li.sns a{background-repeat:no-repeat;background-position:12px 0;padding-left:48px}
.msie6 #navigation .bl,.msie6 #navigation .br,.msie6 #navigation .tl,.msie6 #navigation .tr{font-size:0;line-height:0}
.msie6 #navigation .subnav .subnav li,.msie6 #navigation li.navopen ul li{float:left;width:100%}
.msie6 #navigation .subnav .bl,.msie6 #navigation .subnav .br{margin-bottom:0}
.msie6 #navigation .subnav .subnav .bl,.msie6 #navigation .subnav .subnav .br{margin-bottom:-1px}
.msie6 #navigation .subnav li.last-child{margin-bottom:-5px}
.msie6 #navigation .subnav li.last-child a{padding-bottom:11px}
.msie6 #navigation .on .subnav li.last-child a{padding-bottom:5px}
.msie6 #navigation .subnav .subnav li.last-child{margin-bottom:-4px}
.msie6 #navigation .subnav .subnav li.last-child a{padding-bottom:5px}
.msie6 #navigation .on .subnav .subnav .dummy-child{position:relative;width:auto;margin-bottom:-23px}
.msie6 #navigation .on .subnav .subnav .dummy-child a{padding-bottom:4px}
.msie6 #navigation .on .subnav .last-child .subnav .dummy-child{margin-left:78px}
.msie6 #navigation .subnav .last-child .subnav{margin-left:-160px}
#subscriptionLink{float:right;display:inline;font-size:1.4em;background:url(../img/subscribeFT.gif) left 50% no-repeat;padding-left:35px}
#subscriptionLink,#subscriptionLink *{vertical-align:middle;line-height:40px}
