body, ul, li, ol, dl, dd, dt, caption, pre, blockquote, input, textarea, img, small, form, iframe { margin: 0; padding: 0; font-family: verdana,Arial,Helvetica,sans-serif; font-size: 12px; color: #232323; }

p { font-size: 14px; color: #232323; margin: 5px auto 5px auto; }

body { line-height: 1.50; }

form input { font-family: verdana; }

img { border: 0px; }

td { line-height: 180%; }


#header { width: 998px; height: 100px; clear: both; overflow: hidden; }

#nav_zone { margin-top: 0px; width: 998px; }

#sch_zone { background: url(/images/bg_search2.gif) no-repeat; height: 78px; width: 998px; margin-top: 10px; }

/* wrapper */
#wrapper { width: 998px;  }

#hd_logo { width: 200px; margin-top: 3px; padding-top: -10px; float: left; }

#hd_bnr { width: 480px; padding-top: 12px; float: left; margin: 0 auto; text-align: center; padding-left: 3px; }

#hd_menu { height: 52px; float: right; margin-top: 8px; padding-top: 3px; position: relative; }

#hd_menu ul { float: right; }

#hd_menu li { list-style: none; display: inline; line-height: 1.5em; border-right: 1px solid #d6d6d6; }

#hd_menu li.last_link { border-right: 0px solid white; }

#hd_menu li.last_link a { padding-right: 3px; }

#hd_menu a { color: #848484; padding: 0px 6px 0px 8px; }

#search { font-size: 12px; color: #E21841; position: absolute; top: 35px; right: 0; }


#menu { width: 998px; height: 26px; clear: both; margin: 0 auto; background: url(../images/bg_nav.gif) no-repeat; }

#menu ul { margin: 0; padding: 0; list-style: none; text-align: left; font-size: 14px; color: white; margin-left: 15px; }

#menu ul li { float: left; margin-top: 4px; margin-right: 25px; }

#menu a { color: white; }

#menu small a { float: right; font-size: 12px; margin: 4px 8px 0 0; color: #FFFF53; }

#guide_de { padding-left: 10px; }

#postText { font-size: 14px; }

.top_adv { width: 998px; margin: 0 auto; padding: 10px 0 0 0; }

#adv_A { float: left; width: 688px; }

#adv_B { float: right; width: 304px; border: 1px solid #E6EBF7; padding-top: 6px; padding-bottom: 6px; }

/*#adv_B ul{
	margin:0;
	padding:0;
	text-align:left;	
	line-height:20px;
}

#adv_B ul li
{
	list-style-type:none;
	margin-left:15px;
	width:130px;
	display:block;
	text-align:left;
	overflow:hidden;
	padding:0;
	height:20px;
}*/
#adv_B table { margin-left: 15px; }

#adv_B td { border: 0px solid white; width: 150px; }

.tag_guide { float: right; padding-top: 3px; }

#guide_detail { background-color: #F2F2F2; border: 1px solid #e6e6e6; width: 997px; height: 24px; margin: 10px auto; line-height: 24px; text-align: left; color: #333; }

.q_btn { font-size: 12px; height: 19px; }

.q_input { width: 180px; height: 13px; font-size: 12px; border: solid 1px #ffffff; }


#main_content { width: 998px; /*background:transparent url(../images/bg_detail_frame.gif) repeat-y;display:inline-block;*/ clear: both; margin: 10px 0 20px 0; height: 100%; }

#left_content { border: 1px solid #CFCFCF; float: left; text-align: center; width: 690px; height: auto; }

#col_words { float: left; text-align: center; margin-left: 3px; }

#news_content { font-size: 14px; }

#left_content_pages {  background: #FAFFFF; text-align: left; border-left: solid 0px #CCCCCC; }

#right_content { float: right; width: 300px; text-align: left; }

.rt_cnt { margin-bottom: 10px; }

#dv_YU-D-Z2T-956-4 { margin-bottom: 10px; }

#right_content #dv_YU-D-Z2T-956-4 ul li { border-bottom: 1px dotted #CCCCCC; height: 24px; line-height: 24px; margin-top: 3px; margin-left: 8px; width: 95%; }

.title_rt_cnt { background: transparent url(/images/list_block_title.jpg) no-repeat scroll left top; color: #35679D; font-size: 14px; font-weight: bold; height: 30px; line-height: 30px; margin-bottom: 7px; padding-left: 34px; text-align: left; }

#rtCntA { padding: 1px; }

#rtCntB { padding: 5px 0 5px 0; }

.title_rt_CNT { background: url(../images/list_block_title.jpg) no-repeat top left; font-size: 14px; color: #35679D; text-align: left; padding-left: 34px; font-weight: bold; height: 30px; line-height: 30px; margin-bottom: 7px; }

.bgFFF { background: #FFFFFF; }

.detail_pages_list { color: #5F5F5F; font-size: 12px; height: 21px; line-height: 21px; overflow: hidden; text-align: left; background: transparent url(/images/li_gray_arrow.gif) no-repeat scroll 2px 9px; padding-left: 10px; margin: 0 4px 0px 4px; clear: both; }

.re_cnt { padding: 1px 0; line-height: 20px; margin: 0px; height: 60px; }

.floatLPic { float: left; color: teal; font-size: 9pt; text-align: center; padding: 10px 6px 2px 10px; }

.floatRTxt { float: right; overflow: hidden; width: 200px; padding-top: 12px; }

.indent { margin: 0 4px 0px 10px; padding-bottom: 4px; clear: both; }

.indent a { line-height: 21px; }


.detail_pages_list2 { color: #5F5F5F; font-size: 12px; height: 21px; line-height: 21px; overflow: hidden; text-align: left; background: url(../images/mer.png) no-repeat center left; padding-left: 19px; margin: 0 4px 0 4px; clear: both; }

.title_detail_brand { height: 24px; background: #F6F6F6; color: #35679D; padding: 3px 0 0 9px; text-align: left; font-weight: bold; }

.title_detail_brand2 { height: 24px; background: #E9F1F3; color: #35679D; padding: 3px 0 0 9px; text-align: left; font-weight: bold; }

.li-small { text-align: left; overflow: hidden; list-style-position: outside; list-style: none; position: relative; word-break: break-word; height: 20px; line-height: 20px; font-size: 12px; }

#detail_ky_books { background: url(../images/bg_books.gif) no-repeat center top; width: 271px; clear: both; }

#pick_books { margin: 0 auto; text-align: center; padding-top: 5px; }

#pick_books ul li { display: inline; list-style: none; }

#pick_books ul li img { margin-bottom: 8px; width: 94px; border: 1px solid #e1e1e1; padding: 3px; }

#pick_books .left { margin-right: 13px; }

.margin4 { margin: 4px 0 4px 0; }

.detail_brand_txt { margin: 4px 0 4px 0; padding-bottom: 11px; border-bottom: 1px solid #CFCFCF; }

#detail_question { background: url(../images/detail_bg_question.gif) no-repeat right bottom; }

/*content_main */

.contents_header { width: 650px; line-height: 50px; text-align: center; border-bottom: dotted 1px #B2B2B2; font-size: 20px; margin: 0 auto; padding: 10px 0px; }

.contents_header a:link, .contents_header a:active, .contents_header a:visited, .contents_header a:hover { color: #000; font-size: 20px; text-decoration: none; }

.contents_info { text-align: center; background: transparent; margin: 5px 0px 25px 0px; font-size: 12px; position: relative; color: #404040; line-height: 160%; }

.contents_abs { width: 500px; padding: 10px; margin: 10px auto; border: dotted 1px gray; background: #EEEEE; text-align: left; }

.contents_main { width:690px; /*background-image:url(../images/bg_glow_right_new.gif);*/ font-size: 14px; padding: 0 0px; line-height: 180%; }

.contents_main div { font-size: 14px; line-height: 180%; }

.contents_editor { text-align: right; background-repeat: no-repeat; width: 100%; height: 30px; background: white; }

#ArticleCnt { line-height: 200%; margin-left: 15px; margin-right: 10px; font-size: 14px; overflow:hidden;}

#ArticleCnt ul li { font-size: 14px; list-style-type: disc; }

#ArticleCnt ul li ul li { list-style-type: circle; }

#ArticleCnt Ol li { font-size: 14px; list-style-type: decimal; }

#ArticleCnt .time { color: Gray; }

#ArticleCnt .time p { color: Gray; }

#ArticleCnt table { margin: 0px auto; border: 1px solid #C0C0C0; border-collapse: collapse; font-size: 12px;}

#ArticleCnt th, #ArticleCnt td { border: 1px solid #C0C0C0; border-collapse: collapse; padding: 3px; }

#ArticleCnt { text-align: left; font-weight: normal; font-size: 14px; color: #232323; }

#ArticleCnt h1 { margin: 5px auto 5px auto; padding: 0; font-size: 14px; color: #232323; }

#ArticleCnt h2 { margin: 5px auto 5px auto; padding: 0; font-size: 14px; color: #232323; }

#ArticleCnt h3 { margin: 5px auto 5px auto;; padding: 0; font-size: 14px; color: #232323; }

#ArticleCnt h4 { margin: 5px auto 5px auto; padding: 0; font-size: 14px; color: #232323; }

#ArticleCnt ul { margin-left: 50px; }

#ArticleCnt ol { margin-left: 50px; }

#ArticleCnt img { border: none; }

#ArticleCnt strong { font-weight: bold; color: #333; }

#ArticleCnt em { color: #333; }

#ArticleCnt p { margin: 5px 0 5px 0; }

#ArticleCnt td { padding: 5px; }

#atc_rlt { margin-top: 20px; font: normal 14px/26px verdana; text-align: left; width: 620px; }

.rlt_blc { padding-top: 15px; padding-bottom: 25px; text-align: left; }

.li1 { text-align: left; height: 24px; line-height: 24px; overflow: hidden; list-style-position: outside; list-style: none; position: relative; word-break: break-word; font-size: 14px; }

/*content_main */

.question_submit { width: 180px; height: 18px; margin: 0px 5px 0px 15px; float: left; /**margin-top:7px;*/ }

.course_list { border: 1px solid #7AACD1; width: 626px; margin-bottom: 10px; padding-bottom: 10px; padding-top: 10px; }

.course_list td { font-size: 12px; }

a.apply, a.apply:link, a.apply:visited, a.apply:active { display: block; height: 22px; width: 51px; }

.bg_blue { background: #EEF8FD; }

#detail_footer_top { background: url(../images/content_wrap_bottom.gif) no-repeat center top; }

/*
.TopPage{
	border:1px dashed #DCE1E5;
	padding:10px 10px 10px;
	text-align:left;
	background-color:#fff;
	margin-bottom:10px;
	font-size:12px;
	margin-left:40px;
	margin-right:40px;
	line-height:1.8;
}*/

.TopPage { font-size: 14px; background: none; border: 2px solid #EFEFEF; color: #333; margin: 10px 10px 10px 25px; padding: 5px 10px; line-height: 1.8; }

.topinfo { font-weight: bold; }

.toptitle { margin-bottom: 0px; }

.BottomPageNav { text-align: right; margin-top: 10px; margin-right: 10px; }

.BottomPage { margin: 10px 0 16px 0; font-size: 14px; text-align: center; }

.wid50 { width: 50%; }

.big { font-size: 14px; }

.small { font-size: 12px; }

.red { color: #CC0000; }

.gray { color: gray; }

.green { color: green; }

.orange { color: #FF6600; }

.bold { font-weight: bold; }

.blue { color: #165FAF; }

.floatleft { float: left; }

.floatright { float: right; }

.textleft { text-align: left; padding-left: 5px; }

.textright { text-align: right; }

.textcenter { text-align: center; }

.hidden { height: 18px; overflow: hidden; background: transparent; text-align: left; }

.pages { background: transparent; text-align: center; font-size: 14px; margin-bottom: 10px; }

.clear { clear: both; }

.12font { font-size: 12px; }



/* relative pages */

.so_tab { font-size: 14px; font-family: verdana; clear: both; height: 26px; background: url(../images/bg_relative.gif) bottom repeat-x; width: 600px; margin: 0 auto; padding: 0; padding-left: 20px; }

.so_tab a { text-decoration: none; background: none; }

.so_tab .text { font-size: 14px; }

.so_tab .text a { color: #065F93; background: none; font-size: 14px; }

.so_tab .text a:hover { text-decoration: underline; background: white; font-size: 14px; }

.so_tab .text { float: left; background: url(../images/arrow_relative.gif) 0px 12px no-repeat; padding: 6px 8px 0 18px; text-align: left; margin-top: -4px; overflow: hidden; width: 300px; height: 22px; }

.tag a { color: #065F93; background: none; font-size: 14px; padding-left: 8px; }

.tag a:hover { text-decoration: underline; color: #FF6600; }

.tag { /*background:url(/images/arrow_relative.gif) 0px 12px no-repeat;*/ padding: 6px 8px 0 18px; text-align: right; overflow: hidden; /*height:22px;*/ margin-left: 22px; margin-bottom: 10px; /*color:#555;*/ }

.so_tab ul { /*float:left;*/ }

.so_tab li { list-style: none; float: left; border-left: 1px solid #ccc; border-top: 1px solid #ccc; border-right: 1px solid #ccc; height: 24px; background: transparent; margin: 0 7px 0 0; padding: 0 8px 0 8px; cursor: pointer; width: 55px; }

.so_tab h2 { margin: 5px 3px 0 3px; height: 18px; clear: both; font-size: 14px; cursor: pointer; text-align: center; }

.so_tab a.tab { color: #000; text-decoration: none; background: none; }

.so_tab .active { background: #F8FCFE; height: 25px; }

.tab_cnt { padding-top: 10px; font: normal 14px/26px verdana, "ms song", 宋体; text-align: left; width: 630px; border-top: 0; }

.textcenter { font-size: 12px; }

.TopPage div { text-align: left; }


.code { /*background: #fbedbb;*/ background: white; border: #E4E4E4 1px solid; padding: 5px; margin: 0 40px 0 20px; word-wrap: break-word; overflow: auto; }

.error h1 { color: #000000; font-size: 18pt; margin: 20px 0 10px 20px; }

.error h2 { border-bottom: 1px solid #DDDDDD; }

.error p { font-size: 13px; font-family: verdana,arial,sans-serif; margin: 10px 0 10px 20px; color: #000000; }

fieldset { padding-left: 5px; padding-right: 5px; }

.foottop { background: url(/images/foot_bg2.gif) no-repeat left top; width: 998px; height: 32px; font-size: 1px; line-height: 1px; }

.footmid { border-width: 0 1px; border-style: solid; border-color: #AACBEE; width: 996px; }

.footbtm { background: url(/images/foot_bg2.gif) no-repeat left bottom; width: 998px; height: 6px; font-size: 1px; line-height: 1px; }


.list_rt_top { /*background:url(/images/list_rt_top.gif) no-repeat left top;*/ font-size: 1px; height: 35px; line-height: 1px; }

.list_rt_top h3 { text-align: left; font-size: 14px; padding: 12px 10px; line-height: 12px; }

.list_rt_mid { line-height: 160%; background-color: #fcfcfc; }

.list_rt_bt { /*background:url(/images/list_rt_top.gif) no-repeat left bottom;*/ font-size: 1px; height: 3px; line-height: 1px; }

.error h1 { color: #000000; font-family: 宋体; font-size: 18pt; margin: 20px 0 10px 20px; }

.error h2 { border-bottom: 1px solid #DDDDDD; }

.error p { font-size: 13px; font-family: verdana,arial,sans-serif; margin: 10px 0 10px 20px; color: #000000; }


p.tip { background: url(/images/tip.gif) no-repeat; font-size: 12px; position: absolute; padding: 6px 4px 2px; left: 440px; top: 16px; _left: 360px; -top: 16px; }

p.tip a { background: url(/images/close1.gif) no-repeat 140px 5px; color: #666666; display: block; padding-bottom: 2px; padding-right: 18px; }

p.tip a:hover { text-decoration: none; background: url(/images/close2.gif) right 3px no-repeat; }

p.tipoff { display: none; }

.ad_bottom { margin-left: 22px; margin-bottom: 10px; margin: 10px auto; width: 470px; }

blockquote { /*background:url('http://common.cnblogs.com/images/blockquote.gif') no-repeat 0 5px ;
	margin:0 0 15px 0;
	padding-left:4.5em;
	padding-top:1em;
	padding-right:3em;*/ font-size: 14px; background: none; border: 2px solid #EFEFEF; color: #333; margin-left: 25px; padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px; margin-top: 10px; margin-bottom: 10px; }

blockquote p { color: #333; }

.prevnextblock { margin: 10px 10px 10px 15px; border-bottom: 1px dotted #ccc; border-top: 1px dotted #ccc; line-height: 2em; padding: 5px; }

.ad_right_text { text-align: center; margin-bottom: 5px; margin-left: 22px; }

a.hot:visited, a.hot:active, a.hot:link { color: red; font-weight: bold; }

a.hot:hover { color: red; text-decoration: underline; }

.ad_bottom_text { margin-top: 5px; }

/* Side Right */
#right_content li { list-style: none outside none; overflow: hidden; }

.sr_list li { border-bottom: 1px dotted #DDDDDD; padding: 2px; background: transparent url(/images/li_gray_arrow.gif) no-repeat scroll 2px 9px; padding-left: 10px; margin: 0 4px 0px 4px; overflow: hidden; height: 20px; }

.relative_list { margin-left: 22px; margin-bottom: 10px; line-height: 1.8; font-size: 14px; }

.rl_title { font-size: 14px; font-weight: bold; color: #555; margin-bottom: 5px; }

.csharpcode-wrapper { font-size: 12px; font-family: Lucida Console,Monaco,Courier New,mono,monospace; background-color: #f4f4f4; border: 1px solid gray; padding: 4px; margin: 20px 0 10px 0; width: 97%; max-height: 200px; cursor: text; line-height: 1.7em; overflow: auto; color: black; }

.csharpcode { padding: 0; overflow: visible; width: 100%; border: none; background-color: #f4f4f4; }

.csharpcode pre { padding: 0 2px; margin: 0; overflow: visible; width: 100%; }

.csharpcode .alt { background-color: white; }

.csharpcode .alteven { background-color: #f4f4f4; }

.csharpcode .kwrd { color: #00f; }

.csharpcode .html { color: #800000; }

.csharpcode .attr { color: red; }

.csharpcode .cls { color: #800000; }

.csharpcode .rem { color: #008020; }

.csharpcode .str { color: red; }


/*A4ArticleArea*/
#article_A4area { -moz-border-radius: 5px 5px 5px 5px; background-color: #F8F8F8; border: 1px dashed #CCCCCC; height: 20px; margin: 0px auto 0 auto; overflow: hidden; padding: 10px 0 10px 10px; text-align: center; width: 400px; }

#shareA4 { font-size: 14px; font-weight: bold; width: 220px; }

.fl { display: inline; }

/* CodeHighlighter Begin */
.cnblogs_code { background-color: #F7F7F7; font-family: Courier New; font-size: 12px; border: 1px solid #CCCCCC; padding: 5px; word-break: break-all; overflow: auto; line-height: 1.5 !import; margin-top: 5px; }

.cnblogs_code pre { font-family: Courier New; font-size: 12px; }

.cnblogs_code div { font-family: Courier New; font-size: 12px; }

.cnblogs_code span { font-size: 12px; font-family: Courier New; }

.cnblogs_code_Collapse { border-right: #808080 1px solid; border-top: #808080 1px solid; border-left: #808080 1px solid; border-bottom: #808080 1px solid; background-color: #FFF; padding: 2px; }

.cnblogs_code_collapse { border-right: #808080 1px solid; border-top: #808080 1px solid; border-left: #808080 1px solid; border-bottom: #808080 1px solid; background-color: #FFF; padding: 2px; }

.cnblogs_code_hide { display: none; }

.code_img_closed { vertical-align: middle; padding-right: 5px; }

.code_img_opened { vertical-align: middle; padding-right: 5px; }

.cnblogs_code_open { margin-top: 5px; }
/* CodeHighlighter End */

pre { margin-left: 2em; }

br { line-height: 10px; }

#content_bottom { margin-top: 20px; }

#side_right_search { margin-left: 2px; width: 300px; }

#side_right_search input { }

#side_right_search input { vertical-align: middle; }


#search_box { height: 22px;width: 205px; }
#search_button { height: 26px; width: 80px; }

pre { white-space: pre-wrap; /* css-3 */ white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */ white-space: -pre-wrap; /* Opera 4-6 */ white-space: -o-pre-wrap; /* Opera 7 */ word-wrap: break-word; /* Internet Explorer 5.5+ */ }

/*#ArticleCnt p{
white-space: pre-wrap; 
white-space: -moz-pre-wrap !important;
white-space: -pre-wrap;
white-space: -o-pre-wrap;
word-wrap: break-word;
}*/

/*#region vote */

#div_digg { margin: 10px auto; font-size: 12px; width: 120px; text-align: center; }

.diggit { float: left; width: 46px; height: 52px; background: url('http://static.cnblogs.com/images/upup.gif') no-repeat; text-align: center; cursor: pointer; margin-top: 2px; padding-top: 5px; }

.diggnum { font-size: 14px; color: #075DB3; font-family: Verdana; }

.buryit { float: right; margin-left: 20px; width: 46px; height: 52px; background: url('http://static.cnblogs.com/images/downdown.gif') no-repeat; text-align: center; cursor: pointer; margin-top: 2px; padding-top: 5px; }

.burynum { font-size: 14px; color: #075DB3; font-family: Verdana; }

.digg-tips { margin-top: 5px; margin-left: 0px; font-size: 12px; color: red; }

/*#endregion*/

#zzk_search { margin-left: 0px; }

#zzk_q { width: 210px; height: 26px; }

#zzk_btn { width: 80px; margin-left: 5px; height: 28px; line-height: 24px; /*针对IE*/ font-size: 12px; }

input::-moz-focus-inner { border: 0; padding: 0; }

#google_search_q { height:20px; }
