@charset "utf-8";

/* css reset www.admin10000.com */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; } 
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial,Helvetica, sans-serif; }
td,th,caption { font-size:14px; text-align:left; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
pre { font-family:Verdana, Arial, Helvetica, sans-serif; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1;}
	

body { background:#d8d6d7 url(body_bg.jpg) repeat left top;}

#miniNav { width:100%;  background:#cecece url(top_bg.jpg) repeat left top; border-bottom:1px solid #bbb; }
#miniNav .mini { width:940px; height:36px; margin:0 auto; padding:10px 10px 0px 10px; background:#fefbf6;}
#miniNav .mini .l { float:left; height:30px;}
#miniNav .mini .l img { vertical-align:middle; margin-right:8px; float:left;  }
#miniNav .mini .l a { font-family:"Microsoft YaHei"; font-size:14px; vertical-align:middle; float:left; }

#miniNav .mini .m1 { float:left;  margin-left:25px; width:130px; height:24px; border:1px solid #fefbf6;  }
#miniNav .mini .m2 { float:left;  margin-left:10px; width:130px; height:24px; border:1px solid #fefbf6; }
#miniNav .mini .m3 { float:left;  margin-left:10px; width:180px; height:24px; border:1px solid #fefbf6;  }

#miniNav .mini .r { float:right; }
#miniNav .mini .r img { vertical-align:middle; margin-left:12px; }
#miniNav .mini .r a { font-family:"Microsoft YaHei"; font-size:14px; vertical-align:middle; margin-left:6px;  }

#header { width:960px; height:90px; margin:0 auto; margin-bottom:0px; background:#fff; margin-top:0px;}
#header .logo { width:215px; height:90px;  background:url(logo.jpg) no-repeat left top; float:left;  }
#header .logo a { float:left; width:215px; height:90px; }
#header .banner { width:728px; height:90px; float:right; }

#nav { width:942px; height:86px; margin:0 auto; margin-bottom:0px; padding:8px 0px 0px 18px; background:#3b4f68 url(bg_nav.jpg);}
#nav ul { overflow:auto; }
* html #nav ul { overflow:visible; height:1%;}
#nav ul li { float:left;  text-align:center; line-height:185%; margin-right:17px; }
#nav ul li.end { margin-right:0px;}
#nav ul li a { font-family:"Microsoft YaHei"; font-size:15px; color:#fff; text-decoration:none;}
#nav ul li a:hover { text-decoration:underline; }


#search { width:956px; height:30px; margin:0 auto; padding:2px; padding-top:4px; background:#eee;}
#search .box { font-family:Tahoma,Arial; width:950px; white-space:nowrap;overflow:hidden; padding-left:5px; }
#search .box input.searchKeyword { width:160px; height:22px; padding:1px; vertical-align:middle; border:1px solid #aaa; line-height:20px; margin-right:3px; background:url(textbox_bg.gif) left top no-repeat; }
#search .box input.searchButton { width:72px; height:26px; background: #fff url(btn_search.gif) no-repeat left center; border:1px solid #aaa; vertical-align:middle; cursor:pointer; }
#search .box input.tagButton { width:90px; height:26px; background: #fff url(btn_tag.gif) no-repeat left center;  border:1px solid #aaa; vertical-align:middle; margin-right:4px; cursor:pointer;}
#search .box span.tagList { vertical-align:middle; }
#search .box span.tagList a { font-size:12px; margin-right:2px;}
#search .box span.tagList a:hover { color:#c10; }

#position {font-family: Arial,sans-serif; }
#position { width:902px; height:40px;  line-height:40px; margin:0 auto; margin-top:1px;  margin-bottom:1px; padding:0px 6px; padding-left:52px; background:#eee url(bg_position.gif) no-repeat 10px 50%; }
#position img { float:left; margin-right:6px; margin-top:8px; vertical-align:middle;}
#position a { float:left; margin-right:8px; vertical-align:middle; }
#position span {float:left; margin-right:8px;  vertical-align:middle;}

#footer { width:100%; height:90px; margin:0 auto; margin-top:10px; }
#footer .link  { margin-top:26px; text-align:center; font-size:12px; }
#footer .copyright { font-size:12px; text-align:center; margin-top:7px; }
#footer .copyright strong {font-weight:bold;}

#flinks { width:940px; height:150px; margin:0 auto; border:1px solid #bbb; padding:10px; margin-top:10px; }
#flinks h2 { font-weight:bolder; height:30px; }
#flinks .links { line-height:180%; }
#flinks .links a { margin-right:15px; }


/* 翻页导航样式 */
.pageBar { margin:16px 0px; overflow:auto; }
* html .pageBar { height:1%; overflow:visible; } 
.pageBar .pageBox { text-align:center; float:none; margin:4px 0px;}
.pageBar .pageBox a,.pageBar .pageBox span,.pageBar .pageBox input { color:#555; font-size:14px; padding:3px 6px; margin-right:4px; vertical-align:middle; border:1px solid #aaa;  display:inline-block;} 
.pageBar .pageBox a{ text-decoration:none;}
.pageBar .pageBox a:hover { background:#eee; }
.pageBar .pageBox span.omit{ border:none; padding:0;  margin:0 2px 0 -2px; }
.pageBar .pageBox span.current { font-weight:bold; color:#fff; border:1px solid #0e3252; background:#1c62a2; }
 /* .pageBar .pageBox span.current { font-weight:bold; color:#fff; border:1px solid #cc0000; background:#f2813c; }  当前页按钮 橙色调 */
 /* .pageBar .pageBox span.current { font-weight:bold; color:#fff; border:1px solid #004040; background:#006666; }  当前页按钮 绿色调 */
.pageBar .pageBox span.disabled { }
.pageBar .pageBox span.count {  }
.pageBar .pageBox span.count strong { }
.pageBar .pageBox input {   } 
* html .pageBar .pageBox a,* html .pageBar .pageBox span { zoom:1 }
* + html .pageBar .pageBox a,* + html .pageBar .pageBox span { zoom:1 }


.commentBox { width:636px; border:1px solid #bbb; margin:10px auto; padding:14px; }
.commentBox .head { height:30px; border-bottom:1px solid #ccc;  font-weight:bold;  margin-bottom:10px; }
.commentBox .head .commLoading { color:#c10;  }
.commentBox .list ul li { min-height:60px; border-bottom:1px dotted #bbb; margin-bottom:8px; overflow:auto; padding:12px 0px;}
* html .commentBox .list ul li { height:60px; overflow:visible; height:1%; }
.commentBox .list ul li .l { float:left; width:60px; }
.commentBox .list ul li .l img { width:54px; height:54px; border:none;}
.commentBox .list ul li .r { float:right; width:560px;}
.commentBox .list ul li .r div.commInfo {  color:#0d4ac6; font-size:12px;  height:22px; }
.commentBox .list ul li .r div.commBody { line-height:165%; word-wrap:break-word;overflow-x:hidden; }

.commentBox .form div.title { margin-bottom:5px; font-weight:bold;}
.commentBox .form div.title span { float:right; margin-right:15px; font-weight:normal;}

.commentBox .form div.content textarea.c_body { width:618px; height:100px; border:1px solid #bbb; padding:4px; background:url(textbox_bg.gif) left top no-repeat; }
.commentBox .form div.submit {height:30px; margin-top:8px; line-height:30px;}
.commentBox .form div.submit input.c_submitButton {  float:right;font-size:12px; width:88px; height:26px; border-style:none; background:url(btn.gif) no-repeat left center; }
.commentBox .form div.submit span#commentBodyCount {  float:right; margin-right:10px; }

.relation { margin:16px 16px;  border:1px solid #bbb; }
.relation .title { padding:6px; padding-left:10px; font-weight:bold; color:#c10; border-bottom:1px solid #bbb; background-color:#eee;}
.relation .content { padding:6px; line-height:180%; overflow:auto;}
* html .relation .content { overflow:visible; height:1%; }
.relation .content ul { float:left; width:320px; }
.relation .content ul li { padding-left:26px; background:url(dot.gif) no-repeat left center;}


.hotBox { width:250px; border:1px solid #bbb; margin-bottom:2px; background:#fff url(bg_box.jpg) left top repeat-x; }
.hotBox.no { margin-bottom:0; }
.hotBox .title { height:40px; line-height:40px; margin:0px 8px; font-family:"Microsoft YaHei"; font-weight:bold; border-bottom:1px solid #bbb;}
.hotBox .content { padding:5px; line-height:180%;}
.hotBox .content ul { white-space:nowrap; overflow:hidden; width:240px; }
.hotBox .content ul li{ padding-left:24px; background:url(dot.gif) left center no-repeat; }
.hotBox .content ul li.order_1 { padding-left:26px; background-image:url(order_1.gif); }
.hotBox .content ul li.order_2 { padding-left:26px; background-image:url(order_2.gif); }
.hotBox .content ul li.order_3 { padding-left:26px; background-image:url(order_3.gif); }
.hotBox .content ul li.order_4 { padding-left:26px; background-image:url(order_4.gif); }
.hotBox .content ul li.order_5 { padding-left:26px; background-image:url(order_5.gif); }
.hotBox .content ul li.order_6 { padding-left:26px; background-image:url(order_6.gif); }
.hotBox .content ul li.order_7 { padding-left:26px; background-image:url(order_7.gif); }
.hotBox .content ul li.order_8 { padding-left:26px; background-image:url(order_8.gif); }
.hotBox .content ul li.order_9 { padding-left:26px; background-image:url(order_9.gif); }
.hotBox .content ul li.order_10 { background-image:url(order_10.gif); }

.tags { margin:12px 16px; font-size:12px;  }
.tags img { margin-right:8px; vertical-align:middle; }
.tags a {  font-size:12px; vertical-align:middle;  text-decoration:underline; }

/* ad */
.ad_728x90 { width:728px; height:90px; background:#fff url(ad_bg_728x90.jpg) no-repeat left center; }
.ad_250x250 { margin-bottom:2px; width:250px; height:250px; background:#fff url(ad_bg_250x250.jpg) no-repeat left center;  }
.ad_250x250_sogou { margin-bottom:2px; padding:5px 0 5px 0; width:250px; height:250px; background:#fff url(bg_box.jpg) left top repeat-x; border:1px solid #bbb; overflow:hidden;}
.ad_336x280 { margin:0 auto;width:336px; height:280px; background:#fff url(ad_bg_336x280.jpg) no-repeat left center;}
.ad_580x90_sogou {  margin:0 auto;width:580px; height:90px; }
.ad_640x90 { margin:0 auto;width:640px; height:90px; background:#fff url(ad_bg_640x90.jpg) no-repeat left center;}

/* text style */
.textStyle a { color:#0d4ac6; }
.textStyle a:hover { }
.textStyle h1 a { color:#0d4ac6; text-decoration:none;  }
.textStyle h1 a:hover { text-decoration:none; }
.textStyle h2 a { color:#0d4ac6; text-decoration:none;  }
.textStyle h2 a:hover { text-decoration:none; }
.textStyle h3 a { color:#0d4ac6; text-decoration:none;  }
.textStyle h3 a:hover { text-decoration:none; }
.textStyle h4 a { color:#0d4ac6; text-decoration:none;  }
.textStyle h4 a:hover { text-decoration:none; }
.textStyle h5 a { color:#0d4ac6; text-decoration:none;  }
.textStyle h5 a:hover { text-decoration:none; }
.textStyle h6 a { color:#0d4ac6; text-decoration:none;  }
.textStyle h6 a:hover { text-decoration:none; }

.textStyle table { border:1px solid #ccc; }
.textStyle table td{ border:1px solid #ccc; padding:4px;}
.textStyle table th{ border:1px solid #ccc; padding:4px; font-weight:bold; text-align:center; }
.textStyle strong { font-weight:bold; }
.textStyle em { font-family:"Microsoft YaHei"; font-style:italic; }

.textStyle p { margin:10px 0px; }
.textStyle h1 { margin:14px 0px;font-family:"Microsoft YaHei"; font-weight:bold; font-size:24px; }
.textStyle h2 { margin:14px 0px;font-family:"Microsoft YaHei"; font-weight:bold; font-size:20px; }
.textStyle h3 { margin:14px 0px;font-family:"Microsoft YaHei"; font-weight:bold; font-size:18px; }
.textStyle h4 { margin:14px 0px;font-family:"Microsoft YaHei"; font-weight:bold; font-size:16px; }
.textStyle h5 { margin:14px 0px;font-family:"Microsoft YaHei"; font-weight:bold; font-size:14px; }
.textStyle h6 { margin:14px 0px;font-family:"Microsoft YaHei"; font-weight:bold; font-size:12px; }
.textStyle ul { margin:8px 0px; margin-left:30px;}
.textStyle ul li { padding-left:24px; background:url(list-style.gif) no-repeat left top; }
.textStyle ol { margin:8px 0px; margin-left:30px; }
.textStyle ol li { list-style-type:decimal; margin-left:30px;}
.textStyle pre { border:1px solid #ccc; padding:8px; background:#f3f3f3; font-family:Arial; margin:8px 0px;}
.textStyle blockquote { background:#f3f3f3; border:1px solid #f3f3f3; border-left:10px solid #ccc; margin-left:12px; padding:6px 12px; }

/*---------------------------- Index -----------------------------*/
#indexPage { }
#indexPage #main { margin:0 auto; width:960px; background:#fff;} 
#indexPage #main .top1 { height:376px;  margin-bottom:1px;  }

#indexPage #main .top1 .hotDocument { float:left; width:300px; height:362px; margin-right:1px; background:#eee; border:1px solid #bbb; padding:6px;  }
* html #indexPage #main .top1 .hotDocument { padding-right: 2px;  }
#indexPage #main .top1 .hotDocument .list { padding:4px;line-height:185%; }
#indexPage #main .top1 .hotDocument .list ul{  white-space:nowrap; overflow:hidden; width:298px; }
#indexPage #main .top1 .hotDocument .list ul li { padding-left:26px; background:url(dot_hot.gif) no-repeat left center;}

#indexPage #main .top1 .recommendDocument { float:left; width:374px; _width:370px; height:374px; margin-right:1px; border:1px solid #bbb; background:#fff url(bg_recommend_document.jpg) left top repeat-x; }
#indexPage #main .top1 .recommendDocument .topline {  }
#indexPage #main .top1 .recommendDocument .topline h2 {text-align:center; padding:14px 6px 6px 4px; font-family:"Microsoft YaHei";font-size:16px; font-weight:bold; color:#c10; }
#indexPage #main .top1 .recommendDocument .topline h2 a { color:#c10; }
#indexPage #main .top1 .recommendDocument .topline p {font-size:12px; padding:5px 8px; line-height:150%; }
#indexPage #main .top1 .recommendDocument .topline p a { color:#c10; margin-left:5px;}
#indexPage #main .top1 .recommendDocument .list { padding:6px 6px 0px 6px;}
#indexPage #main .top1 .recommendDocument .list ul{ white-space:nowrap; overflow:hidden; width:358px; }
#indexPage #main .top1 .recommendDocument .list ul li { line-height:185%; }
#indexPage #main .top1 .recommendDocument .list ul li a.red  { color:#c10; }



#indexPage #main .top1 .recommendResource { float:left; width:266px; height:374px; border:1px solid #bbb; background:#fff url(bg_recommend_resource.jpg) repeat-x left top; }
#indexPage #main .top1 .recommendResource .list { padding:5px; }
#indexPage #main .top1 .recommendResource .list ul { }
#indexPage #main .top1 .recommendResource .list ul li { font-size:12px; height:70px;  margin-bottom:3px;}
#indexPage #main .top1 .recommendResource .list ul li img { float:left; margin-right:6px; }
#indexPage #main .top1 .recommendResource .list ul li strong {font-family:"Microsoft YaHei";  font-weight:bold;  display:block;  margin-bottom:2px; }
#indexPage #main .top1 .recommendResource .list ul li a { font-size:12px; }



#indexPage #main .middle { overflow:auto; margin-top:2px;}
* html #indexPage #main .middle {overflow:visible; height:1%;}
#indexPage #main .left { min-height:1344px; width:707px; float:left; }
* html #indexPage #main .left { height:1344px; }
#indexPage #main .right { min-height:1344px; width:252px; float:right;}
* html #indexPage #main .right { height:1344px; }


#indexPage #main .cateStyle1 { height:376px; border:1px solid #bbb; background:#fff url(bg_box.jpg) repeat-x left top; margin-bottom:1px;}
#indexPage #main .cateStyle1.no { margin-bottom:0px;}
#indexPage #main .cateStyle1 .title { height:40px; line-height:40px; border-bottom:1px solid #bbb; margin:0px 10px; }
#indexPage #main .cateStyle1 .title strong { font-weight:bold; }
#indexPage #main .cateStyle1 .title strong a:hover { color:#c10; }
#indexPage #main .cateStyle1 .title div { float:right;}
#indexPage #main .cateStyle1 .title div a { margin:0 10px;}
#indexPage #main .cateStyle1 .title div a:hover { color:#c10;}
#indexPage #main .cateStyle1 .content { height:318px; padding:6px; background:url(bg_line.jpg) no-repeat 320px 10px;}
#indexPage #main .cateStyle1 .content .l { float:left; width:312px;  margin-right:10px;}
#indexPage #main .cateStyle1 .content .l img { width:300px; height:226px;}
#indexPage #main .cateStyle1 .content .l strong { display:block;  font-family:"Microsoft YaHei"; font-size:15px; font-weight:bold; white-space:nowrap; overflow:hidden; width:276px; margin-top:8px; text-align:center; }
#indexPage #main .cateStyle1 .content .l strong a:hover {  color:#c10;}
#indexPage #main .cateStyle1 .content .l p { font-size:12px; line-height:150%;  margin-top:8px; margin-left:4px; }
#indexPage #main .cateStyle1 .content .l p a { color:#c10; }
#indexPage #main .cateStyle1 .content .r { float:left; width:360px; }
#indexPage #main .cateStyle1 .content .r strong { display:block;  font-family:"Microsoft YaHei"; font-size:15px; font-weight:bold;  margin-top:10px; text-align:center; }
#indexPage #main .cateStyle1 .content .r strong a:hover { color:#c10;}
#indexPage #main .cateStyle1 .content .r p {margin-left:10px; font-size:12px; line-height:165%; margin-top:12px;  }
#indexPage #main .cateStyle1 .content .r p a { color:#c10;}
#indexPage #main .cateStyle1 .content .r ul { white-space:nowrap; overflow:hidden; width:340px; margin-top:8px; margin-left:10px; }
#indexPage #main .cateStyle1 .content .r ul li {padding-left:26px; background:url(dot_document.gif) no-repeat left center; line-height:185%;}


#indexPage #main .cateStyle2 {  height:330px;border:1px solid #bbb; background:#fff url(bg_box.jpg) repeat-x left top; margin-bottom:1px;}
#indexPage #main .cateStyle2.no { margin-bottom:0px;}
#indexPage #main .cateStyle2 .title {  height:40px; line-height:40px; border-bottom:1px solid #bbb; margin:0px 10px; }
#indexPage #main .cateStyle2 .title strong { font-weight:bold; }
#indexPage #main .cateStyle2 .title strong a:hover { color:#c10; }
#indexPage #main .cateStyle2 .title div { float:right; font-size:14px;}
#indexPage #main .cateStyle2 .title div a { margin:0 10px;}
#indexPage #main .cateStyle2 .title div a:hover { color:#c10;}
#indexPage #main .cateStyle2 .content { height:270px;  padding:6px;}
#indexPage #main .cateStyle2 .content .box { float:left; width:328px; padding:6px; margin-right:3px;}
#indexPage #main .cateStyle2 .content .box.no { margin-right:0px;}
#indexPage #main .cateStyle2 .content .box .mixed { height:102px; margin-bottom:4px;}
#indexPage #main .cateStyle2 .content .box img {float:left; width:120px; height:90px; margin-right:6px; }
#indexPage #main .cateStyle2 .content .box strong {display:block;  font-family:"Microsoft YaHei"; font-weight:bold; margin-bottom:8px; }
#indexPage #main .cateStyle2 .content .box strong a { color:#c44b08;}
#indexPage #main .cateStyle2 .content .box p { display:inline; font-size:12px; line-height:150%; }
#indexPage #main .cateStyle2 .content .box ul { width:328px; white-space:nowrap; overflow:hidden; }
#indexPage #main .cateStyle2 .content .box ul li { padding-left:26px; background:url(dot_document.gif) no-repeat left center;line-height:185%;  }



/*---------------------------- Category --------------------------*/
#categoryPage {}
#categoryPage #main { margin:0 auto; width:960px;  overflow:auto; background:#fff; }
* html #categoryPage #main { overflow:visible; height:1%;}
#categoryPage #main .left { min-height:600px; width:704px; float:left; background:#FFF;  }
* html #categoryPage #main .left { height:600px; }
#categoryPage #main .right { min-height:600px; width:252px; float:right;background:#fff;   }
* html #categoryPage #main .right { height:600px; }
#categoryPage #main .list {  padding:12px 20px 8px 12px; }
#categoryPage #main .list .document ul { }
#categoryPage #main .list .document ul li { margin-bottom:20px;}
#categoryPage #main .list .document ul li .head { margin-bottom:10px; width:670px;  word-wrap:break-word; overflow:hidden;  }
#categoryPage #main .list .document ul li .head h2 {  font-family:"Microsoft YaHei"; padding-bottom:4px; margin-bottom:6px; font-size:20px; font-weight:bold; background:url(bg_line2.jpg) left bottom no-repeat; }
#categoryPage #main .list .document ul li .head h2 a { }
#categoryPage #main .list .document ul li .head h2 a:hover { color:#c10; text-decoration:none;}
#categoryPage #main .list .document ul li .head span { margin-right:46px; font-size:12px; vertical-align:middle; }
#categoryPage #main .list .document ul li .head img { margin-right:4px; vertical-align:middle; }
#categoryPage #main .list .document ul li .body { overflow:auto; }
* html #categoryPage #main .list .document ul li .body { overflow:visible; height:1%; }
#categoryPage #main .list .document ul li .body .l { float:left; width:132px; height:110px; }
#categoryPage #main .list .document ul li .body .l img { width:130px; height:98px; }
#categoryPage #main .list .document ul li .body .r { float:right; margin-top:10px; width:520px; word-wrap:break-word; overflow-x:hidden;  }
#categoryPage #main .list .document ul li .body .r p { line-height:160%; }
#categoryPage #main .list .document ul li .foot { height:27px;  }
#categoryPage #main .list .document ul li .foot .l { float:left; padding:0px 4px; width:540px; height:25px; font-size:12px;  line-height:25px; }
#categoryPage #main .list .document ul li .foot .l img {  vertical-align:middle; margin-right:6px; }
#categoryPage #main .list .document ul li .foot .l a { vertical-align:middle; font-size:12px; }
#categoryPage #main .list .document ul li .foot .r { float:right; width:90px; height:25px; line-height:25px; }
#categoryPage #main .list .document ul li .foot .r img {  vertical-align:middle; margin-right:6px; }
#categoryPage #main .list .document ul li .foot .r a { vertical-align:middle; }
#categoryPage #main .list .document ul li .foot .r a:hover {  color:#c10; }

#categoryPage #main .list .documentSimple ul { }
#categoryPage #main .list .documentSimple ul li { margin-bottom:20px;}
#categoryPage #main .list .documentSimple ul li h2 {  font-family:"Microsoft YaHei"; padding-bottom:4px; margin-bottom:6px; font-size:20px; font-weight:bold; background:url(bg_line2.jpg) left bottom no-repeat; }
#categoryPage #main .list .documentSimple ul li h2 a { }
#categoryPage #main .list .documentSimple ul li h2 a:hover { color:#c10; text-decoration:none;}
#categoryPage #main .list .documentSimple ul li span { margin-right:46px; font-size:14px; vertical-align:middle; }
#categoryPage #main .list .documentSimple ul li img { margin-right:4px; vertical-align:middle; }
#categoryPage #main .list .documentSimple ul li span a { }
#categoryPage #main .list .documentSimple ul li span a:hover { color:#c10; text-decoration:underline;}

#categoryPage #main .list .resource ul { }
#categoryPage #main .list .resource ul li { margin-bottom:27px;  overflow:auto; }
* html #categoryPage #main .list .resource ul li { overflow:visible; height:1%; }
#categoryPage #main .list .resource ul li .l { float:left;  height:70px;  }
#categoryPage #main .list .resource ul li .l img { }
#categoryPage #main .list .resource ul li .r { float:right; width:586px; word-wrap:break-word; overflow:hidden;}
#categoryPage #main .list .resource ul li .r h2 { font-family:"Microsoft YaHei"; padding-bottom:12px; margin-bottom:5px; font-size:20px; font-weight:bold; background:url(bg_line2.jpg) left bottom no-repeat; }
#categoryPage #main .list .resource ul li .r h2 a { }
#categoryPage #main .list .resource ul li .r h2 a:hover { color:#c10;}
#categoryPage #main .list .resource ul li .r span { margin-right:46px; font-size:12px; vertical-align:middle; }
#categoryPage #main .list .resource ul li .r img { margin-right:4px; vertical-align:middle; }

/*---------------------------- Document --------------------------*/
#documentPage {}
#documentPage #main { margin:0 auto; width:960px; overflow:auto;background:#fff; }
* html #documentPage #main { overflow:visible; height:1%;}

#documentPage #main .left { min-height:600px; width:702px;  float:left;  background:#f9f9f9; }
* html #documentPage #main .left { height:600px; }
#documentPage #main .right { min-height:600px; width:252px;  float:right; background:#fff;  }
* html #documentPage #main .right { height:600px; }
#documentPage #main h1.heading { font-family:"Microsoft YaHei"; margin:12px 0px; padding:4px 10px; line-height:120%; font-size:24px; text-align:center; font-weight:bold;}
#documentPage #main .docInfo { height:30px; line-height:30px; font-size:12px; text-align:center;}
#documentPage #main .docInfo span { margin-right:10px; }
#documentPage #main .docInfo a{ font-size:12px; }
#documentPage #main .docInfo a:hover { color:#c10;  }


#documentPage #main .share { width:560px; height:35px; margin:0 auto; margin-top:15px; margin-bottom:25px; overflow:auto; }
#documentPage #main .share .l { float:left; margin-right:10px; }
#documentPage #main .share .r { float:left; }
#documentPage #main .share .r img { cursor:pointer; }


#documentPage #main .texttip { margin-top: 6px; margin-left:40px;}
#documentPage #main .texttip a { color:#0d4ac6; }
#documentPage #main .texttip a:hover { }

#documentPage #main .body { min-height:100px; margin:3px 15px 3px 15px; line-height:170%; word-wrap:break-word; overflow-x:hidden;}
* html #documentPage #main .body { height:100px; }

#documentPage #main .pageNav { margin:10px 16px; text-align:center;}
#documentPage #main .pageNav a {font-family:"Microsoft YaHei";  border:1px solid #ccc; font-size:12px; padding:4px 8px; margin-right:4px; display:inline-block; text-decoration:none; color:#555;}
#documentPage #main .pageNav a.current { color:#fff; border:1px solid #c00; background:#f2813c; }

#documentPage #main .weixin { margin:10px auto; width:672px; height:150px; line-height:180%; background:#fff url(weixin.jpg) no-repeat; }


#documentPage #main .tip { color:#c10; margin:15px 20px 10px 20px; line-height:180%;}
#documentPage #main .tip a { color:#c10; }
#documentPage #main .tip a:hover { }

/*---------------------------- Resource --------------------------*/
#resourcePage {}
#resourcePage #main { margin:0 auto; width:960px; overflow:auto; background-color:#fff; }
* html #resourcePage #main { overflow:visible; height:1%; }

#resourcePage #main .left { min-height:600px; width:702px;  float:left;  background:#f9f9f9; }
* html #resourcePage #main .left { height:600px; }
#resourcePage #main .right { min-height:600px; width:252px;  float:right; background-color:#fff;}
* html #resourcePage #main .right { height:600px; }
#resourcePage #main h1.heading{ font-family:"Microsoft YaHei"; margin:12px 0px; padding:4px 10px; line-height:120%; font-size:24px; text-align:center;  font-weight:bold;  }
#resourcePage #main .resInfo { height:30px; line-height:30px; font-size:12px; text-align:center; }
#resourcePage #main .resInfo span { margin-right:10px; }
#resourcePage #main .resInfo a{ font-size:12px;  }
#resourcePage #main .resInfo a:hover { color:#c10;}

#resourcePage #main .share { width:520px; height:35px; margin:0 auto; margin-top:15px; margin-bottom:25px;  overflow:auto }

#resourcePage #main .download { margin:20px 16px 5px 16px; line-height:150%; text-align:center; }
#resourcePage #main .download a { text-decoration:underline;}
#resourcePage #main .download a:hover { }

#resourcePage #main .intro { margin:6px 16px; min-height:40px; line-height:170%; word-wrap:break-word; overflow-x:hidden; }
* html #resourcePage #main .intro { height:40px; }

#resourcePage #main .weibo { text-align:center; margin:6px 16px; line-height:180%; }

#resourcePage #main .tip { color:#c10; margin:15px 20px 10px 20px; line-height:180%; }


/*---------------------------- Tag --------------------------*/
#tagPage {}
#tagPage #main { margin:0 auto; width:960px; min-height:400px; overflow:auto; background-color:#fff;}
* html #tagPage #main { height:400px; height:1%;}

#tagPage #main .listBox { height:200px; margin-bottom:10px; }
#tagPage #main .listBox .title { padding:8px 12px 8px 8px; font-weight:bold; border-bottom:1px solid #ccc;  }
#tagPage #main .listBox .content { padding:8px 12px 8px 8px; line-height:200%; word-wrap:break-word;}
#tagPage #main .listBox .content a  { white-space:nowrap; }

#tagPage #main .left { min-height:400px; width:704px;  float:left; background-color:#fff; }
* html #tagPage #main .left { height:400px; }
#tagPage #main .right { min-height:400px; width:252px;  float:right; background-color:#fff;}
* html #tagPage #main .right { height:400px; }
#tagPage #main .model { height:30px; margin-top:5px; }
#tagPage #main .model a { float:left; width:100px; height:26px; border:1px solid #ccc; line-height:30px; text-align:center; margin-right:10px;}
#tagPage #main .model a.current {  background:#1c62a2;color:#fff; }
#tagPage #main .list { padding:8px 20px 8px 8px; line-height:200%; }
#tagPage #main .list ul li { padding-left:26px; background:url(dot.gif) no-repeat left center; }
#tagPage #main .list ul li span  { float:right; }

/*---------------------------- Search ----------------------------*/
#searchPage {}
#searchPage #main { margin:0 auto; width:960px; min-height:400px; overflow:auto;  background-color:#fff;}
* html #searchPage #main { height:400px; height:1%; }
#searchPage #main table.adSearchTable { width:420px; margin-top:30px;}
#searchPage #main table.adSearchTable th { padding:5px; background:#eee; border:1px solid #ccc; }
#searchPage #main table.adSearchTable tr { }
#searchPage #main table.adSearchTable td { padding:5px; border:1px solid #ccc;  }
#searchPage #main table.adSearchTable td select { }
#searchPage #main table.adSearchTable td input { }
#searchPage #main table.adSearchTable td input.btnSearch { width:88px; height:26px; border-style:none; background:url(btn.gif) no-repeat left center; padding:0px; }

#searchPage #main .left { min-height:400px; width:704px; float:left; background-color:#fff;}
* html #searchPage #main .left { height:400px; }
#searchPage #main .right { min-height:400px; width:252px; float:right; background-color:#fff;}
* html #searchPage #main .right { height:400px; }

#searchPage #main .list { padding:8px 20px 8px 8px; line-height:200%;}
#searchPage #main .list ul li { padding-left:26px; background:url(dot.gif) no-repeat left center; }
#searchPage #main .list ul li span  { float:right;  }


/*---------------------------- About ----------------------------*/
#aboutPage {}
#aboutPage #main { margin:0 auto; width:960px; min-height:600px; overflow:auto; background-color:#fff;}
* html #aboutPage #main { height:600px; height:1%; }
#aboutPage #main .left { min-height:600px; width:252px; float:left; background-color:#fff;}
* html #aboutPage #main .left { height:600px; }
#aboutPage #main .right { min-height:600px; width:704px; float:right;background-color:#fff;}
* html #aboutPage #main .right { height:600px; }
#aboutPage #main .heading {font-family:"Microsoft YaHei"; font-size:18px; font-weight:bold; color:#c10; height:50px; line-height:50px; text-align:center;}
#aboutPage #main .body { line-height:180%; padding:10px;}
#aboutPage #main .body p { }
#aboutPage #main .body strong { font-weight:bolder; }

#aboutPage #main ul.contact { list-style-type:none;  margin:0; padding:0; overflow:auto; }
* html #aboutPage #main ul.contact { overflow:visible; height:1%; }
#aboutPage #main ul.contact li { float:left; line-height:160%; padding:12px;}
#aboutPage #main ul.contact li img { float:left; margin-right:10px; }

#aboutPage #main table.feedbackTable { width:630px; border-collapse:separate; }
#aboutPage #main table.feedbackTable th { width:140px; padding:5px; background:#eee; border:1px solid #bbb; }
#aboutPage #main table.feedbackTable tr { }
#aboutPage #main table.feedbackTable td { padding:5px; border:1px solid #bbb; }
#aboutPage #main table.feedbackTable td input.f_submitButton { width:88px; height:32px; border-style:none; background:url(btn.gif) no-repeat left center; padding:0px;   }
#aboutPage #main table.feedbackTable td.submit { border:none; padding-top:16px;}