#doyoo_monitor *{margin:0;padding:0}
#doyoo_monitor{position:absolute;display:none;z-index:18000;height:233px;}
#doyoo_monitor div{font-size:12px;overflow:hidden;background-image:none;background-color:transparent;
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;word-break:break-all;line-height:20px;text-align:left;}

#doyoo_monitor div#doyoo_mon_head{height:30px;line-height:30px;font-color:14px;color:#FFFFFF;font-weight:bold;margin-left:15px;margin-right:40px}
#doyoo_mon_main{height:130px;background-repeat:repeat-x;text-indent:20px;margin:7px 100px 0 10px;color:#000;}

#doyoo_mon_foot{width:100%;height:30px;position:absolute;left: 0;bottom:15px}
.doyoo_mon_btn{width:95px;height:30px;display:block;cursor:pointer;z-index:18001;float:left;background-repeat:no-repeat;background-position:center center}
#doyoo_mon_accept{margin-left:20px; }
#doyoo_mon_phone{margin-left:10px;}
#doyoo_mon_refuse{margin-left:10px;}
#doyoo_mon_closer{position:absolute;top:5px;right:14px;width:15px;height:15px;cursor:pointer}
#doyoo_mon_mask{position:absolute;left:0;top:0;background-color:#000000;FILTER:alpha(opacity=60);z-index:7999;opacity: 0.6;-moz-opacity: 0.6;display:none;}


#looyu_leave{position:absolute;left:-400px;top:-400px;width:100px;	height:100px;}
#doyoo_panel a{text-decoration:none}
#doyoo_panel{z-index:8000;margin:0px;padding:0px;overflow:hidden;cursor:pointer;-webkit-transform: translateZ(0px)}

#doyoo_panel div{overflow:hidden;font-size:12px;float:none;background:none;FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans",sans-serif;word-break:break-all;text-align:left;margin:0px;padding:0px;line-height:14px;position:static;z-index:8000;SCROLLBAR-FACE-COLOR: #cccccc; SCROLLBAR-HIGHLIGHT-COLOR: #efefef; SCROLLBAR-SHADOW-COLOR: #efefef; SCROLLBAR-3DLIGHT-COLOR: #cccccc; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #999999; SCROLLBAR-DARKSHADOW-COLOR: #cccccc}
.doyoo_pan_flat{border:2px solid #D8D8D8;background-color:#f3f3f3;}

.doyoo_pan_icon{cursor:pointer;background-repeat:no-repeat;}
.talk99_collapse{display:block;padding:0;font-size:1px;border:none;text-decoration:none}
.talk99_collapse:hover{text-decoration:none}
#doyoo_panel div.doyoo_pan_icon_inner{position:relative;left:0;top:0;height:100%;background-repeat:no-repeat;-webkit-transform: translateZ(0px);}

#doyoo_panel div.doyoo_pan_close{position:absolute;top:2px;right:2px;
    height:20px;width:20px;background:url(../../default/images/close.gif) no-repeat center center}
#doyoo_panel .group_title span{font-weight:normal;}
#doyoo_panel .doyoo_online .doyoo_status{color:#FF3300;}
#doyoo_panel .doyoo_offline .doyoo_status{color:#999;}
#doyoo_panel .doyoo_other .doyoo_status{color:#4a9fee;}
div#doyoo_panel .doyoo_link{cursor:pointer;padding-left:18px;line-height:18px;color:#000}

#doyoo_panel #nhead{height:27px;margin:1px;}
#doyoo_panel #ntitle{margin:6px 0px 3px 10px;height:14px;line-height:14px;}
#doyoo_panel #ncls{float:right;width:15%;cursor:pointer;font-size:14px;margin:3px 1px 3px 0px;}
#doyoo_panel #ncontent{margin:0px 1px 1px 1px;}
#doyoo_panel #nfoot{clear:both;margin:0px 1px 1px 1px;color:#FFFFFF;height:26px;width:100%;text-align:center;}
#doyoo_panel #nfoot div{margin:8px 6px 6px 6px;cursor:pointer; width:68px;height:16px;
    background-image:url(../../default/images/plat_foot.gif); background-position: center center;background-repeat: no-repeat;}
.looyu_oms #nfoot div{background-image:url(../../default/images/plat_foot_oms.gif?1) !important;}
#doyoo_panel #nphone{margin:4px 5px 0px 5px;border:1px solid #a5a5a5;color:#000000;height:44px;padding:4px 2px 2px 6px;background:#FFFFFF;}
#doyoo_panel #nphone div{overflow:hidden;height:20px;line-height:20px;font-size:12px;}
#doyoo_panel #ncontent #allcontent{float:left;color:#000000;width:100%;}
#doyoo_panel #ncontent .group_title .doyoo_link{cursor:pointer;padding-left:14px;}
#doyoo_panel #ncontent .group_title{color:#058ed5;cursor:pointer;background:url(../../default/images/floatwin/flat_close.gif) 8px left no-repeat;height:22px;}
#doyoo_panel #ncontent .group_title_close{font-weight:bold;cursor:pointer;background:url(../../default/images/floatwin/flatOpen.gif) left  no-repeat;height:18px;}
#doyoo_panel #ncontent .group_content{margin-left:1px;padding-left:2px;padding-top:1px;padding-bottom:1px;background:url(../../default/images/plat_back.gif) repeat-x;cursor:pointer;height:22px;}
#doyoo_panel #ncontent .doyoo_status{float:right;font-weight:normal;margin-right:8px;margin-top:2px;}

#doyoo_panel #ohead{width:100%;height:70px;}
#doyoo_panel #otitle{height:20px;margin-left:5px;margin-top:5px;color:#FFFFFF;line-height:20px;}
#doyoo_panel #omin{width:18px;cursor:pointer;float:right;height:18px;}
#doyoo_panel #ocls{width:18px;cursor:pointer;float:right;height:18px;margin-right:4px;z-index:9000}
#doyoo_panel #ocontent{background-repeat:repeat-y;padding-left:8px;padding-right:6px;}
#doyoo_panel #oentrance{clear:both;height:40px;cursor:pointer;}
#doyoo_panel #ocontent #allcontent{overflow-y:auto;height:100%;SCROLLBAR-FACE-COLOR: #ffffff;SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;SCROLLBAR-SHADOW-COLOR: #ffffff;SCROLLBAR-3DLIGHT-COLOR: #ffffff;SCROLLBAR-ARROW-COLOR: #000000;SCROLLBAR-TRACK-COLOR: #ffffff;SCROLLBAR-DARKSHADOW-COLOR: #000000;SCROLLBAR-BASE-COLOR: #ffffff;background-color:#FFFFFF;}
#doyoo_panel #ocontent #allcontent div{height:20px;}
#doyoo_panel #ocontent .group_title{font-size:13px;font-weight:bold;cursor:pointer;color:#000000;}
#doyoo_panel #ocontent .group_content{font-size:12px;margin-left:10px;height:16px;padding-top:1px;padding-bottom:1px;cursor:pointer;color:#000000;}
#doyoo_panel #ocontent .doyoo_status{float:right;font-weight:normal;margin-right:4px;margin-top:2px;}
#doyoo_panel #ocontent .group_title .doyoo_link{cursor:pointer;padding-left:2px;}
#doyoo_panel #ocontent .group_content .doyoo_online{background:url(../../default/images/floatwin/on_line.gif) left no-repeat;}
#doyoo_panel #ocontent .group_content .doyoo_offline{background:url(../../default/images/floatwin/off_line.gif) left 1px no-repeat;}
#doyoo_panel #ocontent .group_content .doyoo_other{background:url(../../default/images/floatwin/off_line.gif) left 1px no-repeat;}

#doyoo_panel #ofoot{width:144px;height:39px;}
#doyoo_panel #ofoot div{width:50%;float:right;height:100%;cursor:pointer}
#doyoo_panel #doyoo_panel_main{position:relative;-webkit-transform: translateZ(0px);}

.doyoo_filter{position:absolute;visibility:inherit;top:0px;left:0px;z-index:-100;width:100%;height:100%;}

.doyoo_f_frame{position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:8000;border:none;background:#FFF;}
.doyoo_f_chat{position:absolute;right:0px;bottom:0px;width:466px;height:351px;z-index:8000;}
.doyoo_f_original{overflow:hidden;}
.doyoo_f_original body{overflow:hidden;height:100%;margin:0px;padding:0px}
#doyoo_f_head{width:100%;height:50px;position:relative;-webkit-transform: translateZ(0px);}
div#doyoo_f_main{width:100%;position:absolute;left:0;top:50px;height:301px;background:transparent;}
#doyoo_f_close,#doyoo_f_end,#doyoo_f_min{width:20px;height:20px;top:4px;right:5px;position:absolute;cursor:pointer}
#doyoo_f_min{right:30px}
#doyoo_f_minPanel{position:absolute;right:0px;bottom:0px;width:247px;height:30px; background: no-repeat;z-index:8001;display:none}
#doyoo_f_minPanel .inner{position:relative;width:100%;height:100%;-webkit-transform: translateZ(0px);}

#doyoo_f_restore{  position:absolute;right:27px;top:5px;height:20px;width:30px;cursor:pointer}
object#looyuShare{position:absolute;left:0;top:0;z-index:-100;display:block}
#doyoo_share{position:absolute;z-index:-100;left:-100000px;top:0;}
#looyu_p{position:absolute;z-index:8000;background:#FFF}
.looyu_p_tl{height:13px;background-position:0 0;line-height:13px}
.looyu_p_tr{margin-left:13px;background-position:right 0}
.looyu_p_tc{margin-right:13px;background-position:0 -20px}
.looyu_p_ml{background-position:0 0;background-repeat:repeat-y}
.looyu_p_mr{background-position:right ;margin-left:13px;;background-repeat:repeat-y}
.looyu_p_mc{margin-right:13px;background:#FFF}
.looyu_p_bl{height:13px;background-position:0 -60px;line-height:13px}
.looyu_p_br{margin-left:13px;background-position:right -60px}
.looyu_p_bc{margin-right:13px;background-position:0 -40px}
.looyu_p_0 .looyu_p_t,.looyu_p_0 .looyu_p_b,.looyu_p_0  .looyu_p_m{background-image:none}
.looyu_p_1 .looyu_p_t,.looyu_p_1 .looyu_p_b{background-image:url(../../default/images/page/row1.png)}
.looyu_p_1 .looyu_p_m{background-image:url(../../default/images/page/col1.png)}
.looyu_p_2 .looyu_p_t,.looyu_p_2 .looyu_p_b{background-image:url(../../default/images/page/row2.png)}
.looyu_p_2 .looyu_p_m{background-image:url(../../default/images/page/col2.png)}
.looyu_p_3 .looyu_p_t,.looyu_p_3 .looyu_p_b{background-image:url(../../default/images/page/row3.png)}
.looyu_p_3 .looyu_p_m{background-image:url(../../default/images/page/col3.png)}
.looyu_p_4 .looyu_p_t,.looyu_p_4 .looyu_p_b{background-image:url(../../default/images/page/row4.png)}
.looyu_p_4 .looyu_p_m{background-image:url(../../default/images/page/col4.png)}
.looyu_p_5 .looyu_p_t,.looyu_p_5 .looyu_p_b{background-image:url(../../default/images/page/row5.png)}
.looyu_p_5 .looyu_p_m{background-image:url(../../default/images/page/col5.png)}

#looyu_p_h{float:right;color:#FFF;width:12px;height:12px;cursor:pointer;font-size:11px}
.looyu_p_0  #looyu_p_h{color:#000}

#talk99_message{width:213px;height:241px;color:rgb(132,132,132);position:absolute;display:none;font-size:12px;z-index:2147483647; font-family: arial;}
.t99_mpanel_inner{position: relative;left:0;top:0;width:100%;height:100%;overflow:hidden;-webkit-transform: translateZ(0px);}
.t99_mpanel_title,#t99_mpanel_miner,#t99_mpanel_submit,.t99_mpanel_main,#t99_mpanel_freePhone{position: absolute;}
.t99_mpanel_title{left:15px;top:12px;width:146px;height:24px;font-weight:bold;color:#000}
#t99_mpanel_miner{right:15px;top:10px;width:19px;height:19px;cursor:pointer;}
.t99_mpanel_main{left:10px;top:45px;width:193px;height:160px}
#t99_mpanel_submit{left:15px;width:63px;}
.t99_mpanel_info,.t99_mpanel_content{border:1px solid rgb(221,221,221);background-color:#EEE;font-size:12px;}
.t99_mpanel_content{height:50px;width:185px;margin:5px;font-size:12px;color:#848484}
.t99_mpanel_info{hegith:20px;margin:2px 5px 0 5px;}
.t99_mpanel_content textarea{width:100%;height:100%;overflow:auto;font-size:12px;color:#848484}
.t99_mpanel_info input,.t99_mpanel_content textarea{border:none;background:transparent}
.t99_mpanel_info input{width:100px;height:20px;line-height:20px}
.t99_mpanel_info span{margin-left:5px;padding-left:20px;background-repeat:no-repeat;background-position:left center}
#t99_mpanel_freePhone{right:10px;width:92px;padding-left:10px;display:block;text-decoration:none}

#t99_mpanel_freePhone,#t99_mpanel_submit{top:206px;height:32px;line-height: 32px;color:#000;
    text-align:center;font-size:12px;cursor:pointer;
    background-position:center center;}

#talk99_message form{margin:0;padding:0}
#talk99_message_target{width:1px;height:1px;position:absolute;left: -10000px;top:-1000px;}

.t99_mpanel_name{background-image: url(../../default/images/message/m_icon_name.gif)}
.t99_mpanel_email{background-image: url(../../default/images/message/m_icon_email.gif)}
.t99_mpanel_phone{background-image: url(../../default/images/message/m_icon_phone.gif)}
.t99_mpanel_qq{background-image: url(../../default/images/message/m_icon_qq.gif)}
.talk99_region{display:block;position:absolute;}
#doyoo_mon_inner{
    background-repeat:no-repeat
}