@charset "utf-8";

.banner , 
#banner {position:relative; width:680px; height:180px; overflow:hidden;}
.banner_list,
#banner_list{text-align:left;border-radius: 3px;}
.banner_list img,
#banner_list img {border:0px;border-radius: 3px;}
.banner_text,
#banner_text {position:absolute;width:120px;z-index:1002; right:3px; bottom:3px;}
.banner ul,
#banner ul {position:absolute;list-style-type:none;filter: Alpha(Opacity=80);opacity:0.8; z-index:1002;margin:0; padding:0; bottom:10px; right:10px;}
.banner ul li,
#banner ul li { padding:0px 8px;float:left;display:block;color:#FFF;border:#e5eaff 1px solid;background:#6f4f67;cursor: pointer;}
.banner ul li.on,
#banner ul li.on { background:#900}
.banner_list a,
#banner_list a{position:absolute;}

#imageflash_top { width: 960px;height: 260px;}
#imageflash_top .banner_list img{ width: 960px;height: 260px;}
#imageflash_top ul {right:450px;}
#imageflash_top ul li { padding:0;text-indent: 2em;width: 15px;height: 15px;overflow: hidden;margin-left: 10px;border-radius: 8px;}