.AttachContactsTabBox{background-color:#FDFCFA;border-right:1px solid #E0E0E0;}
table.AttachContacts_table input[type="text"]{border-color:#3A73AB;border-width:1;border-style:solid;width:200px;height:20px;padding:2px 4px;}
.AttachContactRow{border-style:solid;border-width:1px 0;cursor:pointer;border-color:#E0E0E0;padding:3px 0;}
.ImgWEBEX-panelIcon{background:url("/service/zimlet/com_zimbra_webex/webex.gif") no-repeat 0 0;width:16px;height:16px;overflow:hidden;}
.webExZimlet_YellowBold{background:#FFC;border-bottom:1px solid #6E6E6E;border-right:1px solid #6E6E6E;}
.webExZimlet_lightGray{border-bottom:1px solid #6E6E6E;border-top:1px solid #6E6E6E;font-weight:bold;padding:2px;}
.webExZimlet_gray{background:#808080;border-bottom:1px solid #6E6E6E;border-right:1px solid #6E6E6E;font-weight:bold;color:white;padding:4px;}
.webExZimlet_grayAccntHdr{background:#808080;border-bottom:1px solid #6E6E6E;border-right:1px solid #6E6E6E;font-weight:bold;color:white;font-size:14px;padding:4px;}
table.webExZimlet_table input{border-color:#3A73AB;border-width:1;border-style:solid;width:230px;height:20px;padding:2px 4px;}
table.webExZimlet_table textarea{border-color:#3A73AB;border-width:1;border-style:solid;width:230px;padding:2px 4px;}
table.webExZimlet_table select{border-color:#3A73AB;border-width:1;border-style:solid;}
.webex_hoverTable tr:hover{background-color:#ccd5e8;}
.webex_hoverTable td{border-bottom:1px solid #BBB;height:27px;padding:.5em;vertical-align:middle;}
.webex_hoverTable th{border-bottom:1px solid #333;height:30px;padding:.5em;vertical-align:middle;}
.webex_hoverTable a{text-decoration:underline;}
.Imgattachmail-panelIcon{background:url("/service/zimlet/com_zimbra_attachmail/attachmail.gif") no-repeat 0 0;width:16px;height:16px;overflow:hidden;}
.AttachMailTabBox{background-color:#FDFCFA;border-right:1px solid #E0E0E0;}
.AttachMailRowDiv{border-style:solid;border-width:1px 0;cursor:pointer;border-color:#E0E0E0;padding:3px 0;}
.AttachMailSubject{font-weight:bold;font-size:13px;color:#2B2A2B;}
.AttachMailFrom{font-weight:bold;font-size:11px;color:#2B2A2B;}
.AttachMailFrag{overflow:hidden;color:gray;}
.AttachMailList .Row-selected,.AttachMailList .Row-focused{border:none;}
.video-panel{position:relative;padding:10px;background:none repeat scroll 0 0 #E3E9F0;}
.youTubeImagePreview{padding:5px 5px 5px 5px;background-color:black;display:inline-block;}
.thumb-wrapper{position:relative;float:left;}
.play{position:absolute;float:left;top:30px;left:35px;width:58;height:41;z-index:100;background:transparent url(/service/zimlet/com_zimbra_url/play_youtube.png) no-repeat;}
.movie-player{clear:both;}
.ImgEmailZimletNavBarBG{background:url("/service/zimlet/com_zimbra_email/img/EmailZimletNavBar.png") repeat;}
.EmailToolTipSlideText{position:relative;top:40%;font-size:12px;font-weight:bold;}
.EmailToolTipSlideErrorColor{color:#8C0000;}
.EmailToolTipSlideMsgColor{color:#666;}
.ImgUnknownPerson_contact{background:url("/service/zimlet/com_zimbra_email/img/UnknownPerson_contact.gif") no-repeat center center;width:16px;height:16px;overflow:hidden;}
.ImgMail_icon{background:url("/service/zimlet/com_zimbra_email/img/mail_icon.png") no-repeat center center;width:16px;height:16px;overflow:hidden;}
.ImgCalendar_icon{background:url("/service/zimlet/com_zimbra_email/img/calendar_icon.png") no-repeat center center;width:16px;height:16px;overflow:hidden;}
.Img_available,.Img_unavailable,.Img_busy,.Img_dnd,.Img_onthephone,.Img_away,.Img_vacation,.Img_unknown{background:transparent no-repeat 0 0;width:12px;height:12px;overflow:hidden;margin-right:.5em;}
.Img_available{background-image:url("/service/zimlet/com_zimbra_email/img/ImgPresenceAvailable.png");}
.Img_unavailable,.Img_busy,.Img_dnd,.Img_onthephone{background-image:url("/service/zimlet/com_zimbra_email/img/ImgPresenceUnavailable.png");}
.Img_away,.Img_vacation,.Img_unknown{background-image:url("/service/zimlet/com_zimbra_email/img/ImgPresenceBusy.png");}
.ImgEmailZimlet_closeBtn{background:url("/service/zimlet/com_zimbra_email/img/EmailZimlet_closeBtn.png") no-repeat center center;width:16px;height:16px;overflow:hidden;}
.EmailZimlet_veil{position:absolute;display:block;width:100%;height:100%;z-index:700;background:black;opacity:.2;zoom:1;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);cursor:pointer;top:0;left:0;}
.ImgClick2CallZimletIcon,.ImgClick2CallPhoneHangupBtn,.ImgClick2Call-maximize-icon,.ImgClick2Call-minimize-icon{background:no-repeat 0 0;width:16px;height:16px;overflow:hidden;}
.ImgClick2CallZimletIcon{background-image:url("/service/zimlet/com_zimbra_click2call_mitel/img/Click2Call.png");}
.ImgClick2CallPhoneHangupBtn{background-image:url("/service/zimlet/com_zimbra_click2call_mitel/img/phoneHangup.png");}
.ImgClick2Call-maximize-icon{background-image:url("/service/zimlet/com_zimbra_click2call_mitel/img/maximize.png");}
.ImgClick2Call-minimize-icon{background-image:url("/service/zimlet/com_zimbra_click2call_mitel/img/minimize.png");}
.ImgClick2CallZimletIcon,.ImgClick2CallPhoneHangupBtn,.ImgClick2Call-maximize-icon,.ImgClick2Call-minimize-icon{background:transparent no-repeat 0 0;width:16px;height:16px;overflow:hidden;}
.ImgClick2CallZimletIcon{background-image:url("/service/zimlet/com_zimbra_click2call_cisco/img/Click2Call.png");}
.ImgClick2CallPhoneHangupBtn{background-image:url("/service/zimlet/com_zimbra_click2call_cisco/img/phoneHangup.png");}
.ImgClick2Call-maximize-icon{background-image:url("/service/zimlet/com_zimbra_click2call_cisco/img/maximize.png");}
.ImgClick2Call-minimize-icon{background-image:url("/service/zimlet/com_zimbra_click2call_cisco/img/minimize.png");}
.SMIMEHeader span{padding-right:5px;display:inline-block;}
.SMIMEImage{padding-right:2px;vertical-align:text-bottom;display:inline-block;border:0;}
.CertificateUser .Status{margin-left:25px;}
.CertificateUser .Status.Expand .ZWidgetTitle{text-decoration:underline;color:#00f;cursor:pointer;}
.CertificateUser .Status.NoCert .ZWidgetTitle{color:#f00;}
.CertificateView{overflow-y:auto!important;}
.Certificate{background:#fff;border:1px solid #000;margin:4px;width:500px;}
.Certificate .SummaryImage{width:150px;}
.Certificate .SummaryImage>div{margin-left:auto;margin-right:auto;}
.Certificate .SummaryHeader{font-size:14px;font-weight:bold;}
.Certificate .StatusLine.signed{color:#080;}
.Certificate .StatusLine.expired,.Certificate .StatusLine.wrong-signer{color:#f80;}
.Certificate .StatusLine.untrusted,.Certificate .StatusLine.corrupt,.Certificate .StatusLine.error,.Certificate .StatusLine.unknown,.Certificate .StatusLine.default{color:#d00;}
.Certificate .Label1{color:#666;font-weight:bold;line-height:20px;text-align:right;vertical-align:top;white-space:nowrap;width:150px;padding-right:5px;}
.Certificate .Label2{color:#666;line-height:20px;text-align:right;vertical-align:top;white-space:nowrap;width:150px;padding-right:5px;}
.Certificate hr{color:#888;background-color:#888;height:1px;border-width:0 1px 0 0;}
.Certificate .Value{color:#000;line-height:20px;text-align:left;vertical-align:top;width:350px;}
.CertificateValidImg{background-image:url('/service/zimlet/com_zimbra_smime/imgs/certificate.png');width:89px;height:62px;}
.ImgDontSign{background-image:url('/service/zimlet/com_zimbra_smime/imgs/dontsign.png');width:16px;height:16px;}
.ImgSecureEmail{background-image:url('/service/zimlet/com_zimbra_smime/imgs/secure.png');width:16px;height:16px;}
.ImgSign{background-image:url('/service/zimlet/com_zimbra_smime/imgs/sign.png');width:16px;height:16px;}
.ImgSignEncrypt{background-image:url('/service/zimlet/com_zimbra_smime/imgs/signencrypt.png');width:16px;height:16px;}
.CertificateReplaceMsg{background-color:#FF9;color:#333;cursor:pointer;padding:10px;}
.VendorVoicePrefsTabView{width:100%;}
.ZmVoicePrefsPage .VendorVoiceBufferList a:link,.ZmVoicePrefsPage .VendorVoiceBufferList a:visited,.ZmVoicePrefsPage .VendorVoiceBufferList .FakeAnchor,.ZmVoicePrefsPage .VendorVoicePhoneBufferList a:link,.ZmVoicePrefsPage .VendorVoicePhoneBufferList a:visited,.ZmVoicePrefsPage .VendorVoicePhoneBufferList .FakeAnchor{color:#369;cursor:pointer;text-decoration:none;}
.ZmVoicePrefsPage .VendorVoiceBufferList .FakeAnchor,.ZmVoicePrefsPage .VendorVoicePhoneBufferList .FakeAnchor{#IFDEF MSIE m:expression(this.onmouseover = new Function("this.className = 'FakeAnchor-hover';"));#ENDIF;}
.ZmVoicePrefsPage .VendorVoiceBufferList a:hover,.ZmVoicePrefsPage .VendorVoiceBufferList a:active,.ZmVoicePrefsPage .VendorVoiceBufferList .FakeAnchor:hover,.ZmVoicePrefsPage .VendorVoiceBufferList .FakeAnchor-hover,.ZmVoicePrefsPage .VendorVoicePhoneBufferList a:hover,.ZmVoicePrefsPage .VendorVoicePhoneBufferList a:active,.ZmVoicePrefsPage .VendorVoicePhoneBufferList .FakeAnchor:hover,.ZmVoicePrefsPage .VendorVoicePhoneBufferList .FakeAnchor-hover{color:#3459F5;cursor:pointer;text-decoration:underline;}
.ZmVoicePrefsPage .VendorVoiceBufferList .FakeAnchor:hover,.ZmVoicePrefsPage .VendorVoiceBufferList .FakeAnchor-hover,.ZmVoicePrefsPage .VendorVoicePhoneBufferList .FakeAnchor:hover,.ZmVoicePrefsPage .VendorVoicePhoneBufferList .FakeAnchor-hover{#IFDEF MSIE m:expression(this.onmouseout = new Function("this.className = 'FakeAnchor';"));#ENDIF;}
.ZmVoicePrefsPage .DwtLabel.AlignRight .ZWidgetTitle{text-align:right;}
.ZmVoicePrefsPage .DwtComboBox.ValidatorFix .ZButton{left:0;}
.ZmVoicePrefsPage .SectionHeader{color:#808080;font-size:12px;font-weight:bold;padding-bottom:10px;padding-left:20px;text-align:left;}
.ZmVoicePrefsPage .VendorVoiceBufferList .DwtListView-Sash div,.ZmVoicePrefsPage .VendorVoicePhoneBufferList .DwtListView-Sash div{background:transparent none!important;}
.ZmVoicePrefsPage .DwtListView-Rows{overflow:visible;}
.ZmVoicePrefsPage .ZmVoicePrefsPhoneList{background-color:white;border:1px solid #999;}