/* ----------------------------------------------------------------------------------------------------------

    This website template was downloaded from http://www.nuviotemplates.com - visit us for more templates

---------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------
HTML
---------------------------------------------------------------------------------------------------------- */

body {background:#2f2f2f; color:#222;}

a {color:#000;}
a:hover {color:#004080;}

/* ----------------------------------------------------------------------------------------------------------
Generally HTML styles (table, ul, dl...)
---------------------------------------------------------------------------------------------------------- */

ul.ul-list-02 {border-top:1px solid #EAEAEA;}
ul.ul-list-02 li {border-bottom:1px solid #EAEAEA;}

ul#ul-rss li a {color:#000;}
ul#ul-rss li a:hover {color:#F60;}

/* ----------------------------------------------------------------------------------------------------------
Layout
---------------------------------------------------------------------------------------------------------- */

.main.bg {background-color:#FFF;}

#header {background-color:#0059B2;}

#logo {color:#FFF;}
#logo span {color:#ABCEEE;}
#logo a {color:#FFF;}

#search-input input {background-color:#FFF;}

#nav {background:#000;}
#nav ul li a {border-right:1px solid #303030; color:#FFF;}
#nav ul li.current_page_item a {color:#AACFEF;}

#aside a {color:#004080;}
#aside a:hover {color:#000;}

#aside .title {border-bottom:1px solid #CACACA;}

#footer {background:#000; color:#AFAFAF;}
#footer a {color:#AFAFAF;}
#footer a:hover {color:#FFF;}

.low {color:#808080;}

/* ----------------------------------------------------------------------------------------------------------
Page: Home
---------------------------------------------------------------------------------------------------------- */

#topstory {background:#E5F0FA;}
#topstory p.date {background-color:#0059B2;}
#topstory p.date span {color:#FFF;}

.article {background:#FFF; border-bottom:1px solid #EAEAEA;}
.article p.date {background-color:#505050;}
.article p.date span {color:#FFF;}

