@charset "utf-8";

/*-- browser reset(@czbob/20120807)*/
html{
	/*宋体,黑体,微软雅黑*/
    font-family: \5FAE\8F6F\96C5\9ED1,\5B8B\4F53,\9ED1\4F53;
    font-size: 12px;
    line-height: 14px;
}
body{
	min-width:960px;
}
html, body, div, dl, dt, dd, ul, ol, li, 
h1, h2, h3, h4, h5, h6, pre, code, 
form, fieldset, legend, input, button, 
textarea, p, blockquote, th, td { 
    margin: 0; 
    padding: 0;
}
textarea {
    resize:none;
}
fieldset, img { 
    border: 0; 
}
:focus { 
    outline: 0; 
}
a:focus { 
    outline: 0; 
}
address, caption, cite, code, dfn, 
em, strong, th, var, optgroup { 
    font-style: normal; 
    font-weight: normal; 
} 
  
h1, h2, h3, h4, h5, h6 { 
    font-weight: normal; 
} 
abbr, acronym { 
    border: 0; 
    font-variant: normal; 
} 
  
input, button, textarea, 
select, optgroup, option { 
    font-family: inherit; 
    font-size: inherit; 
    font-style: inherit; 
    font-weight: inherit; 
} 
code, kbd, samp, tt { 
    font-size: 100%; 
} 
/*@purpose To enable resizing for IE */ 
/*@branch For IE6-Win, IE7-Win */
input, button, textarea, select { 
    *font-size: 100%; 
} 
 
ol, ul, li { 
    list-style: none; 
} 
/* tables still need 'cellspacing="0"' in the markup */ 
table { 
    border-collapse: collapse; 
    border-spacing: 0; 
    width: 100%;
} 
caption, th { 
    font-weight: bold; 
}
tr {
    height: 30px;
}
sup, sub { 
    font-size: 100%; 
    vertical-align: baseline; 
} 
/* remember to highlight anchors and inserts somehow! */ 
:link, :visited , ins { 
    text-decoration: none; 
} 
blockquote, q { 
    quotes: none; 
} 
blockquote:before, blockquote:after, 
q:before, q:after { 
    content: ''; 
    content: none; 
}
a{
    cursor: pointer;
}
/*-- end browser reset --*/

/*-- common style --*/
.clear {
    clear: both;
    line-height: 0;
    font-size: 0;
}
.hidden { display: hidden; }
.none { display: none; }
.invisible{ visibility:hidden; }
.error { color: #990000; }
.fix {
	height: 0;
	line-height: 0;
	font-size: 0;
	width: 0;
	clear: both;
}
.clearfix { display: block; }
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.float-left{ float:left; }
.float-right{ float: right; }
.yahei{ font-family: \5FAE\8F6F\96C5\9ED1; }
.text-align-center{ text-align: center; }
.bold{ font-weight: bold; }
.list-style-disc{ list-style:disc;}
/*-- footer (@czbob/20120818) --*/
#footer{
    color: #999;
    padding: 10px 20px;
    margin-top: 30px;
    overflow: hidden;
    zoom: 1;
    border-top: 1px dashed #DDD;
    text-align:center;
}
#footer.dark{
	background:#323232;
	color:white;
	border-top: none;
	padding: 25px 0;
}
#footer .navl{
    color:#999;
    margin:0 4px 0 3px;
}
#footer.dark .navl{
	color:white;
}
#footer .share{
	display:inline-block;
	width:16px;
	height:16px;
	margin:0px 3px;
	position:relative;
	top:4px;
	*top:1px;
}
#footer .s-weibo{background:url("../img/social_icon.png") left;}
#footer .t-weibo{background:url("../img/social_icon.png") -22px;}
#footer .renren{background:url("../img/social_icon.png") right;}
/*-- end footer --*/

/*-- pagination (@czbob/20120818) --*/
.pagination {
    clear:both;
    margin: 8px 0;
    height:20px;    

}
.pagination ul { float: right; }
.pagination a {
    line-height: 26px;
    padding: 0 10px;
}
.pagination .page_form {
	display:none;
    padding:0px 0 0 10px;
    float: right;
    width: 120px;
}
.pagination .page_form #page_target {
    height: 18px;
    width: 20px;
}
.pagination .page_form .button {
    vertical-align: top;
    padding: 1px 0 2px 0;
}
/*-- end pagination --*/

/*-- 错误提示页面, 用户500/404等的错误提示(@brishenzhou/20120817) --*/
.error-page {
	background: url("../img/error.jpg") no-repeat;
	height: 250px;
	margin: 100px 0 0 120px;
}
.error-page .error-msg {
	padding: 80px 200px 0 250px;
	font: 18px/1.5 '宋体'
}
/*-- end error page --*/

/*-- 加关注控件(@czbob/20120818) --*/
.expert-follow a {
    display: block;
    width: 60px;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
}
.expert-follow .follow,
.expert-follow .follow-link { 
    background: #e2f1ff;
    color: #0866AE;
    cursor: pointer;
}
.expert-follow .followed{
    background: #cccccc;
    color: white;
    cursor:auto;
}
.expert-follow .followed:hover{
    text-decoration: none;
}
/*-- end 加关注 --*/

/*- 带h3开头公用样式(@czbob/20120807) -*/
/*<div class='titled_block'><div class='title'><h3>开头</h3></div>内容</div>*/
.titled-block .title{
    background: url("../img/dotted-line.png") bottom repeat-x; 
    overflow: hidden;
}
.titled-block .title h3 {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    padding: 5px;
	/*宋体*/
    font-family: \5B8B\4F53;
    float: left;
}
.titled-block .title h2 {
	/*宋体*/
    font: bold 17px \5B8B\4F53;
    color: #333;
    padding: 5px;
    float: left;
}
.titled-block .title .info {
	color: #999;
	/*宋体*/
	font: 13px \5B8B\4F53;
	float: right;
	padding-top: 15px;
}
.titled-block h4 {
    /*font-family: "黑体","微软雅黑";*/
}
.titled-block .title a {
    float: right;
    display: block;
    line-height: 37px;
    cursor: pointer;
}
.titled-block p{
    line-height: 24px;
}
/*-- end h3 --*/

/*- form表单(@brishenzhou/20120831) -*/
.form-line { margin: 8px 0; overflow:hidden; }
.form-line label { margin: 0; height: 20px; width:auto;}
.form-line p { float: left; font-size: 14px; line-height: 24px; text-align: right; width: 250px; margin: 0; }
.form-line p i { padding-right: 8px; }
.form-line p label { display: inline; margin-right: 10px; }
.form-line label.tip {
	float: left;
	font: 14px/24px;
	text-align: left;
	color: #999;
	margin-left: 15px;
}
/* for jquery.validate */
.form-line label.error,
.form-line label.loading,
.form-line label.valid { background: url("../img/sprites_common.png") -236px -790px; padding-left: 30px; margin-left: 15px; float: left; }
.form-line label.valid { background: url("../img/sprites_common.png") -236px -750px; }
.form-line label.loading { background: url("../img/loading_16x16.gif") no-repeat left center; }
.form-line input.error { border: dashed 1px #990000; }
.form-line input,
.form-line select,
.form-line .select-wrapper {
	border: 1px solid #a6c4dc;
	float: left;
	font-size: 14px;
	line-height: 20px;
	padding: 2px;
	width: 350px;
	height: 20px;
	color: #999;
}
.form-line select {
	border: 0 none;
	padding: 0;
	margin: 0;
}
.form-line button {
    min-width: 60px;
    height: 25px;
    float: left;
    padding: 0 5px;
}
.on-input {
    float: left;
    display: inline-block;
    margin: 5px 0px 0px -20px;
}
/* 解决 chrome 下背景图片被覆盖而看不到的bug */
@media screen and (-webkit-min-device-pixel-ratio:0) { .on-input { position: relative; } }
/*-- end form --*/

/*- icons(@brishenzhou/20120831) -*/
.fixed-bg-button {
	width: 103px;
    height: 30px;
    line-height: 30px;
    color: white;
    font-size: 12px;
    display: block;
}
.fixed-bg-button.green {
	background: url("../img/sprites_common.png") no-repeat -59px -180px;
}
.fixed-bg-button.pink {
	color: #a1a1a1;
	background: url("../img/sprites_common.png") no-repeat -177px -180px;
}
.fixed-bg-button:hover {
	color: #ccc;
    text-decoration: none;
}
/* 斜体数字 */
.italic-number {
	color: #999;
	font: italic 33px '微软雅黑';
	display: block;
	float: left;
	margin: -6px 10px 0 0;
}
/* 可点击弹框的 icon */
a.icon-chooser {
    width: 18px;
    height: 18px;
    text-decoration: none;
}
a.icon-chooser.school {
    background: url("../img/sprites_common.png") no-repeat -176px -750px;
}
.loading {
	background: url("../img/loading.gif") no-repeat;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}
/*-- end icons --*/

/*- 5款颜色label (@czbobchen/20120905) -*/
.label{
	line-height:14px;
	color:white;
	text-shadow:0 -1px 0 rgba(0,0,0,0.25);
	vertical-align:baseline;
	padding:1px 4px 2px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	margin:0 2px;
}
.label-success{background-color:#468847;}
.label-important{background-color:#b94a48;}
.label-warning{background-color:#f89406;}
.label-info{background-color:#3a87ad;}
.label-inverse{background-color:#333333;}
/*-- end label --*/
/*-- 几款蓝色的图标，大小为50x50(@brishenzhou/20120912)--*/
.blue-circle-icon {
	background-image: url("../img/sprites_common.png");
	display: block;
	width: 50px;
	height: 50px;
	float: left;
}
.blue-circle-icon.check { background-position: -60px -280px; }
.blue-circle-icon.question { background-position: -119px -280px; }
.blue-circle-icon.exclamation { background-position: -177px -280px; }
.blue-circle-icon.cross { background-position: -237px -280px; }
/*----黄底提示框 ----*/
.tips-info{
	font-size:12px;
	padding:10px;
	border:1px solid #d3cfc6;
	color:#3d351e;
	background:#f8f6e1;
	margin-top:10px;
}
/*-----flash-message样式-----*/
#flash_message{
	text-align:left;
	font-size:12px;
	border:1px solid #d3cfc6;
	color:#3d351e;
	background:#f8f6e1;
	text-align:center;
}
/*-----视频cover播放按钮-----*/
.play-icon{
    position: absolute;
    width:48px;
    height: 48px;
    background: url("../img/sprites_common.png");
	background-position:0px -280px;
    left: 5px;
    bottom: 5px;
}
.play-icon.small{
	width:24px;
    height: 24px;
	background-position:-354px -340px;
}
/*-----页面大标题------*/
.title{overflow:hidden;}
.title h1{
    float: left;
    font-size: 24px;
    color:#333;
	/*微软雅黑*/
    font-family: \5FAE\8F6F\96C5\9ED1;
    font-weight: normal;
    line-height: 24px;
	padding:12px 0 10px;
}
/*-----前端面包屑导航样式-----*/
.sec_nav{
    line-height: 25px;
    margin-top: 4px;
	/*宋体*/
    font: 12px/20px \5B8B\4F53;
}
.bread-crumb{
	font: 12px/20px \5B8B\4F53;
	margin-top:10px;
}
.bread-crumb span{
	color:#666;
}
/*for Tπ*/
.bread-crumb.tpai a{
	color:#58aa00;
}
/*-----summary首行缩进-----*/
.summary-detail div,
.summary-detail p,
.summary{
    text-indent: 2em;
	color: #666;
	line-height:24px;
}
.no-indent p{
	text-indent:0;
}

.dropdown .dropdown-menu{
	margin-top:-1px;
}
/*-----验证码样式------*/
.authenticode-wrapper label{
	width:16px;height:18px;
	margin:3px 0 0 3px;
}
.authenticode-wrapper label.valid { background: url("../img/sprites_common.png") -236px -750px;}
.authenticode-wrapper label.error { background: url("../img/sprites_common.png") -236px -790px; }
.authenticode-wrapper label.loading { background: url("../img/loading_16x16.gif") no-repeat left center; }


/*-----分页器样式-----*/
.pagination .page-control{
	float:right;
	padding-left:15px;
}
.pagination .page-control a{
	width:20px;
	height:20px;
	background:url("../img/sprites_comments.png");
	padding:0px;
	border:none;
	text-indent:-1000em;
}
.pagination .page-control a.prev{background-position:-5px -105px}
.pagination .page-control a.next{background-position:-27px -105px}
.pagination .page-control a.prev.disable{background-position:-5px -130px;cursor:default;}
.pagination .page-control a.next.disable{background-position:-27px -130px;cursor:default;}
.pagination .page-control a.prev.normal:hover{background-position:-5px -155px}
.pagination .page-control a.next.normal:hover{background-position:-27px -155px}

.pagination .page-count{
	float:right;
	color:#666;
}

/*-----END OF分页器样式-----*/

/*-----城市选择器------*/

/*-----END OF城市选择器------*/
.icon-loading{
	background: url("../img/loading_16x16.gif") no-repeat left center;
}