body {
  background: #ffffff;
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", georgia, Garamond, times, serif;
  font-size: 121%;
  color: #000000;
  margin: 10px;
  text-rendering: optimizeLegibility;
}
.nows {
  margin: 0;
  padding: 0;
}
a,
a:link {
  color: #000000;
  text-decoration: none;
}
a:visited {
  color: #555555;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #aaaaaa;
}
hr {
  height: 1px;
  background-color: #000000;
  border: 0;
  clear: both;
}
.nav-left {
  float: left;
  line-height: 150%;
  font-family: "Helvetica Neue Light", "HelveticaNeue-light", "HelveticaNeue", Helvetica, Verdana, Arial, sans-serif;
  font-weight: lighter;
  padding-bottom: 16px;
  white-space: nowrap;
}
.nav-right {
  float: right;
  line-height: 150%;
  font-family: "Helvetica Neue Light", "HelveticaNeue-light", "HelveticaNeue", Helvetica, Verdana, Arial, sans-serif;
  font-weight: lighter;
  padding-bottom: 16px;
  white-space: nowrap;
}
.wrapper {
  margin: 0 auto;
  max-width: 720px;
  min-width: 525px;
}
#wrapper {
  margin: 0 auto;
  max-width: 720px;
  min-width: 525px;
}
#post-list {
  font-size: 115%;
  margin: 0 auto;
  max-width: 525px;
}
#post-list .year {
  color: #aaaaaa;
  font-size: 140%;
}
#post-list .month {
  color: #777777;
  font-size: 125%;
}
#post-list .day {
  float: left;
  clear: both;
  text-align: center;
  width: 64px;
}
#post-list .index-post-title {
  padding-left: 64px;
}
#header {
  font-family: "Helvetica Neue Light", "HelveticaNeue-light", "HelveticaNeue", Helvetica, Verdana, Arial, sans-serif;
  font-weight: lighter;
  text-align: center;
  font-size: 120%;
}
#header ul {
  display: inline;
  list-style: none;
  padding-left: 0;
}
#header ul li {
  display: inline;
  line-height: 200%;
  margin: 0 16px;
  white-space: nowrap;
}
#header #home-link {
  color: #000000;
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue Light", "HelveticaNeue-light", "HelveticaNeue", Helvetica, Verdana, Arial, sans-serif;
  font-weight: lighter;
  margin: 48px 0 16px 0;
}
.post-header {
  font-family: "Helvetica Neue Light", "HelveticaNeue-light", "HelveticaNeue", Helvetica, Verdana, Arial, sans-serif;
  font-weight: lighter;
}
.post-header .post-title {
  margin-top: 0.75em;
  font-size: 1.9em;
}
.post-header .post-title a:visited {
  color: #000000;
}
.post-header .post-title a:hover {
  text-decoration: none;
}
.post-header .post-date {
  line-height: 150%;
  text-align: right;
  width: 100%;
}
.post {
  line-height: 145%;
  padding-bottom: 1em;
}
.post sup {
  line-height: 100%;
}
.post img {
  max-width: 100%;
}
.post a,
.post a:link {
  text-decoration: underline;
}
div.row {
  margin: 0;
  padding: 0;
  max-width: 720px;
  min-width: 525px;
}
div.col {
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  display: inline-block;
  vertical-align: top;
}
div.col.w1 {
  width: 120px;
}
div.col.w2 {
  width: 240px;
}
div.col.w3 {
  width: 360px;
}
div.col.w4 {
  width: 480px;
}
div.col.w5 {
  width: 600px;
}
div.col.w6 {
  width: 720px;
}
.fixed-font {
  font-family: Menlo, "Deja Vu Sans Mono", Consolas, monospace;
}
.highlight {
  -webkit-overflow-scrolling: touch;
}
pre {
  line-height: 120%;
  padding: 0.5em;
  overflow: auto;
}
code {
  font-size: 11pt;
  font-family: Menlo, "Deja Vu Sans Mono", Consolas, monospace;
}
#invert-colors {
  font-family: Menlo, "Deja Vu Sans Mono", Consolas, monospace;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  font-size: 50%;
  margin: 0 auto;
  max-width: 525px;
  opacity: 0.2;
  padding: 4px 0;
  text-align: center;
}
#invert-colors:hover {
  opacity: 1.0;
}
.image-border {
  left: -64px;
  border: 32px #111111 solid;
}
#gallery-list {
  text-align: center;
  background-color: #222;
  margin: 16px -10px 0 -10px;
  min-width: 525px;
  color: #555555;
}
#gallery-list a,
#gallery-list a:link {
  color: #aaaaaa;
  text-decoration: none;
}
#gallery-list a:visited {
  color: #777777;
}
#gallery-list a:active {
  color: #ffffff;
}
.gallery-index {
  display: inline-block;
  text-align: center;
  padding: 32px 0 48px 0;
  margin: 16px 32px;
  min-width: 300px;
  min-height: 300px;
}
.gallery-index img {
  max-height: 400px;
  max-width: 400px;
  left: -64px;
  border: 32px #111111 solid;
}
.gallery {
  text-align: center;
  background-color: #222;
  margin: 16px -10px 0 -10px;
  min-width: 525px;
  color: #555555;
}
.gallery a,
.gallery a:link {
  color: #aaaaaa;
  text-decoration: none;
}
.gallery a:visited {
  color: #777777;
}
.gallery a:active {
  color: #ffffff;
}
.gallery .gallery-image-wrapper {
  height: 400px;
  width: 400px;
  display: inline-block;
  margin: 64px;
  padding: 0;
  position: relative;
}
.gallery .gallery-image {
  margin: auto;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  max-height: 100%;
  max-width: 100%;
  left: -64px;
  border: 32px #111111 solid;
}
.gallery .disclaimer-cc-by-sa {
  font-size: 50%;
  padding: 16px;
}
