<style type="text/css">
.artcolumn1



{	color: #FEFEFE;

	font-family:宋体;


	font-size:12px



}
.arttitle



{
	color: #000000;
	font-family:"stone-kaiti";
	font-size:24px;
	font-weight: bold;
	text-decoration:none;


}

.arttitle_a



{



	color: #003300;



	font-family:"宋体";



	font-size:12px;



	text-decoration:none



; font-weight: bolder



}

.artcontent



{
	color: #000000;
	font-family:"宋体";
	font-size:12px;
	line-height:20px;
	text-decoration:none;
}







.artcontent_a:visited







{



	color: #333333;



	font-family:"宋体";



	font-size:12px; text-decoration: none; 



	font-style: normal; 



	line-height: normal



}







.artformtitle







{       color:#999999;



        font-family:"宋体";



        font-size:12px; font-weight: normal



}









.shanye {  font-size: 12px; color: #00CC00; text-decoration: none}

a:link {
	font-family: "宋体";
	font-size: 12px;
	color: #0000FF;
	cursor: hand;
	text-decoration: none;

}
a {
	text-decoration: none;
}

.left {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: D9D9D9;
}

.artdir1 {
	font-size: 18px;
	font-family: "宋体";
	text-indent: 20pt;
	line-height: 20px;
	font-weight: bold;
	color: #000000;

}
.artdir2 {
	font-size: 12px;
	font-family: "宋体";
	text-indent: 20pt;
	line-height: 18px;
	font-weight: bold;
}
.artdir3 {
	font-size: 14px;
	font-family: "宋体";
	text-indent: 20pt;
	line-height: 18px;
	font-weight: bold;
}
.artcode {
	font-size: 12px;
	font-family: "宋体";
	text-indent: 20pt;
	line-height: 15px;
	text-decoration:none;
}
.artcode1 {
	font-size: 12px;
	font-family: "宋体";
	text-indent: 40pt;
	line-height: 15px;
	text-decoration:none;
}
.artcode2 {
	font-size: 12px;
	font-family: "宋体";
	text-indent: 60pt;
	line-height: 15px;
    text-decoration:none;
}
.artcode3{
	font-size: 12px;
	font-family: "宋体";
	text-indent: 80pt;
	line-height: 15px;
    text-decoration:none;
}
.artcode4{
	font-size: 12px;
	font-family: "宋体";
	text-indent: 100pt;
	line-height: 15px;
    text-decoration:none;
}
.newscon {	color: #000000;
	font-family:"宋体";
	font-size:12px; 
	line-height:20px;
	text-decoration:none;
	}

.newscon p {
	text-indent: 20pt;
}

.artcon{
	color: #000000;
	font-family:"宋体";
	font-size:13px;
	text-indent: 2em;
	line-height:20px;
	text-decoration:none;
}
.wzh {
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	text-decoration: none;
	color: #000000;
}
.wzh_a:link {
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	color: #0000FF;
	text-decoration: underline;
}

.wzh_a:visited {
	font-family: "宋体";
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	color: #0000FF;
	text-decoration: underline;
}
.wzhb{
	font-family: "宋体";
	font-size: 18px;
	font-style: normal;
	line-height: 20px;
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}
.wzhb_a:link {
	font-family: "宋体";
	font-size: 18px;
	font-style: normal;
	line-height: 20px;
	color: #0000FF;
	text-decoration: underline;
	font-weight: bold;
}

.wzhb_a:visited {
	font-family: "宋体";
	font-size: 18px;
	font-style: normal;
	line-height: 20px;
	color: #0000FF;
	text-decoration: underline;
}
.artsec{color:#1111CC; font-family:"宋体";font-size:12px; line-height: 18px}
.artsec_a:link{	color: #1111CC;font-family:"宋体";font-size:12px;text-decoration:underline;}
.artsec_a:visited{color:#1111CC; font-family:"宋体"; font-size:12px; text-decoration:underline;} 
.artsec_a:hover{color: #FF0000;font-family:"宋体";font-size:12px;  text-decoration: underline; font-style: normal; }
.artrighttext
{      
	color: #0000FF;
        font-family:"微软雅黑";
        font-size:13px;
		 line-height: 12px;
		 text-decoration:underline
		
}
.artrighttext_a:link
{	color: #0000FF;
	font-family:"微软雅黑";
	font-size:13px;
	text-decoration:underline
}
.artrighttext_a:visited
{       color:#0000FF;
        font-family:"微软雅黑";
        font-size:13px;
       text-decoration:underline
} 
.artrighttext_a:hover
{       color:#0000FF;
        font-family:"微软雅黑";
        font-size:13px;
        text-decoration:underline
} 

</STYLE>
