body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body {
	margin: 0px;
	padding: 0px;
	overflow: auto;
	line-height: 1.5em;
	font-size: 17px;
	word-wrap: break-word; word-break:break-word;
}


img{max-width:100%;}
.img_box{width:100%; min-height:100px; text-align:center; margin-bottom:5px;}
.img_box img{vertical-align: middle;}
#content{margin:0 10px;}
p{padding: 0.3em 0;margin: 0;}
a{color: #000;text-decoration : none;}

#content_title {
	border-top: solid 4px #000000;
	padding-left: 3%;
	padding-right: 3%;
}
#article_auther {
	margin_top: 0px;
	padding-left: 2%;
	padding-right: 2%;
	display: inline-block;
	width: 33%;
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	color: white;
	text-align: center;
	float: left;
	top: 0px;
	overflow: hidden;
}
#article_time {
	margin_top: 0px;
	display: inline-block;
	width: 40%;
	height: 30px;
	font-size: 12px;
	color: rgb(130,	130, 130);
	line-height: 30px;
	text-align: right;
	float: right;
	top: 0px;
}
#article_title {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left:1%;
	padding-right:1%;
	font-size: 24px;
	text-align: left;
	line-height: 130%;
	font-weight: bold;
}
#aritcle_title_bottomline {
	margin-left: 1%;
	margin-right: 1%;
	display: block;
	border-bottom: solid 1px rgb(225, 225, 225);
	margin-bottom: 10px;
	display: none;
}


.clear {
	clear: both;
}

.list {
	width: 94%;
	margin-left:3%;
	margin-right:3%;
	padding-top:3%;
	padding-bottom:3%;
	
	
}
.topline{
	width: 94%;
	margin-left:3%;
	margin-right:3%;
	border-top: 1px solid #ececec;
}
.line{

}
.img {
	float: left;
	width: 16%;
}
.main {
	float: left;
	width: 80%;
	padding-left:2%;
}
.imgs {
	width: 40px;
	height: 40px;
	border: 1px solid #D9D9D9;
	align: top;
	padding: 2px;
	background: white;
}
.title {
	width: 100%;
	font-weight: bolder;
	align: left;
}
.title span {
	float: right;
	font-weight: lighter;
	font-size: 12px;
	color:#cfcfcf;
}
.content {
	color:black;
	width: 100%;
	margin-top: 2px;
	line-height:120%;
	align: left;
}
#content_comment_state {
	margin:0 3%;
	border-top: 1px solid #ececec;
	display: none;
	background: white;
}
#content_comment_state_url {
	border-bottom: 0px dashed #adadad;
	color: #969696;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
}
#content_comment_title{
	display:none;
	height: auto;
	padding-top: 0.5em;
	padding-bottom: 0.4em;
	background: white;
	margin-left: 3%;
	margin-right: 3%;
}
#find_original_url {
	padding-left: 1.5em;
	width: 7em;
	font-size:0.7em;
	margin-bottom: 1.5em;
}
#original {
	display: none;
	text-decoration:none;
	text-align: center;
	padding: 0.4em 0px;
	background-color: #f0f0f0;
	color: #b3b3b3 ;
	border:none;

}

#original :active {
	background-color: #E0E0E0;
}

#content_recommend{
	padding:0px;
}
.recommendTitle_css{
	height: auto;
	padding-left:3%;
	background: #f1f1f1;
	color:#686868; 
	font-size:0.8em;
}
.recommendTitle a{
	text-decoration:none;
	border:0;
	overflow: auto;
	padding:0;
	margin:0;
}
.recommend_main{
	text-decoration:none;
	padding: 0.6em 0 0.8em 0px;
	margin-left: 3%;
	color:black ;
	font-size:1em;
	border-bottom:#e9e9e9 1px dotted;
}
.recommend_main_bottom{
	text-decoration:none;
	padding: 0.6em 0 0.8em 0px;
	margin-left: 3%;
	color:black ;
	font-size:1em;
	border:0px;
}
.recommendTitle{
	margin-left:3%;
	width:94%;
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	line-height: 150%;
}

.relatedBlockTitle_main{
	text-decoration:none;
	padding: 0.8em 0px;
	padding-left: 3%;
	background-color: #f3f2f2;
	color:black ;
	border:none;
}
.relatedBlockTitle{
	margin-left:1em;
	margin-right:1em;
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	line-height: 150%;
}

.relatedArticlesTitle {
	padding-top: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0.2em;
	font-size: 1em;
	text-align: left;
	line-height: 150%;
	font-weight: normal;
	color:black;
}
.relatedArticlesTitle img{
	padding-top: -0.3em;
	padding-bottom: 0.2em;
	height:1em;
	vertical-align:middle;
}
.relatedArticlesTitleInfo{
	border-top: 1px solid #ececec;
	height: auto;
	background: white;
	margin-left: 3%;
	margin-right: 3%;

}
.relatedArticlesAuthorAndTime {

	text-align: left;
	line-height: 150%;
	font-weight: normal;
	font-size: 12px;
	color: #cfcfcf;
	padding-bottom: 10px;
}
.relatedArticles_title{
	height: auto;
	margin-top: -0.3em;
	margin-bottom: 0.4em;
	background: white;
	margin-left: 3%;
	margin-right: 3%;
	font-size:1em;
	color:#f26522; 
}
	
.relatedArticles{
	height: auto;
	background: white;
	width: 100%;	
}
.relatedArticles a{
	text-decoration:none;
	border:0;
	overflow: auto;
	padding:0;
	margin:0
}
.relatedArticles_content{
	width: 100%;
}
.commentTable{
	padding-top:10px;
	padding-bottom:10px;
	margin-left: 3%;
	margin-right: 3%;
	border-top: 1px solid #ececec;
	width:94%%;
}
.commentTableTdImage{
	width: 40px;
	height: 40px;
	vertical-align:top;
}
.commentTableTitle{
	padding-left:10px;
	font-weight: bolder;
	color:black;
	vertical-align:top;
}
.commentTableContent{
	color:black;
	padding-left:10px;
	margin-top: 2px;
	line-height:120%;
	vertical-align:top;
}
.commentTableTime{
	float: right;
	font-weight: lighter;
	font-size: 12px;
	color:#cfcfcf;
	vertical-align:top;
}



#titleInfo{
	left:3%;
	bottom:0;
	right:6%;
}

#thisTitle {

	height: auto;
	margin-bottom: 10px;
	padding-left: 3%;
	padding-right: 3%;
}

#titleText div {
	padding-top: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0.2em;
	font-size: 24px;
	text-align: left;
	line-height: 120%;
	font-weight: normal;
}
#thisAuthorAndTime {
	padding-left: 2%;
	text-align: left;
	line-height: 120%;
	font-weight: normal;
	font-size: 14px;
	color: rgb(130,	130, 130);
	margin-bottom: 10px;
}

#news_template_01_title{
	padding-top: 40px;
	padding-bottom: 40px;
	background:#373d65;
}
#news_template_01_titleContent{
	height: auto;
	padding-left: 3.5%;
	padding-right: 3.5%;
	font-size: 26px;
	text-align: left;
	line-height: 130%;
	font-weight: bolder;
	color:white;
}

#news_template_01_AuthorAndTime {
	padding-left: 3.5%;
	text-align: left;
	line-height: 130%;
	font-weight: normal;
	font-size: 14px;
	color: white;
}


#news_template_02_author_and_time{
	padding-left: 3.5%;
	text-align: left;
	line-height: 135%;
	font-weight: normal;
	font-size: 14px;
	color: rgb(130,	130, 130);
	padding-top: 15px;
	padding-bottom: 15px;
}
#news_template_02_title{
	height: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 3.5%;
	padding-right: 3%;
	margin-bottom:0.2em;
	font-size: 26px;
	text-align: left;
	line-height: 130%;
	font-weight: bolder;
	color:white;
	background:#373d65;
}

#news_template_03_title{
	padding-top: 25px;
	padding-bottom:0.5em
}
#news_template_03_titleContent{
	height: auto;
	padding-left: 3.5%;
	padding-right: 3%;
	font-size: 26px;
	text-align: left;
	line-height: 130%;
	font-weight: bolder;

	border-right: rgb(241, 103, 30) 6px solid;
}
#news_template_03_AuthorAndTime {
	padding-left: 3.5%;
	text-align: left;
	line-height: 130%;
	font-weight: normal;
	font-size: 14px;
	color: rgb(130,130,130);
	padding-bottom:10px;
}

#news_template_04_title{
	padding-top: 17px;
	padding-bottom: 10px;
}
#news_template_04_titleContent{
	height: auto;
	padding-left: 3.5%;
	padding-right: 3%;
	font-size: 26px;
	text-align: left;
	line-height: 130%;
	font-weight: bolder ;
}
#news_template_04_AuthorAndTime {
	padding-left: 3.8%;
	text-align: left;
	line-height: 130%;
	font-weight: normal;
	font-size: 14px;
	color: rgb(130,130,130);
}

#news_template_04_banner{
	width:100%; 
	overflow:hidden; 
	margin-bottom:1em;
	display:table-cell;
	vertical-align:middle;
	position:relative;
}

#news_template_04_bannerImg{
	display: none;
	vertical-align: middle;
	text-align:center;
}

#news_template_06_title{
	padding-bottom: 70px;
	background:#373d65;
}
#news_template_06_titleContent{
	height: auto;
	padding-left: 3.5%;
	padding-right: 7%;
	font-size: 36px;
	text-align: left;
	line-height: 115%;
	font-weight: bolder;
	color:white;
}

#news_template_06_AuthorAndTime {
	padding-left: 3.8%;
	padding-top: 2px;
	text-align: left;
	line-height: 130%;
	font-weight: normal;
	font-size: 14px;
	color: white;
}

#templet_title_07{
	line-height:normal;
	background:#f0f0f0;
}
#news_template_07_topcolor {
	width :1em; 
	padding-top:30px; 
	font-size:10px ; 
	background:#FF9900;
	margin-left:15px;
}
#news_template_07_titleContent {
	float: right; 
	font-size:36px; 
	margin-right:20px;
	margin-bottom:30px;
	line-height:100%;
}
#news_template_07_AuthorAndTime {
	width:1em; 
	font-size:10px ;
	margin-left:15px; 
	height:100%;
	line-height:100%;
	float: left;
}

#templet_title_09{
	line-height:normal;
	background:#282828;
}
#news_template_09_topcolor {
	width :1em; 
	padding-top:30px; 
	font-size:10px ; 
	background:#FF9900;
	margin-left:15px;
}
#news_template_09_titleContent {
	float: right; 
	font-size:36px; 
	margin-right:20px;
	margin-bottom:30px;
	line-height:100%;
	color:white;
}
#news_template_09_AuthorAndTime {
	width:1em; 
	font-size:10px ;
	margin-left:15px; 
	height:100%;
	line-height:100%;
	float: left;
	color:white;
}

#news_template_08_title{
	
	padding-top: 50px;
	padding-bottom: 66px;
	background-image:url(grid.png);
}
#news_template_08_titleContent{
	height: auto;
	padding-left: 3.5%;
	padding-right: 7%;
	font-size: 36px;
	text-align: left;
	line-height: 115%;
	font-weight: bolder;
	padding-top: 35px;
	color:#ee804f;
}

#news_template_08_AuthorAndTime {
	padding-left: 3.8%;
	padding-top: 2px;
	text-align: left;
	line-height: 130%;
	font-weight: normal;
	font-size: 14px;
	color:#41afae;
}

#news_template_10_title{
	padding-top: 70px;
	padding-bottom: 70px;
	background:#f0f0f0;
}
#news_template_10_titleContent{
	height: auto;
	padding-left: 3.5%;
	padding-right: 7%;
	font-size: 36px;
	text-align: left;
	line-height: 115%;
	font-weight: bolder;
}

#news_template_10_AuthorAndTime {
	padding-left: 3.8%;
	padding-top: 2px;
	text-align: left;
	line-height: 130%;
	font-weight: normal;
	font-size: 14px;
}


#news_template_11_title{
	
	padding-top: 50px;
	padding-bottom: 66px;
	background:#f7f2ee;;
}
#news_template_11_titleContent{
	height: auto;
	padding-left: 3.5%;
	padding-right: 7%;
	font-size: 36px;
	text-align: left;
	line-height: 115%;
	font-weight: bolder;
	padding-top: 35px;
	color:#ee804f;
}

#news_template_11_AuthorAndTime {
	padding-left: 3.8%;
	padding-top: 2px;
	text-align: left;
	line-height: 130%;
	font-weight: normal;
	font-size: 14px;
	color:#41afae;
}

