body {
	font: normal 14px/24px "Microsoft Yahei", "冬青黑体简体中文 w3", "宋体";
}

a {
	text-decoration: none;
}

.clearfix {
	clear: both;
}

.logo {
	width: 200px;
	height: 38px;
	background: green;
	float: left;
}

#about {
	float: right;
}

.nbg {
	width: 26px;
	height: 16px;
	line-height: 16px;
	background: url(../images/nbg.png) center no-repeat;
	text-align: center;
	color: #fff;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
}

#content {
	magin-top: 80px;
}

#nav ul li,#about ul li {
	float: left;
}

#nav ul li a,#about ul li a {
	display: block;
}

#header {
	width: 100%;
	height: 70px;
	background: #239e24;	
	line-height: 70px;
	z-index: 999;
	-moz-box-shadow: 0px 1px 3px #e6e6e6;
	-webkit-box-shadow: 0px 1px 3px #e6e6e6;
	box-shadow: 0px 1px 3px #e6e6e6;
}

.btouming{
	filter: alpha(opacity = 90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}
.box-left {
	width: 714px;
	float: left;
	min-height: 600px;
}

.box-left-header {
	height: 38px;
	line-height: 38px;
	font-size: 18px;
	font-weight: bold;
	background: url(../images/bxianleft.png) left bottom no-repeat;
}

.box-left-header a {
	color: #000;
}

.bgfff {
	background: #fff;
}

.box-list {
	width: 670px;
	min-height: 90px;
	background: #FFF;
	padding: 15px 22px;
	margin: 5px 0;
	position: relative;
	border-bottom: #ececec 1px solid;
}
/*.box-list:hover{background:#F9F9F9;}*/
.box-header {
	background: #FFF;
	width: 700px;
	padding: 8px 0;
	padding-left: 14px;
	height: 30px;
	margin-bottom: 2px;
	line-height: 30px;
	font-size: 18px;
	margin-top: 20px;
}

.box-header span {
	color: #EE3424;
}

.box-header span a {
	color: #EE3424;
}

.box-more {
	background: #FFF;
	width: 700px;
	padding: 8px 0;
	padding-left: 14px;
	height: 45px;
	margin: 10px 0;
	line-height: 45px;
	font-size: 28px;
	text-align: center;
}

.box-more a {
	color: #EE3424;
}

.wx-text {
	width: 500px;
	float: left;
}

.wx-nothumb-text .wx-text {
	width: 670px;
}

.wx-thumb {
	float: right;
}

.wx-text h3 {
	font-size: 19px;
	margin-bottom: 3px;
}

.wx-text h3 a {
	font-weight: 700;
	font-size: 20px;
	color: #3e3e3e;
}

.wx-text h3 a:hover {
	color: #4aaf3a;
}

.wx-text p.wx-intro {
	font-family: "Microsoft YaHei", "微软雅黑", "Microsoft JhengHei", "华文细黑",
		"STHeiti", "MingLiu";
	min-height: 40px;
	color: #8e8e8e;
	font-size: 13px;
	line-height: 18px;
	margin-top: 12px;
}

.wx-text p.wx-intro a {
	font-size: 14px;
	color: #0053a5;
}

.wx-info {
	margin-top: 5px;
	font-size: 12px;
	font-family: "微软雅黑";
	line-height: 20px;
}

.wx-info .wx-source {
	float: left;
	color: #d4d4d4;
	margin-right: 15px;
}

.wx-info .wx-source a {
	font-size: 12px;
	color: #d4d4d4;
}

.wx-info .wx-time {
	float: left;
	color: #d4d4d4;
}

.wx-info .wx-read {
	float: right;
	color: #d4d4d4;
}

.wx-info .wx-edit {
	float: right;
	padding-left: 10px;
}

.wx-info .wx-edit a {
	color: #db4c3b;
}

#footer p {
	font-size: 12px;
	text-align: center;
	margin-top: 20px;
}

#footer p a {
	color: #0053a5;
	margin-right: 5px;
}

.box-right {
	float: right;
	width: 280px;
}

#sidebar.fixed {
	position: relative;
	top: 10px;
}

.mbox {
	background: #FFF;
	padding: 10px;
}

/*
			#sidebar.fixed {
			position: fixed;
			top: 10px;
		}
		.mbox-content a{display:inline-block;padding:0 20px;background:#D16F67;text-align:center;margin:5px 0;color:#F3F3F3;height:27px;border-top:3px solid #D16F67;line-height:27px;}
		.mbox-content a.cat-active,.mbox-content a:hover{border-top:3px solid #3B80EE;height:27px;color:#FFF;display:inline-block;background:#EE3424;}
	*/
.mbox-content a {
	color: #D16F67;
}

.mbox-username {
	display: block;
	font-size: 18px;
}

a.logout {
	font-size: 12px;
	color: #000;
	text-decoration: underline;
}

.box-shadow {
	
}

.box-shadow1 {
	background: #FFF;
	border: 1px solid #d5d5d5;
	-moz-box-shadow: 0px 1px 3px #e6e6e6;
	-webkit-box-shadow: 0px 1px 3px #e6e6e6;
	box-shadow: 0px 1px 3px #e6e6e6;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.box-view {
	padding: 20px 20px;
	line-height: 60px;
	font: normal 16px/26px "Microsoft Yahei", "冬青黑体简体中文 w3", "宋体";
	min-height: 480px;
}

.box-view h1 {
	font-size: 28px;
	text-align: center;
	margin-bottom: 20px;
	line-height: 38px;
}

.mbox-rank {
	padding: 0 10px;
	background: #FFF;
}

.mbox-rank-header {
	height: 38px;
	line-height: 38px;
	font-size: 18px;
	font-weight: bold;
	background: url(../images/bxian.png) left bottom no-repeat;
}

.mbox-rank-content {
	padding: 10px 0;
	font-size: 12px;
}

.mbox-rank-content ul li {
	line-height: 36px;
}

.mbox-rank-content a {
	color: #000;
}

.mbox-rank-content a:hover {
	color: #2E9F54;
	text-decoration: underline;
}

.mbox-rank-content i {
	width: 26px;
	display: block;
	float: left;
	height: 16px;
	line-height: 16px;
	background: url(../images/nbg.png) center no-repeat;
	text-align: center;
	color: #fff;
	margin-right: 10px;
	margin-top: 10px
}

.mbox-rank-content ul li span {
	width: 26px;
	display: block;
	float: left;
	height: 16px;
	line-height: 16px;
	background: url(../images/nbg.png) center no-repeat;
	text-align: center;
	color: #fff;
	margin-right: 10px;
	margin-top: 10px
}

.txt1 {
	width: 250px;
	height: 30px;
	font-size: 20px;
}

.btn1 {
	padding: 10px 15px;
	border: 0;
	background: #EE3424;
	color: #FFF;
	font-weight: bold;
}

.form1 {
	margin: 5px 0;
}
/* .wx-readed,.wx-readed:hover{background:#E0E0E0;}*/
#relalist ul li a {
	font-size: 14px;
}

#relalist ul li i {
	width: 20px;
	height: 20px;
	line-height: 20px;;
}

.fixed-nav {
	width: 1000px;
	margin: 0 auto;
	height: 70px;
	line-height: 70px;
	height: 70px;
	line-height: 70px;
}

.fixed-nav ul li {
	float: left;
	height: 70px;
	line-height: 70px;
	margin-left: 20px;
}

.fixed-nav ul li a {
	margin-top: 20px; display : block;
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	min-width: 66px;
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	display: block;
}

.fixed-nav ul li a:hover,.fixed-nav ul li a.nav-active {
	border-bottom: #fff 3px solid;
	color: #fff;
}

.history-pubtime {
	font-weight: bold;
	color: #EE3424;
}

a.login {
	background: url(img/weibo.png) 0 0 no-repeat;
	text-decoration: none;
	padding-left: 25px;
	font-size: 16px;
	line-height: 35px;
	color: #000;
}

a.login:hover {
	background: url(img/weibo-active.png) 0 0 no-repeat;
	text-decoration: underline;
	color: #EE3424;
}

.wx-hdn {
	display: none;
}

.mt10 {
	margin-top: 7px;
}

.mb10 {
	margin-bottom: 7px;
}

.view-info a {
	color: #000;
}

.view-info a:hover {
	color: #2E9F54;
	text-decoration: underline;
}

.pt10 {
	padding-top: 10px;
}

.pb10 {
	padding-bottom: 10px;
}

.pl20 {
	padding-left: 20px;
}

.rank-dh a {
	font-size: 16px;
}

.hdNews {
	position: relative;
	border-bottom: 1px dotted #DCDCDC;
	padding: 8px 0px 16px;
	background: url('about:blank') repeat scroll 0% 0% transparent;
	z-index: 0;
}

.hdNews h2 {
	font: 22px/33px "微软雅黑";
	padding-bottom: 2px;
	margin-left: 19px;
}

.hdNews h2 {
	font-weight: 700;
	font-size: 20px;
	color: #3F484F;
}

.Q-tpList {
	height: 86px;
	width: 760px;
	margin-left: 39px;
	padding: 5px 0px 0px;
}

.Q-tpList .pic {
	float: left;
	margin-right: 10px;
	overflow: hidden;
	display: inline;
	text-align: center;
}

.Q-tpList a {
	font: 18px "微软雅黑", "simhei";
	display: inline-block;
	font-weight: 700;
	color: #4F484F;
}

.Q-tpWrap p {
	width: 650px;
	color: #818181;
	padding: 1px 15px 0px 0px;
	line-height: 22px;
}

p img {
	max-width: 650px;
}

#media img {
	max-width: 650px;
}

.cssyuan {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background: #FF3366;
	width: 30px;
	height: 30px;
	line-height: 12px;
	text-align: center;
	color: #fff;
	font-size: 12px;
}

/*returnTop*/
p#back-to-top {
	position: fixed;
	display: none;
	bottom: 100px;
	right: 80px;
}

p#back-to-top a {
	text-align: center;
	text-decoration: none;
	color: #d1d1d1;
	display: block;
	width: 64px;
	/*使用CSS3中的transition属性给跳转链接中的文字添加渐变效果*/
	-moz-transition: color 1s;
	-webkit-transition: color 1s;
	-o-transition: color 1s;
}

p#back-to-top a:hover {
	color: #979797;
}

p#back-to-top a span {
	background: transparent url(../images/go-top-light-green.png) no-repeat;
	border-radius: 6px;
	display: block;
	height: 64px;
	width: 64px;
	margin-bottom: 5px;
	/*使用CSS3中的transition属性给<span>标签背景颜色添加渐变效果*/
	-moz-transition: background 1s;
	-webkit-transition: background 1s;
	-o-transition: background 1s;
}

#back-to-top a:hover span {
	background: transparent url(../images/go-top-light-green.png) no-repeat;
}