
.foottop{
	width:982px;
	height:39px;
	background-color:#181818;
	padding-top:10px;
	margin:0 auto;
	color:#747474;
	font-size:12px;
	line-height:18px;
	text-align:center;
}
.foottop a{
	color:#747474;
	text-decoration:none;
}
.foottop a:hover{
	color:#FFFFFF;
}
.footbottom{
/*	width:982px;
	height:50px;
	background-color:#000000;
	padding-top:20px;
	margin:0 auto;
	text-align:center;*/
}
.footbottom a img{
	border:solid #DEDEDE 1px;
	margin:0px 1px 0px 1px;
	width:71px;
	height:28px;
}