@charset "utf-8";
/* CSS Document */
/*-----------------------------------------global and backrounp--------------------------------------*/

body{
	padding:0px;
	margin:0px;
	background-color:#4e213c;
	background-image:url(img/lovebg.jpg);
	background-repeat:no-repeat;
	background-position:center top;}
div{
	padding:0px;
	margin:0 auto;
}
img{
	border:0px;
}
a{
	text-decoration:none;
}

.left{ 
	float:left;
	}
.right{ 
	float:right;
	}
.center{
	text-align:center
	}

.clear {
	clear:both;
	}
/*-----------------------------------------global and backrounp end--------------------------------------*/
	
.conright{
	background-color:#E6D7C4;
}
.topmenu{
	width:980px;
	background-color:#cd6ebf;
	height:35px;
	padding:0px;
	margin:0 auto;
}
.topmenu a{
	font-size:14px;
	font-weight:bold;
	color:#000000;
	text-decoration:none;
	margin:11px 8px 0px 8px;
	float:left;
}
.topmenu a:hover{
	text-decoration:underline;
	color:#FFFFFF;
}
.content{
	width:980px;
	padding:0px;
	margin:0 auto;
	background-color:#ffffff;
}
.conleft{
	float:left;
	width:650px;
	background-image:url(img/leftbg1.gif);
	background-repeat:no-repeat;
	background-position:top left;
}
.conleft01{
	width:650px;
	float:left;
	text-align:right;
	padding-top:10px;
}
.conleft02{
	width:650px;
	float:left;
}
.conleft02 h1{
	font-size:24px;
	font-weight:100;
	font-family: "Microsoft YaHei" ! important; 
	text-align:center;
}
.ltbanner01{
	width:630px;
	height:85px;
	padding:0px;
	margin:0px 0px 10px 10px;
	float:left;
}
.ltreadtitle{
	width:606px;
	height:25px;
	padding:0px 0px 0px 3px;
	margin:0px 0px 0px 15px;
	float:left;
	color:#383838;
	font-size:14px;
	font-weight:bold;
	border-bottom:solid #383838 5px;
}
.ltread{
	width:615px;
	margin:0px 0px 0px 0px;
	padding:10px 0px 0px 15px;
	float:left;
}
.ltreadul{
	display:block;
	float:left;
	width:590px;
 	padding-left:15px;
	margin-top:15px;
	margin-left:15px;
	font-size:14px;
	line-height:24px;
}
.ltreadul a{
	text-decoration:none;
	color:#000000;
}
.ltreadul a:hover{
	color:#0562DB;
}
.ltreadul li{
	display:block;
	float:left;
	width:295px;
	}
.ltbq{
	width:608px;
 	padding:0px;
	margin:10px 0px 0px 15px;
	float:left;
 }
.ltpl{
	width:608px;
	padding:0px;
	margin:10px 0px 0px 15px;
	float:left;
/*	border:1px #cccccc solid;
*/ }
.ltpltitle{
	width:588px;
	height:21px;
	background-color:#9F9F9F;
	color:#000000;
	padding:4px 10px 0px 10px;
	font-size:14px;
	font-weight:bold;
	float:left;
}
.ltpltitle span{
	font-size:12px;
	font-weight:100;
	float:right;
}
.ltplcon{
	width:608px;
 	float:left;
}
.ltpldown{
	width:593px;
	height:27px;
	padding:3px 0px 0px 15px;
	float:left;
	font-size:12px;
	border-top:solid #CDCDCD 1px;
}
.ltpldown a{
	text-decoration:none;
	color:#0562DB;
}
.ltpldownbtn01{
	margin-top:3px;
}
.ltbottom{
	width:540px;
	text-align:center;
	font-size:12px;
	float:left;
	margin-top:10px;
}
.ltpldownbtn02{
	float:right;
	width:74px;
	height:22px;
	background-image:url(img/ltpldownbtn.jpg);
	background-repeat:no-repeat;
	border:0;
	margin-top:1px;
	margin-right:10px;
}
#ckepop{
	width:558px;
	float:left;
	margin-left:50px;
 }
#ckepop span{
	float:left;
	font-size:12px;
}
.conleft02sp01{
	width:100%;
	display:block;
	font-size:12px;
	color:#A4A5A7;
	text-align:center;
	margin-top:10px;
}
.conleftzh{
	width:650px;
	height:35px;
	float:left;
	text-align:right;
}
.conleft02con02{
	width:570px;
	float:left;
	font-size:14px;
	line-height:24px;
	color:#454545;
	padding:0px 0px 0px 38px;
	margin-left:15px;
}
.conlt02con01{
	padding:0px 0px 0px 10px;
	margin:0px 0px 10px 35px;
	font-size:14px;
	line-height:24px;
	color:#454545;
	border-left:solid #4F4343 10px;
	float:left;
	width:560px;
}
.bjhead{
	width:608px;
	padding:0px;
	margin-left:15px;
	float:left;
	text-align:right;
	font-size:12px;
	color:#BDBEBF;
}
.conlt02conspan02{
	width:558px;
	margin-left:50px;
	display:block;
	float:left;
	font-size:12px;
 	margin-top:10px;
	margin-bottom:10px;
}
.fy{
	width:608px;
	padding:0px;
	margin-left:15px;
	float:left;
	text-align:center;
}
.conlt02banner02{
	width:558px;
 	float:left;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:50px;
}
 

