
 /***
 	* @name:		Reset（样式重置）
 	* @author:		
 	* @type:		基础类
 	* @explain:		移除元素的填充(padding)和边距(margin)，定义一些元素的基本样式
 	* @relating:	no
 	* @dependent:	no
 */
 
 /* 
  *	********** 移除元素的   padding, margin  **********
  */
 html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, 
 pre, form, fieldset, table, th, td, input, textarea { margin: 0; padding: 0; }


 /* 
  *	********** 定义基本元素的样式 	 默认字体：宋体	  **********
  */
 body { font-family:\5B8B\4F53,Arial Narrow,arial,serif; background-color: #fff;  font-size: 12px;}
 img{ vertical-align: top; border-width:0; }
 ol,ul { list-style: none;}
 li{ list-style-type: none;}
 caption,th { text-align: left;}
 address,caption,cite,code,dfn,ins,em,th,var { font-weight:normal; font-style:normal;} 
 input,textarea{ font-size: 12px; padding: 2px;}
 /* **** 基本的文本输入框样式 ****	   */
 .input-text,.textarea{border: 1px solid #ccc; padding: 3px;}
 .input-text{ line-height: 12px; height: 12px;  }
 .textarea{line-height: 18px; padding: 6px;  background: url(images/opacify-logo.gif) no-repeat 50% 50%;}
 
 h1,h2,h3,h4,h5,h6{ font-weight: normal; }
 h1{ font-size: 18px; }
 h2{ font-size: 14px; }
 h3{ font-size: 12px; }
 
 a{ color: #333; text-decoration: none;}
 a:hover {color: #f00; }
 /* @end **/

 /***
 	* @name:		Grids960（960栅格化）
 	* @author:		
 	* @type:		基础类
 	* @explain:		栅格化设计,列出常用的几个宽度值,栏间距：10px,
 	* @relating:	no
 	* @dependent:	no
 */
 .w-150{ width: 150px; }
 .w-200{ width: 200px;}
 .w-210{ width: 210px; }
 .w-220{ width: 220px; }
 .w-230{ width: 230px; }
 .w-240{ width: 240px; }
 .w-250{ width: 250px; }
 .w-310{ width: 310px; }
 .w-300{ width: 300px; }
 .w-320{ width: 320px; }
 .w-350{ width: 350px; }
 .w-360{ width: 360px; }
 .w-370{ width: 370px; }
 .w-380{ width: 380px; }
 .w-390{ width: 390px; }
 .w-400{ width: 400px; }
 .w-410{ width: 410px; }
 .w-480{ width: 480px; }
 .w-470{ width: 470px; }
 .w-550{ width: 550px; }
 .w-560{ width: 560px; }
 .w-570{ width: 570px; }
 .w-600{ width: 600px; }
 .w-650{ width: 650px; }
 .w-670{ width: 670px; }
 .w-700{ width: 700px; }
 .w-720{ width: 720px; }
 .w-740{ width: 740px; }
 .w-750{ width: 750px; }
 .w-810{ width: 810px; }
 .w-960{ width: 960px; }
 
 /* author: wangyuelong */
 .w-160{ width:160px} 
 .w-260{ width:260px}
 .w-318{ width:318px}
 .w-450{ width:450px}
 .w-520{ width:520px}
 .w-690{ width:690px}
 .w-790{ width:790px}
 /* @end **/
 .textarea-w600{ width: 594px; }


 /***
 	* @name:		Layout（布局）
 	* @author:		
 	* @type:		基础类
 	* @explain:		布局主体结构,定义网站的常用布局
 	* @relating:	no
 	* @dependent:	no
 */
 
 /* 
  *	********** 横截栏的样式: 居中，宽度   **********
  */
 .column { width: 972px; margin: 0 auto; overflow:hidden}
 
 /* 
  *	********** 三栏布局: 左两栏  + 右一栏  **********
  */
 .col-l-main,
 .col-l-main .col-l { float: left; }
 
 .col-r-extra,
 .col-l-main .col-r { float: right; }
 
 /* 
  *	********** 三栏布局: 左一栏  + 右两栏  **********
  */
 .col-r-main,
 .col-r-main .col-r{ float: right; }
 
 .col-l-extra,
 .col-r-main .col-l{ float: left; } 
 /* @end **/

 /* ********** 样式中用到的图片拼合集合  **********  */
 .content-top,.image-top,.mode-sear,.diy-head-a,.mode-flash-1 .thumb ul li.cur{background-image: url(images/cmstop-block.png);}
 .mode-sear,#show-all-cont,.go-bbs a.bbs,.go-bbs a.stow,.go-bbs a.site-tree,
 .slide-txt span,.resource-head,.mode-bg-dott,.digg a,.reg-a,.shareTitle{background-image: url(images/cmstop-big.png);}

 .mode-bg-dott{ height: 20px;  background-position: left -252px; }
 .span-bg-blue,.span-bg-black,.span-bg-blue2{ padding: 3px 8px; float: left; color: #fff; background-color: #06c; }
 .span-bg-black{background-color: #666;}
 .span-bg-blue2{ background-color: #59B6E8;}
 .mode-bg-dott span a{ color: #fff; }
 .mode-bg-dott span a:hover{ color: #ff0; }
 /* 顶部条   */
 .header-top{ height: 28px; }
 .logo-bar{ background-color: #fff; height: 80px; }
 .login{ margin-right: 80px; padding-top: 6px; color: #666;  }
 .login a { margin-right: 5px; margin-left: 5px; color: #666; }
 .login a:hover{ color: #f00; }
 .go-bbs a{ float:left; line-height:28px; margin-right:20px; padding-left:20px; color:#666;}
 .go-bbs a.bbs{ background-position: -183px -43px; }
 .go-bbs a.stow{ background-position: -181px -110px ;}
 .go-bbs a.site-tree{ background-position: -184px -71px; }
 .sear-top{ margin-top: 3px; }
  /* LOGO   */
 .logo-menu{ background-color: #fff; }
 .logo-box{ height: 54px; margin-top: 8px;  background-image: url(images/image-logo.jpg); background-repeat: no-repeat;}
 .logo-box h1 a{ text-indent: -9999px; display: block; width: 150px; height: 36px; }
 .logo-box p{ color: #666; text-align: center; }
 .top-rss{ *margin-top: -2px;}
 /* 友情链接  */
 .out-links{border: 1px solid #dbdada; text-align: center; background-color: #f1f1f1;  }
 .out-links div{ padding: 2px; }
 .out-links ul{margin:4px; background-color:#fff; padding-top:4px; text-align: left;padding-left: 10px;}
 .out-links li{ display:inline; line-height:35px;}
  
 /* 页面底部  */
 #foot{ text-align: center; background:#FFFFFF}
 #foot_link{ height: 30px; line-height: 30px;  }
 #foot_link a{ color: #000;}
 #foot_link a:hover{ color: #f00; }
 #foot p{ line-height: 22px; color: #666;}

/*	分页		*/
.page{text-align:center;}
.page li{ float: left;}
.page a{float:left; padding:0 6px; margin:0 6px 0 0;  height: 20px; line-height:20px; border:1px solid #ddd; font-family: Arial, Helvetica, sans-serif;  text-align: center; vertical-align: middle; background-color:#fff; color:#454545;}
.page a:hover,a.now{ text-decoration:none; border-color:#06c; }
.page a.now{ font-weight:bold; background:#2266BB; color:#fff; }

 /* ********************** 明显的分割线 ************************ */


  /* *********	大图背景 	******** */
 .mode-menu,.mode-menu ul li.nav-cur,.mode-menu ul li.nav-cur a,.menu-cir-l,.menu-cir-r,.menu-cir-main,
 .mode-head,.mode-tabs,.mode-tabs ul li a,.mode-tabs ul li a.tabs-focus,.mode-imgtitbg,
 .magazine-wrap .magazine-tab-menu li a,#nav-cur,#nav-cur a{ background-image: url(images/cmstop-block.png);}
 
 .his-1,.his-2,.mode-txtlink li,.mode-rank li em,.mode-rank li em.front,
 .mode-fastimg,.mode-videotitle,.mode-imgtitle .more,.mode-intertitle,.mode-news,.mode-position span a,
 .mode-sear ,.post-btn,.btn_black,.mode-head a.more-e,.mode-head-3 h2,.v-play-c,.v-comment-c,.other,.bigNews-head h2,
 .pic-list-wrap .more,.hr-dotted,.mode-vote .vote-all,.pic-news-list h2,.magazine-wrap .magazine-head,
 .mode-position ,.italk-pl,.italk-pl:hover ,.his-maga,.cover-title h2,
 .printing,.webbook,.post-tw,.maildy,.post-fri,.gall-pageNumber,.view-all-pic,.view-other a,.view-primal a,
 .gall-slide-console a,.gall-slide-console a:hover,.img-more,.member-btn,.fast-login-btn,.mode-vote .submit{background-image: url(images/cmstop-big.png);}
 
 
/***
 	* @name:		mode-menu
 	* @author:		
 	* @type:		导航
 	* @explain:		
 	* @relating:	
 	* @dependent:	
 */
 /* *********	非圆角菜单	******** */
 .mode-menu{ height: 35px; line-height: 35px; background-position: left -53px; }
 .mode-menu ul li { float: left; margin: 0 2px 0 2px; padding-left: 10px;  font-size: 14px; }
 .mode-menu ul li a{ float: left;  padding-right: 10px; text-align: center; color: #fff; }
 .mode-menu ul li.nav-cur,#nav-cur{   background-position: -0px -532px; }
 .mode-menu ul li.nav-cur a,#nav-cur a{  background-position: right -566px; font-weight: bold;  color: #c00; padding-right: 8px; }
 /* *********	圆角菜单 		******** */
 .menu-cir{ position: relative; height: 67px; }
 .menu-cir-main,.menu-cir-l,.menu-cir-r{position: absolute; width: 11px; height: 67px;}
 .menu-cir-main{ width: 938px; left: 11px; background-position: left -53px; }
 .menu-cir-l{ left: 0; background-position: -1px -132px; }
 .menu-cir-r{ right: 0; background-position: -12px -132px;}
 .menu-cir-main .menu-hot{ line-height: 34px; }
 /* 无子栏目 菜单,比如大众版首页,dz-index.html */
 .nosubmenu{ height: 35px; overflow: hidden; zoom: 1;}
  /* *********	历史页面按钮	******** */
 .his-1,.his-2{ margin-right: 6px; }
 .his-1{ padding-left: 16px; color: #fff; background-position: -15px -470px; }
 .his-2{ padding: 0 6px 0 18px; background-position:-14px -511px; color:#06c; }
 .his-1:hover{ color: #ff0; }
 .his-2:hover{ color: #c00;}
 /* *********	热点关注		******** */
 .menu-hot{ line-height: 22px;}
 .menu-hot span.hot-news a{ margin-right: 30px; }
 .menu-hot span.hot-news a:hover{ color: #f00; }
 .menu-hot ul li{ display: inline; }
 .menu-hot ul li a{ font-size: 14px; margin: 0 10px; }
 /* @end **/

 /***
 	* @name:		mode-head，mode-tabs
 	* @author:		
 	* @type:		标题行,包含切换（tabs）
 	* @explain:		一些模块的标题行，包括标题名称，更多链接
 	* @relating:	no
 	* @dependent:	no
 */
 /* *********	该模块公共组合	******** */
 .mode-head-2,.mode-head,.mode-tabs{ height: 27px; line-height: 27px; padding: 0 8px; overflow: hidden; zoom:1; }
 .mode-head h2,.mode-head-2 h2,.mode-tabs h2{ float: left; font-weight: bold; }
 /* *********	有背景类	******** */
 .mode-head{background:#9F9F9F;/* background-position: 0 -254px;*/ border-bottom: 1px solid #9F9F9F;}
 .mode-head a.more,.mode-head a.more-e{ float: right; color: #06c; }
 .mode-head a.more-e{ width: 37px; height: 12px; margin-top: 8px; background-position: -17px -50px; text-indent: -9999px; }
 .mode-head a.more-e:focus{ outline: none;}
 .mode-head ul{ float: right;}
 .mode-head ul li{ float: left;}
 .mode-head ul li a{ float: left; margin: 0 8px; color: #666;}
 .mode-head a.more:hover,.mode-head a.more-e:hover,.mode-head ul li a:hover{ color: #c00;}
 /* *********	无背景类		******** */
 .mode-head-2{border-bottom: 1px solid #dbdada;}
 .mode-head-2 a.more{ color: #999; float: right;}
 .mode-head-2 a.more:hover{ color: #f00; }
 .mode-head-3{ background: none; border-bottom: none; }
 /* *********	切换类		******** */
 .mode-tabs{ height: 29px;  background-position: left -703px;}
 .mode-tabs ul li{ float: left;}
 .mode-tabs ul li a{ float: left; padding: 0 10px;  background-position: left -632px; color: #06c; }
 .mode-tabs ul li a.tabs-focus{ height: 29px; background-position: left -665px; color: #666; font-weight: bold;}
 .mode-tabs ul li a:hover{ color: #f00; }
 .mode-tabs ul li a.tabs-focus:hover{ color: #000;}
 .mode-tabs-2{ padding: 0;}
 .mode-tabs-fs14 ul li a{ font-size: 14px; }
 /* *********	图片标题		******** */
 .mode-imgtitle{ height: 34px; line-height: 34px;}
 .mode-imgtitle p{ float: left; color: #999;}
 .mode-imgtitle ul{ float: right; }
 .mode-imgtitle ul li{ float: left; margin-right: 10px;}
 .mode-imgtitle ul li a{ color: #333; }
 .mode-imgtitle .more,.other{ margin-top: 10px; margin-right: 5px; width: 38px; height: 16px; background-position: -15px -48px; }
 .other{ margin-top: 0;margin-right: 0; text-indent: -9999px; }
 /* *********	各title背景图片		******** */
 .mode-imgtitbg{ height: 35px; background-position: left -379px; border-bottom: 1px solid #9FCCE9; }
 .mode-fastimg,.mode-videotitle,.mode-intertitle,.mode-news{ float: left; text-indent: -9999px; }
 .mode-fastimg{  width: 77px;  background-position: -156px -510px;} 
 .mode-videotitle,.mode-intertitle,.mode-news{ width: 115px; }
 .mode-videotitle{ background-position: -11px -424px; }
 .mode-intertitle{ background-position: -11px -366px; }
 .mode-news{ background-position: -13px -322px;}
 .mode-pictitle{ width: 143px; background-position: -111px -1333px; }
 /* *********	更多按钮		******** */
 .img-more{width:45px; height:20px; background-position: -15px -48px; text-indent:-9999px; }
 /* *********	视频页面title样式		******** */
 .mode-head-3 h2{padding-left: 30px; padding-top: 6px; background-position: -269px -1055px ; background-repeat: no-repeat; }
 /* *********	在默认样式上自定义背景		******** */
 .diy-bg-a{ background-position: 0 0;}
 /* @end **/

 /***
 	* @name:		mode-txtlink,mode-rank
 	* @author:		
 	* @type:		文本列表模块
 	* @explain:		列表中基本的是12px, 颜色是666，可以快速切换到14px，颜色是06c，依赖的模块是mode-head
 	* @relating:	no
 	* @dependent:	mode-head
 */
 /* ********* 常规列表	******** */
 .mode-txtlink ul,.mode-txtlink ol { }
 .mode-txtlink li,.mode-rank li{  padding-left: 8px; line-height: 24px; background-position: -286px -280px; background-repeat: no-repeat; }
 .mode-txtlink li a{ color: #666; }
 .mode-txtlink li a:hover{ color: #f00; }
 .mode-txtlink li cite,.mode-txtlink li .date,.mode-rank li em{  font-family: Arial; font-size: 10px; }
 .mode-txtlink li cite{ color: #999; }
 .mode-txtlink li .date{  margin-left: 10px;  color: #999; }
 /* ********* 排序列表	******** */
 .mode-rank li em{ float: left; margin-right: 8px; width: 16px; height: 20px; text-align: center;  background-position: -139px -98px; }
 .mode-rank li em.front{ background-position: -138px -58px; color: #fff; }
 /* @end **/

 /***
 	* @name:		mode-txtlink,mode-rank
 	* @author:		
 	* @type:		面包屑导航
 	* @explain:		列表中基本的是12px, 颜色是666，可以快速切换到14px，颜色是06c，依赖的模块是mode-head
 	* @relating:	no
 	* @dependent:	mode-head
 */
 .mode-position{ padding-left: 20px; margin-top:10px; line-height: 21px; background-position: -280px -481px; background-repeat: no-repeat;}
 .mode-position .menu-a{ margin-right: 10px; color: #06c; font-weight: bold; font-size: 14px; }
 .mode-position span a{ padding-right: 10px; background-position: right -911px; }
 /* @end **/

 /*
  * ***************** 侧边栏搜索条  *****************
  */
 .mode-sear{ width: 190px; height: 28px; background-position: -57px -152px;}
 .mode-sear .sear-box,.mode-sear .sear-btn{ background-color:  transparent;  border: none; }
 .mode-sear .sear-box{ width: 146px; height: 17px;line-height: 17px; padding: 1px 2px 2px 4px; color: #666; _float:left;}
 .mode-sear .sear-btn{ text-indent: -9999px; width: 30px; cursor: pointer; }
 /* @end **/

  
 /***
 	* @name:		mode-comment
 	* @author:		
 	* @type:		评论模块
 	* @explain:		
 	* @relating:	
 	* @dependent:	mode-head
  */
 /* 
  *	********** 评论列表  **********
  */
 .mode-comment dt{ line-height: 26px;}
 .mode-comment dt .user-info,.mode-comment dt .user-info a{ color: #06c;}
 .mode-comment dt .user-info a:hover{ color: #f00; }
 .mode-comment dt .user-info{float: left;}
 .mode-comment dt .post-time{ float:right;  color: #999;  font-family: Arial; font-size: 10px; }
 .mode-comment dd{ clear:both; padding-bottom: 10px; }
 .citation-wrap{ line-height: 24px; overflow: hidden;word-wrap:break-word;}
 .mode-comment dd p{ line-height: 24px; font-size: 14px;  color: #333;word-wrap:break-word;}
 .mode-head .comment-count{padding-left: 10px;  color: #666; }
 .mode-head .comment-count em{ padding: 0 4px; font-family: Arial; color: #f00; }
 .post-comment-area{ background-color: #f8fbfc; border-top: 1px solid #dfedf2;}
 .post-comment-area .textarea{  height: 100px; background-color: #fff; border-color: #ddd; overflow: auto; border-width:1px 0; }
 .textarea-w663{ width: 663px; }
  /* 
  *	********** 用户登录区域  **********
  */
 .view-comment{ line-height: 40px; text-align: right; color: #666; }
 .view-comment a{ margin-left: 10px; color: #06c; }
 .view-comment a:hover{ color: #f00; }
 .user-writeinfo{ height: 30px; line-height: 30px; padding: 10px 0 5px 0; }
 .user-writeinfo a{ color: #06c;}
 .user-writeinfo a:hover{ color: #f00;}
 .fast-login{  width: 180px;  padding: 15px;  border: 1px solid #9FCCE9; background-color: #F8FBFC;}
 .fast-login .input-text{ width: 100px; margin-bottom: 10px; }
 .post-btn,.btn_black{ width: 75px; height: 25px; padding-bottom: 5px; color: #fff; font-weight: bold; border: none; font-size: 12px; background-color: transparent; background-position: -7px -844px;}
 .fast-login-btn{height:21px; width:64px; background-color: #f8fbfc; background-position: -8px -203px; border: none;  }
 #loginPassword{ margin-top: 8px;}
 /* @end **/

 /* 
  *	**********	内容页分页模块	 **********
  */
 .pagination{ margin: 0 auto;  text-align: center; }
 .pagination a {background-color: #fff; border:1px solid #ddd; color:#2266BB; float:left; height:20px; line-height:20px; margin:0 6px 0 0; padding:0 6px; text-align:center; vertical-align:middle; font-family: Arial;}
 .pagination a:hover,.pagination a.now{ border-color: #26b; }
 .pagination a.now{ background-color: #26b; color: #fff; font-weight: bold; }
 .pagination a.no-op { background:none repeat scroll 0 0 #fff;border-color:#ddd;}
 .no-op, a.no-op {color:#ccc; cursor: pointer; text-decoration:none;}
 #show-all-cont{ border-width: 0; float: left; width: 72px; line-height: 21px; height: 21px;  background-position: -208px -202px; color: #fff; }
 #show-all-cont:hover{ color: #ff0; }

 /***
 	* @name:		mode-imgtxt
 	* @author:		
 	* @type:		图文列表模块
 	* 
 	* @explain:		图片+文字，其中图片在上，文字链接在图片之下，外层由li包裹，li-width分为四种规格，50%，33.3333%，25%，20%，这些规格取决于
 	* 				图片尺寸，图片比例为：width : height = 4 : 3, 单个li的下边距margin-bottom: 6px, 整个图片区域距离顶部10px, 单个li内的p元素
 	* 				行高line-height: 24px
 	* 
 	* @relating:	no
 	* @dependent:	mode-head
 */
 .mode-imgtxt { padding-top: 10px; overflow: hidden;}
 .mode-imgtxt li{ float: left; margin-bottom: 6px; text-align: center; overflow: hidden; }
 .mode-imgtxt li p{margin: 4px 0 0 6px; height: 36px; line-height: 18px; text-align: left; }
 .mode-imgtxt ul.per-50 li { width: 50%;}
 .mode-imgtxt ul.per-33 li { width: 33.3333%;}
 .mode-imgtxt ul.per-25 li { width: 25%;}
 .mode-imgtxt ul.per-20 li { width: 20%;}
 /* @end **/

 /***
 	* @name:		mode-imgtxtsummary
 	* @author:		
 	* @type:		基础类,图片+标题+摘要，模块
 	* @explain:		区域左侧距离，距顶都是8px，li的间距,h3距离图片都是:6px, 点线分割为10px，
 	* 				该模块可以扩展一下，比如图片底部还有一个链接，此时应该添加的标记：<br /><p><a href="">我是新来的</a></p>
 	* @relating:	mode-imgtxt，mode-txtlink
 	* @dependent:	mode-head
 */
 .mode-imgtxtsummary { padding: 8px 8px 0 8px; overflow: hidden;zoom: 1; }
 .mode-imgtxtsummary ul li{ margin-bottom:6px;  /*height: 1%;*/ clear: both; overflow: hidden; zoom: 1;}
 .summary-h3{ margin-bottom: 6px; }
 .mode-imgtxtsummary ul li .imgtxt{ float: left; margin-right: 10px; margin-bottom: 6px; }
 .mode-imgtxtsummary ul li .imgtxt p{ text-align: center; }
 .mode-imgtxtsummary ul li .imgtxt p a{ line-height: 20px; color: #666;}
 .mode-imgtxtsummary ul li p.summary,.mode-imgtxtsummary ul li p.summary-no2em{ line-height: 16px; text-indent:2em; color: #666; }
 .mode-imgtxtsummary ul li p.vd1{line-height:18px; color:#999;}
 .mode-imgtxtsummary ul li p.summary a.detail{ color: #06c; }
 .mode-imgtxtsummary ul li p.summary-no2em{ text-indent: 0; height: 54px;line-height:18px;_overflow:hidden;_zoom:1;}
 .mode-imgtxtsummary ul li p.descriptionsT1{height:auto;}
 .detail{ color: #06c;}
 .detail:hover{ color: #c00;}
 .spe-h3{margin-bottom: 4px; line-height: 18px; height: 36px; overflow: hidden;}
 .mode-imgtxtsummary h3{line-height:18px;}
 .mode-imgtxtsummary .mb0{margin-bottom:0;}
 .mode-imgtxtsummary .vh3{margin-bottom:5px;}
 .mode-imgtxtsummary .vh3 a{color:#06c;font-size:14px;}
 
 .maginzeListWrap{padding:20px 8px 0 20px;}
 .mode-imgtxtsummary ul li p.zy{line-height:22px;}
 .summary-h3 .cor-ccc{color:#ccc;}
 .mode-imgtxtsummary .maginzeList{margin-bottom: 50px;}
 .mode-imgtxtsummary ul li.maginzeList{margin-bottom:30px;}
 
 .mode-head .cor-333{color:#999;}
 
 /* @end **/
 /***
 	* @name:		mode-imgtxtsummary-2
 	* @author:		
 	* @type:		扩展类,图片+标题+摘要，模块
 	* @explain:		在原有基础上，h3排列在图片的右边，描述性文字没有了缩进，图片有了1px的边框,还有其他细节
 	* @relating:	mode-imgtxt，mode-txtlink
 	* @dependent:	mode-imgtxtsummary
 */
 .mode-imgtxtsummary-2 ul li{ clear: both; margin-top: 5px; height: 1%;}
 .mode-imgtxtsummary-2 ul li h3{ margin-bottom: 0; line-height: 18px; } 
 .mode-imgtxtsummary-2 ul li img{margin-bottom: 4px; padding: 1px; border: 1px solid  #ccc; }
 .mode-imgtxtsummary ul li .imgtxt{ margin-bottom: 0;}
 .mode-imgtxtsummary-2 ul li p.summary{ text-indent: 0; color: #999; } 
 .mode-imgtxtsummary-2 ul li h3 a{ color: #06c; }
 .mode-imgtxtsummary-2 ul li h3 a:hover{ color: #f00;  }
 /* @end **/

/* author: wangyuelong  	mode-imgtxtsummary03  */
 .mode-imgtxtsummary03 img, .mode-imgtxtsummary04 img{ border:1px #ccc solid; padding:1px}
 .mode-imgtxtsummary03 li{ margin-top:10px; height:1%; }
 .mode-imgtxtsummary04 li{ height: 1%;}
 .mode-imgtxtsummary04 h2{ padding-top:3px}
 .mode-imgtxtsummary04 p{color:#666666; margin-top:6px; line-height:20px;}
 .mode-imgtxtsummary04 .imgtxt{ margin-left:6px; display:inline}
 .mode-rss img{ margin-left:4px; margin-top:4px; float:left} 
 /* end  mode-imgtxtsummary03  */



 /***
 	* @name:		mode-vote
 	* @author:		
 	* @type:		投票和调查模块
 	* @explain:		
 	* @relating:	
 	* @dependent:	mode-head
 */
 .mode-vote{ padding: 8px; }
 .mode-vote h3{ line-height: 24px;  }
 .mode-vote li{ line-height: 21px;}
 .mode-vote li label{ padding-left: 2px; color: #666;}
 .mode-vote .vote-handle{ line-height: 21px; padding: 10px 3px; }
 .mode-vote .vote-all{float: left; margin-right: 20px; *padding-top: 6px; height:24px; width:64px; background-position: -107px -202px; background-color: #fff; text-align: center;  color: #fff; border: none; }
 .mode-vote .vote-submit{ padding-top: 20px; }
 .mode-vote .vote-submit li{ line-height: 40px;}
 .mode-recite p{ line-height: 18px; text-indent: 2em; color: #333; margin-bottom: 10px;}
 .mode-recite strong.blaze{padding-left: 30px; line-height: 30px; color: #666;}
 
 .mode-vote dt{margin-bottom: 10px;line-height: 24px; font-size: 14px; color: #c00; font-weight: bold; }
 .mode-vote dd{  color: #666; margin-bottom: 6px; }
 .mode-vote dd input{ margin-right: 4px; vertical-align: top; }
 .mode-vote .submit{ float: left;margin: 10px 20px 10px 0; *padding-top: 6px; height:24px; width:64px; background-position: -107px -200px; background-color: #fff; text-align: center;  color: #fff; border: none; }
 .mode-vote dd a{ line-height: 20px;float: left;margin-top:12px; }
 /* @end **/

 /***
 	* @name:		mode-imgtxt-video
 	* @author:		
 	* @type:		基础类
 	* @explain:		视频列表，非重用性组件归置在各自页面内
 	* @relating:	mode-imgtxtsummary
 	* @dependent:	
 */
 .mode-imgtxt-video{ clear: both; padding: 10px; padding-bottom: 0; overflow: hidden; zoom: 1;   }
 .mode-imgtxt-video ul{ margin-left: -46px; height: 320px;}
 .mode-imgtxt-video ul li{ float: left; margin-bottom: 15px;  margin-left: 46px; display: inline;height:154px;width:140px; overflow:hidden;_zoom:1;}
 .mode-imgtxt-video ul li p{ color: #666; font-family: Arial; }
 .mode-imgtxt-video ul li p.txtlink{margin-top:4px;  }
 .mode-imgtxt-video ul li p.txtlink a{ color: #06c; }
 .mode-imgtxt-video ul li p.txtlink a:hover{ color: #f00; }
 .v-play-c,.v-comment-c{ float: left; margin-right: 10px; height: 14px;  padding-left: 17px; background-repeat: no-repeat; color: #666;  }
 .v-play-c{ background-position: -14px -1067px; }
 .v-comment-c{ background-position: -118px -1066px;}
 
 .video-txtlink ul{_margin:0;}
 .video-txtlink .video-list-tj li{width:auto; _float:none;}
  /* @end **/

 /* ********************** 明显的分割线 ************************ */

 /***
 	* @name:		Fast style(快捷方式)
 	* @author:		
 	* @type:		基础类
 	* @explain:		定义一些常用css的快捷方式,不必考虑命名方式，直接class叠加就搞定
 	* @relating:	no
 	* @dependent:	no
 */
 
 /* 
  *	********** 隐藏  和   显示  **********
  */
 .hide{ display: none; }
 .show{ display: ''; }
 /* 
  *	********** 定义模块间的间距，包括左右上下四个方向,基本间距: 10px  **********
  */
 .mar-l-10  { margin-left: 10px; }
 .mar-r-10  { margin-right: 10px; }
 .mar-t-10  { margin-top: 10px; }
 .mar-b-10,.mar-b-10 ul li  { margin-bottom: 10px; }
 .mar-tb-10 { margin-top: 10px;  margin-bottom: 10px; }
 .mar-lr-10 { margin-left: 10px; margin-right: 10px; }
 .mar-b-8{ margin-bottom: 8px; }
 .padd-8{padding: 8px;}
 .padd-3{ padding-top: 3px;}
 .padd-20{ padding: 20px;}
 .padd-lr-8{ padding-left: 8px; padding-right: 8px; }
 .padd-tb-8{ padding-top: 8px; padding-bottom: 8px; }
 .padd-b-0{ padding-bottom: 0;}
 .padd-r-0{ padding-right: 0;}
 .padd-t-0{ padding-top: 0;}
 .padd-lr-20{/* padding-left: 20px; padding-right: 20px;*/ }
 .padd-l-0{ padding-left: 0; }
 .padd-b-8{ padding-bottom: 8px; }
 
 .padd-10{ padding: 10px;}
 .padd-12{ padding: 12px;}
 .mar-l-3{ margin-left: 3px}
 .mar-t-5{ margin-top:5px}
 .mar-l-20{ margin-left: 20px}
 .mar-t-20{ margin-top: 20px; }
 .mar-lt-15{ margin-left:15px; margin-top:15px}
 .mar-tb-6{ margin-top:6px; margin-bottom:6px}
 .padd-b-12{ padding-bottom:12px;}
 /* 
  *	********** 定义边框,默认宽度：1px  **********
  */ 
 .bor-gray,.bor-lineblue,.bor-9fc,.bor-ccc,.bor-cef{ border-width: 1px; border-style: solid;}
 .bor-gray { border-color: #dbdada; }
 .bor-lineblue{ border-color: #cccccc; }
 .bor-ccc{ border-color: #ccc;}
 .bor-9fc{ border-color: #ccc; }
 .bor-cef{ border-color: #c8e1f2; }
 .bor-lr-3e8{ border-left: 1px solid #3E8AC0; border-right: 1px solid #3E8AC0;}
 /* 
  ***********  分割符, 以div的高度来作为分割 ,如果板块间以点线分割，则 设置div背景    **********
  */ 
 .clear{ clear: both; }
 .hr-h6,.hr-h8,.hr-h10,.hr-h16,.hr-h10-dot{ clear: both; overflow: hidden; zoom: 1; }
 .hr-h6 { height: 6px; }
 .hr-h8{ height: 8px; } 
 .hr-h10{ height: 10px; }
 .hr-h16{ height: 16px; }
 .hr-dotted{background-position: left -255px; }
 .hr-h12{ height:12px}
 .hr-h20{ height:20px}
 /* 
  *	**********  浮动     **********
  */ 
 .f-l { float: left; }
 .f-r { float: right; }
 /* 
  *	**********  字体大小    **********
  */ 
 .fs-12,.fs-12 a{ font-size: 12px;}
 .fs-14,.fs-14 a{ font-size: 14px;}
 .fs-16,.fs-16 a{ font-size: 16px; }
 /* 
  *	**********  字体颜色    **********
  */  
 .cor-c00 a,.cor-c00{ color: #c00; }
 .cor-06c li a,.cor-06c a,.cor-06c{ color: #06c; }
 .cor-666{ color: #666; }
 .cor-4545 li a{ color: #454545;}
 .cor-06c li a:hover{ color: #f00; }
 .cor-f60{ color: #f60; }
 .cor-333,.cor-333 li a{ color:#333; }
 .cor-999{ color: #999; }
 .cor-f00{ color: #f00; }
  /* 
  *	**********  对齐   **********
  */  
 .txt-l{ text-align: left!important;}
 .txt-r{ text-align: right;}
 .txt-c{ text-align: center; }
  /* 
  *	**********  行高   **********
  */  
 .line-h22 li,.line-h22{ line-height: 22px; }
 .line-h26{ line-height: 26px; }
 .line-h20 li { line-height: 20px; }
 .line-h18{ line-height: 18px; }
 .line-h16{ line-height: 16px; }
 /* 
  *	**********  加粗   **********
  */  
 .bold{ font-weight: bold; }
  /* 
  *	**********  背景   **********
  */ 
 .white{ background-color: #fff; }
 /* 
  *	**********  定高   **********
 */ 
 .title-h32{ height: 32px; }
 .r-imgbox .title-h32{line-height: 18px;height:auto;}
 .mode-imgtxtsummary ul li.r-imgbox .imgtxt{margin-top:4px;}
  /* 
  *	**********  手型   **********
 */ 
 .hand{cursor:pointer;}
 /* @end **/
 .imgcss3{
 	-webkit-transform: scale(1,1);
	-webkit-transition: -webkit-transform .4s ease-in;
}  
 .imgcss3:hover{
 	-webkit-transform: scale(1.2,1.2);
 }
 .ie6{_overflow:hidden;}
