div {
 margin:0 auto
 }
.left{ 
	float:left;
	}
.right{ 
	float:right;
	}

.clear {
	clear:both;
	}
/*----------------------------------top------------------------*/
.top{
	width:980px;
	height:36px;
 }
.top{
	text-align:center;
	width:100%;
	height:35px;
	margin:0 auto;
	background:url(img/topbg.jpg);
	background-repeat:repeat-x;
}
.topup{
	width:960px;
}
.topuplt{
	width:280px;
 	padding:4px 0px 0px 0px;
	margin:0px;
	float:left;
}
.toptext{
	width:107px;
	height:19px;
	padding:0px;
	margin:0px 10px 0px 5px;
	background-image:url(img/top-text-bg.gif);
	border:0;
	background-repeat:no-repeat;
}
.btn{
	width:39px;
	height:18px;
	border:0;
	background-image:url(img/denglu.gif);
	background-repeat:no-repeat;
}
.topupmiddle{
     float: left;
    height: 24px;
    margin: 5px 0 0;
    padding: 5px 0 0;
    text-align: left;
    width: 240px;
}
.topupmiddle img{
	padding:0px;
    margin: 0 8px;
}
.topuprt{
	height:23px;
	float:left;
	padding: 8px 0 0;
  }
/*-----------------------------------------top end--------------------------------------*/
	
	
	
/*-----------------------------------------log+banner1--------------------------------------*/
.div1 {
	width:982px;
	height:90px;
	margin-top:10px;
}

/*-----------------------------------------nav--------------------------------------------------*/
.div2{
	width:982px;
	height:70px;
	margin-top:5px;
	background:url(img/201202010-3_07.jpg);
	border-top:solid 1px #000;
	border-right:solid 1px #000;
	overflow:hidden;
	font-family: "Microsoft YaHei",SimHei;  
}
.navright {
	border-right:1px solid #0a0a0a;
	}
.navright  a{
	font-size:14px;
	color:#ebb2b2;
	}
.navleft {
	border-left:1px solid #464647;
	}
.navleft a {
	font-size:16px;
	color:#ffffff;
	}
.nav1 {
	width:80px;
 	line-height:70px;
	text-align:center;
	font-size:16px;
	}
.nav1 a{
	font-size:16px;
	color:#FFFFFF;
}
.nav2 {
	width:60px;
 	line-height:70px;
	text-align:center;	
	}	
.nav3 {
	width:125px;
 	line-height:20px;
	padding-top:15px;
 	}		
.nav4 {
	width:125px;
 	line-height:20px;
	padding-top:15px;
 	}		
.nav5 {
	width:80px;
 	line-height:70px;
	text-align:center;
	}		
.nav6 {
	width:130px;
 	line-height:20px;
	padding-top:15px;
 	}	
.nav7 {
	width:90px;
 	line-height:70px;
	text-align:center;
	}	
.nav8 {
	width:80px;
 	line-height:20px;
	padding-top:15px;
 	}
.nav9 {
	width:65px;
 	line-height:20px;
	padding-top:15px;
 	}
.nav9 a{
	font-size:14px;
	color: #EBB2B2;
	}
.nav10 {
 	line-height:20px;
	padding-top:15px;
 	}
.nav10 a{
	font-size:14px;
	color: #EBB2B2;
	}
/*-----------------------------------------nav end--------------------------------------------------*/