/* @import url(peach.css); */
/* @import url(ash.css); */
/* @import url(turquoise.css); */
/* @import url(/htdocs/hacker/style.css); */
body {
    margin: 0 0.75em;
    font-size: 90%;
    font-family: sans-serif;
    line-height: 1.3;
}
a {
    color: #3f59ba;
    text-decoration: underline;
}
a:visited {
    color: #6b1c77;
}
a.nonexistent {
    color: #666;
}
a img { border: none }
a:hover {
    color: #000;
}
a:active {
    color: #c00;
}
a.download {
    font-size: 120%; 
    letter-spacing: 0.025em;
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
    -moz-border-radius: 0.25em;
    border-radius: 0.25em;
    background: #c7e55f url(../img/moin-download.png) no-repeat 8px 50%;
    border: 1px solid #afc75e;
    color: #000;
    padding-left: 48px;
}

#utils {
    float:right;
    text-align: right;
}
#username {
    font-size: 90%;
}
#searchform {
    margin: 0.125em 0;
    font-size: 90%;
}
#searchform input {
    font-size: 100%;
    vertical-align: middle;
}
#logo {
    float: left;
    padding: 1em 0.5em 0 0;
}
#navibar {
    clear: both;
    display: block;
    margin: 0;
    padding: 0;
    line-height: 1.25;
    float: left;
    width; 100%;
    position: relative;
    white-space: nowrap;
    border-bottom: 1px solid #afc75e;
    width: 90%;
    margin-bottom: -1px;
}
#navibar li {
    display: block;
    float: left;
    margin: 0 0.5em 0 0;
    background: #dcf1a9;
    border: 1px solid #bfd48d;
    border-bottom: none;
    -moz-border-radius-topleft: 0.33em;
    -moz-border-radius-topright: 0.33em;
    border-top-right-radius: 0.33em;
    border-top-left-radius: 0.33em;
    position: relative;
}
#navibar li.userlink {
    background: #ffffcc;
    border: 1px solid #cdce93;
    border-bottom: none;
}
#navibar li.current {
    background: #c7e55f;
    border: 1px solid #afc75e;
    border-bottom: 1px solid #c7e55f;
    margin-bottom: -1px;
}
#navibar li a {
    color: #000;
    text-decoration: none;
    font-size: 80%;
    font-weight: bold;
    background: transparent;
    padding: 0.5em 0.75em 0.25em 0.75em;
    display: block;
}
#navibar li a.nonexistent {
    color: #666;
}
#pageline {
    clear: both;
}
#locationline {
    font-size: 110%;
    margin: 0;
    padding: 1em 0.25em 0 0.75em;
    font-weight: normal;
    line-height: 1.1;
}
#pagelocation {
    display: block;
    float: left;
    margin-bottom: 0.5em;
}
#pagelocation a.nonexistent {
    font-weight: bold;
        text-decoration: none;
            color: #999;
}
#pagelocation a.backlink {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
#interwiki a {
    text-decoration: none;
    color: #000;
    font-style: italic;

}

.editbar {
    clear: both;
    display: block;
    padding: 0.25em 0.5em;
    margin: 0;
    background: #c7e55f;
    border: 1px solid #afc75e;
    zoom: 1;
    font-size: 80%;
/*    text-align:right; */
}
.editbar a {
    color: #3f59ba;
    background: transparent;
}
.editbar a:hover {
    color: #000;
}
.editbar a:active {
    color: #c00;
}
#header .editbar {
    -moz-border-radius-topright: 0.5em;
    border-top-right-radius: 0.5em;
}
#footer .editbar {
    -moz-border-radius-bottomright: 0.5em;
    -moz-border-radius-bottomleft: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    margin-top: 1em;
}
.editbar li {
    display: inline;
    margin: 0 1em 0 0;
}
.editbar form {
    display: inline;
}
.editbar form div {
    display: inline;
}
.editbar form input {
    font-size: 100%;
    vertical-align: baseline;
/*    border: 1px solid #afc75e;
    background: #dcf1a9;*/
}

.editbar form select {
    width: 11em;
    font-size: 100%;
    vertical-align: baseline;
/*    border: 1px solid #afc75e;
    background: #dcf1a9;*/
}

#credits {
    margin: 0.25em 0;
    padding: 0;
    text-align: center;
    font-size: 80%;
}
#credits li {
    margin: 0.25em;
    display: inline;
}

p.info {
    text-align: right;
    font-size: 80%;
    margin: 0;
    color: #666;
}

#message {
    font-size: 80%;
    clear: both;
    padding: 0.5em;
    margin: 0.5em 0;
    border: 1px solid #bfd48d;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    background: #dcf1a9;
}
#message p {
    margin: 0;
}
#header {
    margin-bottom: 1.5em;
}
#locationline .sep,
#pagetrail .sep {
    color: #666;
}
#pagetrail {
    font-size: 80%;
    margin: 0.5em 0;
}

/*
.editbar a[name="editlink"]:before,
.editbar a[name="texteditlink"]:before {
    content: url(../img/moin-edit.png); 
    margin: -2px 2px; 
    vertical-align: middle;
    text-decoration: none;
}
.editbar a.nbinfo:before {
    content: url(../img/moin-info.png); 
    margin: -2px 2px; 
    vertical-align: middle;
    text-decoration: none;
}
.editbar a.nbattachments:before {
    content: url(../img/moin-attach.png); 
    margin: -2px 2px; 
    vertical-align: middle;
    text-decoration: none;
}
.editbar span.disabled:before {
    content: url(../img/moin-readonly.png); 
    margin: -2px 2px; 
    vertical-align: middle;
    text-decoration: none;
}
*/
.editbar span.disabled {
    color: #666;
}


.sidebar {
    float: right;
    font-size: 80%;
    padding: 0.5em;
    margin: 0 0 0 0.5em;
    border: 1px solid #bfd48d;
    -moz-border-radius: 0.33em;
    border-radius: 0.33em;
    background: #dcf1a9;
    max-width: 40%;
    min-width: 20%;
    line-height: 1.2;
    position: relative;
}
.sidebar p {
    margin: 0;
}
.sidebar h1, 
.sidebar h2, 
.sidebar h3 {
    margin: 0;
    font-size: 110%;
    letter-spacing: 0.05em;
}
.sidebar ul, 
.sidebar ol {
    margin: 0;
    padding: 0 0 0 1.5em;
}
#editor textarea {
    display: block;
    font-size: 100%;
    width: 100%;
}
#editor {
    margin: 0;
}
#editor-help {
    -moz-border-radius: 0.33em;
    border-radius: 0.33em;
    background: #ffffcc;
    font-size: 80%;
    border: 1px solid #cdce93;
    padding: 0.5em;
}
#editor-help dl {
    margin: 0;
}
#editor-help dd {
    margin: 0 0 0 1em;
    padding: 0;
}
#previewbelow, #preview {
    clear: both;
}

#timings {
    list-style: none;
}
#timings li{
    display: inline;
    color: eee;
    font-size: 11px;
    font-family: monospace;
}
