@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}fieldset,img{border:0;}img{vertical-align:top;}:focus{outline:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:normal;}h1,h2,h3,h4,h5,h6{
font-size:100%;font-weight:normal;}abbr,acronym{border:0;font-variant:normal;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}code,kbd,samp,tt{font-size:100%;}input,button,textarea,select{*font-size:100%;}body{font-size:12px;}ol,ul{list-style: none;}table{border-collapse:collapse;border-spacing:0;}caption,th{text-align: left;}sup,sub{font-size:100%;vertical-align:baseline;}
:link,:visited,ins{text-decoration: none;}a:hover{text-decoration:underline;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{
content:'';content:none;}iframe{margin:0px;padding:0px;border:none;}
a{ color:#000000;}
a:hover{ color:#cf1732; cursor:pointer;}

#article{}
#media{text-align:center;}
.haokua{ width:1000px; margin:0 auto; overflow:hidden;}
.haokuat{ height:31px; width:100%; background:#f5f5f5; border-bottom:1px solid #d6d6d6; margin-top:10px; float:left; padding-top:11px;text-align:right;}
.haokuat1{ font-family:"微软雅黑"; font-size:14px; line-height:22px; color:#555555; float:left; padding-left:16px;}
.haokuat1 a{color:#555555;}
.haokuat2{ font-family:"微软雅黑"; font-size:12px; line-height:22px; color:#888888;}
.haokuat2 a{color:#888888;float:right; padding-right:9px;}
.haokuac{ width:100%; overflow:hidden; padding-top:20px; padding-bottom:19px;}
.haokuacl{ width:680px; overflow:hidden; float:left;}
.haokuacl1{ float:left; padding:0 3px 0 2px; width:675px;}
.haokuacl11{width:100%; background:url(../images/arc1.jpg) no-repeat left bottom;padding-bottom:26px;overflow:hidden;}
.haokuacl11 .typename{font-size:26px;font-family:"微软雅黑";}
.haokuacl12{ width:100%; text-align:center; color:#000000; font-family:"微软雅黑"; font-size:23px; line-height:43px; padding:11px 0;}
.haokuacl13{ float:left; width:100%; text-align:center;}
.haokuacl13 p{ font-family:"宋体"; font-size:13px; line-height:16px; color:#999999;}
.haokuacl13 span{ font-family:"宋体"; font-size:13px; line-height:16px; color:#0454a7;}
.haokuacl13 span a,.haokuacl13 span a:visited{color:#0454a7;}
.haokuacl13 span.haokuacl14{color:#d10c41;}
.haokuacl2{padding: 30px 40px 30px;background: #F9F9F9;border:1px #f1f1f1 solid;border-radius: 8px;}
.haokuacl2 *{max-width:100%;}
#js_content{background: #fff;padding:30px 25px;border-radius: 15px;}
.haokuacl2 pre{ line-height:35px; font-size:14px;}
.haokuacl2 .media{ margin-bottom:15px;text-align:center;}

.haokuacl2 p{ font-family: "微软雅黑";font-size: 14px;line-height: 26px;margin-top: 15px;}
.haokuac2{ text-align:right; overflow:hidden; width:663px; padding:31px 0px 17px 0;}
.haokuac3{ width:672px;padding-top:4px;overflow:hidden; float:left;background:url(/images/bgline01.gif) 0 0 no-repeat;}
.haokuac31{ border-top:4px solid #0085da; overflow:hidden;height:33px;}	
.haokuac31 span{border-top:4px solid #262626;font-family:"微软雅黑"; font-size:22px; line-height:37px; color:#262626; padding: 0 23px 0 10px; height:33px; position:absolute; margin-top:-4px;}
.haokuac32 ul{ float:left; width:635px; padding-top:11px; padding-left:23px;}
.haokuac32 li{ width:635px; float:left;}
.haokuac32 li a{ font-family:"微软雅黑"; font-size:14px; line-height:33px; color:#444444; float:left; padding-left:3px;}
.haokuac32 li span{ width:21px; text-align:center; float:left; line-height:34px; color:#1f90de; font-size:15px; font-weight:bold;}
.haokuac32 li strong{ float:right;font-family:"微软雅黑"; font-size:14px; line-height:33px; color:#adadad;}
.haokuac32 li strong b{float:right;color:#636363; font-weight:normal;}
.haokuac4{ width:672px;float:left; overflow:hidden;}
.haokuac41{ width:635px; overflow:hidden;margin-left:23px; background:url(../images/arc2.jpg) repeat-x bottom left; padding-top:35px;}
.haokuac42{ width:35px; height:100%; text-align:center; float:left;}
.haokuac42 span{ color:#cc1b1b; font-size:17px; width:100%; text-align:center; float:left;}
.haokuac43{ width:573px; float:right;}
.haokuac43 dt{font-family:"微软雅黑"; font-size:12px;color:#006b9c; float:left; width:100%;}
.haokuac43 dt a{color:#006b9c; float:left; padding-right:7px;}
.haokuac43 dt span{ color:#888888; float:left;}
.haokuac43 dt span.haokuac44{ float:right;}
.haokuac43 dd{ float:left; width:100%;font-family:"微软雅黑"; font-size:14px;color:#555555; padding-top:15px;}
.haokuac43 dd.haokuac45{ text-align:right; padding-bottom:17px;}
.haokuac43 dd.haokuac45 a{color:#006b9c; padding-left:15px; font-size:12px;}
.haokuac43 dd.haokuac45 a em{color:#cc1b1b;}
.haokuacr{ width:291px; float:right; overflow:hidden;}
.haokuacr1{ width:253px; background:#f5f5f5; border-top:4px solid #0085da; padding:17px 18px 32px 20px; overflow:hidden;}
.haokcr12 { float:left;margin-right:10px;overflow:hidden;}
.haokcr12 img{-moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;}

.haokcr13{}
.haokcr13 span{font-family:"微软雅黑"; font-size:18px; line-height:22px;color:#404040;}
#dy_statc a {padding:4px 10px; background:#68bd46;font-family:"宋体"; font-size:12px; line-height:19px;color:#fff; overflow:hidden;}
.haokcr14{ width:100%; overflow:hidden; float:left;}
.haokcr14 span{font-family:"微软雅黑"; font-size:14px; line-height:20px;color:#404040; width:100%; float:left; padding-top:5px;}
.jjhg { overflow:hidden; width:242px; height:123px; background:url(../images/arc6.jpg) no-repeat right  top; margin-top:14px; float:left; padding-bottom:23px;}
.haokcr15{  border-top:1px solid #e4e4e4; overflow:hidden; width:100%; padding-top:14px;}
.haokcr15 span {font-family:"微软雅黑"; font-size:18px; line-height:22px;color:#0085da; float:left;}
.haokcr15 ul{ overflow:hidden; float:left; padding-top:7px; padding-left:3px; width:247px;}
.haokcr15 .more{float:right;margin-top:10px;color:#d43f30;}
.haokcr15 li{ float:left; width:100%;}
.haokcr15 li a{ float:left; width:225px;display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;font-family:"微软雅黑"; font-size:14px; line-height:30px;color:#666666;}
.haokcr15 li strong{ float:right; font-size:13px; line-height:30px;color:#b7adad; font-weight:normal;}
.haokcr15 ul span{padding-left:0;font-family:Georgia, "Times New Roman", Times, serif;font-size:18px;margin:4px 8px 0 0;}
.haokcr15 ul span.top{color:#d43f30;}

.haokuacr2{ overflow:hidden; float:left; padding-top:11px; width:100%;}
.haokuacr2 span{font-family:"微软雅黑"; font-size:16px; line-height:53px;color:#262626; padding-right:13px; height:44px; float:left; overflow:hidden;}
.haokuacr2 span.haokuacr21{font-size:18px; line-height:53px;color:#f77656;}
.haokuacr2 span.haokuacr22{font-size:20px; line-height:53px;color:#0085da;}
.haokuacr2 span.haokuacr23{font-size:16px; line-height:53px;color:#de6fa4;}
.haokuacr2 span.haokuacr24{font-size:37px; line-height:37px;color:#0085da;}
.haokuacr2 span.haokuacr25{font-size:25px; line-height:53px;color:#de0f0a;}
.haokui13{ width:291px; height:100%; float:right; padding-top:35px;}
.haokui131{height:31px; overflow:hidden; border-bottom:4px solid #0085da;}




.haokui131 span{ font-family:"微软雅黑"; font-size:20px; color:#262626;float:left;border-bottom:4px solid #262626; position:absolute; height:31px; padding-right:7px; line-height:21px;}
.haokui131 a{ font-family:"宋体"; font-size:12px; line-height:31px; color:#888888; float:right; padding-right:14px;}
.haokuarc33{ height:110px; width:100%; overflow:hidden; border-bottom:1px solid #e6e6e6; padding-top:23px;}
.haokuarc33 img { width:93px;padding-left:1px; float:left;}
.haokuarc33 dl{ float:right; width:184px; height:100%;}
.haokuarc33 dt{font-family:"微软雅黑"; font-size:16px; line-height:22px; color:#222222;}
.haokuarc33 dt a{color:#222222;}
.haokuarc33 dd{font-family:"微软雅黑"; font-size:13px; line-height:22px; color:#5a6063; text-indent:2em;}
.haokuarc33 dd a{color:#5a6063;}



.haoklil{ width:670px; overflow: hidden; float:left;}
.haoklil1{ width:660px; height:182px; overflow:hidden; float:left; padding:11px 8px 0 2px; border-bottom:1px solid #e6e6e6; margin-bottom:23px;}
.haoklil11{ font-family:"微软雅黑"; font-size:21px; line-height:19xp; color:#212121; padding-bottom:21px;}
.haoklil11 a{color:#212121; font-weight:bold;}
.haoklil12{ border:1px solid #e6e6e6; width:175px; height:116px; margin-right:19px; float:left;}
.haoklil1 dl{ width:464px; float:right;}
.haoklil1 dt{font-family:"微软雅黑"; font-size:14px; line-height:22px; color:#555555; text-indent:2em;}
.haoklil1 dd{ font-family:"微软雅黑"; font-size:12px; padding-top:10px;text-align:right;}
.haoklil113{ font-family:"微软雅黑"; font-size:12px;color:#adadad;margin-right:10px;}
.haoklil114{text-align:left; background:url(../images/list12.jpg) no-repeat left center; padding-left:18px;font-family:"微软雅黑"; font-size:12px;color:#000000;}
.haoklil114 a{ color:#2d5585; padding-right:11px;}
.haokul4{ width:100%; text-align:center; font-family:"微软雅黑"; font-size:14px; color:#000000; float:left; padding-bottom:43px;}
.haokul4 a{color:#000000; font-weight:bold;}


.haoklir{ width:291px; overflow:hidden; float:right;position:relative;}
.haoklir1{ background:#68bd46; width:100%; height:58px; text-align:center; float:left;font-family:"微软雅黑"; font-size:20px; line-height:56px; font-weight:bold;}
.haoklir1 a{color:#fff;}
.haoklir2{ float:left; overflow:hidden; width:291px;padding-top:29px;}
.haoklir3{ float:left; overflow:hidden; padding-top:29px; width:100%;}
.haokui634{ overflow:hidden;}
.haokui634 .wxggzhhot li a img{border-radius:5px;}
.haokui634 strong{font-weight:normal;border-bottom: 4px solid #262626;color: #262626;float: left;font-family: "微软雅黑";font-size: 20px;height: 31px;line-height: 21px;padding-right: 7px;position: absolute;}





.haokui634 li{ float:left; width:70px; height:95px; text-align:center; padding-right:2px; padding-bottom:11px;line-height: 28px;}
.haokui634 ul{ float:left; padding-top:18px;}
.haokui634 span{ padding-top:7px; float:left; width:70px;}
.haokui551{ width:291px; height:100%; float:right;}
.haokui511{ height:35px; overflow:hidden; background:url(../images/list16.jpg) repeat-x left bottom;}
.haokui511 li{ font-family:"微软雅黑"; font-size:20px; color:#262626; float:left;height:31px; padding-right:13px; line-height:21px; padding-left:6px;}
.haokui511 li.current{border-bottom:4px solid #262626;}
.haokui511 li a{color:#262626;font-family:"微软雅黑"; font-size:20px; color:#262626;}
.haokui511 a{ font-family:"宋体"; font-size:12px; line-height:31px; color:#888888; float:right; padding-right:14px;}
.haokui51 ul{ float:left; width:100%; padding-top:11px;}
.haokui51 li{ width:291px; float:left;}
.haokui51 li a{ font-family:"微软雅黑"; font-size:14px; line-height:31px; color:#444444; float:left; padding-left:3px;}
.haokui51 li span{ width:21px; text-align:center; float:left; line-height:33px; color:#1f90de; font-size:15px; font-weight:bold; font-family:"微软雅黑";}
.haoklir4{ width:100%; overflow:hidden; margin-top:-18px; float:left;}
.haoklir5{width:100%; overflow:hidden; float:left; padding-top:27px;}
.tab_box .hide{display:none;}



.huiyuan{ width:1000px; overflow:hidden; margin:0 auto;}
.huiyuan1{ border-top:4px solid #0085da; overflow:hidden;height:33px; margin:35px 0 19px;}	
.huiyuan1 span{border-top:4px solid #262626;font-family:"微软雅黑"; font-size:22px; line-height:37px; color:#262626; padding: 0 23px; height:33px; position:absolute; margin-top:-4px;}
.huiyuan2{ width:327px; overflow:hidden; float:left;}
.huiyuan21{ width:258px;border:1px solid #e1e1e1;}
.huiyuan211{ height:39px; width:100%; background:url(../images/zhuche17.jpg) repeat-x ;}
.huiyuan211 span{font-family:"微软雅黑"; font-size:14px; line-height:38px; color:#444444;background:url(../images/zhuche18.jpg) no-repeat left center; margin-left:20px; padding-left:16px;}
.huiyuan212{ width:258px; text-align:center; padding-bottom:60px;}
.huiyuan212 p{font-family:"微软雅黑"; font-size:12px; line-height:17px; color:#333333; padding-top:21px;}
.huiyuan212 p img{ padding:0 7px;}
.huiyuan22{ width:258px; border:1px solid #e1e1e1; overflow:hidden; border-top:none;}
.huiyuan3{ width:670px; overflow:hidden; float: right;padding-bottom:57px;}
.huiyuan31{width:630px; padding-bottom:22px; padding-left:20px;}
.huiyuan32{font-family:"微软雅黑"; font-size:14px; line-height:37px; color:#333333; overflow:hidden; float:left; width:72px; text-align:right;}
.huiyuan33{ width:362px; height:35px;border:1px solid #d5d9dc; float:left; background: url(../images/zhuche14.jpg) repeat-x;font-family:"微软雅黑"; font-size:14px; line-height:35px; color:#6c6c6c; margin-left:5px;}
.huiyuan34{font-family:"微软雅黑"; font-size:14px; line-height:37px; color:#d63b22; float:left; overflow:hidden; padding-left:12px;}
.huiyuan37{width:241px; height:35px;border:1px solid #d5d9dc; float:left; background: url(../images/zhuche22.jpg) no-repeat;font-family:"微软雅黑"; font-size:14px; line-height:25px; color:#6c6c6c;margin-left:5px;padding:5px 0;}
.huiyuan38{width:124px; height:35px;border:1px solid #d5d9dc; float:left; background: url(../images/zhuche23.jpg) right -7px no-repeat;font-family:"微软雅黑"; font-size:14px; line-height:25px; color:#6c6c6c;margin-left:5px;padding:5px 0;}
.huiyuan39{width:90px; height:35px;border:1px solid #d5d9dc; float:left; background: url(../images/zhuche24.jpg) no-repeat;font-family:"微软雅黑"; font-size:14px; line-height:25px; color:#6c6c6c;margin-left:5px;padding:5px 0;}
.huiyuan331{ width:362px; height:137px;border:1px solid #d5d9dc; float:left; background: url(../images/zhuche14.jpg) repeat-x;font-family:"微软雅黑"; font-size:14px; line-height:35px; color:#6c6c6c; margin-left:5px;}
.huiyuan311{ width:630px; padding-bottom:22px; padding-left:20px; overflow:hidden;}
.huiyuan341{font-family:"微软雅黑"; font-size:14px; line-height:37px; color:#333333; float:left; overflow:hidden; padding-left:76px; width:500px;}
.huiyuan342{font-family:"微软雅黑"; font-size:14px; line-height:37px; color:#333333; float:left; overflow:hidden; padding-left:12px;}
.huiyuan333{ width:180px; height:35px;border:1px solid #d5d9dc; float:left; background: url(../images/zhuche14.jpg) repeat-x;font-family:"微软雅黑"; font-size:14px; line-height:35px; color:#6c6c6c; margin-left:5px;}
.huiyuan34 img{ width:80px; height:35px; padding-right:19px;}
.huiyuan99{floatfont-family:"微软雅黑"; font-size:16px; line-height:39px; color:#fff; width:205px; height:42px; text-align:center; float:left; background:#3598db; border:1px solid #419edd; border-bottom:none;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;position:relative;z-index:2;behavior: url(../js/iecss3.htc);}
.huiyuan99 a{ color:#FFFFFF;}


.haokuzzl{ float:left; width:731px; overflow:hidden; background: url(../images/asd13.jpg) no-repeat left top; padding-top:4px;}
.haokuzzl1{ width:710px; border-bottom:1px solid #e4e4e4; padding-top:34px;overflow:hidden;}
.haokuzzl11{ width:59px; height:73px; float:left; background:#0085da;}
.haokuzzl11 span{font-family:"微软雅黑"; font-size:20px; line-height:22px; color:#fff;  float:left; padding-left:11px; padding-top:13px;}
.haokuzzl12{ width:630px; float:right;}
.haokuzzl122{ width:100%; text-align:center; color:#262626; font-family:"微软雅黑"; font-size:22px; line-height:24px; padding-bottom:16px;}
.haokuzzl123{ float:left; width:100%; text-align:center;}
.haokuzzl123 p{ font-family:"宋体"; font-size:13px; line-height:16px; color:#999999;}
.haokuzzl123 span{ font-family:"宋体"; font-size:13px; line-height:16px; color:#0454a7;}
.haokuzzl123 span.haokuzzl124{color:#d10c41;}
.haokuzzl125{ float:left; overflow:hidden;}
.haokuzzl125 p{font-family:"微软雅黑"; font-size:14px; line-height:30px; color:#444444; text-indent:2em; padding-top:13px;}
.haokuzzl126{float:left; overflow:hidden; width:100%; padding-top:14px; height:32px; text-align:left;}
.haokuzzl128 a{font-family:"宋体"; font-size:12px; line-height:33px; color:#848484; padding-right:5px; overflow:hidden;}
.haokuzzl127{color:#0085da; float:right; overflow:hidden;}
.haokuzzl127 a{color:#0085da;font-family:"宋体"; font-size:12px; line-height:33px; }
.haokuzzl128 { float:left; overflow:hidden;}

.haokuzzr{ width:247px; float:right; overflow:hidden;}
.haokuzzr1{ width:253px; background:#f5f5f5; border-top:4px solid #0085da; padding:17px 18px 32px 20px; overflow:hidden;}
.haokuzzr12 { float:left; overflow:hidden;}
.haokuzzr12 img{ width:212px; height:186px;}
.haokuzzr13{ float:left; width:130px; text-align:center;padding:14px 0 3px 41px;}
.haokuzzr13 span{font-family:"微软雅黑"; font-size:18px; line-height:22px;color:#404040; float:left; width:73px; text-align:left;}
.haokuzzr13 .jiav{background:url(../images/arc5.jpg) no-repeat right center;}
.haokuzzr13 a { width:48px; height:18px; background:#68bd46; float: right;font-family:"宋体"; font-size:12px; line-height:19px;color:#fff; overflow:hidden;}
.haokuzzrr14{ width:100%; overflow:hidden; float:left;}
.haokuzzr14 span{font-family:"微软雅黑"; font-size:14px; line-height:20px;color:#404040; width:88%; float:left; padding-top:5px;}
.jjhgl { overflow:hidden; width:223px; height:123px; background:url(../images/arc6.jpg) no-repeat right  top; margin-top:14px; float:left; }
.haokuzzr15{  border-top:4px solid #0085da; overflow:hidden; width:100%; padding-top:14px;margin-top:19px; background:#f5f5f5;}
.haokuzzr15 span {font-family:"微软雅黑"; font-size:18px; line-height:22px;color:#0085da; float:left; padding-left:14px;}
.haokuzzr15 ul{ overflow:hidden; float:left; padding-top:7px; padding-left:17px; width:247px; padding-bottom:19px;}
.haokuzzr15 li{ float:left; width:100%;}
.haokuzzr15 li a{ float:left;font-family:"微软雅黑"; font-size:14px; line-height:30px;color:#666666;}
.haokuzzr15 li strong{ float:right; font-family:"微软雅黑"; font-size:14px; line-height:30px;color:#adadc4;}
.haokuzzr2{ overflow:hidden; margin:21px 0 12px; padding-bottom:19px; background:#f5f5f5;}
.haokuzzr2 span{font-family:"微软雅黑"; font-size:12px; line-height:53px;color:#262626; padding:0 6px; height:44px; float:left; overflow:hidden;}
.haokuzzr2 span.haokuzzr21{font-size:16px; line-height:53px;color:#f77656;}
.haokuzzr2 span.haokuzzr22{font-size:18px; line-height:53px;color:#0085da;}
.haokuzzr2 span.haokuzzr23{font-size:14px; line-height:53px;color:#de6fa4;}
.haokuzzr2 span.haokuzzr24{font-size:30px; line-height:37px;color:#0085da;}
.haokuzzr2 span.haokuzzr25{font-size:22px; line-height:53px;color:#de0f0a;}
.haokuzzrr13{ width:247px; height:100%; float:right; padding-top:26px; padding-bottom:17px;}
.haokuzzrr131{ height:31px; overflow:hidden; border-bottom:4px solid #0085da;}
.haokuzzrr131 span{ font-family:"微软雅黑"; font-size:20px; color:#262626; float:left;border-bottom:4px solid #262626; position:absolute; height:31px; padding-right:7px; line-height:21px;}
.haokuzzrr131 a{ font-family:"宋体"; font-size:12px; line-height:31px; color:#888888; float:right; padding-right:14px;}
.haokuzzrr33{width:100%; overflow:hidden; border-bottom:1px solid #e6e6e6; padding-top:14px;}
.haokuzzrr33 img { width:69px;padding-left:1px; float:left;}
.haokuzzrr33 dl{ float:right; width:160px; padding-right:5px;}
.haokuzzrr33 dt{font-family:"微软雅黑"; font-size:16px; line-height:22px; color:#222222;}
.haokuzzrr33 dt a{color:#222222;}
.haokuzzrr33 dd{font-family:"微软雅黑"; font-size:12px; line-height:18px; color:#47536c; padding-top:7px;}
.haokuzzrr33 dd a{color:#47536c;}
.haokuzzrr33 dt a.haokzzrr{ float:right;background:url(../images/asd12.jpg) no-repeat ; width:48px; height:18px; float:right; text-align:center; color:#fff; line-height:18px; font-size:12px; font-family:"宋体";}
.haokuzzrr33 dt a.ydy{background:none;color:#68bd46;font-size:12px;float:right;font-family:"宋体";}



.haokui431{ width:308px; height:542px; overflow:hidden; float:left;}
.haokui4311{ width:308px; height:406px; overflow:hidden;}
.haokui4311 ul{ height:23px; width:100%; background:#0085da;}
.haokui4311 li{ float:left;font-family:"微软雅黑"; font-size:16px;line-height:19px; color:#fff; padding:0 14px; height:23px;}
.haokui4311 li.haokui4312{ background:#000000;}
.haokui4313{ overflow:hidden; padding-top:1px;}
.haokui4314{ overflow:hidden; padding-top:11px;}
.haokui4314 strong{font-family:"微软雅黑"; font-size:18px;line-height:22px; color:#2d374b;}
.haokui4314 li{ float:left; width:72px; text-align:center; padding-right:6px;}
.haokui4314 ul{ float:left; padding-top:9px;}
.haokui4314 span{ padding-top:7px; float:left; width:72px;}
.haokui431{ width:248px; height:100%; float:right; padding-top:21px;}
.haokui431 ul{ float:left; width:100%; padding-top:11px;}
.haokui431 li{ width:248px; float:left;}
.haokui431 li a{ font-family:"微软雅黑"; font-size:14px; line-height:31px; color:#444444; float:left; padding-left:3px;}
.haokui431 li span{ width:21px; text-align:center; float:left; line-height:33px; color:#1f90de; font-size:15px; font-weight:bold; font-family:"微软雅黑";}
.haokui32 img{ float:left;}
.haokui33{ width:377px; overflow:hidden; float:left; padding:0 1px;}
.haokui32 img{ float:left;}
.haokin33{ width:241px; height:75px; background:url(../images/ind20.jpg) repeat-x bottom left; margin-left:6px; float:left; padding-top:11px; margin-bottom:3px;}
.haokin331{width:241px; height:60px; background:#f9f9f9; padding-top:2px;}
.haokin331 p{ padding-left:10px; width:127px; float:left;font-family:"微软雅黑"; font-size:12px; line-height:19px;color:#676767; text-indent:2em;}
.haokin331 img{ float:left; overflow: hidden;}

.haokuzhh{ width:731px; float:left; overflow:hidden; border-top:4px solid #0085da;}
.haokuzhh1{ float:left; float:left; padding-top:11px; width:100%; overflow:hidden;}
.haokuzhh1 li{ float:left; font-family:"宋体"; font-size:14px; line-height:22px; color:#888888; margin-right:5px; padding:0 9px; border:1px solid #d6d6d6;}
.haokuzhh1 li.current{ background:#d8271c;border:1px solid #d8271c; color:#fff;}
.haokuzhh1 li.current a,.haokuzhh1 li.current a:visited{color:#fff;}
.haokuzhh2{ float:left; overflow:hidden; width:100%;}
.haokuzhh21{ width:171px; height:256px; background:#f5f5f5; border:1px solid #eaeaea; text-align:center; float:left; margin-top:13px; margin-right:11px;}
.haokuzhh21 img,.haokuzhh23 img{ width:146px; height:146px; overflow:hidden; padding:11px 12px 0;}
.haokuzhh23{ width:171px; height:256px; background:#f5f5f5; border:1px solid #eaeaea; text-align:center; float:left; margin-top:13px;}

.gzzz122{width:171px; height:77px; float:left; margin-top:9px; text-align:center;}
.gzzz122 .ydy{display:block;padding-top:10px;overflow:hidden;clear:both;}
.gzzz122 .ydy a{color:#68bd46;font-size:14px;}
.gzzz122 span.gzzz124{width:80px; height:27px; font-family:"微软雅黑"; font-size:16px; line-height:26px; color:#fff; background:#68BD46; float:left; margin-top:3px; margin-left:44px;}
.gzzz122 span.gzzz124 a{background:url(../images/gzzz16.jpg) no-repeat 60px 9px;width:50px;color:#fff;width:63px; height:27px; float:left; padding-left:17px; position:static; text-align:left;}
.gzzz122 p.gzzz125{font-family:"微软雅黑"; font-size:14px; line-height:22px; color:#68bd46; padding-top:0px; float:left; width:100%;}
.gzzz122 span.gzzz126{ background:none; line-height:26px;font-family:"微软雅黑"; font-size:16px; line-height:22px; float:left; width:100%;}
.haokuzhh3{ width:232px; height:177px; background:#f5f5f5; border-top:4px solid #0085da; text-align:center; padding-top:15px; padding-left:16px;}
.haokuzhh3 span{font-family:"微软雅黑"; font-size:16px; line-height:22px; color:#fff;  float:left; text-align:center; width:100%; padding-bottom:8px;}
.haokuzhh3 span a{ color:#fff;width:218px; height:34px;line-height:34px; text-align:center; background:#4daae5; float:left;}

.arcpagelist{text-align:center;}
.arcpagelist li{display:inline;}
.arcpagelist .thisclass{padding:0 8px;}
.arcpagelist li a{padding:4px 8px;color:#027dda;text-decoration:none;border:#0076d2 1px solid;}
.arcpagelist li a:hover{background:#027dda;color:#fff;}

.search_pagelist li{padding:0 6px;}



/*TC添加*/
.huiyuan2 .auth-msg{padding: 8px 36px;text-align:left;margin-top:50px;}

.subbtm{margin-left:80px;display:inline;}
.huiyuan3 div{float:left;}
.huiyuan3 .msg-wrapper{float:left;clear:both;width:421px;margin-left:20px;display:inline;}
#J_UploaderQueue{width:100px;height:100px;background:url(../images/zhuche19.jpg) 0 0 no-repeat;margin:0 auto;}
#H_UploaderQueue{width:200px;height:200px;background:url(../images/zhuche20.jpg) 0 0 no-repeat;margin:0 auto;background-size:cover;}
.singleImageUploader-button{padding:8px 15px;}
.huiyuan21 .singleImageUploader-button{top:140px;}
.huiyuan22 .singleImageUploader-button{top:240px;}
.huiyuan2 .msg-wrapper{float:left;clear:both;width:100%;}
#J_UploaderQueue .uploader-img img,#J_UploaderQueue .pic-mask{width:100px;height:100px;}
#H_UploaderQueue .uploader-img img,#H_UploaderQueue .pic-mask{width:200px;height:200px;}
.huiyuan212 .file-input-wrapper{width:100px;height:50px;top:-10px;left:-10px;filter:alpha(opacity=0);}

.s_dy{display:none;}
.bdsharebuttonbox{float:right;}
.haokuac2 .fxtext{float:left;font-size:14px;margin-top:7px;}
.haokuacl2 p img,.haokuacl2 div img{}
.haokcr13 .jiav{float:none;padding-right:18px;background:url(../images/arc5.jpg) right center no-repeat;}
.haokcr13 .wxh{margin-top:10px;font-size:14px;display:inline-block;}
#dy_statc{margin-top:10px;}
#dy_statc .s_dy{background:none;color:#68bd46;}
.haokuacr2 a{font-family:"微软雅黑";}
.haokuacr2 .color1{font-size:18px; line-height:53px;color:#f77656;}
.haokuacr2 .color2{font-size:20px; line-height:53px;color:#0085da;}
.haokuacr2 .color3{font-size:16px; line-height:53px;color:#de6fa4;}
.haokuacr2 .color4{font-size:37px; line-height:37px;color:#0085da;}
.haokuacr2 .color5{font-size:25px; line-height:53px;color:#de0f0a;}
.stow{float:right;margin:4px 10px 0 0;}
.stow a{padding:5px 10px;}
.stow .unfavarticle{display:none;color:#68bd46;}
.stow .favarticle{background:#68bd46;color:#fff;}
.y_sc,.y_dy{color:#68bd46;}
#dy_statc .y_dy{background:none;color:#68bd46;}
.tjdy_list .ydy{background:none;color:#68bd46;font-size:12px;}


/************************ 翻页 *************************/
.pageList {padding: 13px;text-align: center;line-height: 20px;font-size:14px;}
.pageList a {color: #0076d2;border: #0076d2 1px solid;font-weight: bold;margin: 0 2px;padding: 6px 8px;text-decoration: none;font-size: 12px;font-family: verdana}
.pageList span.current {color: #959595;font-weight: 700;margin-right: 3px;padding: 2px 6px;border: 0;}
.pageList span.disabled {display: none;padding: 2px 6px;}
.pageList a:hover,.technorati a:active {background-color: #027dda;background-image: none;color: #fff;}

/*标签云*/
.yuntags{ float:left; height:35px; line-height:35px; text-align:center; margin-bottom:3px; color:#FFFFFF; font-size:14px;}
.yuntags a{display:block;color:#FFFFFF;}
.yw1{ width:100%;}
.yw2{ width:32%;}
.yw3{ width:49%;}
.yw4{ width:60%;}
.yw5{ width:38%;}
.ysp{ font-size:0px; width:2%;}
.ycolor1{ background:#279280;}
.ycolor2{ background:#789495;}
.ycolor3{ background:#0085da;}
.ycolor4{ background:#46b9a6;}
.ycolor5{ background:#21a7e1;}
.ycolor6{ background:#2840c1;}


/*评论*/
#guestbook{}
#guestbook .tximg{float:left;width:50px;height:50px;position:absolute;left:0;}
#guestbook .tximg img{width:50px;height:50px;-moz-border-radius:25px;-webkit-border-radius:25px;border-radius:25px;behavior: url(js/iecss3.htc);}
#guestbook .tximg span{display:block;}
#guestbook .pl_con{position:relative;padding:0 22px 0 60px;overflow:hidden;}
#guestbook .pl_con textarea{padding:10px;width:100%;height:80px;line-height:20px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;border:1px solid #CCCCCC}
#guestbook .pl_con span{;position: absolute;text-align: center;width: 100%;display: block;bottom: 0;line-height:100px;left: 0;height: 100px;}
#guestbook .pl_con span a{margin:40px 10px 0 40px;display: inline-block;}
#guestbook .name{text-align:right;padding-bottom:10px;}
#guestbook .name img{display:none;}
#guestbook .name a,#guestbook .name a:visited{color:#328BD2;}
#guestbook .post-button{float:right;margin-top:10px;width: 67px;line-height: 28px;height: 28px;text-align: center;display: inline-block;color:#fff;background:#328BD2;border:none;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px; cursor:pointer;}
#guestbook .result{float:left;text-align:center;width:100%;clear:both;overflow:hidden;padding:10px 0;}
#guestbook .decmt-box2{text-align:left;}
#guestbook .decmt-box2 li{padding:10px 0 10px 60px;line-height:22px;position:relative;border-bottom:1px solid #ddd;overflow:hidden;}
#guestbook .title a,#guestbook .title a:visited{color:#328BD2;}
#guestbook .newcomment_act{text-align:right;clear:both;color:#999;}
#guestbook .newcomment_act a{color:#999;}
#guestbook .comment_act{color:#999;}
#guestbook .decmt-box2 .plpic{position:absolute;left:0;}
#guestbook .decmt-box2 .plpic img{-moz-border-radius:25px;-webkit-border-radius:25px;border-radius:25px;behavior: url(js/iecss3.htc);}
#guestbook .decmt-box2 .con_msg{clear:both;padding-top:10px;font-size:14px;}
#guestbook .dcmp-userinfo{padding-top:10px;}
#guestbook .dcmp-userinfo .btn-2{float:right;background:#379BE9;color:#fff;width: 67px;line-height: 28px;height: 28px;text-align: center;border:none;border-radius:2px;}
#guestbook .dcmp-content1{padding-right:22px;}
#guestbook .ipt-txt{width:100%;padding:10px;line-height:22px;}
#guestbook .decmt-box{border:1px solid #ccc;color:#666;margin-bottom:10px;padding:10px;background:#ffe;}
#guestbook .decmt-box .username{color:#328BD2;font-size:12px;}
#guestbook .children{}
#commetpages{font-size:14px;padding:15px 0;}
#commetpages strong{padding:2px 5px;background:#328BD2;color:#fff;}
#guestbook .haokuac31{margin-top:20px;}
#guestbook .fxpostdiv{float:right;}
#guestbook .fxpostdiv a{float:left;display:inline-block;width:16px;height:16px;margin-right:5px;}
#guestbook .ds-sync{float:left;margin-top:16px;color:#555;}
#guestbook .ds-sync input{float:left;margin:2px 5px 0 0;}
#guestbook .ds-sync label{float:left;margin-top:2px;}

.ds-service-icon-grey .ds-qqt{background:url(../images/fxbg.gif) 0 -15px no-repeat;}
.ds-service-icon-grey .ds-qzone{background:url(../images/fxbg.gif) 0 -31px no-repeat;}
.ds-service-icon-grey .ds-weibo{background:url(../images/fxbg.gif) 0 1px no-repeat;}

.ds-service-icon .ds-qqt{background:url(../images/fxbg.gif) -16px -15px no-repeat;}
.ds-service-icon .ds-qzone{background:url(../images/fxbg.gif) -16px -31px no-repeat;}
.ds-service-icon .ds-weibo{background:url(../images/fxbg.gif) -16px 1px no-repeat;}

.rt_nav_div{font-family:"微软雅黑";background:#f5f5f5;border-top: 4px solid #0085da;overflow: hidden;}
.rt_nav_div h3{font-size:20px;color:#0085da;padding:10px 0 0 20px;margin-bottom:5px;}
.rt_nav_div li{line-height:26px;font-size:14px;border-bottom:1px solid #ccc;padding:5px 0 5px 20px;}
.rt_nav_div .on{background:#0085da;}
.rt_nav_div .on a{color:#fff;}
.rt_nav_div li a{color:#0085da;display:block;}


#arc_fxbtm{float:right;background:#68bd46;color: #fff;}
#arc_fxbtm .bds_more{color: #fff;background:none;padding:4px 10px;margin:0;}

.read_source{display:inline-block;margin-right:5px;padding-right:10px;border-right:1px solid #dcdcdc;font-size:14px;font-family:"微软雅黑";text-decoration:underline;overflow:hidden; line-height:1.1;}
#article{font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;color:#3e3e3e;font-size:16px;line-height:1.6;}
#article p:after{content:"\200B";display: block;height: 0;clear: both;}
#article p{min-height:1em;margin-top:0;margin-bottom:0;font-size: 16px;line-height:25.6px;}
#read_num{ margin-left:0; padding-right:10px; border-left:none;border-right:1px solid #dcdcdc;}
#like_num{padding-right:10px;}
#read_num,#like_num,#cjnumtime{ margin-top:25px; overflow:hidden; font-size:14px; font-family:"微软雅黑"; display:inline-block; line-height:1.1;}
#read_num font,#like_num font{ padding-left:5px; font-family:Georgia; color:#cc1b1b; font-size:16px;}
#cjnumtime{ color:#999999; font-size:12px; margin-top:23px;}


.haokui13 ul{ padding:17px 0px 0px 0px;}
.haokui13 ul li{ line-height:30px; height:30px; width:280px; overflow:hidden; font-size:14px;}
.haokui13 ul li a{font-family:"微软雅黑";color:#444;}
.haokui13 li span{color: #1f90de;float: left;font-family:Georgia, "Times New Roman", Times, serif;font-size: 18px;line-height: 30px; text-align: center;width: 21px;margin-right:5px;}
.haokui13 li span.top{color:#d43f30;}

.detail_bn{margin-top:20px;width:100%;clear:both;overflow:hidden;float:left;}