@charset "utf-8";
#article{font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;color:#3e3e3e;font-size:16px;line-height:1.6;}
#article p:after{content:"\200B";display: block;height: 0;clear: both;}
#article p{min-height:1em;margin-top:0;margin-bottom:0;font-size: 16px;line-height:25.6px;}
#read_num{ margin-left:0; border-right:1px solid #dcdcdc;}
#like_num{padding-right:10px;}
#read_num,#like_num,#cjnumtime{ margin-top:25px; overflow:hidden; font-size:14px; font-family:"微软雅黑"; display:inline-block; line-height:1.1;}
#read_num font,#like_num font{ padding-left:5px; font-family:Georgia; color:#cc1b1b; font-size:16px;}
#cjnumtime{ color:#999999; font-size:12px; margin-top:23px;}
