html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,a,img,strong,li,ol,ul,form,label,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0}
body{color:#999;font:normal normal normal 12px/1.5em Tahoma,"hiragino sans gb",Helvetica,Arial;text-align:center;height:100%;word-break:break-all}
div{text-align:left}
a{text-decoration:none;color:#498eaf}
a:hover{text-decoration:underline}
a:active{outline:none}
selection{color:#FFF;background-color:#333}
code::selection{background-color:#333}
::-moz-selection{color:#FFF;background-color:#333}
code::-moz-selection{background-color:#333}
li{list-style-type:none}
img{border-style:none}
.qz_like_mode .qz_like_op,.qz_like_mode .qz_liked_op,.qz_like_mode .qz_liked_op_tx3{margin-bottom:4px;overflow:auto;_zoom:1}
.qz_like_mode .qz_like_bt{background:url(like_bg.png?max_age=19830211&d=0831222831?max_age=19830211&d=0901104916) no-repeat;display:block;float:left;text-decoration:none;vertical-align:-12.5px;*vertical-align:0;_vertical-align:-1px;line-height:21px;line-height:24px\9;*line-height:22px;_line-height:20px;width:50px;height:21px;margin-right:3px;margin-bottom:6px;padding:0;overflow:hidden}
@media screen and (-webkit-min-device-pixel-ratio:0){.qz_like_mode .qz_like_bt{vertical-align:0}}
.qz_like_mode .qz_like_bt span{padding-left:22px}
.qz_like_mode .qz_like_op .qz_icon span{display:none}
.qz_like_mode .qz_like_op .qz_icon{background:url(like_bg.png?max_age=19830211&d=0831222831?max_age=19830211&d=0901104916) no-repeat -2px -234px;display:inline-block;vertical-align:-2px;width:16px;height:15px;margin-right:4px}
.qz_like_mode .qz_like_stat{background-image:url(like_bg.png?max_age=19830211&d=0831222831?max_age=19830211&d=0901104916);background-repeat:no-repeat;display:block;float:left;height:21px;padding-left:9px}
.qz_like_mode .qz_like_stat span{font-size:11px;font-weight:normal;background-image:url(like_bg.png?max_age=19830211&d=0831222831?max_age=19830211&d=0901104916);background-repeat:no-repeat;display:block;_float:left;line-height:21px;height:21px;margin-right:-1px;_position:relative;padding-right:5px;-webkit-text-size-adjust:none}
.qz_like_op .qz_like_stat a,.qz_liked_op .qz_like_stat a{text-decoration:none}
.style_1 .qz_like_op a,.style_1 .qz_liked_op a{width:50px!important;height:20px!important}
.style_1 .qz_like_bt{color:#5489BA}
.style_1 .qz_like_op .qz_like_bt{background-position:-141px 0}
.style_1 .qz_like_op .qz_like_bt:hover{background-position:-141px -20px}
.style_1 .qz_liked_op .qz_like_bt{background-position:-141px -40px}
.style_1 .qz_liked_op .qz_like_bt:hover{background-position:-141px -60px}
.style_1 .qz_like_stat{background-position:0 -85px;height:20px!important}
.style_1 .qz_like_stat,.style_1 .qz_like_stat a{color:#333}
.style_1 .qz_like_stat span{background-position:100% -85px;line-height:20px!important;height:20px!important}
.style_2 .qz_like_op a{width:50px!important;height:21px!important}
.style_2 .qz_like_bt{color:#5489BA}
.style_2 .qz_like_op .qz_like_bt{background-position:0 0}
.style_2 .qz_liked_op .qz_like_bt{background-position:0 -21px}
.style_2 .qz_liked_op .qz_like_bt:hover{background-position:0 -42px}
.style_2 .qz_like_op .qz_like_stat{background-position:0 -105px}
.style_2 .qz_liked_op .qz_like_stat{background-position:0 -126px}
.style_2 .qz_like_stat,.style_2 .qz_like_stat a{color:#4F96C0}
.style_2 .qz_like_op .qz_like_stat span{background-position:100% -105px}
.style_2 .qz_liked_op .qz_like_stat span{background-position:100% -126px}
.style_2 .qz_liked_op_tx3 a{width:61px!important;height:21px!important}
.style_2 .qz_liked_op_tx3 .qz_like_bt{background-position:0 -253px}
.style_2 .qz_liked_op_tx3 .qz_like_bt:hover{background-position:-61px -253px}
.style_3 .qz_like_bt{color:#F0F0F0}
.style_3 .qz_like_op .qz_like_bt{background-position:-70px 0}
.style_3 .qz_liked_op .qz_like_bt{background-position:-70px -21px}
.style_3 .qz_liked_op .qz_like_bt:hover{background-position:-70px -42px}
.style_3 .qz_like_op .qz_like_stat{background-position:0 -147px}
.style_3 .qz_liked_op .qz_like_stat{background-position:0 -168px}
.style_3 .qz_like_stat,.style_3 .qz_like_stat a{color:#F1F1F1}
.style_3 .qz_like_op .qz_like_stat span{background-position:100% -147px}
.style_3 .qz_liked_op .qz_like_stat span{background-position:100% -168px}
.style_3 .qz_liked_op_tx3 a{width:61px!important;height:21px!important}
.style_3 .qz_liked_op_tx3 .qz_like_bt{background-position:0 -274px}
.style_3 .qz_liked_op_tx3 .qz_like_bt:hover{background-position:-61px -274px}
.style_4 .qz_like_op a{width:57px!important;height:21px!important}
.style_4 .qz_like_bt{color:#333}
.style_4 .qz_like_op .qz_like_bt{background-position:-192px 0}
.style_4 .qz_liked_op .qz_like_bt{background-position:-192px -21px}
.style_4 .qz_liked_op .qz_like_bt:hover{background-position:-192px -42px}
.style_4 .qz_like_op .qz_like_stat{background-position:0 -189px}
.style_4 .qz_liked_op .qz_like_stat{background-position:0 -210px}
.style_4 .qz_like_stat,.style_4 .qz_like_stat a{color:#FFF}
.style_4 .qz_like_op .qz_like_stat span{background-position:100% -189px}
.style_4 .qz_liked_op .qz_like_stat span{background-position:100% -210px}
.style_2 .qz_liked_op .qz_like_bt,.style_3 .qz_liked_op .qz_like_bt,.style_4 .qz_liked_op .qz_like_bt{width:66px!important;margin-right:-6px}
.style_2 .qz_like_op .qz_like_bt span,.style_3 .qz_like_op .qz_like_bt span,.style_4 .qz_like_op .qz_like_bt span{padding-left:22px}
.qz_like_mode .qz_like_text{vertical-align:-3px;vertical-align:-2px\0;line-height:15px;margin-left:4px}
.qz_like_mode .like_cancel{margin-left:5px}
.qz_like_mode .qz_like_user:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.qz_like_mode .qz_like_user{*display:inline-block}
* html .qz_like_mode .qz_like_user{height:1%}
*+html .qz_like_mode .qz_like_user{height:1%}
.qz_like_mode .qz_like_user{display:block}
.qz_like_mode .qz_like_user li{width:34px;height:34px;margin-right:5px;margin-bottom:10px;float:left}
.qz_like_mode .qz_like_user li img{width:30px;height:30px;padding:1px;border:1px solid #b7b7b7}
/*! CssGaga 0901104916 *//*  |xGv00|ca4a69af15e2bfbaeeb763095bccc42d */