@charset "gb2312";
/* CSS Document */

/*=====================================================================内容页========================================================================*/
*{font-family:"宋体",Arial,sans-serif;font-size:14px;color:#313131;}
body{background:#fff;}
ul{list-style:none;}
h1{font-size:24px/30px;color:#000;font-weight:600;height:40px;line-height:40px;float:left;}
h2{font-size:20px;color:#0067a4;font-weight:600;height:35px;line-height:35px;float:left;}
.adContent{margin-top:10px;}
/*文字链*/
.t_news{ width:988px;height:27px;background:#f5f5f5;border:1px solid #e5e5e5;margin:10px auto;margin-bottom:0;padding-left:10px; overflow:hidden; position:relative;}
.t_news b{  height:27px;line-height:27px; font-weight:bold; display:inline-block;}
.news_li,.swap{ height:27px;line-height:27px; display:inline-block; position:absolute; top:0; left:52px;margin:0;border:0;}
.news_li a,.swap a{margin-right:10px;height:27px;line-height:27px;padding-left:8px;padding-right:8px;display:inline-block;}
.news_li a:hover,.swap a:hover{background:#5d6e81;color:#fff;}

.swap{top:27px;}
/*文章内容*/
.mainContent{margin-top:0;padding-bottom:0;}
.contentLeft{width:655px;padding-bottom:20px;}
.main3-right{padding-bottom:20px;}
.contentTitle{width:623px;height:auto;overflow:hidden;float:left;padding-top:20px;padding-left:15px;}
.contentTitle h1,h2{width:623px;float:left;font-weight:100;text-align:center;}
.contentTitle h1{font-size:26px;height:auto;overflow:hidden;font-weight:bold;color:#333;}
.contentTitle p{height:20px;line-height:20px;width:656px;float:left;margin-top:20px;font-size:12px;color:#666;border-bottom:1px dashed #ccc;}
.contentTitle  h1,h2,h2 a ,h1 a{font-family:"宋体",Arial,sans-serif;font-weight:bold;}
.zhaiyao{width:591px;color:#666;height:auto;overflow:hidden;float:left;margin-top:10px;margin-left:15px;background:#f5f5f5; padding:25px 15px;}
.app{ float:left; width:100px; height:109px; line-height:18px;font-size:12px;text-align:center;}
.app a span{ color:#0078bf; font-size:12px; display:block; text-align:center; height:35px; line-height:35px;}
.zy{width:480px;float:right;background:#f5f5f5;line-height:26px;font-size:12px;color:#666;}
.zy p{font-size:12px; height:95px;}
.zy dl{ padding-top:5px; overflow:hidden; zoom:1;}
.zy dl dt{ color:#fff; background:#000;font-size:12px;}
.zy dl dt, .zy dl dd{ float:left; height:18px; line-height:18px; padding:0 5px; margin:0 8px 5px 0; text-indent:0;}
.zy dl dd{ background:#0078bf;}
.zy dl dd a{ color:#fff;font-size:12px; display:block;}
#ad_dst1{ font-family:"宋体"; font-size:12px; text-align:center; width:100px; display:block;}

.zy strong{font-size:12px;color:#666;}
.clear{clear:both;}
.contentText{margin-top:12px;}
.text{width:618px;margin:15px auto;margin-bottom:0;padding-right:5px;position:relative;height:auto;overflow:hidden;}
.text p{text-indent:28px;line-height:26px;margin-bottom:15px;}
.text p  a.zhu{ border-bottom:none;}
.text p  a sup{ font-size:10px; color:#4499EE;}
.text img{float:none;align:center;}
.text p img{float:none;padding-right:0;}
.text table img{float:none;}
.text a{color:#0066d1;text-decoration:underline;}
.text #_strHref{display:block;position:absolute;bottom:19px;right:4px;width:70px;height:20px;line-height:20px;color:#0067a4;}
.text #_strHref span{;color:#0067a4;}
/*关键词*/
.guanjianci{width:623px;height:20px;line-height:20px;padding-left:15px;}
.guanjianci a{color:#0067a4;text-decoration:underline;}
.zerenbianji{height:33px;width:633px;border-top:1px solid #e5e5e5;text-align:right;font-size:12px;padding-left:10px;padding-right:10px;}
/*页码*/
.textPage{text-align:center;border-bottom:none;padding:10px 0;margin:0 auto;*padding-top:0;padding-bottom:8px;width:623px;float:none;height:auto;overflow:hidden;}
.textPageA{overflow:hidden; border-bottom:1px solid #e5e5e5; padding:0 0 15px 280px; }
.textPageA li{ float:left; margin-right:10px; width:24px; height:24px; line-height:24px; border:1px solid #dcdcdc; background:#fff;}
.textPageA li a{ color:#666; display:block; text-align:center;}
.textPageA li.active{ border:1px solid #0078bf; background:#0078bf;}
.textPageA li.active a{ color:#fff;}
/*页码修改*/
/*.textPageA1{overflow:hidden; border-bottom:1px solid #e5e5e5; padding:0 0 15px 0; }*/
.textPageA1{overflow:hidden; padding:0 0 5px 0; }
.textPageA1 a{ margin-right:10px; width:24px; height:24px; line-height:24px; border:1px solid #dcdcdc; background:#fff;color:#666; display:inline-block; text-align:center;}

.textPageA1 a.active{ border:1px solid #0078bf; background:#0078bf;color:#fff;}
.otherContent_01{width:603px;height:auto;*padding-top:0;*margin-top:5px; overflow:hidden; padding-bottom:15px;}
.Mblk_09{width:603px;height:auto;overflow:hidden;}
.Mblk_09 h2{width:603px;font-size:20px;font-weight:normal; margin-bottom:8px;height:35px;line-height:35px;text-align:left;float:left;border-bottom:2px solid #e5e5e5;color:#000; font-family:'微软雅黑';}
.Mblk_09 p{ line-height:22px; font-size:12px; color:#333; margin-bottom:8px; text-align:left; text-indent:0;}
.Mblk_09 p a.strong{ margin-right:5px; font-size:12px; font-weight:bold; color:#333; width:auto;}
.Mblk_09 p a{ color:#f00; font-size:12px; width:40px; display:inline-block; float:none;}
.Mblk_09 p a:hover{ background:none;color:#f00; }
.Mblk_09 p a.strong:hover{ background:none;color:#333; }

.b_left{width:603px;height:auto;overflow:hidden;float:left;float:left;}
.b_left .list_009_f12 li{width:300px;float:left;height:25px;}
.b_left .list_009_f12 li a{width:300px;height:25px;line-height:25px;color:#333;}
.b_left .list_009_f12 li a:hover{color:#0070b7;background:none;}
.b_left .list_009_f12 li a font{color:#0078bf;}


/*相关文章*/
.xiangguanText{padding:8px 0 8px 15px;border:1px solid #e5e5e5;height:auto;overflow:hidden;float:left;width:638px;margin-top:15px;}
.xiangguanText h1{font-weight:100;font-size:20px;float:left;height:32px;line-height:32px;width:560px;float:left;color:#000;}
.xiangguanText .rightTitle{width:625px;height:35px;float:left;background:url(http://js.cnw.com.cn/images/content_14.jpg) no-repeat left bottom;}
.xiangguanText .rightTitle a{margin-top:10px;}


.xianguanCont{width:625px;height:auto;overflow:hidden;}
.xianguanCont .xianguanList{width:312px;float:left;margin-top:15px;height:auto;overflow:hidden;}
.xianguanCont .xianguanList li{width:312px;height:24px;}
.xianguanCont .xianguanList li a{width:300px;font-size:12px;height:22px;line-height:22px;}

/*切换*/
.ContTab{width:653px;border:1px solid #e5e5e5;float:left;height:auto;overflow:hidden;margin-top:15px;}
.ContTabTitle{width:653px;float:left;height:42px;overflow:hidden;}
.ContTabTitle ul{width:656px;float:left;height:42px;overflow:hidden;}
.ContTabTitle ul li{height:42px;background:url(http://js.cnw.com.cn/images/content_18.jpg) no-repeat right center;float:left;width:80px;padding-right:2px;}
.ContTabTitle ul li a{display:inline-block;width:42px;width:80px;line-height:42px;text-align:center;font-weight:600;background:url(http://js.cnw.com.cn/images/content_20.jpg) repeat-x;}
.ContTabTitle ul li a.ContTabTitleOne{background:#eaeaea;color:#0078bf;}
.ContTabCont{width:653px;height:auto;overflow:hidden;padding:13px 0;}
.ContTabContLeft{float:left;padding:0 15px;border-right:1px solid #e5e5e5;width:132px;height:auto;overflow:hidden;}
.ContTabContLeft a{display:block;width:132px;height:112px;float:left;}
.ContTabContLeft a img{width:130px;height:110px;border:1px solid #ccc;}
.ContTabContLeft a.ContTabContLeftspecil{margin-bottom:15px;}
.ContTabContLeft a span{display:block;width:125px;height:22px;margin-top:-23px;background:#000;color:#fff;font-size:12px;line-height:22px;padding-left:5px;filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8; opacity: 0.8;float:left; cursor:pointer;margin-left:1px;}




.ContTabContRight{width:478px;height:auto;overflow:hidden;float:left;padding:0 10px 0 0;}
.ContTabContRight ul{width:230px;height:auto;overflow:hidden;float:left;margin-left:9px;}
.ContTabContRight ul li{width:230px;height:26px;margin-bottom:2px;}
.ContTabContRight ul li a{width:auto;background:none;}
.ContTabContRight ul li a.lanmu{padding-left:15px;font-size:12px;background:url(http://js.cnw.com.cn/images/cnw_16.jpg) no-repeat 5px center;color:#666;}

/*文章*/
.wenzhang{width:647px;height:auto;overflow:hidden;background:#eaeaea;float:left;margin-top:15px;padding:4px;}
.wenzhang1{background:#fff;width:298px;padding:10px;border:1px solid #e5e5e5;float:left; height:240px;}
.wenzhang1 .rightTitle{background:url(http://js.cnw.com.cn/images/news_11.jpg) no-repeat left bottom;padding-bottom:4px;}
.wenzhang1 .rightTitle h1{font-size:18px;font-weight:100;}
.wenzhang1 .rightTitle a{margin-top:10px;}

.xuanjixiuchangCont{padding-right:0;}
.jiaodianCont_Left2{width:304px;}

.wenzhang2{margin-left:4px;}
.wenzhang2 .rightTitle{background:url(http://js.cnw.com.cn/images/content_29.jpg) no-repeat left bottom;padding-bottom:4px;}
/*我也说几句*/
.pinglun{width:623px;padding-right:15px;}
/*重点推荐*/
.rightCont1{height:auto;overflow:hidden;}
.rightCont{padding-top:20px;height:auto;overflow:hidden;}
.rightCont h1{font-weight:100;}
.rightCont1 ul li a{color:#000;}
/*广告*/
.adCont1{float:right;margin-top:10px;}
/*微博*/
.right6{_margin-top:-45px;height:95px;width:296px;margin-right:12px;}

.weiBoTit{width:320px;height:30px;line-height:30px;float:right;margin-top:15px;}
.weiBoTit h1{font-weight:100;height:30px;}

/*重磅专题*/
.zhuanti{border:none;background:#fff;}
.zhongbang{padding-top:15px;padding-left:0;padding-right:0;padding-bottom:0;width:320px;}
.rightContzb{padding-top:5px;}
/*切换*/
.qiehuan2{width:318px;float:right;margin-top:15px;height:auto;overflow:hidden;border:1px solid #e5e5e5;}
.qiehuan2Title,.qiehuan2Title ul{width:318px;height:36px;overflow:hidden;float:left;}
.qiehuan2Title ul{width:320px;overflow:hidden;}
.qiehuan2Title ul li{width:158px;height:36px;float:left;background:url(http://js.cnw.com.cn/images/content_18.jpg) no-repeat right bottom;padding-right:2px;}
.qiehuan2Title ul li a{display:inline-block;width:158px;height:36px;line-height:36px;text-align:center;background:url(http://js.cnw.com.cn/images/content_20.jpg) left bottom repeat-x;font-size:16px;font-weight:600;}
.qiehuan2Title ul li a.QiehuannumOne{background:#efefef;color:#0073b8;}
.qiehuan2Cont{width:318px;height:auto;overflow:hidden;float:left;}
.qiehuan2Cont ul{width:298px;padding:10px;height:auto;overflow:hidden;}
.qiehuan2Cont ul li{width:298px;height:26px;}
.qiehuan2Cont ul li a{width:283px;padding-left:15px;background:url(http://js.cnw.com.cn/images/cnw_16.jpg) no-repeat 5px center;display:block;height:24px;line-height:24px;font-size:12px;}
.qiehuan2Cont ul li a:hover{background:url(http://js.cnw.com.cn/images/cnw_21.jpg) no-repeat 5px center #666;color:#fff;}



.jiadiv_02 .jiatitle{font-size:12px;}
/*本文导?
.daohang{text-indent:0;}
.daohang strong{display:block;width:620px;height:20px;line-height:20px;border-bottom:1px dashed #ddd;font-size:14px;margin-bottom:5px;}
.daohang a{width:310px;height:25px;line-height:25px;display:block;float:left;}
?/
/*炫技秀场*/
.xuanjixiuchang{padding-bottom:10px;margin-bottom:10px;}
.xuanjixiuchang .video{border:0;}

.xuanjixiuchang .videoList{padding-top:0;padding-bottom:0; }
.xuanjixiuchang .videoList li{width:310px;border:0;padding:0;height:26px;background:none;margin:0;}
.xuanjixiuchang .videoList li a{color:#333;font-size:14px;width:215px;padding-left:7px;height:24px;line-height:24px;float:left;}
.xuanjixiuchang .videoList li a:hover{background:#333;color:#fff;}
.xuanjixiuchang .videoList li a.videoListList{diaply:inline-block;width:62px;height:18px;line-height:18px;text-align:center;background:url(http://js.cnw.com.cn/images/content_10.jpg) no-repeat;padding:0;text-align:center;margin-top:4px;margin-right:3px;font-family:"宋体";color:#999;font-size:12px;}
.xuanjixiuchang .videoList li a.videoListList:hover{background:url(http://js.cnw.com.cn/images/content_10.jpg) no-repeat;}

/**/

.right7{height:auto;overflow:hidden;margin-top:10px;width:298px;float:right;border-bottom:1px solid #ddd;padding-bottom:15px;}
.right7 .rightTitle{background:url(http://js.cnw.com.cn/images/content_32.jpg) no-repeat left bottom;}
.pinglun .rightTitle{background:url(http://js.cnw.com.cn/images/content_33.jpg) no-repeat left bottom;}

/*二维码*/
.erweima{background:#fff;height:auto;overflow:hidden;border-bottom:1px solid #e5e5e5;margin-top:12px;}
.erweima h3{font-size:16px;height:35px;line-height:35px;border-bottom:1px solid #e5e5e5;width:320px;text-align:center;font-weight:100;}
.erweima table{margin-top:8px;}
.erweima table td{height:25px;line-height:25px;}
.borderTable td{border-bottom:1px dashed #dcdcdc;padding-bottom:8px;}
.youjiandingyue td{padding-top:15px;padding-bottom:15px;}
.youjiandingyue td input{height:22px;border:1px solid #e5e5e5;}
.dingyueImg{padding-left:10px;}

/*炫技秀场*/
.xuanjixiuchangCont .jiaodianCont_Left2{padding-top:10px;}
.xuanjixiuchangCont .jiaodianCont_Left11{margin-left:0;}
/**/
.contentBoxList{width:653px;height:auto;overflow:hidden;float:left;border:1px solid #e5e5e5;margin-top:10px;}
.contentBoxList{width:653px;height:auto;overflow:hidden;float:left;border:1px solid #e5e5e5;margin-top:10px;}

.main1-Right .zuixinTextCont{padding-left:0;*height:240px;}
.main1-Right .zuixinTextCont ul{margin-top:0;width:307px;}
.main1-Right .zuixinTextCont ul li{width:300px;float:left;height:24px;}
.main1-Right .zuixinTextCont ul li a{width:285px;overflow:hidden;font-size:12px;height:22px;line-height:22px;}
.main1-Right .hotTuijian{ height:auto;}
.cainixihuan{padding-left:0;}
.cainixihuan .jiaodianCont_Left2{font-size:14px;padding-top:0;}
.cainixihuan .jiaodianCont_Left2 li{width:303px;height:24px;}
.cainixihuan .jiaodianCont_Left2 li a{font-size:12px;width:284px;padding-left:15px;height:22px;line-height:22px;}


.xuanjiCont{padding-left:0;}
.xuanjiCont .jiaodianCont_Left2{padding-left:6px;}
.xuanjiCont .jiaodianCont_Left2 li{width:295px;height:24px;}
.xuanjiCont .jiaodianCont_Left2 li a{padding-left:15px;width:280px;height:22px;line-height:22px;}

/*技巧攻略*/
.xuanjixiuchang .YDHL_TabContBig1_Img{width:320px;border-bottom:1px dashed #e5e5e5;padding-bottom:10px;height:auto;overflow:hidden;}
.xuanjixiuchang .YDHL_TabContBig1_Img li{width:145px;text-align:left;float:left;margin-left:9px;margin-top:12px;height:auto;overflow:hidden;}
.xuanjixiuchang .YDHL_TabContBig1_Img li a{font-size:12px;background:none;display:block;width:145px;height:auto;overflow:hidden;line-height:18px;}
.xuanjixiuchang .YDHL_TabContBig1_Img li a:hover{background:none;color:#0078bf;}
.xuanjixiuchang .YDHL_TabContBig1_Img li a img{margin-bottom:4px;width:145px;height:92px;}
.xuanjixiuchang .YDHL_TabContBig1_Ul{float:left;width:318px;padding-top:8px;}
.xuanjixiuchang .YDHL_TabContBig1_Ul li{height:24px;padding-left:10px;width:308px;margin-top:0;}
.xuanjixiuchang .YDHL_TabContBig1_Ul li a{height:22px;font-size:12px;line-height:22px;background:url(http://js.cnw.com.cn/images/cnw_16.jpg) no-repeat 6px center;padding-left:16px;width:280px;display:block;}
.xuanjixiuchang .YDHL_TabContBig1_Ul li a:hover{background:url(http://js.cnw.com.cn/images/cnw_21.jpg) no-repeat 6px center #666;color:#fff;}
.HLzixun  .jiaodianCont_Left11{margin-left:6px;}
.HLzixun  .xuanjiCont .jiaodianCont_Left2 li a{width:200px;float:left;background:none;padding-left:0;}
.HLzixun  .xuanjiCont .jiaodianCont_Left2 li a:hover{color:#0078bd;background:none;}
.HLzixun  .xuanjiCont .jiaodianCont_Left2 li a.YDHL_list{width:auto;background:url(http://js.cnw.com.cn/images/aBg_23.jpg) no-repeat 5px center;padding-left:15px;}
.HLzixun  .xuanjiCont .jiaodianCont_Left2 li a:hover.YDHL_list{width:auto;background:url(http://js.cnw.com.cn/images/aBg_23.jpg) no-repeat 5px center;}

.HULIANtuijian .zuixinTextCont{height:auto;overflow:hidden;}

/*热门标签*/
.tag{ border:1px solid #e5e5e5; padding:12px;}
.tag ul li{line-height:24px; display:inline-block; *display:inline; zoom:1;}
.tag ul li.liIcon{ margin:0 8px;color:#0078bf;}
.tag ul li a{ color:#0078bf; font-size:12px;}
.tag ul li a.col-c00{ color:#c00;}
.zbNav02 dl dd a:hover, .zbHeader .zbNav01 ul li a:hover, .leftList p a.w80:hover, .tag ul li a:hover{ text-decoration:underline;}
.rightTitle{width:299px;background:url(http://js.cnw.com.cn/images/news_11.jpg) no-repeat center bottom;margin:0 auto 10px;padding-bottom:2px; height:30px; line-height:30px;}
.rightTitle h1{float: left; font-size: 18px; font-weight: 500; height: 26px;line-height: 26px; padding-bottom: 4px;width: auto;}
.rightTitle h1 a{color: #222;}