/*清除文档类型声明中的默认属性*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:'';}

/*字体定义*/
body {font:12px "宋体",arial,helvetica,clean,sans-serif}
table {font-size:inherit;font:100%;}
body * {line-height:16px;}

/*重新定义*/
h1 {font-size:14px;}
h2 {font-size:14px;font-weight:normal;}
h3 {font-size:12px;}
h4 {font-size:12px;font-weight:normal;}

strong {font-weight:bold;}
a { cursor:pointer; }
a {text-decoration:none;}
a:hover {text-decoration:underline;}


/*通用定义*/
.clear {clear:both;}
.clearfix:after { content: "."; display: block; height: 0;  clear: both; visibility: hidden;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */

.bold {font-weight:bold;}
.f14   {font-size:14px;}
.h20 { line-height:20px;}
.error {color:red;}

/*颜色预定义 可以随时增加*/
.black {color:#000;}
.white {color:#fff;}
.red {color:#e10007;}
.grey {color:#454545;}
.orange {color:#ff7200;}
.blue {color:#3a8ecf;}
.navy {color:#183b7d;}

/*我的音乐*/
.dialog{background:#fff;border:5px solid #E9E9E9;}
.dialog .title{padding:0px 0px 0px 10px;font-size:14px;height:24px;line-height:24px;background:#D2D2D2;border:1px solid #ccc;border-bottom:none;color:#333;}
.dialog .title span{float:right;padding:3px 3px 0;}