/* 通用字体颜色样式 */
.black {color:#000;}/*黑色*/
.clear {clear:both; height:0px; margin:0 auto; font-size:0px; line-height:0px; clear:both;}
.LightGrey01,.LightGrey01 a{color:#2b2b2b;}/*浅灰色*/
.LightGrey02,.LightGrey02 a{color:#666;}/*浅灰色*/
.LightGrey03,.LightGrey03 a{color:#999;}/*浅灰色*/
.LightGrey04,.LightGrey04 a{color:#d9d9d9;}/*浅灰色*/
.LightGrey05,.LightGrey05 a{color:#e7e7e7;}/*浅灰色*/

.white,.white a {color:#fff;}/*白色*/
.LightWhite,.LightWhite a{color:#f3f3f3;}/*乳白色*/
.red,.red a {color:#ba2636;}/*朱红色*/

.LightBlue01,.LightBlue01 a,.LightBlue01 a:hover {color:#004276;}/*蓝色*/
.LightBlue02,.LightBlue02 a {color:#007bbb;}/*浅蓝色*/
.LightBlue03,.LightBlue03 a {color:#035eba;}

/*通用字体大小样式*/
.fz11{font:11px Arial; color:#666;}
.fz12{font-size:12px;}
.fz14{font-size:14px;}
.fz16{font-size:16px;}
.fz18{font-size:18px; font-family:"黑体";}
.fz20{font-size:20px; font-family:"黑体";}
.line18,.line18 a{line-height:18px;}
.line20,.line20 a{line-height:20px;}
.line22,.line22 a{line-height:22px;}
.line24,.line24 a{line-height:24px;}
.bol{font-weight:bold;}
.bolNo{font-weight:normal;}


/*最终页面样式*/
.blog_main_right_commentary {float:left; width:651px; margin-bottom:6px; padding:20px 12px 8px 22px; border:1px #D7D7D7 solid;background:#fbfbfb;}
.blog_main_right_commentary .content{ float:left; width:655px; margin-bottom:12px;word-break:break-all;word-wrap:break-word;overflow:hidden}
.blog_main_right_commentary .content span{float:left; width:60px;margin:0 18px 0 6px; text-align:center; color:#555;}
.blog_main_right_commentary .content span img{ float:left; width:60px;margin-bottom:2px; padding:1px; border:1px #cbcbc9 solid;}
.blog_main_right_commentary .content p{ float:left;width:550px;line-height:22px;font-size:12px; font-weight:normal; text-indent:28px; color:#333 }
.blog_main_right_commentary .attribute{ float:left; width:655px; padding-top:10px; border-top:1px #d2d2d2 solid}
.blog_main_right_commentary .attribute p{ font-size:14px; line-height:130%; font-weight:bold; color:#939393;}
.blog_main_right_commentary .attribute span{ float:right;}
.article_datetime{ float:left; padding-left:8px;line-height:22px;color:#999;}
#blog_main_right_commentaryarea{float:left; width:654px; margin-top:10px; padding:10px 11px 16px 23px; border:1px #D7D7D7 solid;background:#fbfbfb; }
#blog_main_right_commentaryarea #title{float:left; width:654px; height:24px;font-size:14px; font-weight:bold; border-bottom:1px #D7D7D7 solid;color:#333; }
#blog_main_right_commentaryarea #username{float:left;width:614px; padding:12px 0 0 40px;font-size:12px; font-weight:bold; color:#666;}
#blog_main_right_commentaryarea #textarea{ float:left; width:580px;padding:12px 0 0 40px;}
#blog_main_right_commentaryarea #authentication{ float:left; width:580px;padding:12px 0 0 40px; font-size:12px; font-weight:bold;}
#blog_main_right_commentaryarea #checkcode{float:left; width:580px;padding:6px 0 0 40px!important;padding:4px 0 0 40px;font-size:12px;}
#blog_main_right_commentaryarea #checkcode input{width:60px;height:20px;}



.blog_main_right_reply {float:left; width:630px; padding:10px 20px 8px 20px; border:1px #ccc solid;background:#fff; }
.blog_main_right_reply .content{ float:left; width:630px; }
		       .content h2{ font-size:12px;}
		       .content span{color:#999;}
.blog_main_right_reply .content02 { float:left;width:590px; padding:6px 40px 0 0; line-height:22px;font-size:12px; font-weight:normal; color:#666;  }
.blog_main_right_reply .delet{ float:left; width:630px;color:#40639B; text-align:right}
		       .delet a{color:#40639B;}

.blog_main_right_reply .attribute02{ float:left; width:555px; padding-top:10px; border-top:1px #d2d2d2 solid}
.blog_main_right_reply .attribute02 p{ float:left;font-size:14px; font-weight:bold; color:#939393;}
.blog_main_right_reply .attribute02 span{ float:right;}

.blog_main_right_reply_frame{float:right; width:585px; margin:0 7px 0 0!important; *margin:0 9px 0 0!important;margin:0;}
.blog_main_right_reply_frame textarea{ float:left; width:585px; height:58px; }
.blog_main_right_reply_frame span{ float:left; width:550px; margin-top:6px; text-align:right }

.blog_main_right_reply_frame .content p{ float:left;width:450px;line-height:22px;font-size:12px; font-weight:normal; color:#6A5241; text-indent:28px; }

/*留言版样式*/
.blog_main_list_content{float:left; width:710px; margin:10px 0 0 0; border-top:1px #BEBEBE solid;}
	.blog_main_list_content h1{float:left; width:650px; margin-top:12px; font-weight:normal; font-size:12px; color:#6A5241}
	.blog_main_list_content h1 a{color:#6A5241}
	.blog_main_list_content h1 span{width:50px; margin:0px; text-align:left; color:#666}
	.blog_main_list_content h2{ margin:12px 0 0 0;}
	.blog_main_list_content span{float:left; width:710px; text-align:left; color:#888;margin-top:5px;display:block}
	.blog_main_list_content p{float:left; width:710px; padding-top:12px; line-height:20px;font-size:12px; font-weight:normal;word-break:break-all;word-wrap:break-word;overflow:hidden}
	.xian{border-bottom:1px #bebebe solid;}
	.xian01{ border-bottom:1px #f3f3f3 solid;}

/*我要留言*/
#blog_message_text{float:left; width:688px; background:#fff; border:1px #D7D7D7 solid;}
    #blog_message_text h1{float:left; margin-left:6px; font-size:12px; font-weight:bold; color:#444;}
	#blog_message_text .f12{font-size:12px; color:#888; padding:10px 0 10px 10px;}
	#blog_message_text .message_text{width:600px; margin-left:40px; }
	#blog_message_text .message_secrecy{ padding:5px 10px 0 0; float:left; text-align:left;color:#666 }
	#blog_message_text .message_put{ padding:5px 40px 10px 80px; float:left; text-align:left; }
	#blog_message_text .message_button{width:65px; height:24px; cursor:pointer; }

/*最新修改,20090630*/


/*链接属性*/
a{color:#333;text-decoration:none;}
a:hover{text-decoration:underline;}

a.Ablue{font-size:12px; font-weight:normal; font-family:"宋体";color:#40639b; }

a.Agray{color:#666;}

.Cred{color:#f00;}
/*留白*/
.blank{clear:both;height:20px; background:#fff; line-height:0px; font-size:0;}
.blank2{clear:both; width:950px;height:4px; margin: 0 auto; background:#fff; line-height:0px; font-size:0;}
.blank10{clear:both;height:10px; line-height:10px; font-size:0;}
.blank09{clear:both; width:950px; height:30px; margin:0 auto; line-height:0px; font-size:0;}
.blank19{clear:both; width:950px; height:9px; margin:0 auto; line-height:0px; font-size:0;}
/*翻页*/
.page{margin:10px auto; font-size:14px;font-weight:normal;text-align:center;clear:both; }
.page a{color:#666;}
.page a:hover{color:#105faf; text-decoration:underline}
.page span.current {padding:2px 3px;background:#094CBF;color:#fff;}
/*博客设置翻页*/
.page1{margin:10px 0; font-size:14px;font-weight:normal;text-align:left;clear:both; }
.page1 a{color:#666;}
.page1 a:hover{color:#105faf; text-decoration:underline}
.page1 span.current {padding:2px 3px;background:#2b2b2b;color:#fff;}

/*主体部分*/
#blog_main{
	margin:0 auto;
	padding:0 0 10px 0;
	width:950px;
	background:#fff ;

}

#common_top_menu{ position:relative;margin:0 auto; height:35px;padding:5px 14px 0 0; }
#common_top_menu #logo{float:left;}
#common_top_menu #nav01{float:left; width:150px;margin-right:10px;padding:5px 0 0 10px; color:#333;}
#common_top_menu #nav01 a{color:#333;}
#common_top_menu #login{float:right;color:#333;padding-top:5px;}
#common_top_menu #login a{color:#333;}

/*页脚*/
#footer{width:941px;height:72px;margin:10px auto;text-align:center;margin-bottom:30px;color:#333; }
#footer span{line-height:24px}
#footer a{color:#333;}
#footer .line{border-top:2px #a5a5a5 solid;padding-top:10px}
#footer .line .bottomnav{padding-bottom:10px}

/*迁移兼容性*/
kbd {font-family:Arial,Helvetica,sans-serif;font-size:1em;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:normal;cursor:pointer;text-decoration:underline; }

.contant {padding:10px 0;text-align:center;font-size:14px;}

.blog_main_edit{float:left;width:690px;margin:10px 0 0 130px;display:inline; font-size:12px; }
.blog_main_edit .text{width:380px;height:22px;line-height:22px;border:1px solid #B1B1B1;}
.blog_main_edit .bt{width:48px;}
.blog_main_edit .bt2{width:48px;}
.blog_main_edit .title h1{ font-size:14px; line-height:26px; font-weight:normal; float:left}
.blog_main_edit .title span{float:right; width:74px;height:20px; font-size:12px;text-align:center;background:url(../../theme/images/common/button.gif) no-repeat; font-weight:normal; }
.blog_main_edit .title span a{color:#666;line-height:20px;}
.blog_main_edit .submit{ float:left;width:690px;margin-top:10px;}
				.submit .auto{ float:left;}
				.submit .time{float:left; width:250px; padding:1px 0 0 10px!important;*padding:4px 0 0 10px!important;padding:5px 0 0 10px;color:#ff0000; }
				.submit .btt01{ float:right; line-height:22px;}
.blog_main_edit .content{ margin:8px 0 0 0; border:1px #b0b2b1 solid}
				.content .tb{ text-align:center; background:#f1f1f1;}
.blog_main_edit	#select_itemtypes{ width:133px;}
.loading{float:left;margin:10px 0 0 130px; width:668px; padding:10px;border:1px #b0b2b1 solid; background:#f0f0f0; display:inline}
 .loading h1{ float:left; font-size:12px;color:#666; }
 .loading span{ float:right; padding-right:20px;}
 .upload_pic01{ float:left;margin:10px 0 0 130px; width:668px; padding:10px;border:1px #b0b2b1 solid; background:#f0f0f0;display:inline}
 .upload_pic01 h1{ float:left; font-size:12px;color:#666;}
 .upload_pic01 span{ float:right;}
 .upload_pic02{ float:left;margin:10px 0 0 130px; width:668px; padding:10px;border:1px #b0b2b1 solid; background:#f0f0f0;display:inline}
 .upload_pic02 .tab_01{ width:155px; height:26px; line-height:26px; text-align:center; color:#666; background:#fff; border:1px #ddd solid}
 .upload_pic02 .textarea01{ width:260px; height:70px;}
/*分享*/
.blog_share{width:315px;height:165px;background:#fff; margin:40px auto;border:5px solid #E9E9E9;}
.blog_share h1{padding-left:10px;font-size:14px;height:24px;line-height:24px;background:#D2D2D2;border:1px solid #ccc;border-bottom:none;color:#333;}
.blog_share h1 span{float:right;padding:3px 3px 0;}
.blog_share .info{width:290px; margin:0 auto;padding:10px 0;font-size:14px;line-height:150%; color:#666;}
.blog_share .info textarea{width:278px;height:50px; padding:5px;font-size:12px;overflow:hidden;word-break:break-all;word-wrap:break-word; margin-bottom:5px; font-weight:b}


/*删除留言*/
.blog_dele_message{width:315px;height:150px;background:#fff; margin:40px auto;border:5px solid #E9E9E9;}
.blog_dele_message h1{height:24px;background:#D2D2D2;border:1px solid #ccc;border-bottom:none;}
.blog_dele_message .info{width:290px; margin:0 auto;padding:30px 0 0 0;font-size:14px;line-height:150%; color:#666; text-align:center;}
.blog_dele_message input{ width:58px; height:23px; margin-top:20px;}

/*我的音乐*/
.blog_music{float:left;width:550px;background:#fff;margin:0px auto;border:5px solid #E9E9E9; clear:both;}
.blog_music h1{padding-left:10px;font-size:14px;height:24px;line-height:24px;background:#D2D2D2;border:1px solid #ccc;border-bottom:none;color:#333;}
.blog_music h1 span{float:right;padding:3px 3px 0;}
.blog_music .add{float:left;margin:6px; padding:10px;width:510px;display:inline;background:#F1F1F1;border:1px solid #D7D7D7;color:#666; line-height:40px!important; *line-height:20px!important; line-height:20px;}
.blog_music .add .more{width:74px;height:20px; font-size:12px;text-align:center;background:url(../../theme/images/common/button.gif) no-repeat; font-weight:normal; border:none; cursor:hand;}
.blog_music .add .bt{ width:76px; height:26px;}
.blog_music .item{float:left;margin:5px 0 5px 7px;width:512px; padding:5px 3px;background:url(../../theme/images/common/dot2.gif) repeat-x bottom;}
.blog_music .list{float:left;margin:6px;width:530px;display:inline;background:#fff;border:1px solid #D7D7D7;}
.blog_music .list h2{font-size:12px;height:24px;line-height:24px;background:#E0E0E0;color:#666; padding-left:5px;}
.blog_music .list ul{float:left;background:url(../../theme/images/common/dot3.gif) repeat;margin:5px 0 12px 7px; display:inline;}
.blog_music .list li{float:left;height:21px; padding-top:4px;}
.blog_music .list li h3{float:left;width:420px; font-weight:normal; background:url(../../theme/images/common/music2.gif) no-repeat 5px 2px; padding-left:30px;}
.blog_music .list li span{float:left;width:70px;}
.blog_music .list li span a{color:#40639b;}

/*模块设置*/
.blog_module{float:left;width:234px; padding:8px;background:#fff;border:5px solid #E9E9E9;}
.blog_module .set{ float:left; width:234px;}
.blog_module .set h1{float:left; padding:0;font-size:12px; color:#666; font-weight:normal;}
.blog_module .set span{float:right;}
.blog_module .set li{ float:left; width:234px; height:24px; padding-top:10px; line-height:24px; color:#555; background:url(../../theme/images/common/dot2.gif) repeat-x bottom}
.blog_module .set .name{float:left; width:130px; padding-top:2px; color:#40639b}
.blog_module .set .edit{ float:left; width:50px; }
.blog_module .set li.button{ background:none}
/*好友设置*/
.blog_friend {float:left;width:350px;background:#fff;margin:20px auto;border:5px solid #E9E9E9;}
.blog_friend  h1{padding-left:10px;font-size:14px;height:24px;line-height:24px;background:#D2D2D2;border:1px solid #ccc;border-bottom:none;color:#333;}
.blog_friend  h1 span{float:right;padding:3px 3px 0;}
.blog_friend  .name{ float:left; width:330px; padding:10px;}
			  .name ul{ float:left; width:330px; }
			  .name li{ float:left; margin:8px 15px 0 0; color:#666; }

/*自定义链接*/
.blog_link{float:left;width:550px;background:#fff;margin:20px auto;border:5px solid #E9E9E9;}
.blog_link .title{ float:left; width:548px;height:20px; padding-top:4px;line-height:24px; background:#D2D2D2;border:1px solid #ccc;}
.blog_link .title h1{float:left; padding-left:10px;font-size:14px;;border-bottom:none;color:#333;}
.blog_link .title h2{ float:left; margin-left:10px;font-size:12px; color:#40639b; font-weight:normal;}
.blog_link .title h3{ float:left; margin-left:10px; font-size:12px; color:#666; font-weight:normal;}
.blog_link .title span{float:right;padding:0 3px 0;}

.blog_link .add{float:left;margin:6px; padding:10px;width:516px;display:inline;background:#F1F1F1;border:1px solid #D7D7D7;color:#666; line-height:40px!important; *line-height:20px!important; line-height:20px;}
.blog_link .add .bt{ width:76px; height:26px;}
.blog_link .item{float:left;margin:5px 0 5px 7px;width:512px; padding:5px 3px;background:url(../../theme/images/common/dot2.gif) repeat-x bottom;}
.blog_link .list{float:left;margin:6px;width:536px;display:inline;background:#fff;border:1px solid #D7D7D7;}
.blog_link .list h2{font-size:12px;height:24px;line-height:24px;background:#E0E0E0;color:#666; padding-left:5px;}
.blog_link .list ul{float:left;background:url(../../theme/images/common/dot3.gif) repeat;margin:5px 0 12px 7px; display:inline;}
.blog_link .list li{float:left;height:21px; padding-top:4px;}
.blog_link .list li h3{float:left;width:143px; font-weight:normal;  padding-left:10px;}
.blog_link .list li h4{float:left;width:200px;}
.blog_link .list li h5{float:left;width:100px; font-weight:normal;}
.blog_link .list li span{float:left;width:70px;}
.blog_link .list li span a{color:#40639b;}
/*定义风格设置的内容样式*/
#blog_main_face{padding-bottom:10px; background:#fff; width:950px; margin:0 auto 30px; }
.blog_manner_choose{margin:0 auto 0 64px!important;*margin:0 auto 10px 64px!important;margin:0 auto 10px 26px; float:left;}
	.blog_manner_choose li{width:250px; height:225px; margin:13px; padding:15px 0 10px 0; background:#E7E7E7; text-align:center; float:left;}
	.blog_manner_choose li img{border:1px #000 solid;}
	.blog_manner_choose li h2{width:18px; height:18px; margin:18px 5px 0 90px!important; margin:15px 3px 0 45px; float:left;}
	.blog_manner_choose li h3{margin-top:14px!important;*margin-top:17px!important;margin-top:15px; font-size:12px; line-height:24px; text-align:left; font-weight:normal;}
.blog_main_page{width:545px; margin:10px 0; font-size:14px; float:right; font-weight:bold; color:#000; text-align:center }
.blog_manner_button{width:100px; height:31px;  margin:0 auto 20px auto; clear:both;}



/*页头登录状态样式*/

form{ margin:0; padding:0;}
.blogIfNav{ border-bottom:4px solid #8F1D22; height:35px; width:100%; margin-bottom:17px; background:#fff;}
.blogIfNavBox{ width:950px; margin:0 auto; height:35px;}
.blogIfNavBox .navL{ float:left; width:240px;line-height:22px; padding:7px 0 0}
.blogIfNavBox .navR{ float:right; width:580px; padding:7px 0 0; text-align:right}
.blogIfBtn{ width:80px; height:16px; border:1px solid #819BB4; font-size:12px;}
.blogIfBtn2{ background:url(../../theme/images/login_blogIf.gif) no-repeat; width:51px; height:20px; text-align:center; line-height:20px; border:0; font-weight:bold}
.blofIf_pad{ padding-top:7px;}
.blofIf_blue,.blofIf_blue a{ color:#004276;}

/*功能导航*/
#common_blog_nav{position:relative; width:950px; margin:0 auto; background:url(../../theme/images/bjfff.gif) repeat-x bottom;}
#common_blog_nav .blog_nav01{float:left; width:950px; height:35px; background:url(../../theme/images/common/nav_bj01.gif) repeat-x;}
#common_blog_nav ul{float:left; width:890px; height:35px; padding:0 0 0 10px;}
#common_blog_nav .shux{background:url(../../theme/images/common/nav_bj03.gif) no-repeat 72px center;}
#common_blog_nav li{float:left;width:77px; height:30px; padding:6px 0 0; line-height:25px; text-align:center; font-size:14px;color:#fff;}
#common_blog_nav li a{color:#fff;}
#common_blog_nav li.current{background:url(../../theme/images/common/nav_bj02.gif) no-repeat; font-weight:bold;}
#common_blog_nav li.current a{color:#0569c1;}
#common_blog_nav span{ float:left; width:17px; padding:12px 0 0 10px;}
#common_blog_nav .blog_nav02{float:left; width:950px; height:33px; padding:3px 0 0;  font-size:14px; line-height:30px; border-bottom:1px #989696 solid; background:#fff;}
#common_blog_nav .blog_nav02 a{line-height:30px; color:#0569c1; padding:0 10px;}

/*最新功能导航样式0724*/

.blogNav{ width:950px; margin:0 auto;}
.label{ background:url(../images/nav_label_bg.gif) repeat-x; height:37px;}
.label span{ float:right;height:26px; padding:11px 20px 0 0; background:url(../images/nav_label_bg2.gif) no-repeat right bottom;}
.label span a{ color:#666;}
.label ul{float:left; height:37px;background:url(../images/nav_label_bg3.gif) no-repeat left bottom;margin-left:1px; display:inline;}
.label li{float:left; width:80px; margin-left:1px; display:inline; padding-top:3px;height:34px;line-height:34px;  text-align:center; font-size:14px; color:#0569C1;background:url(../images/nav_label.gif) no-repeat right center;}
.label li.current{ background:url(../images/nav_label_c.gif) no-repeat; margin-left:-1px; width:80px; padding-top:0; height:37px; line-height:37px; text-align:center;}
.label li a{color:#0569C1;}
.content{width:948px; border-left:1px solid #E1DFDF;border-right:1px solid #E1DFDF; background:#fff;}
.blogSubnav{ float:left; width:908px;padding:10px 20px;}
.blogSubnav h3{float:left; font-size:14px; font-weight:normal;}
.blogSubnav h3 a{color:#0569C1; padding-right:8px;}
.blogSubnav span{float:right; color:#909090;}
.border{width:948px; border:1px solid #E1DFDF;border-top:none; height:1px; font-size:0; line-height:0;}


/*博客管理页面样式0907*/
.music_sz{width:428px; height:22px; padding:3px 1px 0; font-size:12px; border:1px #7f9db9 solid; line-height:22px;}
.music_sz2{width:420px; height:120px; padding:3px 4px 0; font-size:12px; border:1px #7f9db9 solid; line-height:20px;}
.music_sz3{height:22px; float:left; width:425px!important; width:490px;  font-size:12px; border:1px #7f9db9 solid; line-height:22px;}
.music_sz4{width:620px; height:120px; padding:3px 4px 0; font-size:12px; border:1px #7f9db9 solid; background:url(../../theme/images/iconpic_04.gif) repeat-x top; line-height:20px;}
.music_sz5{width:600px; height:120px; padding:3px 4px 0; font-size:12px; border:1px #7f9db9 solid; background:url(../images/iconpic_04.gif) repeat-x top; line-height:20px;}
.music_bt{width:70px; text-align:center; font-size:12px; line-height:22px;}
.musicList{width:521px; height:260px; padding:0 0 0 3px; background:url(../../theme/images/blog_music_06.gif) repeat-y; overflow:scroll; overflow-x:hidden;}
.txt{width:490px;}

.xuxian{background:url(../../theme/images/iconpic_02.gif) repeat-x bottom;}

/*自定义连接样式*/
.listMs{ width:665px; background:url(../../theme/images/blog_shezhi_01.gif); float:left;}

/*相册上传指数样式*/
.zhishu{width:300px; height:12px; padding:1px; border:1px #ccc solid; float:left; margin-top:0px!important;margin-top:8px;}
.zhishu .bj{ height:12px; background:#9cbd77; float:left;}

.musicList01{width:500px; height:260px; padding:0 0 0 3px; background:url(../../theme/images/album/blog_music_06.gif) repeat-y; overflow:scroll; overflow-x:hidden; border:1px #ccc solid;}
.musicList01 .photo{width:104px; margin:5px 7px; display:inline; float:left;}
.musicList01 .photo img{ background:url(../../theme/images/album/iconpic_01.gif) no-repeat; padding:9px 7px 5px;}
.musicList01 .photo p{ padding:6px 0 0; line-height:24px; text-align:center;}

.musicList01 .photo01{width:81px; margin:5px 7px; display:inline; float:left;}
.musicList01 .photo01 span{width:75px; height:75px; float:left; overflow:hidden; padding:2px; background:#fff; border:1px #ccc solid;}
.musicList01 .photo01 p{width:73px; float:left; line-height:20px; text-align:center;}

/*相册列表样式*/
.picListLeft{width:630px; margin:0 20px; display:inline; float:left;}
.picListLeft .picL{width:600px; padding:10px 0 0 30px; float:left;}
.picListLeft .picL div{width:140px; height:170px; float:left; margin:10px 20px; overflow:hidden; display:inline;}
.picListLeft .picL div table{width:140px; height:170px;}
.picListLeft .picL div table p{ line-height:24px; text-align:center;}

.picListLeft .photoNewsL{width:600px; padding:10px 0 0 30px; float:left;}
.picListLeft .photoNewsL .photoNews{width:width:600px; float:left;}
.picListLeft .photoNewsL .listPhoto{width:500px; float:left;}
.picListLeft .photoNewsL .listPhoto .pic{width:500px; padding-top:30px; margin-bottom:10px; float:left; overflow:hidden;}
.picListLeft .photoNewsL .listPhoto p{width:500px; float:left; line-height:22px;}
.picListLeft .photoNewsL .next{width:130px; float:left;}

.picListLeft .photoL{width:610px; padding:10px 0 0 20px; float:left;}
.picListLeft .photoL div{width:167px; height:235px; float:left; margin:10px 15px; display:inline;}
.picListLeft .photoL div table{width:167px;}
.picListLeft .photoL div .phot{width:167px; background:url(../../theme/images/album/iconpic_03.gif) no-repeat; overflow:hidden;}
.picListLeft .photoL div table p{ line-height:18px;}


.picListRight{width:260px; margin-right:20px; float:left; display:inline;}
.picListLeft .not{width:630px; padding:0px; float:left;}

.blog_main_message_reply_frame{float:right; width:565px;margin:6px 0 0 0;}
.blog_main_message_reply_frame textarea{ float:left; width:555px; height:58px; }
.blog_main_message_reply_frame span{ float:left; width:550px; margin-top:6px; text-align:right }
.blog_main_message_reply_frame .content p{ float:left;width:450px;line-height:22px;font-size:12px; font-weight:normal;  color:#6A5241; text-indent:28px; }

/*图片评论*/
.photo_messageRelate{width:630px; margin-bottom:10px; float:left;}
.photo_messageRelate .title{width:630px; height:30px; line-height:30px; border-top:1px #ccc solid; background:#efefef;}
.fabiao{width:630px; float:left;}
.fabiao .title{width:630px; height:30px; line-height:30px; border-top:1px #ccc solid; background:#efefef;}

.photo_messageRelate ul{width:630px; padding:20px 0 0; float:left;}
.photo_messageRelate ul li{width:630px; padding:5px 0 15px; border-bottom:1px #ccc solid; float:left;}
.photo_messageRelate ul h4{width:630px; padding-bottom:5px; float:left; line-height:24px;}
.photo_messageRelate ul p{width:630px; float:left; line-height:24px; font-size:14px;}

.photo_messageRelate .jieti{width:600px; padding:10px; margin-bottom:9px; background:#ffffe8; border:1px #ccc solid; float:left;}
.photo_messageRelate .jieti h4{width:610px; padding-bottom:5px; float:left; line-height:24px;}
.photo_messageRelate .jieti p{width:610px; float:left; line-height:24px; font-size:14px;}

/*导航标题*/
.navTitle a{padding:0 30px 0 0;}

/*------------------------------20091028新加博主首页--------------------------------*/

/*主体部分*/
#blog_main01{margin:0 auto;padding:0 0 10px 0; background:url(../images/blog_music_01.gif) repeat-y; width:950px;}
#blog_bt01{margin:0 auto;padding:0; background:url(../images/blog_music_08.gif) no-repeat; width:950px; font-size:1px; height:1px; line-height:1px;}
.blogLeft{width:608px; margin:0 11px 0 1px; padding:14px 20px; border-top:1px #e1dfdf solid; display:inline; float:left; overflow: hidden;}
.blogRight{width:258px; margin:0 1px; padding:14px 15px; border-top:1px #e1dfdf solid; overflow:hidden; display:inline; float:left;}
.blogLeft .not{width:608px; padding:0px; float:left;}

/*左侧部分*/
#blog_main_left{float:left;width:608px; border-bottom:3px #ccc solid; display:inline;}
	.blog_main_left_content{width:608px;line-height:130%;padding-bottom:4px; color:#333; clear:both;}
	.blog_main_left_content h3{float:left;width:600px; border-bottom:1px #ededed solid; line-height:24px; font-size:16px; font-family:"黑体";font-weight:normal;color:#934129;padding-right:8px; clear:both;}

.blog_main_time{float:left;width:608px; display:inline;}
	.blog_main_time p{float:left; display:block; color:#666; line-height:24px; }
	.blog_main_time h5{float:right; text-align:right; font-weight:normal; display:block; color:#666; line-height:24px; }
	.blog_main_time span{ padding:0 3px;}

	#blog_article_content{font-size:14px; width:608px;padding-bottom:4px;line-height:150%;text-indent:24px;overflow:hidden;clear:both;}
	#blog_article_content font, strong, a, em, b, span{line-height:150%;}
    #blog_article_content p{padding:12px 0 0 0;word-break:break-all;word-wrap:break-word;overflow:hidden;line-height:24px; color:#666; font-size:14px;}
	#blog_article_content div{word-break:break-all;word-wrap:break-word;overflow:hidden;line-height:24px; color:#666;}
	#blog_article_content span{word-wrap:break-word;color:#666;white-space:pre-wrap;}
	#blog_article_total{float:left;width:608px;text-align:right;color:#666; padding:8px 0 16px 0; margin-bottom:6px; clear:both;}
	#blog_article_total a{color:#1163b7;}
	#blog_article_total .more{ float:left; color:#1163b7; font-size:12px; text-indent:0px;}

	.blog_main_left_articleList {width:670px;}
	.blog_main_left_articleList h1,.blog_main_left_neighbor h1,.blog_main_left_message h1,.blog_main_left_message h1,.blog_main_left_messageRelate h1{float:left;width:670px;padding:7px 0;font-size:12px;font-weight:bold;color:#666;background:url(../../theme/images/common/dot2.gif) repeat-x bottom;}
	.blog_main_left_articleList ul,.blog_main_left_neighbor ul,.blog_main_left_message ul{float:left;padding-top:12px;}

	.blog_main_left_articleList li{float:left;width:670px;color:#999; line-height:230%;}
	.blog_main_left_articleList li a{font-size:14px;color:#666;text-decoration:underline;}
	.blog_main_left_articleList li span a{font-size:12px;color:#40639b; text-decoration:none;}

	.blog_main_left_neighbor {width:670px;}
	.blog_main_left_neighbor li{float:left;width:670px;padding-bottom:9px;margin-bottom:6px;color:#666;line-height:260%;background:url(../../theme/images/common/dot2.gif) repeat-x bottom;clear:both}
	.blog_main_left_neighbor li a{ margin:0 6px;color:#40639B;}
	.blog_main_left_neighbor li h3{float:left;text-align:center;font-weight:normal; padding-left:5px;}
	.blog_main_left_neighbor li h4{float:left;padding:0 0 0 8px;}
	.blog_main_left_neighbor li span{ margin-right:6px;color:#999;}
	.blog_main_left_neighbor .picSmall{ float:left; margin:8px 0 8px 5px;clear:both}
	.blog_main_left_neighbor li .picSmall img{ border:1px solid #eee; padding:4px;}
	.blog_main_left_tag{ float:left; width:670px;}
	.blog_main_left_tag h1{float:left;width:670px;padding:12px 0;font-size:12px;font-weight:bold;color:#666;}
	.blog_main_left_tag ul{ float:left; width:670px; background:url(../../theme/images/common/line_001.gif) repeat-x  bottom}
	.blog_main_left_tag li{ float:left; width:62px; height:26px; line-height:26px; color:#40639b; text-align:center}
	.blog_main_left_tag li a { line-height:26px; color:#40639b;}
	.blog_main_left_tag li.current{ background:url(../../theme/images/common/tag.gif) no-repeat; color:#333;}
	.blog_main_left_tag li.current a {color:#333}

	.blog_article_detail{float:left;width:608px; padding-bottom:4px;line-height:130%;overflow:hidden;clear:both;}
	.blog_article_detail h1{float:left;margin-top:6px;font-size:18px; font-family:"黑体";font-weight:normal;color:#934129;padding-right:8px;}
	.blog_article_detail h2{float:right; width:80px; margin-top:10px;display:block;text-align:right; color:#666; }
	.blog_article_detail h4{float:left;width:600px; margin-top:8px;display:block;color:#999;}
	.blog_article_detail h4 a{text-decoration:underline;}
	.blog_article_detail span{color:#333;}
	.blog_article_detail font,strong, a, em, b,span{line-height:150%;}
    .blog_article_detail p{padding:12px 0 0 0;word-break:break-all;word-wrap:break-word;overflow:hidden;line-height:160%; color:#666; font-size:14px;}
	.blog_article_detail span.more{color:#666;font-size:14px;font-weight:bold;}
	.blog_article_relate{ clear:both;width:608px;padding:10px 0; color:#333;background:url(http://blogfile.ifeng.com/uploadfiles/image/tpl_1/dot2.gif) repeat-x top;}
	.blog_article_relate a{color:#333;text-decoration:underline;}

	.blog_main_left_message{float:left;width:670px;}
	.blog_main_left_message li{float:left;width:670px;padding-bottom:5px;margin-bottom:6px;color:#666;line-height:260%;background:url(http://blogfile.ifeng.com/uploadfiles/image/tpl_1/dot2.gif) repeat-x bottom;}
	.blog_main_left_message li h3{float:left;width:70px;text-align:center;font-weight:normal;}
	.blog_main_left_message li h3 img{border:1px solid #ccc;padding:1px; margin-top:5px;}
	.blog_main_left_message li p{float:left;width:580px;padding:0 0 0 8px; line-height:180%;}
	.blog_main_left_message li span{color:#999;}
	.blog_main_left_message li h4{float:left; width:608px;text-align:right; padding-top:12px;}
	.blog_main_left_message li h4 a{color:#40639B;}

	.blog_main_left_comment{float:left;width:670px;}
	.blog_main_left_comment h3{color:#666; padding:5px 0;}
	.blog_main_left_comment h3 span{color:#999;font-weight:normal;}
	.blog_main_left_comment .text{width:608px; height:98px; border:1px solid #d7d7d7;}
	.blog_main_left_comment .bt{float:right;margin:10px 0 0 0; width:120px; text-align:center;}

	.blog_main_left_messageRelate{ float:left; width:670px;}
	.blog_main_left_messageRelate h1 span{float:right; width:74px;height:20px;text-align:center;background:url(http://blogfile.ifeng.com/uploadfiles/image/tpl_1/button.gif) no-repeat; font-weight:normal;}
	.blog_main_left_messageRelate h1 span a{color:#666;line-height:20px;}
	.blog_main_left_messageRelate li{float:left;width:670px;padding:10px 0;margin-bottom:6px;color:#666;line-height:260%;background:url(http://blogfile.ifeng.com/uploadfiles/image/tpl_1/dot2.gif) repeat-x bottom;}
	.blog_main_left_messageRelate li h4{float:left;width:670px;}
	.blog_main_left_messageRelate li h5{float:left; width:658px;text-align:right; padding-right:12px; font-weight:normal}
	.blog_main_left_messageRelate li h5 a{color:#40639B;}
	.blog_main_left_messageRelate li p{float:left;width:670px;padding:8px 0 0 0;line-height:180%; text-indent:2em;word-break:break-all;word-wrap:break-word;overflow:hidden}
	.blog_main_left_messageRelate li span{color:#999;}

/*右侧部分*/
.blogRight_mk{width:258px; margin-bottom:15px; float:left;}
.txt01{width:250px; border:1px #ccc solid;}
.bt01{ width:75px; height:25px; background:url(../../theme/images/common/blog_bt01.gif) no-repeat; border:0px; cursor:pointer;}

	#blog_main_right{float:right;width:258px;margin-top:4px;padding:10px 15px 10px 15px; background:#fff url(http://blogfile.ifeng.com/uploadfiles/image/tpl_1/dot.gif) repeat-y left}
	#blog_main_right_title{float:left;width:258px;padding:10px 0 2px 0;background:url(http://blogfile.ifeng.com/uploadfiles/image/tpl_1/dot2.gif) repeat-x bottom;}
	#blog_main_right_title h2{float:left;color:#333; line-height:22px;}
	#blog_main_right_title h2 a{color:#333; line-height:22px;}
	#blog_main_right_title .setup{float:right;padding:4px 8px 0 0;}

	#blog_main_right_pic{float:left;width:258px;padding:14px 0;text-align:center;}
	#blog_main_right_pic img{margin:2px 10px 0 0; float:left;}
	#blog_main_right_pic p{line-height:22px;color:#666; font-size:14px; text-align:left;word-break:break-all;word-wrap:break-word;}
	#blog_main_right_pic span{line-height:30px; padding-top:2px; text-align:left;}

	#blog_main_right h4{float:left;width:258px;}
	#blog_main_right h4 a{color:#40639b;}
	#blog_main_right h3{float:left; width:74px;height:20px;margin-bottom:5px;text-align:center;background:url(http://blogfile.ifeng.com/uploadfiles/image/tpl_1/button.gif) no-repeat; font-weight:normal;}
	#blog_main_right h3 a{color:#40639b;line-height:20px;}

	#blog_main_right_album{float:left;width:258px;padding:8px 0 0 0;}
	#blog_main_right_album h4{color:#666666;}
	#blog_main_right_album h4 a{ color:#1163b7;}
	#blog_main_right_album ul{ padding:25px 0 0 50px;}
	#blog_main_right_album li{float:left; width:167px; height:167px; text-align:center;}
	#blog_main_right_album li img{ widows:150px; height:150px; padding:11px 10px 6px 7px; background:url(../images/iconpic_05.gif) no-repeat;}

	#blog_main_right_friend,#blog_main_right_frienddoing,#blog_main_right_quanzi,
	#blog_main_right_link,#blog_main_right_sta,#blog_main_right_more{float:left;width:258px;padding:8px 0 3px 0;}

	#blog_main_right_friend a{line-height:180%;color:#40639b;}

	#blog_main_right_frienddoing li{padding:6px 0;line-height:180%; color:#666;word-break:break-all;word-wrap:break-word;}
	#blog_main_right_frienddoing li a{color:#40639b; }

	#blog_main_right_quanzi{float:left;padding:5px 0;line-height:200%;color:#40639b;}
	#blog_main_right_quanzi a{line-height:200%;color:#40639b;}
	#blog_main_right_quanzi ul{float:left;width:248px; padding:10px 0 0 10px;}
	#blog_main_right_quanzi li{width:60px; line-height:20px; float:left; margin:0 10px; display:inline; text-align:center;}
	#blog_main_right_quanzi li p{width:60px; height:20px; padding-bottom:3px; overflow:hidden;}

	#blog_main_right_friend{float:left;padding:5px 0;line-height:200%;color:#40639b;}
	#blog_main_right_friend a{line-height:200%;color:#40639b;}
	#blog_main_right_friend ul{float:left;width:248px; padding:10px 0 0 10px;}
	#blog_main_right_friend li{width:60px; line-height:20px; float:left; margin:0 10px; display:inline; text-align:center;}
	#blog_main_right_friend li p{width:60px; height:20px; padding-bottom:3px; overflow:hidden;}

	#blog_main_right_link li{line-height:180%;}
	#blog_main_right_link li a{color:#40639b;}

	#blog_main_right_sta li{line-height:180%;color:#484848;}
	#blog_main_right_sta span{color:#333;}
	#blog_main_right_sta .LightGrey03{color:#999;}

 	#blog_main_right_music{float:left;padding:8px 0;line-height:200%;}
	#blog_main_right_music .music_object {width:258px;}

	.blog_main_cmm_title{float:left;width:258px;}
	.blog_main_cmm_title div{float:left;width:258px;padding:10px 0 0 0;}
	.blog_main_cmm_title p{ line-height:20px; color:#a6a6a6;}
	.blog_main_cmm_title div h2{float:left;color:#1163b7; line-height:22px; font-size:12px;}
	.blog_main_cmm_title div h2 a{color:#1163b7; line-height:22px;}
	.blog_main_cmm_title div .setup{float:right;padding:4px 8px 0 0; color:#999;}

	.blog_main_right_articleList,.blog_main_right_articleSort,.blog_main_right_articleRecent{float:left;width:258px;padding:8px 0 3px 0;color:#333;}
	.blog_main_right_articleList li,.blog_main_right_articleSort li,.blog_main_right_articleRecent li{line-height:180%;color:#40639b;}
	.blog_main_right_articleList li a,.blog_main_right_articleSort li a,.blog_main_right_articleRecent li a{color:#40639b;}

/*博文评论*/
.blog_Relate{width:608px; margin-bottom:10px; float:left;}
.blog_Relate .title{width:608px; height:30px; line-height:30px; border-top:1px #ccc solid; background:#efefef;}
.fabiao01{width:608px; float:left;}
.fabiao01 .title{width:608px; height:30px; line-height:30px; border-top:1px #ccc solid; background:#efefef;}

.blog_Relate ul{width:608px; padding:20px 0 0; float:left;}
.blog_Relate ul li{width:608px; padding:5px 0 15px; border-bottom:1px #ccc solid; float:left;}
.blog_Relate ul h4{width:608px; padding-bottom:5px; float:left; line-height:24px;}
.blog_Relate ul h5{float:right; text-align:right; font-weight:normal; display:block; color:#666; line-height:24px; }
.blog_Relate ul p{width:608px; float:left; line-height:24px; font-size:14px; color:#666;}

.blog_Relate .jieti{width:580px; padding:10px; margin-bottom:9px; background:#ffffe8; border:1px #ccc solid; float:left;}
.blog_Relate .jieti h4{width:580px; padding-bottom:5px; float:left; line-height:24px;}
.blog_Relate .jieti p{width:580px; float:left; line-height:24px; font-size:14px; color:#666;}

#blog_main_right_more h2{ padding:5px 0 3px; line-height:24px;}
#blog_main_right_more li{line-height:20px; padding-left:15px; clear:both; color:#666;}
#blog_main_right_more li a{color:#40639b; float:left;}
#blog_main_right_more li b{ font-weight:normal; color:#666;}
#blog_main_right_more .up{ background:url(../../theme/images/common/blog_bt03.gif) no-repeat 0 0 !important; background:url(../../theme/images/common/blog_bt03.gif) no-repeat 0 2px; width:9px; height:8px; margin:5px 0 0 3px; float:left;}
#blog_main_right_more .bt{ background:url(../../theme/images/common/blog_bt03.gif) no-repeat 0 -10px !important; background:url(../../theme/images/common/blog_bt03.gif) no-repeat 0 -8px; width:9px; height:8px; margin:6px 0 0 3px; float:left;}
#blog_main_right_more .list{width:80px; padding-left:25px; float:left; clear:both;}
#blog_main_right_more .list div{clear:both;}


/*博文推荐*/
.button{ float:right; width:150px; height:18px; padding-top:8px; padding-bottom:2px;}
.button .num1{ float:right; height:18px;}
.num1_a{ float:left; width:8px; height:18px; background:url(../../theme/images/common/pic4_a.gif) no-repeat left;}
.num1_b{ float:left;height:18px; color:#000; font-size:14px; font-family:"黑体"; font-weight:bold; line-height:18px; background:url(../../theme/images/common/pic4_b.jpg) repeat;}
.num1_c{ float:left;width:8px; height:18px; background:url(../../theme/images/common/pic4_c.gif) no-repeat right;}
.button .num2{ float:right;width:46px; height:18px;}
.button .num3 { float:right;width:46px; height:18px; background:url(../../theme/images/common/pic7.gif) no-repeat;}
.button .num2 a{ float:left;width:46px; height:18px; background:url(../../theme/images/common/pic5.gif) no-repeat;}


/*报栏样式*/

.main_top{ float:left; width:890px; border-bottom:4px solid #7c7777; margin-bottom:5px;}
.main_top img{ float:left;}
.main_top p{ float:left; width:272px; padding:2px 15px 5px 10px; border-left: #ececec solid 1px; font-size:12px; line-height:22px; }
.main_top ul{ float:left; padding:8px 0 12px 0;}
.main_top ul li{ float:left; padding-right:12px; }

.main_left{float:left; width:415px; padding-right:25px;}
.main_left h2{ float:left; width:415px; font-weight:bold; line-height:25px; border-bottom:#ececec solid 1px; font-size:12px;}
.m_left_n1{ float:left; width:405px; padding:13px 0px 6px 10px; border-bottom:#f3f2e8 6px solid;}
.m_left_n1 h3{  float:left; width:405px; padding-bottom:5px;}
.m_left_n1 h3 a{ color:#004276; font-size:14px; font-weight:normal;}

.m_left_n1 p{ float:left; width:400px; font-size:12px; line-height:20px;}

.m_left_n1 ul{ float:left; width:390px; padding:0px 0px 5px 0px;}
.m_left_n1 ul li{ float:left; padding-right:12px; }
.m_left_n1 ul li a{ color:#004276;}
.left_b{ float:left; padding:20px 0 20px 100px; }
.left_b p{ float:left;float:left; line-height:24px; padding:0px 10px 0 10px;}
.left_b p span a{ color:#d57605;}
.left_b input{ float:left; width:78px; height:24px; background:url(../../theme/images/common/pic8.jpg) no-repeat; border:none; cursor:pointer;}

/*2010.3.12修改begin*/
.main_middle{float:left; width:200px; background:#fdfbee; padding:0px 10px 0px 8px; }
.main_middle h2{float:left; width:200px; font-weight:bold; line-height:25px; border-bottom:#ececec solid 1px; font-size:12px;}
.main_middle ul li{float:left; width:190px; border-bottom: solid #FFFFFF 1px; padding:6px 0 2px 10px;}
.main_middle ul li h3{ float:left; width:24px; height:18px; background: url(../../theme/images/common/bg2.jpg) no-repeat; line-height:18px;font-family:"黑体"; font-weight:bold; color:#b6818b; text-align:center; margin-right:8px; display:inline;}
.main_middle ul li .other1{background: url(../../theme/images/common/bg3.jpg) no-repeat; color:#000;}
.main_middle ul .other h3{ color:#FFF;}
.main_middle ul li h4{ float:left; width:155px;}
.main_middle ul li h4 a{color:#004276;}
.main_middle ul li p{ float:left; padding-left:30px; line-height:22px;}
.main_middle ul li span{float:left; color:#8f8e8e; line-height:22px;}
/*2010.3.12修改end*/

.main_right{float:left; width:215px; padding-left:15px;}
.main_right h2{float:left; width:215px; font-weight:bold; line-height:25px; border-bottom:#ececec solid 1px; font-size:12px;}
.main_right ul{float:left;width:200px; padding-left:12px; }
.main_right ul li{ float:left; width:200px; padding-top:16px;}
.main_right ul li h3{ float:left; height:167px;width:200px; background: url(../../theme/images/common/bg1.jpg) no-repeat left; padding-bottom:10px; }
.main_right ul li h3 img{ float:left; padding:15px 0 0 6px;}
.main_right ul li h4{ float:left;width:200px; }
.main_right ul li h4 a{color:#004276; line-height:20px;}
.main_right ul li h4 span{ color: #000;}
.main_right ul li p{ float:left;width:200px; line-height:20px;}
.main_right ul li span{ color:#8f8e8e; padding-left:5px;}
