body{
	background:#FAD493 url(./tpl_100.jpg) no-repeat top center;
}

/*博客头部样式*/
#common_person_blogtitle{
	position:relative;
	width:950px;
	height:206px;
	margin:0 auto;
	margin-bottom:1px;
}
#common_person_blogtitle #title01{
	position:absolute;
	left:90px;
	top:65px;
	font-size:30px;
	font-family:"黑体";
	font-weight:bold;
}
#common_person_blogtitle #title01 a{
	color:#2f0f00;
}
#common_person_blogtitle #title02{
	position:absolute;
	left:90px;
	top:115px;
	font-size:16px;
	font-weight:normal;
	font-family:"黑体";
}
#common_person_blogtitle #title02 a{
	color:#2f0f00;
	font-size:14px;
	font-family:"宋体";
}
#common_person_blogtitle span{
	padding-left:8px;
}
#common_person_blogtitle span a{
	font-size:14px;
	font-weight:normal;
	font-family:"宋体";
}
/*功能导航*/
#common_blog_nav .blog_nav01{float:left; width:950px; height:35px; background:url(./nav_bj100.jpg) repeat-x;}