body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,p,table,th,td{margin:0;padding:0}
ol,ul{list-style:none}img{border:none}em{font-style:normal}
.videocomment{position:relative;width:598px;margin-top:15px;border:1px solid #ebebeb;font-size:12px;background:#fff;font:12px/18px "宋体",Arial,Helvetica,sans-serif}
.videocomment a{color:#004a99;text-decoration:none}
.videocomment a:hover{text-decoration:underline}
.vcom_send{position:relative;padding-bottom:18px}
.vcom_tit{line-height:18px;padding:13px 0 13px 17px;overflow:hidden;zoom:1;font-weight:bold;font-family:Arial,Helvetica,sans-serif}
.vcom_tit h2{float:left;color:#6a6a6a;font-size:14px}
.vcom_tit span{float:left;color:#004a99}
.vcom_tit span a{color:#004a99}
.vcom_key{position:absolute;top:18px;top:12px!important;right:18px;font-size:18px;color:#6a6a6a;font-family:Georgia,'Times New Roman',Times,serif}
.vcom_send .prompt{font-size:12px;color:#6a6a6a;font-family:"宋体"}
.vcom_send .prompt em{padding:0 5px;font-size:20px;line-height:120%;color:#c30000;font-family:Georgia,'Times New Roman',Times,serif}
.vcom_input{width:570px;margin:0 auto;overflow:hidden;position:relative}
.vcom_succeed{width:131px;height:35px;background:url(../images/videocomment/videocomment03.png) no-repeat;position:absolute;top:50%;left:50%;margin:-17px 0 0 -65px;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://y0.ifengimg.com/v/article/20120615/videocomment03.png',sizingMethod='scale');_background-image:none}
.vcom_inputt{width:100%;height:7px;overflow:hidden;background:url(../images/videocomment/videocomment600bg01.png) no-repeat}
.vcom_inputc{width:100%;padding-bottom:2px;background:url(../images/videocomment/videocomment600bg02.png) repeat-y}
.vcom_inputb{width:100%;height:5px;overflow:hidden;background:url(../images/videocomment/videocomment600bg01.png) no-repeat 0 -12px}
.vcom_send .import .vcom_inputt{width:100%;height:7px;overflow:hidden;background:url(../images/videocomment/videocomment600bg01.png) no-repeat 0 -22px}
.vcom_send .import .vcom_inputc{width:100%;padding-bottom:2px;background:url(../images/videocomment/videocomment600bg02.png) repeat-y -656px 0}
.vcom_send .import .vcom_inputb{width:100%;height:5px;overflow:hidden;background:url(../images/videocomment/videocomment600bg01.png) no-repeat 0 -34px}
.vcom_send .error .vcom_inputt{width:100%;height:7px;overflow:hidden;background:url(../images/videocomment/videocomment600bg01.png) no-repeat 0 -44px}
.vcom_send .error .vcom_inputc{width:100%;padding-bottom:2px;background:url(../images/videocomment/videocomment600bg02.png) repeat-y -1312px 0}
.vcom_send .error .vcom_inputb{width:100%;height:5px;overflow:hidden;background:url(../images/videocomment/videocomment600bg01.png) no-repeat 0 -56px}
.reply_box .vcom_input{width:470px;margin:0 auto;overflow:hidden}
.reply_box .vcom_input .vcom_inputt{width:100%;height:5px;overflow:hidden;background:url(../images/videocomment/videocomment600bg01.png) no-repeat 0 -71px}
.reply_box .vcom_input .vcom_inputc{width:100%;padding-bottom:2px;background:url(../images/videocomment/videocomment600bg02.png) repeat-y -1968px 0}
.reply_box .vcom_input .vcom_inputb{width:100%;height:5px;overflow:hidden;background:url(../images/videocomment/videocomment600bg01.png) no-repeat 0 -81px}
.reply_box .vcom_send .import .vcom_inputt{width:100%;height:5px;overflow:hidden;background:url(../images/videocomment/videocomment600bg01.png) no-repeat 0 -91px}
.reply_box .vcom_send .import .vcom_inputc{width:100%;padding-bottom:2px;background:url(../images/videocomment/videocomment600bg02.png) repeat-y -2522px 0}
.reply_box .vcom_send .import .vcom_inputb{width:100%;height:5px;overflow:hidden;background:url(../images/videocomment/videocomment600bg01.png) no-repeat 0 -101px}
.reply_box .vcom_send .error .vcom_inputt{width:100%;height:5px;overflow:hidden;background:url(../images/videocomment/videocomment600bg01.png) no-repeat 0 -111px}
.reply_box .vcom_send .error .vcom_inputc{width:100%;padding-bottom:2px;background:url(../images/videocomment/videocomment600bg02.png) repeat-y -3076px 0}
.reply_box .vcom_send .error .vcom_inputb{width:100%;height:5px;overflow:hidden;background:url(../images/videocomment/videocomment600bg01.png) no-repeat 0 -121px}
.reply_box .btnico .tlayer ul li{border-bottom:none;padding:0}
.reply_box .vcom_input textarea{width:450px;height:67px;line-height:22px;margin:5px 0 0 5px;padding:0 0 0 8px;border:0 none;outline:medium none;overflow-x:hidden;overflow-y:auto;resize:none;font-size:14px;color:#6a6a6a;font-family:"宋体",Tahoma}
.vcom_input textarea{width:550px;height:67px;line-height:22px;margin:5px 0 0 5px;padding:0 0 0 8px;border:0 none;outline:medium none;overflow-x:hidden;overflow-y:auto;resize:none;font-size:14px;color:#6a6a6a;font-family:"宋体",Tahoma}
.vcom_function,.btnico,.vcom_list ul,.vcom_list_text,.vcom_pages,.vcom_pages ul{*zoom:1}
.vcom_function:after,.btnico:after,.vcom_list ul:after,.vcom_list_text:after,.vcom_pages:after,.vcom_pages ul:after{content:" ";overflow:hidden;clear:both;display:block;height:0}
.vcom_function{width:100%}
.face{margin:13px 0 0 14px}
.btnico{display:inline;float:right}
.face img{display:inline;float:left;margin-right:8px}
.btnico{padding:0 16px 0 0;height:40px}
.btnico .update{display:inline;float:left;width:40px;margin:7px 5px 0 0;color:#6a6a6a}
.btnico .tlayer{display:inline;float:left;margin:7px 0 0;width:75px}
.btnico .tlayer ul{overflow:hidden;zoom:1}
.btnico .tlayer ul li{display:inline;float:left;width:72px;height:20px;margin-right:4px}
.btnico .tlayer ul li a{display:block;width:72px;height:20px;overflow:hidden}
.btnico .tlayer ul li a.presina{background:url(../images/videocomment/videocomment600bg01.png) no-repeat -290px -170px}
.btnico .tlayer ul li a.presina:hover{background-position:-362px -170px}
.btnico .tlayer ul li.current a.presina{background-position:-434px -170px}
.btnico .tlayer ul li.current a.presina:hover{background-position:-434px -170px}
.btnico .publicBt{display:inline;float:left;width:90px;height:29px;overflow:hidden;background:url(../images/videocomment/videocomment600bg01.png) no-repeat 0 -170px}
.btnico .publicBtn{display:inline;float:left;width:90px;height:29px;overflow:hidden;background:url(../images/videocomment/videocomment600bg01.png) no-repeat 0 -170px}
.btnico .publicBt:link{background-position:0 -170px}
.btnico .publicBt:visited{background-position:0px -170px}
.btnico .publicBt:hover{background-position:-190px -170px}
.btnico .publicBt:active{background-position:-95px -170px}
.btnico .publicBton{display:inline;float:left;width:90px;height:29px;overflow:hidden;background:url(../images/videocomment/videocomment600bg01.png) no-repeat -95px -170px}
.btnico .publicBton:link{background-position:-95px -170px}
.btnico .publicBton:visited{background-position:-95px -170px}
.btnico .publicBton:hover{background-position:-190px -170px}
.btnico .publicBton:active{background-position:-95px -170px}
.vcom_pages{width:570px;margin:0 auto;padding:10px 0 5px}
.vcom_pages .tips{display:inline;float:left;color:#004a99}
.vcom_pages .tips a{color:#004a99}
.vcom_pages ul{display:inline;float:right;font-family:Arial}
.vcom_pages ul li{display:inline;float:left;height:18px;line-height:18px;margin:0 5px;font-weight:bold;color:#6a6a6a;text-align:center;border:1px solid #FFF}
.vcom_pages ul li em{width:18px}
.vcom_pages ul li a{display:block;width:18px;height:18px;line-height:18px;line-height:20px\9;color:#6a6a6a}
.vcom_pages ul li.current{background:#f4f2f3;border:1px solid #ebebeb;color:#004a99}
.vcom_pages ul li.current span{display:block;width:18px;height:18px;line-height:18px;text-align:center}
.vcom_pages ul li.vprev{height:18px;line-height:18px;line-height:20px\9;padding:0;background:#FFF;border:1px solid #ebebeb}
.vcom_pages ul li.vnext{height:18px;line-height:18px;line-height:20px\9;padding:0;background:#FFF;border:1px solid #ebebeb}
.vcom_pages ul li.vprev a{display:block;width:57px;height:18px;line-height:20px\9;padding:0;background:#FFF url(../images/videocomment/videocomment600bg01.png) no-repeat -640px -87px;text-indent:15px;font-weight:normal;text-align:left}
.vcom_pages ul li.vprev span{display:block;width:57px;height:18px;line-height:20px\9;padding:0;background:#FFF url(../images/videocomment/videocomment600bg01.png) no-repeat -640px -179px;text-indent:15px;font-weight:normal;text-align:left;color:#b0b0b0}
.vcom_pages ul li.vnext span{display:block;width:57px;height:18px;line-height:20px\9;padding:0;background:#FFF url(../images/videocomment/videocomment600bg01.png) no-repeat -597px -202px;text-indent:6px;font-weight:normal;text-align:left;color:#b0b0b0}
.vcom_pages ul li.vprev a:hover{background:#f4f2f3 url(../images/videocomment/videocomment600bg01.png) no-repeat -640px -133px;text-decoration:none}
.vcom_pages ul li.vnext a{display:block;width:57px;height:18px;line-height:20px\9;padding:0;background:#FFF url(../images/videocomment/videocomment600bg01.png) no-repeat -597px -110px;text-indent:6px;font-weight:normal;text-align:left}
.vcom_pages ul li.vnext a:hover{background:#f4f2f3 url(../images/videocomment/videocomment600bg01.png) no-repeat -597px -156px;text-decoration:none}
.vcom_pages ul.spe li{color:#6a6a6a;border:none}
.vcom_pages ul.spe li.current{color:#004a99;border:none;background:none}
.vcom_pages ul.spe li.vprev a{background:none;border:none;text-indent:0;text-align:center}
.vcom_pages ul.spe li.vnext a{background:none;border:none;text-indent:0;text-align:center}
.vcom_list{padding-top:3px;width:570px;margin:0 auto;border-top:1px solid #dbdcdf}
.vcom_list ul li{padding:12px 0;border-bottom:1px solid #f4f2f3;position:relative}
.vcom_list ul li .vcom_list_pic{display:inline;float:left;width:40px;height:40px;padding-left:10px}
.vcom_list ul li .vcom_list_cont{overflow:hidden;zoom:1;padding-left:10px}
.vcom_list ul li .vcom_list_cont em{display:block;color:#004a99;position:relative;overflow:hidden;zoom:1}
.vcom_list ul li .vcom_list_cont em a{display:inline;float:left;color:#004a99}
.vcom_list ul li .vcom_list_cont p{padding-top:5px;line-height:20px;font-size:14px;color:#000}
.vcom_list_text{padding-top:8px}
.vcom_list_text .time{display:inline;float:left;color:#929292}
.vcom_list_text .reply{display:inline;float:right;position:relative;_position:static;overflow:hidden;zoom:1}
.vcom_list_text .reply a{display:inline;float:left;padding:0 8px;color:#004a99}
.vcom_list_text .reply a:focus{outline:0}
.vcom_list_text .reply a.icon_sina{width:67px;height:16px;background:url(../images/videocomment/videocomment600bg01.png) no-repeat -362px -170px;padding:0 2px}
.vcomListIcon{margin:-2px 0 0 8px}
.reply_box{clear:both;width:495px;border:1px solid #ebebeb;position:relative;margin:10px 0 0 60px;padding-top:34px}
.reply_role{display:block;position:absolute;top:-8px;right:0px;width:14px;height:8px;background:url(../images/videocomment/videocomment600bg01.png) no-repeat -637px -71px}
.reply_box .vcom_key{top:-26px;top:-26px!important}
.vcom_btn{width:192px;height:29px;padding-bottom:3px;overflow:hidden;margin:10px auto 0;padding-bottom:24px}
.vcom_btn a{display:block;width:100%;height:100%;background:url(../images/videocomment/videocomment600bg01.png) no-repeat 0 -131px}
.vcom_btn span{display:block;width:100%;height:100%;background:url(../images/videocomment/videocomment600bg01.png) no-repeat 0 -131px}
.vcom_btn a:link{background:url(../images/videocomment/videocomment600bg01.png) no-repeat -197px -131px}
.vcom_btn a:visited{background:url(../images/videocomment/videocomment600bg01.png) no-repeat -197px -131px}
.vcom_btn a:hover{background:url(../images/videocomment/videocomment600bg01.png) no-repeat -395px -131px}
.vcom_btn a:active{background:url(../images/videocomment/videocomment600bg01.png) no-repeat -197px -131px}
.vcom_new{width:649px;height:28px;line-height:28px;margin:-12px auto 2px;overflow:hidden;background:#fdffe2;border:1px solid #ebebeb;text-align:center}
.vcom_new a{display:block;width:100%;height:100%}
.vcom_noneList{text-align:center;padding:100px 0;color:#6a6a6a}
.btnico .tlayer ul li a.presina_done{background:url(../images/videocomment/videocomment600bg01.png) no-repeat -362px -170px}
.btnico .tlayer ul li a.presina:hover{background-position:-290px -170px}
.btnico .tlayer ul li.current a.presina_done{background-position:-434px -170px}
.btnico .tlayer ul li.current a.presina_done:hover{background-position:-434px -170px}
.vcom_list ul li{overflow:hidden;zoom:1}
.loginuser{font-weight:normal}
.loginuser span{color:#6A6A6A;float:none;padding:0 6px 0 4px}
.face{margin-left:15px}
.vcom_pages ul li{font-size:14px;vertical-align:top}
.vcom_pages ul li.vprev,.vcom_pages ul li.vnext{font-size:12px}
.vcom_pages ul li a{font-weight:normal}
.vcom_pages ul li.current a{font-weight:bold}
.vcom_pages ul li.vprev span,.vcom_pages ul li.vnext span{cursor:default}
.vcom_pages ul li em,.vcom_pages ul li span{display:block;margin-top:-3px}
.vcom_pages ul li.current span,.vcom_pages ul li.vprev span,.vcom_pages ul li.vnext span{margin-top:0}
.btnico{padding:0 19px 0 0}
.vcom_pages .tips{font-family:Arial}
.vcom_send{zoom:1}
.vcom_pages ul,.vcom_list ul li{font-family:Arial}
.vcom_pages ul li{border:0;font-weight:normal;font-size:12px;margin:0 3px;color:#10559f;height:20px;line-height:20px}
.vcom_pages ul li a{display:inline-block;width:auto;height:20px;line-height:20px;line-height:20px\9;padding:0 5px;color:#10559f}
.vcom_pages ul li.vprev{border:none;font-family:"宋体";margin-right:9px;position:relative}
.vcom_pages ul li.vprev span{display:inline-block;overflow:hidden;height:20px;line-height:20px;background:none;text-indent:0;width:auto;color:#929292}
.vcom_pages ul li.vprev a{display:inline-block;background:none;width:auto;text-indent:0;line-height:20px}
.vcom_pages ul li.vprev a:hover{text-decoration:underline;background:none}
.vcom_pages ul li.vnext{border:none;font-family:"宋体";height:20px;line-height:20px;margin-left:10px;position:relative}
.vcom_pages ul li.vnext a{display:inline-block;background:none;width:auto;text-indent:0}
.vcom_pages ul li.vnext a:hover{text-decoration:underline;background:none;width:auto}
.vcom_pages ul li.vnext span{display:inline-block;background:none;text-indent:0;width:auto;color:#929292}
.btnico .publicBt{display:inline;float:left;width:92px;height:32px;overflow:hidden;outline:0}
.btnico .publicBt:link{background:url(../images/videocomment/videocomment12070401.png) no-repeat;background-position:0 0}
.btnico .publicBt:visited{background:url(../images/videocomment/videocomment12070401.png) no-repeat;background-position:0 0}
.btnico .publicBt:hover{background:url(../images/videocomment/videocomment12070401.png) no-repeat;background-position:0 -34px}
.btnico .publicBt:active{background:url(../images/videocomment/videocomment12070401.png) no-repeat;background-position:0 -71px}
.btnico .publicBton{display:inline;float:left;width:92px;height:32px;overflow:hidden;outline:0}
.btnico .publicBton:link{background:url(../images/videocomment/videocomment12070401.png) no-repeat;background-position:0 -34px}
.btnico .publicBton:visited{background:url(../images/videocomment/videocomment12070401.png) no-repeat;background-position:0 -34px}
.btnico .publicBton:hover{background:url(../images/videocomment/videocomment12070401.png) no-repeat;background-position:0 -71px}
.btnico .publicBton:active{background:url(../images/videocomment/videocomment12070401.png) no-repeat;background-position:0 -34px}
.vcom_btn{width:92px;height:32px;padding:0 0 6px;overflow:hidden;margin:0}
.vcom_btn a{display:block;width:100%;height:100%;outline:0}
.vcom_btn span{display:block;width:100%;height:100%;background:url(../images/videocomment/videocomment12070401.png) no-repeat;background-position:0 0}
.vcom_btn a:link{background:url(../images/videocomment/videocomment12070401.png) no-repeat;background-position:0 -34px}
.vcom_btn a:visited{background:url(../images/videocomment/videocomment12070401.png) no-repeat;background-position:0 -34px}
.vcom_btn a:hover{background:url(../images/videocomment/videocomment12070401.png) no-repeat;background-position:0 -71px}
.vcom_btn a:active{background:url(../images/videocomment/videocomment12070401.png) no-repeat;background-position:0 -34px}
.vcom_pages ul li.current{height:18px;line-height:18px;overflow:hidden;background:none;border:1px solid #c10f1c;color:#c10f1c}
.vcom_pages ul li.current span{display:inline-block;width:auto;margin:0;padding:0 5px}
.vcom_pages_down .vcom_pages ul{margin-top:4px}
.vcom_pages ul li.vprev,.vcom_pages ul li.vnext{_margin-top:2px}
.vcom_pages ul li{height:20px;line-height:20px}
.vcom_pages ul li.current{height:18px;line-height:18px}
.vcom_pages ul li.current span{height:18px;line-height:18px}
@media screen and (-webkit-min-device-pixel-ratio:0) 
{.vcom_pages ul li.current span{line-height:19px}}


/*登录*/
#videocomment .vcom_list_text .time{padding:0}
#videocomment .vcom_new{width:570px}
#videocomment .loginbox{position:absolute;left:15px;top:35px;width:520px;line-height:18px;overflow:hidden;z-index:1200;}
#videocomment .loginbox .logincont{width:514px;height:274px;line-height:18px;overflow:hidden;border-left:3px solid #b5000b;border-right:3px solid #b5000b;background:url(http://y3.ifengimg.com/2485bc43b033c495/2012/0210/homenav111208.png) repeat-x 0 -444px #fff}
#videocomment .loginbox .ctop,.loginbox .cbtm{height:3px;font-size:1px;line-height:1px}
#videocomment .loginbox span.cl{width:3px;float:left;height:3px;background:url(../images/videocomment/circle111208.gif) no-repeat}
#videocomment .loginbox span.cr{width:3px;float:right;height:3px;background:url(../images/videocomment/circle111208.gif) no-repeat -3px 0}
#videocomment .loginbox span.cc{width:514px;float:left;height:3px;background:#b5000b}
#videocomment .loginbox .cbtm span.cl{background-position:0 -3px}
#videocomment .loginbox .cbtm span.cr{background-position:-3px -3px}
#videocomment .loginbox ul{width:276px;margin:0 auto;color:#787878}
#videocomment .loginbox ul li a{color:#515151}
#videocomment .loginbox ul li{width:276px;height:24px;margin-bottom:14px;float:left}
#videocomment .loginbox ul li label{float:left;width:46px;text-align:right;padding-right:10px;line-height:25px;font-size:14px}
#videocomment .loginbox ul li .txt{float:left;width:216px;height:24px;line-height:24px;padding:0 0 0 4px;border:0;background:url(../images/videocomment/homenav111208.png) no-repeat 0 -364px}
#videocomment .loginbox ul li .txt input{height:18px;line-height:18px;border:0 none;margin-top:4px;padding:0;background:#FFF;font-size:12px;width:211px;outline:none;color:#cecece}
#videocomment .loginbox ul li .remember{float:left;margin:2px 6px 0 56px;*margin:-2px 2px 0 52px;display:inline}
#videocomment .loginbox ul li label{float:left}
#videocomment .loginbox ul li a.forget{float:right}
#videocomment .loginbox ul li a.loginbtn{float:left;width:99px;height:25px;margin-left:56px;text-indent:-9999px;background:url(../images/videocomment/homenav111208.png) no-repeat 0 -314px;overflow:hidden}
#videocomment .loginbox ul li a.loginbtn:hover{background-position:0 -339px}
#videocomment .loginbox ul li a.regi{float:right;width:99px;height:25px;text-indent:-9999px;background:url(../images/videocomment/homenav111208.png) no-repeat -121px -314px;overflow:hidden}
#videocomment .loginbox ul li a.regi:hover{background-position:-121px -339px}
#videocomment .loginbox ul li.lb1{height:40px;margin:2px 0 0;_height:37px}
#videocomment .loginbox ul li.lb2{height:30px;margin-bottom:0}
#videocomment .loginbox ul li.lb3{margin-bottom:5px}
#videocomment .loginbox .error{width:210px;color:#b3000b;height:22px;line-height:24px;overflow:hidden;margin-left:56px;padding-left:8px;border:1px solid #cdcf99;background:#fdfedf}
#videocomment .loginbox em{width:505px;height:15px;display:block;margin:9px 9px 0 0}
#videocomment .loginbox em a{width:15px;height:15px;float:right;line-height:1px;font-size:1px;text-indent:-9999px;cursor:pointer;background:url(../images/videocomment/homenav111208.png) no-repeat -111px -196px}
#videocomment .loginbox em a:hover{background:url(../images/videocomment/homenav111208.png) no-repeat -111px -212px}
#videocomment .loginbox h2{width:161px;height:20px;margin:10px auto 5px;font-size:18px;border:0;padding:0;font-weight: 600;}



#videocomment .loginbox a{color:#004a99;text-decoration:none}
#videocomment .loginbox a:hover{text-decoration:underline}
#videocomment .loginTab{*zoom:1}
#videocomment .loginTab:after{content:" ";overflow:hidden;clear:both;display:block;height:0}
#videocomment .loginFrame{display:inline;float:left;width:329px}
#videocomment .loginMore{display:inline;float:left;width:154px;height:235px;padding-left:31px;background:url(../images/videocomment/loginTab.png) no-repeat -190px -95px}
#videocomment .loginbox ul li.lb1 label{cursor:pointer;float:left;width:auto;text-align:left;line-height:18px;padding:0;font-size:12px}
#videocomment .loginMore p{margin-top:66px;font-size:14px;color:#5b5b5b}
#videocomment .loginMore .loginMoreLink{display:block;width:125px;margin:14px 0 0;height:22px;line-height:24px;*line-height:23px;_line-height:25px;overflow:hidden;background:url(../images/videocomment/loginTab.png) no-repeat 0 -159px;color:#FFF;text-indent:25px}
#videocomment .weibo{float:none;width:486px;}
#videocomment .weibo .logincont{width:480px}
#videocomment .weibo span.cc{width:480px}
#videocomment .weibo em{width:470px}
#videocomment .weibo .logincont{background:#FFF url(../images/videocomment/loginTab.png) no-repeat 0 -338px}
#videocomment .weiboLogin{padding-left:165px}
#videocomment .weiboLogin p{font-size:14px;color:#5b5b5b;margin:20px 0 0 50px}
#videocomment .weibo .wblogtit{width:120px;height:20px;overflow:hidden;background:url(../images/videocomment/loginTab.png) no-repeat 0 -101px;margin:35px 0 0 50px}
#videocomment .weibo .wblogIntBox{padding:12px 0 0 50px;overflow:hidden;zoom:1}
#videocomment .wblogInt{display:inline;float:left;width:192px;height:26px;overflow:hidden;background:url(../images/videocomment/loginTab.png) no-repeat}
#videocomment .wblogInt input{width:182px;height:18px;line-height:18px;border:0 none;font-family:Arial;font-size:12px;outline:none;margin:5px 0 0 5px;background:#FFF;color:#000}
#videocomment .weibo .wblogIntBox .current{background:url(../images/videocomment/loginTab.png) no-repeat 0 -36px}
#videocomment .weibo .wblogIntBox a{display:inline;float:left;width:26px;line-height:18px;margin:6px 0 0 11px;color:#004a99;overflow:hidden}
#videocomment .wblogBtn{padding:19px 0 0 50px;overflow:hidden;zoom:1}
#videocomment .wblogBtn .wblogBtnin{display:inline;float:left;width:89px;height:29px;line-height:31px;overflow:hidden;background:url(../images/videocomment/loginTab.png) no-repeat 0 -191px;text-align:center;font-size:14px;font-weight:bold;color:#FFF}
#videocomment .wblogBtn .wblogBtnin:hover{background:url(../images/videocomment/loginTab.png) no-repeat 0 -230px;text-decoration:none}
#videocomment .wblogBtn .wblogBtnzh{display:inline;float:left;margin:12px 0 0 29px}
#videocomment .weibo .BindLogin{padding:36px 0 0 165px;overflow:hidden;zoom:1}
#videocomment .weibo .Bindlogtit{width:120px;height:18px;overflow:hidden;background:url(../images/videocomment/loginTab.png) no-repeat 0 -131px;margin:0 0 3px 50px}
#videocomment .weibo .BindLoginForm ul{margin:0 0 0 50px}
#videocomment .weibo .BindLoginForm ul li{height:25px}
#videocomment .weibo .BindLoginForm .error{margin:1px 0 0;width:214px}
#videocomment .weibo .BindLoginForm ul li .txt{width:160px;padding-right:4px;background:url(../images/videocomment/loginTab.png) no-repeat 0 -67px}
#videocomment .weibo .BindLoginForm ul li .txt input{width:156px;height:18px;line-height:18px;border:0 none;margin-top:4px;background:#FFF;font-size:12px;outline:none;color:#cecece}
#videocomment .weibo .BindLoginForm .loginBindBtn{display:inline;float:left;width:79px;margin-left:57px;height:24px;line-height:25px;overflow:hidden;background:url(../images/videocomment/loginTab.png) no-repeat 0 -270px;color:#FFF;text-align:center}
#videocomment .weibo .BindLoginForm .loginBindBtn:hover{background:url(../images/videocomment/loginTab.png) no-repeat 0 -304px;text-decoration:none}
.weibo .BindLoginForm .loginBindLink{display:inline;float:left;color:#004a99;margin:9px 0 0 40px}



.photo_box_s01 {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #CFCFCF;left: 325px;padding-bottom: 15px;position: absolute;top: 96px;width: 298px;z-index: 1100;}
.box06 {padding: 0 0 0 20px;}
.p07 {background: url("../images/publish/stop.gif") no-repeat scroll 2px 20px transparent;color: #808080;line-height: 22px;padding:19px 0 10px 26px;}
.p08 {padding: 14px 0 0 80px;}
.btn04 {background: url("../images/publish/sure.gif") repeat scroll 0 0 transparent;border: 0 none;height: 22px;margin-right: 10px;width: 61px;}
.btn05 {background: url("../images/publish/esc.gif") repeat scroll 0 0 transparent;border: 0 none;height: 22px;width: 61px;}

