#site_nav_under, #under_post_news, #under_post_kb, div[id="ad_under_post_holder"], div[id^="google_ad"]{
   display: none;
}

.catListTitle{
   background: rgba(60, 60, 60, 0.35);
}

#widget_my_zzk input.input_my_zzk{
   width: 160px;
}

#widget_my_zzk input.btn_my_zzk{
   padding: 0 10px 0 10px;
}

#google_q{
   width: 160px;
}
#mainContent{
   width: 750px;
}

.postCon{
   text-indent: 0;
}

.day > .dayTitle{
   width: 62px;
   height: 40px;
   padding: 5px 10px 10px 0;
}

.catListArticleCategory {
   border-radius: 7px 7px 7px 7px;
   box-shadow: 1px 1px 2px #a7a8ad;
   background: #fafcfd;
   margin: 20px 5px;
}

.catListArticleCategory ul li {
   border-bottom: 1px solid #dadfe1;
   border-top: 1px solid #fff;
   overflow: hidden;
   padding: 5px;
}

#blog-comments-placeholder {
   background: #fff;
   border-radius: 7px 7px 7px 7px;
   box-shadow: 1px 1px 2px #a7a8ad;
}

.feedbackCon:before {
   font-size: 30px;
   left: -30px;
   top: -10px;
}

.feedbackCon:after {
   bottom: 0px;
   font-size: 30px;
   right: -30px;
   top: 10px;
}

div.feedbackItem>div.feedbackListSubtitle>div.feedbackManage+a{
   padding-left: 10px;
}

div.feedbackItem>div.feedbackListSubtitle>div.feedbackManage>span{
   padding-right: 10px;
}

#comments_pager_bottom {
   border-top: 1px dashed #eee;
   margin-bottom: 20px;
}

#topics .postTitle a {
   color: #8CBCD1;
}
#cnblogs_post_body h2 {
   background-color: #8CBCD1;
   color: white;
   padding: 5px;
   font-weight: bold;
   border-radius: 4px 4px 4px 4px;
   height: 28px;
   line-height: 28px;
}

a[href="http://gostats.cn"] {
   position: fixed;
   right: 0px;
   bottom: 0px;
   background: #103858;
}

a[href="http://gostats.cn"] {
   position: fixed;
   right: 0px;
   bottom: 0px;
   background: #103858;
}

a[href^="http://tongji.baidu.com"] {
   position: fixed;
   left: 0px;
   bottom: 0px;
}