@charset "gb2312";
/********************
@author:hesy
@date:2013-03-29
@功能描述:一览搜索子网站的header&footer
********************/
.h-s-form{float:left;}

.all-h-bd:before,
.all-h-bd:after{content:".";display:table;height:0;font-size:0;line-height:0;visibility:hidden;}
.all-h-bd:after{clear:both;}
.all-h-bd{*zoom:1;}

.all-header,
.all-footer{font:12px/1.5 \5B8B\4F53,Helvetica,Arial,sans-serif;}

.all-header{width:980px; margin:0 auto;padding:0 0 0px;color:#2F2F2F;min-height:100px;_height:100px;}

.all-h-top{ text-align:right; line-height:1; padding:3px 0 10px;height:12px;}
.all-h-top a{color:#f90a03;}
.all-h-hover-t{ padding-bottom:3px}
.all-h-hover-box{position:relative; display:inline-block;*display:inline;*zoom:1;*margin-right:5px; vertical-align:top;z-index:999;}
.all-h-hover-t{ cursor:pointer}
.all-h-hover-t em{display:inline-block;height:0;width:0;overflow:hidden;font-size:0;border-width:4px;border-color:#f90a03 transparent transparent;border-style:solid dashed dashed; vertical-align:middle}
.all-h-hover-c{background:#fff; border:1px solid #c8c8c8; text-align:left; line-height:26px; position:absolute;left:0;z-index:35;}
.all-h-hover-c a{ display:block; white-space:nowrap; background:#fff; padding:0 8px;color:#c50014}
.all-h-hover-c a:hover{ background:#ededed; text-decoration:none;color:#2F2F2F}
.my-info-t,.all-h-login a{ color:#f90a03;}
.change-job{ color:#2F2F2F}
/*all-h-logo*/
.all-h-logo{float:left; font-family:\5FAE\8F6F\96C5\9ED1; text-align:center; margin-right:10px;margin-top:17px;}
.all-h-logo img{vertical-align:bottom;}
.site-home{ color:#f70b00;font-weight:bold; font-size:36px;}
.site-file-name{display:inline-block;vertical-align:middle;}
.site-home:hover{ text-decoration:none}
.site-logo{ vertical-align:middle; margin-right:4px}
.site-name{ display:inline-block; vertical-align:middle}
.site-info{ margin:18px 0 0 8px; display:inline-block;*display:inline;zoom:1; vertical-align:top; text-align:left}
.site-desc{ font-size:14px; color:#8f8f8f}
/*搜索*/
.all-h-search{float:right;}
.all-h-s-nv{margin-left:5px;font-weight:bold;padding-bottom:6px;}
.all-h-s-nv span,
.all-h-s-nv a{display:inline-block;margin:0 10px; font-size:14px;}
.all-h-s-nv span{ font-weight:bold; border-bottom: 3px solid #d92727;color:#d92727;}
.all-h-s-nv a{ color: #777;text-decoration: none;}
.all-h-s-nv a:hover {color:#d92727}
.all-h-s-more em{display:inline-block;height:0;width:0;overflow:hidden;font-size:0;border-width:3px;border-color:#F70B00 transparent transparent;border-style:solid dashed dashed;_margin:12px 0 0;}
.all-h-s-txt{ border:1px solid #cacaca;border-top: 0px;border-left: 0px;  width:422px; height:34px; line-height:34px; padding:0 5px; float:left;background:url(../images/input_bg_w433_h35.png) no-repeat;}
.all-h-s-btn{ float:left; background:url(../images/search_btn_new.png);color:#fff; border:none; height:36px; margin-left:4px; width:109px; font-family:\5B8B\4F53; cursor:pointer}
/*all-footer*/
.all-footer{ text-align:center; color:#bdbdbe; background:#f5f5f5; line-height:28px;margin:10px 0 0;}
.all-footer a{color:#c60017;}
.all-footer-copyright{ font-family:arial}
/*search suggest link */
.search-suggest-div {
	/* border-bottom: 1px solid rgb(245, 146, 146);
	   background-color: rgb(252, 252, 209);
	*/
	border-bottom: 1px solid rgb(199, 199, 199);
	background-color: #ADADAD;
	line-height:21px;
	padding: 5px 0px;
	z-index:1001;
	filter: alpha(opacity=90); 
	-moz-opacity: 0.90; 
	opacity: 0.90; 
	left: 0;
	right:0;
	position: fixed;
	top: 0;
	_position: absolute;
	_top: expression(eval(document.documentElement.scrollTop));
}
#suggest-close {cursor:pointer;float:right;color:#333;display: inline;font-weight: 700;font-size: 24px;background-color: #C7C7C7;}
.suggest-tips {font-size:14px;color:#272525;width: 980px;margin: 0 auto;overflow:hidden;}
.suggest-jobs{width: 800px;margin: 0 auto;overflow: hidden;margin-top:7px;font-size:14px;font-weight:700;}
.suggest-jobs a {color:#852626;text-decoration:underline;font:14px Arial,宋体B8B\4F53}
.search-suggest-clearfix {clear:both;height:56px;margin-bottom:5px;}
