@charset "gb2312";
/********************
@author:WF
@date:2013-05-13
@功能描述:xz_main.css
********************/

/*global css*/
.font-gray{color:#9d9d9d;}
.font-red{color:#c00;}
.font-black{color:#000;}
.mt20{margin:20px 0 0 0;}

/*global css*/
#xz-main{width:980px;margin:0px auto;}
.position{height:44px;line-height:44px;}
.font-red,
.p-detail-r .info .btn .current{color:#c00;} 
#hot-topic{height:258px;}
  .hot-topic-l{width:230px;height:256px;border:1px solid #e1e1e1;}
  .hot-topic-l img{width:230px;height:256px;border:1px solid #eee;} 	  
  .hot-topic-r{position:relative;width:730px;height:258px;}   
  .hot-topic-r .title{height:43px;text-align:center;font:20px/120% "黑体";}  
  .hot-topic-r .all-info{position:relative;height:16px;line-height:16px;color:#9d9d9d;}
  .hot-topic-r .date,.hot-topic-r .poster,.hot-topic-r .fans,.hot-topic-r .share{float:left;padding-right:38px;line-height:16px;}
  
  .s-ico{display:block;float:left;height:16px;width:16px;background:url(../images/xinzhi/notebg.png) no-repeat;}
  .qqzone{background-position:0 -16px;margin:0 5px 0 10px;}	
  .sina_weibo,.qq_weibo,.renren,.sina{margin-right:5px;}
  .sina_weibo{background-position:0 -32px;}
  .qq_weibo{background-position:0 -48px;}
  .renren{background-position:0 -64px;}
  .sina{background-position:0 -80px;}
  .notenum{float:left;width:36px;height:16px;line-height:16px;padding-left:6px;background:url(../images/xinzhi/notebg.png) no-repeat 0 -97px;}
  .hot-topic-r .content{padding-top:15px;font-size:14px;text-indent: 2em;}/*zhhao*/
  .classic-tc{position:absolute;bottom:0;padding-left:17px;background:url(../images/xinzhi/notebg.png) no-repeat 0 -113px;height:56px;}
  .classic-tc li{float:left;width:56px;height:56px;margin:0 5px;display:inline;}
  
  .jiathis_style{position:absolute;top:40px;left:370px;}
  
  .sort-and-hot{margin:20px 0 0;}/*zhhao*/
  .mt0{margin-top:0px;}
  .topic-classify{width:704px;border-right:1px solid #dcdcdc;}
  .topic-classify .head,.hot-posts .head{width:688px;height:33px;border-bottom:1px solid #dcdcdc;font:20px \5FAE\8F6F\96C5\9ED1;color:#000;}
  .hot-posts,.hot-posts .head{width:260px;}
 
  .items{margin-top:17px;}
  .classify-item{float:left;width:350px;margin-bottom:32px;overflow:hidden;}
  .classify-item .top{width:100%;height:48px;overflow:hidden;padding-left:60px;position:relative;}
  .classify-i-img{position:absolute;left:0;width:48px;height:48px;}
    
    .wendao{background:url(../images/xinzhi/xzico.png) no-repeat}
    .xinshi{background:url(../images/xinzhi/xzico.png) no-repeat 0 -48px;}
    .bg-gongzi{background:url(../images/xinzhi/xzico.png) no-repeat 0 -96px;}
    .bg-xingfu{background:url(../images/xinzhi/xzico.png) no-repeat 0 -144px;}
	
	
  .classify-item .top .title{display:inline-block;color:#000;font:bold 16px "宋体";padding-bottom:14px;}
  .classify-item .top .title:hover{text-decoration:underline;}
  .classify-item ul,.hot-posts ul{margin-top:10px;position:relative;left:-5px;}/*zhhao*/
  .classify-item ul li{font-size:14px;line-height:28px;}/*zhhao*/
  .classify-item ul li a{color:#000;}
  
  .hot-posts ul li .countnum{float:left;width:15px;height:15px;line-height:15px;text-align:center;background:#acacac;color:#fff;margin:0 9px 13px 0;clear:both;}
  .hot-posts ul li .num-red{background:#c00;}
  .bg-red{background:#cc0000;}
  .hot-posts ul li a{float:left;color:#000;}
  .topic_pic{width:238px;height:120px;border:1px solid #cbcdca;clear:both;margin-top:24px;*margin-top:34px;_margin-top:35px;position:relative;left:-4px;}
  .topic_pic img{width:238px;height:120px;}
  /*小图标*/ 
  .topic-list .head i,
  .verify .btn,
  .p-detail-r .info .btn a,
  .pages .page-btn,
 .btn1,
  .btn2,
  .p-detail-l .p-cion{background:url(../images/sprite/icon.png) no-repeat;}
 
 
  
  /*分类列表*/
.topic-list{width:688px;height:}
.total{color:#9D9D9D;} 
.topic-list .head{height:28px;line-height:28px;border-bottom:1px solid #dcdcdc;}
.personal .head{height:30px;position:relative;padding:26px 0 0 50px;}
.topic-list .head .title{font-weight:bold;font-size:14px;padding:0 4px;}
.topic-list .head p{float:left;}
.topic-list .head .sort{padding:0 10px;}
.topic-list .head .sort a{float:left;text-decoration:none;color:#9d9d9d;}
.topic-list .head .sort{display:block;padding-right:17px;float:left;}
.topic-list .head i{float:left;display:inline-block;width:10px;height:10px;font-size:0;line-height:0;margin:8px 0 0 2px;background-position:right 0;}

.topic-list ul{margin-top:17px;}
.topic-list ul li{margin:0 40px 15px 0;border-bottom:1px dashed #dbdbdb;padding-bottom:11px;line-height:24px;overflow:hidden;zoom:1;}

.topic-list .top{height:49px;}
.personal .top{height:auto;}
.personal .bottom{position:absolute;bottom:0;}
.topic-list .top .h-pic{width:51px;height:49px;background:#666;margin-right:11px;}
.personal .h-pic{position:absolute;top:0;left:0;}
.topic-list .top .h-pic img{width:51px;height:49px;}
.topic-list .top h3{padding-bottom:5px;}
.topic-list .content{padding:5px 0;line-height:22px;text-indent:2em;}
.topic-list .divid{padding:0px 15px;}

.hot-posts .post{height:120px;background:url(../images/xinzhi/talk-salary.png) no-repeat center top;}
.hot-posts .post a{display:block;width:174px;height:38px;float:left;display:inline;margin:45px 0 0 41px;}
.hot-posts .post a img{width:174px;height:38px;}

.pages,.pages2{height:26px;line-height:26px;margin:0 0 5px;}/*zhhao*/
.pages2{margin:20px;}
.pages-at{margin:0 0 6px;}

.pages span{padding:0px 10px;}
.pages a{color:#c00;padding-right:16px;}
.pages a.back{color:#000;}
.pages a.back:hover{color:#c00;}
.pages-at a{padding:0 5px;}/*文章页分页样式*/
.pages a:hover,
.p-detail-r .info a,
.hover{color:#000;}
.pages #pageto{width:24px;margin:0px 2px;position:relative;top:-2px;border:1px solid #9f9f9f;line-height:18px;text-align:center;}/*zhhao*/
.pages .page-btn,
.p-detail-r .info .btn a{
display:inline-block;width:58px;height:26px;line-height:26px;text-align:center;background-position:0 -66px;border:none;text-decoration:none;cursor:pointer;position:relative;top:-2px;}
/*.p-detail-r .content{text-indent:2em;}*/

.post-detail .head{height:40px;line-height:40px;width:972px;padding-right:6px;border:1px solid #e2e2e2;background:#f7f7f7;}  
.post-detail .head .check-reply{width:206px;height:40px;float:left;border-right:1px solid #e2e2e2;text-align:center;color:#9d9d9d;}
.post-detail .head a{float:left;}
.check-reply  span{padding-right:5px;}
.check-reply .padding{padding:13px;}
.post-detail .head h3{float:left;padding-left:15px;}
.post-detail .head .btn{text-decoration:none;display:block;margin:7px 8px 0 0;height:26px;line-height:26px;text-align:center;float:right;color:#fff;} 
.btn1{width:76px;background-position:0 -39px;}
.btn2{width:56px;background-position:-59px -66px;}

.p-detail{min-height:267px;_height:267px;overflow:visible;width:978px;border:1px solid #e2e2e2;border-top:none;background:#f7f7f7;float:left;}
.xz-content{min-height:217px;_height:217px;}
.p-detail-r{width:741px;border-left:1px solid #e2e2e2;background:#FFF;padding:30px 14px 20px 16px;position:relative;font-size:14px; overflow:hidden;word-wrap:break-word;}/*zhhao*/

.p-detail-r .info{height:26px;line-height:26px;position:relative;top:13px;right:0;color:#000;padding-right:13px;}
.p-detail-r .info img{float:left;margin-top:-3px;}
.p-detail-r .info .btn{float:right;}
.p-detail-r .info span{padding:0 10px;}
.p-detail-r .info .btn a{font-weight:bold;color:#000;}
.p-detail-l{width:207px;position:relative;}
.p-detail-l .p-cion{position:absolute;top:-1px;right:0;width:42px;height:42px;background-position:right -10px;}
.p-detail-l .wrap{width:132px;position:absolute;top:20px;left:37px;}
.p-detail-l .wrap img{width:124px;height:124px;padding:3px;border:1px solid #cacaca;}
.p-detail-l .wrap h3{padding:10px 0 17px 0;text-align:center;}
.p-detail-l .wrap .item{width:65px;height:43px;float:left;text-align:center;}
.p-detail-l .wrap b{font:bold 18px Arial, Helvetica, sans-serif;}
.p-detail-l .wrap .item.b-right{border-right:1px solid #dadada;}
.xz-content img{display:block;max-width:741px;}

.reply .head,.my-post .head{width:980px;height:28px;border-bottom:1px solid #dcdcdc;}
.reply .content{margin:-275px 0 0 80px;position:relative;width:900px;*margin:-280px 0 0 80px;} 
.reply .content-login{margin:-240px 0 0 80px;}
 .my-post .title label, .my-post .sort label{position:absolute;left:-40px;font-size:14px;top:6px;}
 .my-post .sort label{top:0px;}
.sort{height:24px;position:relative;top:1px;}
.my-post .tag label{position:absolute;left:-64px;font-size:14px;top:6px;}
.reply .content label{position:absolute;left:-40px;font-size:14px;}
#title{width:628px;height:30px;border:1px solid #D9D9D9;line-height:30px;}/*zhhao*/
.reply .content .text{height:262px;background:#CCC;}
.reply .tip{margin-top:12px;}
.reply .verify,.my-post .title,.my-post .sort,.my-post .tag{margin:10px 0 0 80px;width:900px;position:relative;}
.reply .verify label{position:absolute;left:-54px;font-size:14px;top:8px;}
.verify-a{height:32px;line-height:32px;}
.verify-a input{height:30px;line-height:30px;width:100px;border:1px solid #dadada;margin-right:10px;}
.verify-a span{display:inline-block;width:106px;height:30px;background:#999;margin-right:10px;}
.verify-a a{color:#c00;text-decoration:none;}
.verify .btn{display:block;width:85px;height:39px;line-height:39px;text-align:center;color:#fff;font-size:14px;background-position:0 0;margin-top:12px;text-decoration:none;}
.my-post .tag{position:relative;z-index:2;}
.my-post .tag input{width:280px;height:30px;line-height:30px;color:#999;}
.my-post .tag .state{padding:0px 10px;color:#7d7d7d}
.my-post .tag .common-use{margin-top:5px;}
.my-post .tag .position-name{display:inline-block;padding:5px 15px;background:#e9e9e9;margin-right:10px;position:relative;cursor:pointer;border:1px solid #fff;}
.my-post .tag .position-name .close{width:12px;height:12px;background:url(../images/close.png) no-repeat;position:absolute;cursor:pointer;right:0;top:20%;display:none;}
.none a{color:#c00;}
.taglist{width:282px;border:1px solid #d9d9d9;border-top:none;position:absolute;z-index:2;top:34px;_top:37px;left:0;background:#FFF;display:none}
.my-post .tag .position-name{display:inline-block;padding:2px 10px;background:#e9e9e9;margin-right:10px;}
.taglist li{height:30px;line-height:30px;cursor:pointer}
.taglist-l{height:210px;overflow-y:scroll;}
.hover{background:#eee;}
.data{width:280px;height:30px;display:block;color:#333;}
.data:hover{background:#ccc;text-decoration:none;}

/*薪指搜索分类*/ 
.s-sort{width:673px;padding:13px 0 5px 13px;border:1px solid #e2e2e2;background:#f7f7f7;margin-bottom:15px;} 
.s-sort-title{color:#9d9d9d;}
.topic-list  .s-sort-list{margin:17px 0 0 20px;width:580px;}
.topic-list  .s-sort-list li{float:left;padding:0;text-align:center;border:0;font-size:14px;}
.topic-list  .s-sort-list li a{text-decoration:none;color:#000;display:inline-block;}
.topic-list  .s-sort-list li .hover{background:#c00;color:#fff;padding:0 10px;}
.profession{font:bold 14px/1.2em "\5B8B\4F53";color:#000;}

/*增加的样式*/
.mt10{margin-top:10px;}
.tj-num{font:bold 12px \5B8B\4F53;}
.reply-to{margin-bottom:20px;}
/*2013 05 31 by zhhao */
.bd-jl{position:relative;top:-8px;}
.info span{color:#9d9d9d;}
.p-jl{margin:0 0 20px;}
.post-detail{margin:0 0 15px 0;}
.say-sup{border-top:1px dashed #272727;margin:23px 0 0;padding:10px 0 0;}
.f-g-jl{padding:10px 0;}
.reply{margin-top:0px;position:relative;z-index:10}
.topic-list .font-red{*margin:-18px 0 0;}
.show-sa{margin:0;}
.pages .p-current{color:#000;font-weight:bold;}
.sup-num{color:#000;}
.sort i.i-current{background:url(../images/xinzhi/wg_bg.png) no-repeat;}
.topic-list .sort a.s-wg{color:#c00;}
  /*页数page*/
.page-num{font-size:14px;font-weight:bold;text-align:center;padding:15px 0 35px;}
.page-num a,
.p-index{font-weight: normal;}
.page-num a{color:#c00;margin:0 5px;}
.page-num .p-current{color:#000;font-weight:bold;margin:0 1px;}
.page-num .p-index{color:#000;}
/*修改*/
.all-btn{padding:0 20px;color:#000;text-decoration:none;margin-top:17px;font-size:14px;line-height:24px;}
.all-b-hover{background:#c00;color:#fff;}

/**/
  .no-s-result{
  text-align:center;
    width:687px;
	background:#f7f7f7;
	border:1px solid #e2e2e2;
	padding:33px 0 31px 0;
  }
  .msg-sorry,.msg-no-info{
  font:30px \5FAE\8F6F\96C5\9ED1;
  margin-bottom:11px;
  }
  .msg-no-info{font-size:18px;margin-bottom:18px;}
/*遮罩*/
.shade{
position:relative;z-index:10;*z-index:20;width:890px;height:275px;filter:alpha(opacity=0);background:#fff;opacity:0;top:28px;left:79px;
}
.shade-ind{z-index:-1;*z-index:-1;}
.shade-tips{
	background:#FFFCD2;
    border: 1px solid #D4D4D4;
    box-shadow: 3px 3px #E5E5E5;
    color: black;
    width:200px;
    padding: 8px 20px 5px;
	position:relative;	
	left:78px;
	top:-204px;
	z-index:100;
}
.reply .head{margin:0 0 -20px;}
.gaps{padding:0 8px;}

.reply .head-fix {
    margin: 0;
}
.reply .content-fix {
    margin-top: 13px;
}
    
/*618修改*/
.curent-hot ul{margin-top:2px;_margin-top:-10px;}
.curent-hot ul li{margin-bottom:1px;*margin-bottom:10px;_margin-top:11px;overflow:hidden;} 	

/*619 当前十大热帖样式修改*/
.hot-posts .head {border-bottom: medium none;left: -6px;_left:-2px;position: relative;top: -10px;}
.verify-a img{margin-right:10px;position:relative;top:-6px;}

/*627添加*/
.v-username{
width:207px;
text-align:center;
font:bold 14px 宋体;
position:absolute;
top:162px;
left:0;
	}
 .v-ico{
 width:16px;
 height:13px;
 margin-left:2px;
 display:inline-block;
 background:url(../images/xinzhi/add_v.png) no-repeat;
 vertical-align:middle;
}	

.v-userinfo{
 width:207px;
 position:absolute;
 top:173px;
 left:-16px; 
}
.v-userinfo p{margin-bottom:3px;}
.v-userinfo-left{width:66px;color:#9f9f9f;display:inline-block}
.v-userinfo-right{width:112px;display:inline-block;line-height:16px;}
.p-detail-l .wrap h3 span{vertical-align:middle}

/*首页通栏*/
.ylxw-li10{ width:980px; margin:0 auto; background-color:#fafafa; padding:15px 0;}
.ylxw-li10 ul li{ float:left; font-size:14px; height:30px;line-height:30px; width:312px; padding-left:10px; overflow:hidden;}
.ylxw-li10 ul li a{ color:#000;}
.ylxw-li10 ul li span{ font-size:12px; padding:2px; margin:0 5px;}
.ylxw-li10 ul li .color-80{background-color:#e8e5f0;color:#887cc4;}
.ylxw-li10 ul li .color-90{background-color:#deeeee;color:#4e9496;}
.ylxw-li10 ul li .color-00{background-color:#edf7ec;color:#5c8a59;}
.ylxw-li10 ul li .color-70{background-color:#fbf7ee;color:#a48c60;}

/*628  样式*/
.xz-pagego{vertical-align:0;_vertical-align:-2px;margin:0 5px;}
.total span{padding: 0 3px;}
/*630*/
.pub-nickname {padding: 0 0 0 12px;}
.pub-input {vertical-align: 2px;}
.publisher-right {line-height: 18px;padding:8px 0 0 0;}
.publisher-right #nickname {height: 18px;line-height:18px;}

/*头像弹窗*/
.xs-yhsz{ width:465px; height:350px; padding:0 15px;}
.xs-yhsz .xs-top{ padding-top:18px;}
.xs-tx{ margin-top:25px; }
.xs-tx dt{ float:left; width:56px; font-size:14px;text-align:right;}
.xs-tx dd{ float:left; width:405px;}
.xs-imgbox{ width:124px; height:124px;border:1px solid #cacaca; padding:3px; position:relative; float:left;}
.xs-imgbox img{ display:block; width:124px; height:124px;}
.xs-imgbox .updown-bg{ position:absolute; bottom:3px; left:3px; width:124px; height:23px; background-color:#000;filter:alpha(opacity=40); -moz-opacity:0.4; -khtml-opacity: 0.4;opacity: 0.4;_bottom:6px;}
.xs-imgbox .sc-img{ position:absolute;bottom:3px; left:3px; width:124px; height:23px; line-height:23px; text-align:center; z-index:2;}
.xs-imgbox .sc-img a{color:#fff;}
.xs-smallimg{ float:right; width:260px;}
.xs-smallimg p{ padding-top:6px;color:#8f8f8f;}
.xs-simg{ padding-top:4px;}
.xs-simg a img{ float:left;width:48px; height:48px; margin:4px 4px 0 0;}
.xs-nc{ margin-top:20px;}
.xs-nc label{ display:inline-block; width:56px; text-align:right; font-size:14px;}
.xs-nc .nc-text{ width:190px; height:30px; border:1px solid #d7d7d7; line-height:30px;}
.xshd-submit{ border:none; background:url(../images/biye/xs-but.png) no-repeat 0 0; width:85px; height:38px; color:#fff; font-weight:bold; margin:20px 0 0 56px;}

/*大v弹出窗*/
.tc-box{ width:534px; padding:8px; background-color:#a3a7aa;}
.tc-tit{ height:37px; line-height:37px; background-color:#efefef; padding:0 10px; border-bottom:1px solid #e2e2e2;}
.tc-tit h4{ float:left; font-size:14px;}
.tc-tit .tc-close{ float:right; width:20px; height:20px; background-position:0 0; margin-top:8px;}
.tc-peo{ background-color:#fff; height:160px;}
.tc-peo dl{ padding:15px 0 0 20px;}
.tc-peo dl dt{ float:left; width:132px;}
.tc-peo dl dt img{ border:1px solid #cacaca; padding:3px; background-color:#f7f7f7;}
.tc-peo dl dd{ float:left; width:350px; padding-left:10px;}
.tc-peo dl dd .tcpeo-name{ height:37px; line-height:37px; border-bottom:1px dashed #d4d4d4;}
.tc-peo dl dd .tcpeo-name span{ font-size:16px; font-weight:bold; color:#c00; padding-left:3px;}
.tc-peo dl dd .tc-jibie{ display:inline-block; width:16px; height:13px; background-position:0 -22px; margin-left:6px; overflow:hidden;}
.tc-peo dl dd p{ padding-top:13px;color:#272525;}
.tc-peo dl dd p span{ color:#929292; display:inline-block; width:70px; text-align:right;}
.tcpeo-sum{ background-color:#f7f7f7; padding:0 15px 20px; position:relative; position:relative; border-top:1px solid #dedede;}
.tcpeo-san{ position:absolute; top:-1px; left:74px; width:13px; height:8px; background-position:-29px 0; overflow:hidden;}
.tcpeo-sum dl dt{ color:#929292; padding:10px 0;}
.tcpeo-sum dl dd p{ line-height:24px;}
.tcpeo-sum .tc-close1{ display:block; margin:20px auto 0; width:85px; height:38px; color:#fff; font-weight:bold; line-height:38px; text-align:center; font-size:14px; background-position:0 -40px;}
.tcpeo-sum a.tc-close1:hover{ text-decoration:none;}
.tc-tit .tc-close,.tc-peo dl dd .tc-jibie,.tcpeo-san,.tcpeo-sum .tc-close1{ background-image:url(../images/biye/tc_icon.png); background-repeat:no-repeat;}

/*薪闻模块添加*/
.xinz-ad{ background:url(../images/xz_year.jpg) no-repeat 0 0; width:980px; height:100px; position:relative;margin-top:10px;}
.xinz-ad a{ position:absolute; color:#824b13; font-size:14px; font-weight:bold;}
.xinz-ad .x-adlink{ top:0; left:0; height:100px; width:980px;}
.xinz-ad .x-adlink1{ top:25px; background-position:0 0;right:20px; z-index:2;}
.xinz-ad .x-adlink2{ text-indent:-9999px; top:53px;width:128px; height:27px;right:20px; z-index:2;}
.xinz-ad a.x-adlink2:hover{ background-position:0 -35px;}
.xinz-ad .x-adlink2,.xinz-ad a.x-adlink2:hover{background-image:url(http://img3.job1001.com/position_new/images/biye/xshd_icon.png); background-repeat:no-repeat;}
.xinz-box3{ width:980px; background-color:#fafafa; height:200px;}
.xinz-list{ float:left; width:308px; margin:0 8px 0 10px; display:inline;}
.xinz-tit{ padding:6px 0 3px;border-bottom:1px solid #989898;}
.xinz-tit h4{ float:left;font-size:16px; font-weight:normal;}
.xinz-tit h4 em{ background-image:url(../images/xz_titicon.png); background-repeat:no-repeat;display:inline-block;overflow:hidden; margin-right:5px;*vertical-align:4px;}
.xinz-tit h4 .xtit-icon1{background-position:0 0; width:11px; height:14px;}
.xinz-tit h4 .xtit-icon2{background-position:0 -22px; width:15px; height:15px; vertical-align:-2px;*vertical-align:3px;}
.xinz-tit h4 .xtit-icon3{background-position:0 -42px; width:13px; height:16px; vertical-align:-2px;*vertical-align:3px;}
.xinz-tit a,.xinz-tit span{ float:right; color:#000; margin-top:4px;}
.xinz-li5{ padding-top:6px;}
.xinz-li5 ul li{font-size:14px; height:30px;line-height:30px;width:308px;overflow:hidden;}
.xinz-li5 ul li a{ color:#000;}
.xinz-li5 ul li span{ font-size:12px; padding:2px; margin:0 5px;}
.xinz-li5 ul li .color-80{background-color:#e8e5f0;color:#887cc4;}
.xinz-li5 ul li .color-90{background-color:#deeeee;color:#4e9496;}
.xinz-li5 ul li .color-00{background-color:#edf7ec;color:#5c8a59;}
.xinz-li5 ul li .color-10{background-color:#fbf7ee;color:#a48c60;}
.xinz-rank5{ padding-top:6px;}
.xinz-rank5 ul li{height:30px;line-height:30px;width:304px;overflow:hidden; padding-left:4px;}
.xinz-rank5 ul li span{ float:right; width:43px;color:#8d8d8d; text-align:center;}
.xinz-rank5 ul li em{ float:left;height:15px; width:15px; text-align:center; line-height:15px; color:#fff; overflow:hidden; background-color:#c80000; margin-top:7px;}
.xinz-rank5 ul li em.rank5-last{ background-color:#a9a9a9;}
.xinz-rank5 ul li a{ color:#000; margin-left:14px;font-size:14px;}
