/* 科技企业库 */
.tech-list-75 li { width: 75px; float: left; height: 24px; line-height: 24px; overflow:hidden; }
/* 科技热点 */
.square-btn-slide p { margin:0; }
.imgList-widget-4 .scrlBody { width:220px; overflow:hidden; *zoom:1; position:relative; }
.scrlCtrl{text-align:center;}
.scrlCtrl .scrlPrev, .scrlCtrl .scrlNext { position:absolute; background-color:#DADADA; color:#fff; font-weight:bold; height:70px; top:40px; line-height:70px; width:18px; text-align:center; text-decoration:none; }
.scrlCtrl .scrlPrev{left:0;}
.scrlCtrl .scrlNext{right:0;}
.scrlCtrl a.scrlPrev:hover, .scrlCtrl a.scrlNext:hover { background-color:#333; color:#fff; text-decoration:none; }
.scrlCtrl ul { display:inline-block; *display:inline; *zoom:1; height:16px; }
.scrlCtrl .pic-count { float:left; padding:0 5px; }
.scrlCtrl .pic-count span { height:16px; line-height:16px; font-family:"Arial"; color:#ADADAD; }
.news-imgs .scrlCtrl { position:absolute; right:0; top:10px; }
.imgList-widget-8 .scrl-3 { height:310px; }
.imgList-widget-8 .scrl-3 .scrlBody { _width:400px; }
.imgList-widget-4 { }
.imgList-widget-4 li { float:left; width:220px; padding-top:10px; position:relative; }
.imgList-widget-4 .img-bg { background-color:#050505; display:block; height:30px; left:0; opacity:0.6; filter:alpha(opacity=60); position:absolute; bottom:0; width:220px; }
.imgList-widget-4 p { height:30px; left:0; line-height:30px; position:absolute; bottom:0px; }
.imgList-widget-4 p a, .imgList-widget-4 p a:hover, .imgList-widget-4 p a:visited { color:#FFFFFF; font-size:12px; font-weight:bold; height:30px; overflow:hidden; padding-left:10px; text-decoration:none; }
.square-btn-slide{width:220px; position:relative; padding:0 40px; }
.square-btn-slide .scrlCtrl ul{text-align:center;}
.square-btn-slide .scrlCtrl .active { background-position: -1px -4px; }
.square-btn-slide .scrlCtrl li {width: 10px; float:none; height: 10px; margin-right: 15px; display:inline-block; *display: inline; *zoom:1; background: url(http://img1.cache.netease.com/tech/img12/home/sprites.png) -26px -4px no-repeat; cursor: pointer; }
/* 额外头条区 */
.atleLP p { margin:0 }
.atlecB { color:#252525; }
.atleLP { padding:20px 0 0 0; width:590px; border-top:#256B8F solid 2px; overflow:hidden; }
.scI { color:#DEDEDE; padding:9px 0 0; }
.aBlock { border-bottom:1px dotted #DDDDDD; padding-bottom:14px; }
.uB { padding:30px 0 11px 0; }
.atleLP h2 { text-indent:-999em; width:104px; height:24px;  }
.tech-tt{background:url(http://img2.cache.netease.com/img12/ai/tech_tt.png) 0 0 no-repeat;}
.atleLP h2 a, .atleLP h2 a:visited { display:block; height:100%; }
.imgNews { float:left; }
.pt20h { padding-top:20px; }
.mt16h { margin-top:16px; }
.mt-2h { margin-top:-2px; }
.imgNews h3 { background:#555; height:24px; width:160px; line-height:24px; text-align:center; }
.imgNews a, .imgNews a:visited, .imgNewsH a, .imgNewsH a:visited  { color:#fff; }
.mainNews { float:left; padding: 0 0 0 31px; white-space:nowrap; width:399px; overflow:hidden; margin-top:-3px; }
.mainNews h3 { font-size: 16px; font-weight: bold; font-family: "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", sans-serif; padding-bottom:12px; }
.mainNews p { padding:0 0 7px 0; }
.pt10h { padding-top:10px; }
.mainNews li, .mainNewsB li { font-size:14px; font-family:"\5B8B\4F53", serif; line-height:28px; padding-left:11px; background:url("http://img6.cache.netease.com/news/img12/aa/lstp.png") no-repeat scroll 0 12px transparent; }
.mainNews ul { padding:17px 0 0 0; }
.atleLP .clearfix{*zoom:1;}
.textG{color:#DEDEDE;}
.imgNewsH{padding:37px 0 19px 0; width:600px; border-bottom:1px solid #DEDEDE;}
.imgNewsH h3{background:#555; height:24px; width:190px; line-height:24px; text-align:center;}
.imgNewsH li{padding-right:10px;}
.mainNewsB{ padding:20px 0 40px 0; border-bottom:1px solid #DEDEDE; height:362px; overflow:hidden;}
.mainNewsB .colL{ border-right:1px dotted #ddd; width:294px; float:left;margin-top:-4px;}
.mainNewsB h3{ font-size: 16px; font-family: "\5FAE\8F6F\96C5\9ED1", "\5B8B\4F53", sans-serif; padding-bottom:12px; }
.mainNewsB h3 a{ color:#202020;}
.mainNewsB p{ font-size: 16px; font-weight: bold; font-family:"宋体"; padding:4px 0 6px 0;}
.pt28h{padding-top:28px;}
.mainNewsB .colR{padding:0 0 0 21px; float:left; margin-top:-4px;}
#endText {text-align: left;}