body{width: 100%;font-family: Helvetica, "宋体";font-size: 12px;color: #333;margin: 0;padding: 0;line-height: 23px;-webkit-text-size-adjust: none;}
div, form, img, ul, ol, li, dl, dt, dd{margin: 0;padding: 0;border: 0;}
h1, h2, h3, h4, h5, h6,p{margin: 0;padding: 0;}
p{ min-height: 8px;}

/* 链接颜色 */
a{color: #535353;text-decoration: none;}
a:hover{color: #0a8cd2;}

#article-inner{background: #fff;color: #222;width: auto;padding: 15px;position: relative;}
#article-inner .header .title{color: #000;font-size: 20px;font-weight: bold;word-break: normal;word-wrap: break-word;line-height: 30px;}
#article-inner .header .titlefixed{position: fixed;background: #fff;top: 0;left:0;width: 495px;padding: 15px;display: none;border-bottom: 1px solid #bbb;}
#article-inner .header .bizinfo{margin: 5px 0;}
#article-inner .bizinfo .activity-meta{display: inline-block;margin-left: 8px;padding-top: 2px;padding-bottom: 2px;color: #8c8c8c;font-size: 12px;}
#article-inner .bizinfo .activity-meta.no-extra{margin-left: 0;}
#article-inner .bizinfo a.activity-meta{color: #607FA6;font-weight: bold;}
#article-inner .page-content .innertext{font-size: 16px;color: #3e3e3e;line-height: 1.75em;width: 100%;overflow: hidden;zoom: 1;word-break: break-all;word-wrap: break-word;}
/*#article-inner .page-content .innertext>p{margin: 0px 0;}*/
#article-inner .page-content img{max-width: 100% !important;height: auto !important;margin: auto auto 10px auto;display: block;}
#article-inner .page-content iframe{margin: 15px auto;display: block;}
#article-inner .page-content p:after {content: "\200B";display: block;height: 0;clear: both;}
#article-inner .page-content *{-webkit-box-sizing: border-box!important;box-sizing: border-box!important;}
/*
#article-inner .page-content img{max-width: 90% !important;height: auto !important;margin: 15px auto 10px auto;display: block;}
#article-inner .page-content iframe{margin: 15px auto;display: block;}
#article-inner .page-content p:after {content: "\200B";display: block;height: 0;clear: both;}
*/
#article-inner .inner-box{margin: 15px 0;}
#article-inner .near span{width: 33%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: block;height: 23px;float: left;}

.article-footer {height: 150px;background: #bbb;padding: 15px;}
.article-footer .qrcode {float: left;margin-right: 15px;}
.article-footer .qrcode img {width: 150px;height: 150px;}
.article-footer .info-desc{margin-top: 10px;height: 50px;overflow: hidden;display: block;}

.article-side-userinfo{top: 60px;position: fixed;background: #ffffff;padding: 5px;border-radius: 5px;display: none;}

.article-side-userinfo.left{left: 50%;margin-left: -623px;}
.article-side-userinfo.right{right: 50%;margin-right: -623px;}

.article-side-userinfo .left-userinfo-item {margin-top: 5px;}
.article-side-userinfo .left-userinfo-img img{width: 120px;height: 120px;border: 1px solid #e0e0e0;}
.article-side-userinfo .left-userinfo-operate {border-top: 1px dashed #dbdbdb;text-align: center;padding-top: 6px;}

.msg-main.article-sigle .sub{padding: 0;border: 0;padding-bottom: 2px;}
.msg-main.article-sigle .sub .left{padding: 35px 15px 15px 15px;background: #fff;border-radius: 5px 0 0 5px;}
.msg-main.article-sigle #article-inner{padding: 5px;background: none;}
.msg-main.article-sigle #article-inner .header .title{font-size: 22px;line-height: 35px;margin: 0;}
.msg-main.article-sigle #article-inner .cover{margin: 15px 0; text-align: center;}
.msg-main.article-sigle #article-inner .sourceurl{margin-top: 20px;}
.msg-main.article-sigle #article-inner .sourceurl a{color: #607FA6;font-weight: bold;}
.msg-main.article-sigle #article-inner .spite{border-top: 1px solid #dbdbdb;margin-bottom: 0;}
.msg-main.article-sigle #article-inner .tuijian{padding-top: 5px;position: relative;left: -10px;margin: 0;}
.msg-main.article-sigle #article-inner .comment{border-top: 1px dashed #dbdbdb;padding-top: 15px;min-height: 410px;}

.msg-main.article-sigle .sub .right{padding: 15px 15px 15px 0;}
.msg-main.article-sigle .sub .right .relative{position: relative;left: -1px;}
.msg-main.article-sigle .sub .right .fixed-inner{background: #f5f5f5;top: 0;width: 300px;}

#article-inner #read_all{height: 32px; background: #6bb05f; text-align: center; cursor: pointer; line-height: 32px;font-size: 16px; font-weight: bold; color: #fff;display: none;margin-top: 50px;margin-bottom: 50px;}
#article-inner #read_all:hover{background: #549249;}

.vote_area {position: relative;display: block;display: block;margin: 14px 0;white-space: normal!important;}
.vote_iframe {width: 100%;height: 100%;background-color: transparent;border: 0;}