@charset "utf-8";


/* 全局CSS定义 */
body { width:100%; margin:0; padding:0; background:#42464c url(../images/bg.png); font-family:Verdana,"宋体"; font-size:12px; color:#333;margin:0;padding:0;line-height:23px;-webkit-text-size-adjust:none;}
div,form,img,ul,ol,li,dl,dt,dd {margin: 0; padding: 0; border: 0;}
h1,h2,h3,h4,h5,h6 { margin:0; padding:0;}
ul{ margin-top:5px;}
li{ margin-top:2px;}


/* 链接颜色 */
a {color: #535353; text-decoration:none;}
a:visited {color: #535353; }
a:hover {color: #0a8cd2; }

/* 颜色属性 [定义规则，小写c加颜色名称] */
.cRed,a.cRed:link,a.cRed:visited{ color:#F00;margin: 0 10px;}
.cBlue,a.cBlue:link,a.cBlue:visited{color:#21448e;}
.cBlue1,a.cBlue1:link,a.cBlue1:visited{color:#0058a7;}
.cDRed,a.cDRed:link,a.cDRed:visited{ color:#bc2931;}
.cGray,a.cGray:link,a.cGray:visited{ color: #777;}
.cGray2,a.cGray2:link,a.cGray2:visited{ color: #e4e4e4;}
.cDGray2,a.cDGray2:link,a.cDGray2:visited{ color: #242627;}
.cDGray,a.cDGray:link,a.cDGray:visited{ color: #666;}
.cWhite,a.cWhite:link,a.cWhite:visited{ color:#fff;}
.cBlack,a.cBlack:link,a.cBlack:visited{color:#000;}
a.cBlack:hover{color:#bc2931;}
.cYellow,a.cYellow:link,a.cYellow:visited{color:#b35818;}
.cYellow2,a.cYellow2:link,a.cYellow2:visited{color:#eb6100;}
.cGreen,a.cGreen:link,a.cGreen:visited{color:#008000;}
.fyellow,a.fyellow:link,a.fyellow:visited{ color:#c4168d;}
.white,a.white:link,a.white:visited,a.white:active,a.white:hover {font-size: 12px;color: #fff;font-weight: bold;}
.whiteline,a.whiteline:link {font-size: 12px;color: #fff; text-decoration:underline;}

/* 字体属性 [定义规则，小写f加属性名称] */
.fB {font-weight: bold;}
.search-fB {font-weight: bold;margin: 0 10px;}
.fI {font-style: italic;}
.fS12 { font-size:12px;}
.fS14 { font-size:14px;}
.fS16 { font-size:16px;}
.fS20 { font-family: "微软雅黑","黑体"; font-size:20px; line-height:30px;font-weight: bold;}
.fS21 { font-family: "微软雅黑","黑体"; font-size:21px; line-height:30px;}
.fS24 { font-family: "微软雅黑","黑体"; font-size:24px; line-height:35px;font-weight: bold;}
.fLun,a.fLun:link,a.fLun:visited{ text-decoration:underline;}
.fonmm{ font-family:Verdana, Geneva, sans-serif}
/* 全局类 */
.clear{ width:2px; height:0px; font-size:0; clear:both; overflow:hidden; margin-top:-1px;}
.cl{width:0px; clear:both;visibility:hidden;font-size:1px;line-height:1px;height:5px;}
.c{ text-align:center;}
.l{float:left;}
.r{float:right;}
.tc{text-align:center;}
.tr{text-align:right;}
.tl{text-align:left;}
.dis{display:block;}
.undis{display:none;}
.so2 { text-indent:2em;}
.over{ overflow:hidden;}
ul{list-style-type:none;margin:0;padding:0;}
dl,dt,dd,p{margin:0;padding:0;}
img,.nobor{border:0;}
/*input,select{border: #e5e5e5 1px solid; font-size:14px; font-family:Geneva, Arial, Helvetica, sans-serif;}*/
input:focus,select:focus{ outline:0;}
textarea {border: #e5e5e5 1px solid; background:#FFF;}
hr { margin:-2px 0; size:2; width:95%; color:#00479d;}
.xline { width:auto; border-bottom:1px solid #dbdbdb; margin:6px 0; font-size:0;}
.xxline { width:auto; border-bottom:1px dashed #dbdbdb; margin:6px 0; font-size:0;}
.mt5 { margin-left:5px;}
.mt7 { margin-left:7px;}
.mt9 { margin-left:5px !important;margin-left:3px;}
.mt10 { margin-left:10px !important;margin-left:8px;}
.mt15 { margin-left:15px;}
.mt30 { margin-left:26px !important;margin-left:13px; margin-top:15px;}
.mt55 { margin-left:55px;}

.lh16{ line-height:16px;}
.lh18{ line-height:18px;}
.lh20{ line-height:20px;}
.lh22{ line-height:22px;}
.lh23{ line-height:23px;}
.lh25{ line-height:25px;}
.lh30{ line-height:30px;}
.lh45{ line-height:45px;}

.wid { width:960px; margin:0 auto;}

.h { width:3px; height:5px; clear:both; overflow:hidden; }
.h1 { width:3px; height:10px; clear:both; overflow:hidden; }
.hh { width:3px; height:15px; clear:both; overflow:hidden; }
.hhh { width:3px; height:15px; clear:both; overflow:hidden; }
.ad { margin-top:6px;}
.ad img { width:800px; height:100px; border:1px solid #CCC; }

.imgbor{border:1px solid #bfbfbf; padding:3px; background:#FFF;}

.pl10 { padding:0 15px;}

/*头*/
.top{ height:40px; padding:20px 0 30px 0;}
.Search{ width:338px; float:right; padding:1px; background:#FFF;border-radius:2px; margin-top:25px;position: relative;}
.Search .inpus{ display:block;float:left;width:250px; height:27px; line-height:16px; font-size:14px; border:0;margin-left: 5px;}
.Search .inpubu{ display:block; float:right; width:60px;height:29px; line-height:28px; background:url(../images/searchbg.png) top repeat-x; padding:0 10px;font-family: "微软雅黑","黑体"; font-size:14px; font-weight:700; color:#94999d; border:1px solid #63676a; text-align:center;cursor: pointer;}
.Search .inpubu:hover{ text-decoration:none; color:#FFF;filter:Alpha(opacity=85);-moz-opacity:0.85;opacity:0.85;}
.Search .type-tab{position: absolute;left: 5px;top: -27px;}
.Search .type-tab a{ margin-right: 20px;color: #94999d;}
.Search .type-tab a:hover{ color: #fff;}
.Search .type-tab a.on{ font-weight: bold;font-size: 15px; color: #fff;}

.nav{ width:100%; height:53px; line-height:53px; background:url(../images/navbg.png) repeat-x;}
.nav .first { float:left;}
.nav .first li{ float:left; width:80px; margin:0 1px; padding:0;}
.nav .first li a,.nav .first li a:link,.nav .first li a:visited{ display:block; height:53px; line-height:53px;font-family: "微软雅黑","黑体"; font-size:16px; font-weight:700; color:#e4e4e4; text-align:center;}
.nav .first li a:hover,.nav .first li a.ONm{ background:url(../images/navonbg.png) no-repeat; text-decoration:none;}

.nav .sub{ float:right;}
.nav .sub li{ float:left;margin:0 0 0 20px;}
.nav .sub li a { display:block; height:53px; line-height:53px;font-family: "微软雅黑","黑体"; font-size:14px; color:#e4e4e4; text-align:right;}

.nav2{ height:50px; line-height:45px; background:url(../images/navbg.png) 0 -4px repeat-x;}
.nav2 .first li a,.nav2 .first li a:link,.nav2 .first li a:visited,
.nav2 .sub li a,.nav2 .sub li a:link,.nav2 .sub li a:visited{ height:43px; line-height:45px;}
.nav2 .first li{ width:55px; }

.nav2 .single .logo{float: left;margin-right: 15px;}
.nav2 .single .logo img{margin-top: 7px;height: 30px;width: 128px;}
.nav2 .single .Search{margin-top: 9px;width: 200px;padding: 0;float: left;margin-left: 48px;}
.nav2 .single .Search .inpus{width: 120px;height: 20px;margin-top: 2px;}
.nav2 .single .Search .inpubu{border: 1px solid #fff;border-radius: 2px;height: 27px;line-height: 26px;}

.Searchnav{ width:338px; float:right; padding:2px 6px; background:#e4e4e4;border-radius:5px; margin-top:10px;}
.Searchnav .inpus{display:block; float:left;width:250px; height:27px; line-height:27px; font-size:14px; color:#a1a1a1; border:0; background:#e4e4e4;}
.Searchnav .inpubu{display:block; float:right; width:60px;height:28px; line-height:28px; background:url(../images/searchbg.png) top repeat-x; padding:0 10px;font-family: "微软雅黑","黑体"; font-size:14px; font-weight:700; color:#94999d; border:1px solid #63676a;border-radius:5px; text-align:center;}
.Searchnav .inpubu:hover{ text-decoration:none; color:#FFF;filter:Alpha(opacity=85);-moz-opacity:0.85;opacity:0.85;}

.LL1{ width:716px; float:left;}
.LL2{ width:230px; float:right;}

/*幻灯调用*/
.flvvss{ width:100%; height:180px;}
.w79Flash{ width:680px; height:180px; margin:0 auto; overflow:hidden; position:relative;}
.imsf{ width:680px; background-repeat:no-repeat; float:left; border-radius:10px;}
.imgppoo{ display:block; width:680px; height:180px;}
#LeftArr{ display:block; position:absolute; top:80px; left:0}
#RightArr{ display:block; position:absolute; top:80px; left:637px;}

.LLIsie{ line-height:30px; margin:2px 0; zoom:1; line-height:22px;}
.LLIsie span{ display:block; float:left; padding-right:10px; margin-left:5px;}
.LLIsie div.GG,.LLIsie div.GGmm{ display:block; float:left; width:800px; line-height:22px;}
.LLIsie div.GG a,.LLIsie div.GGmm a{ display:inline-block; margin:1px 0; padding:0px 6px;}
.LLIsie div.GG a em,.LLIsie div.GGmm a em{ display:inline-block; font-style:normal; color:#999; font-size:10px;}
.LLIsie div.GG a:hover,.LLIsie div.GG a.LLIsieon,.LLIsie div.GGmm a:hover,.LLIsie div.GGmm a.LLIsieon{ background:#424b51; text-decoration:none; color:#FFF; border-radius:3px;}
.LLIsie .moooore,.LLIsie .mooooreon{ float:right; width:42px; height:22px; line-height:22px; background:url(../images/moreof.png) 0 0 no-repeat; padding-left:10px; position:relative;}
.LLIsie .mooooreon{ background-position:0 -22px;}

.LLIsie div.GGmm{ width:760px;background:#e9e9e9; padding:5px; margin:2px 0; margin-left:63px;_margin-left:31px;border-radius:3px;}


.iBOX{ background:#f5f5f5;border:1px solid #515151;border-radius:5px;}
.iBOXtit{ height:37px; line-height:37px; border-bottom:1px solid #dbdbdb; padding:0 15px;}
.iBOXtit h1{ float:left;font-family: "微软雅黑","黑体";font-size:14px; font-weight: bold; color:#626262;}
.iBOXtxt{ padding:10px;}

/*切换*/
.snew_on{ width:37px; height:23px; line-height:21px; text-align:center; color:#FFF; margin:0 2px; margin-top:10px;  background:url(../images/sinahome_070309_ws_004.png) repeat-x; cursor:pointer;}
.snew_of{ width:37px; height:23px; line-height:21px; text-align:center; margin:0 2px; margin-top:10px; cursor:pointer; }

.more{ display:block; float:right; color:#626262;}
.close{ display:block; float:right; width:15px; height:15px; background:url(../images/close.png) 0 0 no-repeat; line-height:1000px; overflow:hidden; position:relative; top:11px;}
.close:hover{ background-position:0 -15px;}

.div2{top:10px;z-index:999;position:fixed;_position:absolute}

.KKmd p{ height:36px; line-height:36px; border-bottom:1px dashed #d9d9d9;}
.KKmd p em{ font-style:normal; padding-right:10px;}
.KKmdon{ height:45px; margin:5px 0; margin-left:27px; overflow:hidden;}
.KKmdon .r{ float:left; width:100px; margin-left:10px; width:155px; line-height:19px;}

.KKm{ margin: 0 20px;}
.KKm li{ height:36px; line-height:36px;}

.Nmie,
.NmieON{ float:left; width:210px; height:70px; padding:10px; margin: 10px 0;overflow:hidden;border-radius:3px;}
.NmieON{background:#98a8bb; border:1px solid #87919f; line-height:16px;}
.Nmie:hover,
.NmieON:hover{ background:#ebebeb; }
.Nmie .r{ float:left; width:100px; margin-left:10px; line-height:30px;}
.Nmie .r .fS14{ display:block; width:100px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.Nmie .pic img{width: 70px;height: 70px; border-radius: 3px;}
.Nmie .info{width: 130px;}
.Nmie .info p{ line-height:23px;}
.Nmie .info .desc{ height: 23px;margin-bottom: 3px;overflow: hidden; word-break: break-all;color: #777;}
/*.newNmie{ margin: 10px 0;width: 210px;height: 70px;}*/
.content .index .Nmie{ margin: 5px 0; width: 187px;}
.content .index .Nmie .info{width: 107px;}

.bout1,.bout1:link,.bout1:visited,
.bout2,.bout2:link,.bout2:visited{ display:block; width:45px; height:20px; line-height:19px; background:url(../images/bout01.png) 0 0 no-repeat; color:#FFF; text-align:center; border-radius: 3px;}
.bout1:hover{ text-decoration:none; background-position:0 -19px;}
.bout2,.bout2:link,.bout2:visited{ text-decoration:none; background-position:0 -38px;}

.LLine{ width:900px; height:9px; background:url(../images/linose.png) center no-repeat; margin:15px 0;}
.footer{ text-align:center; color:#a1a1a1; padding:10px 0;}
.footer a{ color: #cccccc;}
.footer .links a{ margin-right: 10px;}

/*返顶*/
.righ_button_goto ,
.righ_button_goto1 { width: 48px; height:48px; line-height:48px; text-align: center; right: 50%;margin-right: -540px; position: fixed; cursor: pointer; text-decoration:none; _position: absolute; _bottom: "auto";border-radius: 5px;filter:Alpha(opacity=70);-moz-opacity:0.70;opacity:0.70;}
.righ_button_goto:hover,
.righ_button_goto1:hover {filter:Alpha(opacity=100);-moz-opacity:1.00;opacity:1.00;}

.righ_button_goto {display: none;}
.righ_button_goto1 {display: block;}
.righ_button_goto1.undis{display:none;}

#gotomedia{background: url(/images/right_button.png) 0 -192px no-repeat;top: 60px;}
#gotofav1{background: url(/images/right_button.png) 0 -240px no-repeat;bottom: 240px;}
#gotofav2{background: url(/images/right_button.png) 0 -336px no-repeat;bottom: 240px;}
#gotoweibo{background: url(/images/right_button.png) 0 -96px no-repeat;bottom: 180px;}
#gotoweibo{background: url(/images/right_button.png) 0 -96px no-repeat;bottom: 180px;}
#gotoshare{background: url(/images/right_button.png) 0-144px no-repeat;bottom: 120px;}
#gotopbtn{background: url(/images/right_button.png) 0 0 no-repeat;bottom: 60px; }
#gotoshare .bds_more{background: url(/images/right_button.png) 0-144px no-repeat !important;width: 48px;height: 39px;border-radius: 5px;}
#gotoshare .a_hits {background: red;z-index: 1000;position: absolute;right: -5px;top: -5px;border-radius: 11px;width: 22px;height: 22px;color: #fff;line-height: 22px;overflow: hidden;font-size: 12px;font-family: Helvetica, "yahei";text-align: center;}

.poppo{ float:right;}
.poppo li{ float:left; margin:0 5px; }
.poppo li a{ padding:5px 10px;background:url(../images/poppo.png) 65px 10px no-repeat; padding-right:20px;border-radius:3px;}
.poppo li a:hover,.poppo li a.poppoon{ background:#434c53 url(../images/poppo2.png) 65px 10px no-repeat; text-decoration:none; color:#FFF;}

/*翻页*/
DIV.technorati{margin:60px 0 30px 0;padding:3px;text-align:center; line-height:20px;}
DIV.technorati A{border:#dddddd 1px solid;font-weight:bold;margin:0 2px;padding:6px 8px;text-decoration:none; font-size:12px; font-family:Verdana}
DIV.technorati SPAN.current{color:#959595;font-weight:700;margin-right:3px;padding:2px 6px;}
DIV.technorati SPAN.disabled{display:none;padding:2px 6px;}
DIV.technorati A:hover,DIV.technorati A:active{background-color:#959595;background-image:none;color:#fff;}

.lmo{ float:left; width:200px; background:#FFF; border:1px solid #bfbfbf; padding:20px; line-height:18px; position:relative;}
.lmo em{ display:block; width:240px; height:11px; background: url(../images/lmobg.png) bottom no-repeat; position:absolute; left:0; bottom:-12px;_bottom:-13px;}
.rmo{ float:right; width:430px; line-height:34px;}
.rmo h1{ float:left; font-family: "微软雅黑","黑体";font-size:22px; font-weight: bold; color:#434343;}

.bout3,.bout3:link,.bout3:visited,
.bout4,.bout4:link,.bout4:visited{ padding: 5px 12px; height:32px; line-height:32px; background:url(../images/bout02.png) 0 0 repeat-x; color:#FFF; text-align:center;font-family: "微软雅黑","黑体";font-size:16px;border-radius: 3px;}
.bout3:hover{ text-decoration:none; background-position:0 -32px;}
.bout4,.bout4:link,.bout4:visited{ text-decoration:none; background-position:0 -64px;}

.cli{ background:#f6f0a5 url(../images/clibg.png) 0px 0px no-repeat; color:#ed8024; line-height:20px; padding:2px 5px; padding-left:10px; margin-top:4px}

.seror{ margin: 50px 10px 50px 80px;}
.seror .r{ float:left; width:470px; margin-left:20px;}

.JJB{ margin:30px}

.editinfo .edititem{margin:0 0 15px 60px;position: relative;}
.editinfo .edititem .lab{left: -70px;position: absolute;line-height: 37px;text-align: right;width: 65px;}
.editinfo .edititem input,
.editinfo .edititem select,
.editinfo .edititem textarea {height: 25px;  line-height: 16px;font-size: 14px;  border: 1px solid #dbdbdb;  padding: 5px 10px;border-radius: 3px;}
.editinfo .edititem select{ height: 35px;}

.required {color:red;font-weight: bold;margin-left: 15px;}

.content{width: 646px;float: left;}
.sidebar{width: 300px;float: right;}

.postlist {padding-right: 5px;}
.postlist li{ border-bottom: 1px dashed #d9d9d9;line-height: 29px;font-size: 12px;height: 30px;overflow: hidden;word-break: break-all;}

/******************** 表情 *********************/
.emoticon .left-list {float: left;width: 120px;margin: 10px;}
.emoticon .left-list ul li {padding: 5px 10px;height: 22px;overflow: hidden;word-break: break-all;}
.emoticon .left-list ul li:hover { background: #bbb;color: #fff;}
.emoticon .left-list ul li:hover a{ color: #fff;}

.emoticon .right-list {float: right;width: 550px;border-left: 1px solid #dbdbdb;padding: 10px;}
.emoticon .right-list .category{border-bottom: 1px dashed #dbdbdb;}
.emoticon .right-list .category:hover{background: #ddd;}
.emoticon .right-list .category .title{padding: 10px;font-size: 14px;font-weight: bold;}
.emoticon .right-list .category .item{width: 100px;float: left;padding: 10px;text-align: center;}
.emoticon .right-list .category .item img{max-width:80px;max-height:80px;_width:expression(this.width>=80&&this.width/80>=this.height/80?"80px":"auto");_height:expression(this.height>=80&&this.width/80<this.height/80?"80px":"auto");}
.emoticon .right-list .category .item .pic{width: 80px;height: 80px;max-width: 80px;max-height: 80px;display: table-cell;vertical-align: middle;text-align: center;padding: 0 8px;overflow: hidden;}
.emoticon .right-list .category .item .desc{ text-align: center;height: 22px;margin: 5px;overflow: hidden;}
.emoticon .right-list .category .more{float: left;line-height: 100px;width: 50px;text-align: right;}
.emoticon .right-list .category .more a{ color: blue;}

.emoticon .c-list {padding: 10px;}
.emoticon .c-list .category .item{float: left;padding: 10px;min-height: 140px;border: 1px dashed #dbdbdb;margin: 10px;}
.emoticon .c-list .category .item:hover{background: #ddd;}
.emoticon .c-list .category .item img{max-width:120px;max-height:120px;_width:expression(this.width>=120&&this.width/120>=this.height/120?"120px":"auto");_height:expression(this.height>=120&&this.width/120<this.height/120?"120px":"auto");}
.emoticon .c-list .category .item .pic{width: 120px;height: 120px;max-width: 120px;max-height: 120px;display: table-cell;vertical-align: middle;text-align: center;padding: 0 5px;overflow: hidden;}
.emoticon .c-list .category .item .desc{ text-align: center;padding-top: 5px;width: 130px;height: 20px;overflow: hidden;}

.emoticon .info{ width: 300px;margin: 0 auto;position: relative;}
.emoticon .info .pic{ width: 300px;margin: 0 100px;height: 300px;display: table-cell;vertical-align: middle;text-align: center;}
.emoticon .info .pic img{max-width:300px;max-height:300px;_width:expression(this.width>=300&&this.width/300>=this.height/300?"300px":"auto");_height:expression(this.height>=300&&this.width/300<this.height/300?"300px":"auto");}
.emoticon .info .send{position: absolute;right: -202px;bottom: 50px;width: 200px;height: 200px;}
.emoticon .info .send ul { margin: 60px 10px;}
.emoticon .info .send ul li { margin: 10px;}

.emoticon .c-info{ padding: 5px;}
.emoticon .c-info .title{padding: 10px 0 0 10px;font-size: 14px;font-weight: bold;}
.emoticon .c-info .category .item{width: 90px;float: left;padding: 10px;min-height: 100px;margin: 10px;text-align: center;}
.emoticon .c-info .category .item:hover{background: #ddd;}
.emoticon .c-info .category .item img{width: 80px;height: 80px;}
.emoticon .c-info .category .item .desc{ text-align: center;padding-top: 5px;width: 90px;height: 20px;overflow: hidden;}

.emoticon .footer-nav-link{width: 160px;height: 22px;overflow: hidden;}

.subject-top-list{display:block; float:left; line-height:22px;}
.subject-top-list ul li{ padding: 5px 10px;float: left;margin-right: 17px;}
.subject-top-list ul li.on ,
.subject-top-list ul li:hover { background: #424b51;text-decoration: none;color: #FFF;border-radius: 3px;}
.subject-top-list ul li.on a,
.subject-top-list ul li:hover a{ text-decoration: none;color: #FFF;}

.emoticon-subject{ margin: 10px;border-bottom: 1px dashed #dbdbdb; padding-bottom: 10px;}
.emoticon-subject .title{padding-bottom: 5px;  font-size: 12px;  font-weight: bold;}
.emoticon-subject ul li{ float: left;margin: 0;width: 112px;height: 22px;overflow: hidden;}

.emoticon .right-side .item{width: 100px;float: left;padding: 2px;text-align: center;}
.emoticon .right-side .item img{max-width:80px;max-height:80px;_width:expression(this.width>=80&&this.width/80>=this.height/80?"80px":"auto");_height:expression(this.height>=80&&this.width/80<this.height/80?"80px":"auto");}
.emoticon .right-side .item .pic{width: 80px;height: 80px;max-width: 80px;max-height: 80px;display: table-cell;vertical-align: middle;text-align: center;padding: 0 8px;overflow: hidden;}
.emoticon .right-side .item .desc{ text-align: center;height: 22px;margin: 5px;overflow: hidden;}
.emoticon .right-side .more{float: left;line-height: 100px;width: 50px;text-align: right;}

.emoticon .c-list .home-index .item{width: 114px;}
.emoticon .c-list .home-index .item img{max-width:114px;max-height:114px;_width:expression(this.width>=114&&this.width/114>=this.height/114?"114px":"auto");_height:expression(this.height>=114&&this.width/114<this.height/114?"114px":"auto");}
.emoticon .c-list .home-index .item .pic{width: 114px;height: 114px;max-width: 114px;max-height: 114px;padding: 0;}
.emoticon .c-list .home-index .item .desc{ width: 114px;}

.emoticon .hotalbum .item{margin: 10px;height: 40px;}
.emoticon .hotalbum .item .info{width: 130px;line-height: 40px;float: left;margin-left: 15px;height: 40px;overflow: hidden;}

.emoticon .item .desc .send{ display: none;}
.emoticon .item:hover .desc .send{ display: block ;}
.emoticon .item:hover .desc .send a{ color: blue; }
.emoticon .item:hover .desc .text{display: none;}

.home-index .emoticon .right-side .item{width: 88px;}
.home-index .emoticon .right-side .item .pic{padding: 0 4px;}

.feedback-index{margin: 10px;}

.right-side.feedback-index .qrcode{float: left;border: 1px solid #dbdbdb;width: 120px;height: 120px;text-align: center;}
.right-side.feedback-index .info2{float: right;width: 145px;}
.right-side.feedback-index .info2 .name2{display: block;font-size: 14px;font-weight: bold;height: 23px;overflow: hidden;margin-bottom: 15px;}
.right-side.feedback-index .info2 .desc2{margin-top: 5px;}
.right-side.feedback-index .info2 .desc2 a{ color: #5ba607;}

.feedback-index a {margin-right: 14px;}
.feedback-index a.wxlogo{position: relative;}
.feedback-index a.wxlogo .wxtext {}
.feedback-index a.wxlogo .wxqrcode {position: absolute;bottom: 0;left: 0; display: none;}
.feedback-index a.wxlogo:hover .wxqrcode {display: block;}

.media-side li{margin: 5px;margin-bottom: 10px;line-height: 20px;}

.wxlink {background: url(/images/logo_wx_16.png) no-repeat;background-size: 16px 16px;color: blue; padding-left: 20px;}
.wxlink-32 {background: url(/images/logo_wx_32.png) no-repeat;color: blue; padding-left: 40px;line-height: 32px;display: block;}
.mobilelink-32 {background: url(/images/logo_mobile_32.png) no-repeat;color: blue; padding-left: 40px;line-height: 32px;display: block;}

.msg-nav {margin: 0 20px;height: 34px;display: block;position: relative;z-index: 1;}
.msg-nav ul li {float: left;height: 30px;overflow: hidden; background: #bbb;color: #fff;border: 1px solid #515151;  border-bottom: 0;border-radius: 5px 5px 0 0;line-height: 30px;padding: 2px 15px;margin: 0 1px 0 0;text-align: center;font-size: 14px;}
.msg-nav ul li.hot{width: 70px;background: #fff4db;}
.msg-nav ul li:hover,
.msg-nav ul li.on {background: #f5f5f5; color: #000;}

.msg-nav-time{ height: 35px;line-height: 33px;}
.msg-nav-time ul li {float: left;background: #f5f5f5;color: #fff;line-height: 25px;padding: 2px 10px;text-align: center;}
.msg-nav-time ul li:hover,
.msg-nav-time ul li.on {background: #bbb; color: #000;}

.msg-main {position: relative;}
/*.msg-main .sub {margin-bottom: 15px;}*/
.msg-main .sub {border-bottom: 1px solid #e0e0e0;padding: 15px;}
.msg-main .sub .title{margin: 10px 0;font-weight: bold;font-size: 14px;}
/*.msg-main .sub .left{float: left;width: 595px;padding: 15px;background: #fff;padding-top: 0;}*/
.msg-main .sub .left{ float: left;width: 595px;padding-right: 15px; border-right: 1px solid #e0e0e0;}
.msg-main .sub .right{ float: right;width: 300px;}

.msg-main .sub .msg-list{padding:0 5px 0 5px;}

.msg-main .msg-item {padding-bottom: 10px;margin-top: 15px;border-bottom: 1px dashed #dbdbdb;}
.msg-main .msg-item .face {float: left;  width: 50px;  position: relative;}
.msg-main .msg-item .face img {width: 50px;height: 50px;border-radius: 5px;}
.msg-main .msg-item .face .name {text-align: center;}
.msg-main .msg-item .info {margin-left: 75px;min-height: 80px;}
.msg-main .msg-item .info .title {font-size: 16px;height: 25px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.msg-main .msg-item .info .summary {margin: 10px 0;word-break: break-all;word-wrap: break-word;}
.msg-main .msg-item .info .summary .text {font-size: 14px;line-height: 26px;max-height: 75px;overflow: hidden;color: #747f8c;}
.msg-main .msg-item .info .summary .pic {float: left;margin: 3px 10px 0 0;}
.msg-main .msg-item .info .summary .pic .picinner{background: #ffffff;height: 70px;width: 110px;border: 1px solid #e0e0e0;text-align: center;display: table-cell;vertical-align: middle;}
.msg-main .msg-item .info .summary img {height: 70px;max-width: 110px;}
.msg-main .msg-item .info .ifooter {height: 23px;}
.msg-main .msg-item .info .ifooter .text{color: #747f8c;float: left;}

.msg-main .msg-item .date {float: left; width: 45px;  position: relative; text-align: center;}
.msg-main .msg-item .date .day {display: block;background: #f2e1aa;font-size: 14px;font-weight: bold;line-height: 25px;border-radius: 5px 5px 0 0;}
.msg-main .msg-item .date .month {background: #c7dde3;display: block;border-radius: 0 0 5px 5px;}

.msg-main .sub .more{padding-top: 0px;}
.msg-main .sub .more a{color: blue;}
.msg-main .sub .right .rtitle{font-weight: bold;}
.msg-main .sub .right .spite{margin: 15px 0;border: none;border-top: 1px dashed #dbdbdb;width: 100%;color: #f5f5f5;}

.right-side .Nmie,
.right-side .NmieON{ width:136px; height:50px; padding:0 10px 0 0; margin: 10px 0;}
.right-side .Nmie:hover { background:none; }
 
.right-side .Nmie .pic img{width: 50px;height: 50px; border-radius: 5px;}
.right-side .Nmie .info{width: 76px;}
.right-side .Nmie .info p{ line-height: 22px;height: 22px;overflow: hidden;}
.right-side .Nmie .info .art-num{ margin-top: 5px;}

.right-side .Nmie2{ width: 129px;height:50px; padding:10px;float: left;position: relative;}
/*
.right-side .Nmie2:hover { background:#ffffff; }
 */
.right-side .Nmie2 .pic img{width: 50px;height: 50px; border-radius: 5px;border: 1px solid #dbdbdb;}
.right-side .Nmie2 .info{width: 76px;}
.right-side .Nmie2 .info p{ line-height: 22px;height: 22px;overflow: hidden;}
.right-side .Nmie2 .info .art-num{ margin-top: 5px;}

.right-side .Nmie2 .desc{min-height: 28px;background: #e0e0e0; top: 70px;position: absolute;width: 265px;z-index: 9999;border: 1px solid #a1a1a1;border-radius: 5px; padding: 10px;display: none;}
.right-side .Nmie2 .desc .qrcode{float: left;width: 120px;height: 143px;text-align: center;}
.right-side .Nmie2 .desc .qrcode img{width: 120px;height: 120px;border: 1px solid #dbdbdb;}
.right-side .Nmie2 .desc .intrduction{ float: right;width: 135px;}

.right-side .Nmie2:hover .desc{ display: block;*display: none;}

.right-side .Nmie2.ls .desc{ left: 5px;}
.right-side .Nmie2.rs .desc{right: 5px;}
.right-side .Nmie2.ls .desc .arrow{position: absolute;top: -10px;left: 20px;}
.right-side .Nmie2.rs .desc .arrow{position: absolute;top: -10px;right: 95px;}

.right-side.toutiao{margin:10px 10px 0 10px;border-bottom: 1px dashed #dbdbdb;padding-bottom: 10px;}
.right-side.toutiao .qrcode{float: left;border: 1px solid #dbdbdb;width: 120px;height: 143px;text-align: center;}
.right-side.toutiao .info2{float: right;width: 145px;}
.right-side.toutiao .info2 .name2{display: block;font-size: 14px;font-weight: bold;height: 23px;overflow: hidden;}
.right-side.toutiao .info2 .desc2{margin-top: 5px;}
.right-side.toutiao .info2 .intrduction{color: #747f8c;margin-top: 5px;font-family: Verdana,"宋体";font-size: 12px;line-height: 23px;word-break: break-all;word-wrap: break-word;}
.right-side .user-info .item{position: relative;padding-left: 60px;margin-bottom: 10px;}
.right-side .user-info .item .name {position: absolute;left: 0;}

.right-side .user-head { margin-bottom: 15px;}
.right-side .user-head .pic2 { float: left;display: block;width: 48px;}
.right-side .user-head .pic2 img{width: 48px;height: 48px;border: 1px solid #e0e0e0;}
.right-side .user-head .info2 { float: right;display: block;width: 238px;}
.right-side .user-head .info2 .name2{ display: block;font-size: 14px;font-weight: bold;height: 23px;overflow: hidden;}
.right-side .user-head .info2 .desc2{ display: block;margin-top: 5px;}
.right-side .user-head .info2 .undis{display:none;}

.right-side .article-list-pic{ margin: 10px 0;}
.right-side .article-list-pic .pic {float: left;margin: 0;}
.right-side .article-list-pic .pic .picinner{background: #ffffff;height: 90px;width: 143px;border: 1px solid #e0e0e0;text-align: center;display: table-cell;vertical-align: middle;}
.right-side .article-list-pic .pic .picinner img {height: 90px;max-width: 143px;_width:143px;*width:143px;}
 
.right-side .article-list { margin-top: 5px;}
.right-side .article-list li { line-height: 33px;height: 33px;overflow: hidden;}
.right-side .article-list li .number{float: left;line-height: 15px;width: 18px;font-size: 12px;background: #5ba607 no-repeat left bottom;border-width: 0px;color: #ffffff;text-align: center;margin-right: 10px;margin-top: 9px;padding: 1px 0;display: block;}
.right-side .article-list li .number.hot {background: #f58220 no-repeat left bottom;}

.right-side em,
.footer-side em{font-style: normal;color: #cc0000;}

.footer-side .title-more{float: right;}
.footer-side .title-more em{ margin: 0 5px;}

.footer-side .article-list-pic{ float: left;width: 320px;}
.footer-side .article-list-pic .pic {float: left;margin: 10px 15px 0 0;height: 92px;width: 145px;overflow: hidden;}
.footer-side .article-list-pic .pic .picinner{background: #ffffff;height: 90px;width: 143px;border: 1px solid #e0e0e0;text-align: center;display: table-cell;vertical-align: middle;}
.footer-side .article-list-pic .pic .picinner img {height: 90px;max-width: 143px;_width:143px;*width:143px;}
 
.footer-side .article-list { float: right;width: 263px;}
.footer-side .article-list li { line-height: 27px;height: 26px;overflow: hidden;}
.footer-side .article-list li .number{float: left;line-height: 15px;width: 18px;font-size: 12px;background: #5ba607 no-repeat left bottom;border-width: 0px;color: #ffffff;text-align: center;margin-right: 10px;margin-top: 9px;padding: 1px 0;display: block;}
.footer-side .article-list li .number.hot {background: #f58220 no-repeat left bottom;}

.msg-main .sub .right .tag {margin: 10px 0;}
.msg-main .sub .right .tag a {margin-right: 10px;}

.msg-main .search-list em{font-style: normal;color: #cc0000;}

#msgwindow {display: none;position: fixed ;right: 0;top: 0;width: 525px;height: 100%;margin-right: -525px; border-left: 3px solid #bbb;background: #fff;z-index: 1010;}
#msgwindow iframe{border:0;width: 525px;height: 100%;}
#msgwindow .newpage{color: blue;}
#msgwindow .tips-flash {display: none;position: absolute;top: 0;width: 525px;background: #515151 url(/images/loading3.gif) no-repeat center;filter:Alpha(opacity=85);-moz-opacity:0.85;opacity:0.85;}
#msgwindow .close-right{background: #bbb url(/images/close_right.png) no-repeat;position: absolute;left: -15px;top: 40%;width: 15px;height: 100px;line-height: 100px;cursor: pointer;}
#msgwindow .close-right:hover{ background-position: 0 -100px;background: #999 url(/images/close_right.png) no-repeat;}
#msgwindow .bottom-text{width: 80px;margin-right: 5px;padding: 1px 5px;}
#msgwindow .bottom-button {background: url(../images/bout02.png) 0 0 repeat-x;color: #FFF;text-align: center;font-family: "微软雅黑","黑体";font-size: 12px;border: 0px;padding: 3px 10px;cursor: pointer;}
#msgwindow .bottom-button:hover {background-position:0 -32px;}

.tips{ height: 30px;line-height: 30px;padding: 0 10px;} 
.tips-top{ background: #fff;padding: 0 2px 0 10px;} 
.tips-bottom{ background: #fff4db;padding: 2px 10px;height: 32px;} 
    
.crumb ,
.crumb a , .crumb a:visited {color: #fff;}

.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}

.board_page_top{display: block;margin-bottom: 10px;padding-top: 100px;}
.board_page_top .board_main {background: #edf1f3;padding: 0 33px 33px;position: relative;border-radius: 5px;}
.board_page_top .board_cover {float: left;}
.board_page_top .board_cover, 
.board_page_top .board_plus {margin-top: -69px;}

.boardN {border-radius: 5px;background: #fff;position: relative;z-index: 5;border-width: 1px;border-style: solid;border-color: #cfcfcf;box-shadow: 0 1px 2px #ddd;}
.boardN .board_inner {height: auto;}
.boardN .board_inner {height: 318px;_width: 100%;overflow: hidden;position: relative;}
.boardN .board_link {position: relative;display: block;text-decoration: none;overflow: hidden;_zoom: 1;}
.boardN .board_front {border-radius: 5px;height: 160px;width: 160px;overflow: hidden;background: #f2f6f8;}
.boardN .board_front img{border-radius: 5px;width:160px;height:160px;}
.boardN .main_cover {}
.board_page_top .board_plus {margin-left: 200px;_margin-left: 217px;}
.board_page_top .top_zone {padding-top: 18px;height: 58px;position: relative;color: #fff;}
.board_page_top .board_name {height: 42px;line-height: 42px;font-size: 22px;position: relative;display: inline-block;padding-right: 15px;}

.K_btn_b {color: #fff;border-color: #6aa904;}
.K_btn {display: inline-block;height: 21px;line-height: 20px;_line-height: 22px;border-radius: 2px;border-width: 2px;border-style: solid;position: relative;text-align: center;outline: none;font-size: 14px;_border-width: 1px;_overflow: hidden;white-space: nowrap;background: url(about:blank);}
.K_btn_b em {min-width: 47px;padding: 0 10px;text-align: center;display: block;cursor: pointer;text-shadow: 1px 1px 0 #5c9606;}
.K_btn em {position: relative;z-index: 2;}
.K_btn_b span {cursor: pointer;background: #7fc10b;}
.K_btn span {position: absolute;bottom: -1px;top: -1px;left: -1px;right: -1px;display: block;cursor: pointer;border-radius: 1px;}
.board_page_top .board_tool_bar {position: relative;padding-bottom: 10px;border-bottom: 1px solid #dce2e6;}
.board_page_top .board_des {line-height: 22px;height: 46px;overflow: hidden;margin: 8px 0;}
.subscribe_button {color: #fff;background: #ffad0f;padding: 3px 16px 3px 14px;font-weight: bold;line-height: 22px;}
.subscribe_button:hover {color: #000;}
.subscribe_button em {font-size: 16px;font-weight: bolder;margin-right: 5px;}
.subscribe_button_cancel {background: #fed076;}
.subscribe_button_cancel em {font-size: 14px;}

.home-index .sub{ padding-top: 0;padding-bottom: 0; position: relative;}
.home-index .sub .more{ position: absolute;right: 15px;bottom: 15px;}

.download-content {height: 180px;overflow: hidden;}

.download-content-item {position: relative;height: 180px;overflow: hidden;}

.download-content-item .info{text-align: center;font-size: 14px;margin-top: 5px;bottom: 15px;left: 0px;right: 0px;position: absolute;}
.download-content-media .info-left{float: left;width: 87px;line-height: 36px;text-align: left;padding-left: 33px;}
.download-content-media .info-right{float: right;width: 171px;}

.download-content-person .info-left{float: right;width: 116px;line-height: 36px;text-align: left;}
.download-content-person .info-right{float: left;width: 180px;}

.download-content-item .button{text-decoration: none; width: 135px;height: 34px;display: block;text-indent: 20px;margin: 0px auto;color: #F8F8F8;font-size: 20px;text-shadow: 0px 1px 2px #10302A;text-align: center;line-height: 34px;font-family: "Microsoft YaHei",Tahoma;background: url("../images/topflash/button.png") no-repeat 0px -1px;}
.download-content-item .button:hover{background-position: 0 -73px;}
.download-content-item .button:active{background-position: 0 -37px;}

.download-bottom-tab {height: 32px;width: 296px;text-align: center;line-height: 32px;font-size: 18px;border: 1px #fff solid;border-top: 0;}
.download-bottom-tab-item {float: left;width: 50%;cursor: pointer;color: #fff;}
.download-bottom-tab-item:hover {font-weight: bold;}
.download-bottom-tab-media{background: #004876;}
.download-bottom-tab-person{background: #3DC73C;}

.download-new-content {overflow: hidden;}

.download-new-content-item {position: relative;overflow: hidden;background-color: #fff;}

.download-new-content-item .desc{margin: 0 25px 30px 30px;}

.download-new-content-item .info{font-size: 14px;margin: 30px;}
.download-new-content-item .info-left{float: left;line-height: 36px;text-align: left;width: 135px;}
.download-new-content-item .info-right{float: left;margin-left: 30px;line-height: 36px;}

.download-new-content-item .button{text-decoration: none; width: 135px;height: 34px;display: block;text-indent: 20px;margin: 0px auto;color: #F8F8F8;font-size: 20px;text-shadow: 0px 1px 2px #10302A;text-align: center;line-height: 34px;font-family: "Microsoft YaHei",Tahoma;background: url("../images/topflash/button.png") no-repeat 0px -1px;}
.download-new-content-item .button:hover{background-position: 0 -73px;}
.download-new-content-item .button:active{background-position: 0 -37px;}

.client.msg-nav ul li {padding: 2px 15px;}

.subcancel a {color: #6bb05f;}
.sns_operate {height: 45px; margin-top: 10px;}
.sns_operate .subcancel a {line-height: 32px; }

.favorite{background: #fff4db;position: fixed;bottom: 0;left: 0;right: 0;border-top: 1px solid #e0e0e0;z-index: 9999;}
.favorite .inner{width: 960px;  margin: 0 auto;height: 36px;text-align: center;line-height: 36px;font-size: 14px;font-weight: bold;color: green;}
.favorite .inner strong{ font-weight: bold;margin: 0 5px }

.inner-fav-box {background: #47c8fd;margin-bottom: 0px;padding: 8px 10px;color: white;font-family: '微软雅黑';font-size: 16px;line-height: 25px;height: 50px;}
.inner-fav-box-read{float: left;width: 50px;}
.inner-fav-box-time{float: left;margin-left: 10px;margin-top: 7px;}
.inner-fav-box-time span{margin:0 5px;}
.inner-fav-box-content{float: left;margin-left: 10px;padding-left: 15px;border-left: 1px solid #dbdbdb;}

.fav-operate{ float: right;}